- if @current_community.listing_shapes.size > 1
  = form.label :listing_shape_attributes, t(".transaction_types")
  = render :partial => "layouts/info_text", :locals => { :text => t(".transaction_types_description") }
  .row
    .col-12
      #category-listing-shapes-container.clearfix
        - @current_community.listing_shapes.each do |ls|
          - checkbox_id = "listing_type_checkbox_#{ls.id.to_s}"
          .custom-field-categories-checkbox-container
            = check_box_tag "category[listing_shape_attributes][][listing_shape_id]", "#{ls.id}", @default_listing_shapes.include?(ls), :id => checkbox_id, :class => "category-transaction-type-checkbox"
            = label_tag checkbox_id, ls.display_name(I18n.locale), :class => "category-transaction-type-checkbox-label"
- else
  = hidden_field_tag "category[listing_shape_attributes][][listing_shape_id]", @current_community.listing_shapes.first.id
