- if shapes.size > 1
  .row
    .col-8
      %label= t("admin.categories.form.category_transaction_types.transaction_types")
    .col-4
      .selection-options
        %a.select-all{href: "#"}
          = t("admin.categories.form.category_transaction_types.select_all")
        |
        %a.deselect-all{href: "#"}
          = t("admin.categories.form.category_transaction_types.clear_all")
  = render :partial => "layouts/info_text", :locals => { :text => t("admin.categories.form.category_transaction_types.transaction_types_description") }
  .row
    .col-12
      #category-listing-shapes-container.clearfix
        - shapes.each do |shape|
          - checkbox_id = "listing_shape_checkbox_#{shape[:id].to_s}"
          .custom-field-categories-checkbox-container
            = check_box_tag "category[listing_shapes][][listing_shape_id]", "#{shape[:id]}", selected_shape_ids.include?(shape[:id]), :id => checkbox_id, :class => "category-listing-shape-checkbox"
            = label_tag checkbox_id, t(shape[:name_tr_key]), :class => "category-listing-shape-checkbox-label"
- else
  = hidden_field_tag "category[listing_shapes][][listing_shape_id]", shapes.first[:id]
