%h3 ¿Qué es #{service_name}? 
 
%p  
  Con #{service_name} es más fácil vender, comprar, y prestar productos; compartir viajes en automóvil y, en general, intercambiar las cosas que necesitas para cada día dentro de tu comunidad. 
 
%p   
  Al usar #{service_name} puedes crear un directorio de artículos y servicios disponibles para tu comunidad y así disminuir la necesidad de sus miembros de comprar bienes y servicios fuera de ella. Además, al usar #{service_name}, ahorras tiempo y dinero, ayudas al planeta y compartes más con quienes son parte de tu comunidad. 
 
%h3 ¿Para quién es #{service_name}? 
 
%p 
  #{service_name} es un servicio basado en comunidades, ya sean escuelas, universidades, empresas o asociaciones. Actualmente tú estás buscando la comunidad #{service_name} #{@current_community.name}. 
 
%p 
  ¿Te gustaría usar #{service_name} con la gente de tu escuela, universidad, empresa o asociación? Lee más aquí 
  = link_to "http://www.sharetribe.com", "http://www.sharetribe.com/es" 
  y déjanos tu dirección de correo electrónico utilizando el formulario del sitio, si quieres más información sobre este servicio. 
 
%h3 ¿Quién está detrás de #{service_name}? 
 
%p 
  #{service_name} ha sido desarrollado como parte 
  = link_to("del proyecto de investigación OtaSizzle", "http://sizl.org") 
  de la Universidad Aalto. Los investigadores Antti Virolainen y Juho Makkonen son los responsables del desarrollo del servicio. Si tienes cualquier pregunta, comentario o algún feedback con respecto al servicio, por favor envíanos un correo a info (at) sharetribe.com o directamente a los correos personales de Antti o Juho (nombre.apellido@sharetribe.com).