.translation-wrapper
  .input-header= t("admin.listing_shapes.listing_shape_name")
  = render partial: "layouts/info_text", locals: {text: t("admin.listing_shapes.listing_shape_name_desc")}
  - shape[:name].map do |(loc, translation)|
    .row
      .name-locale-label.col-2
        = label_tag "name[#{loc}]", locale_name_mapping[loc]
      .name-locale-text_field.col-10
        = text_field_tag("name[#{loc}]", translation, class: "required")

.translation-wrapper
  .input-header= t("admin.listing_shapes.action_button_label")
  = render partial: "layouts/info_text", locals: {text: t("admin.listing_shapes.action_button_label_desc")}
  - shape[:action_button_label].map do |loc, translation|
    .row
      .name-locale-label.col-2
        = label_tag "action_button_label[#{loc}]", locale_name_mapping[loc]
      .name-locale-text_field.col-10
        = text_field_tag("action_button_label[#{loc}]", translation, class: "required")

.row
  .col-12
    = label_tag("", t("admin.listing_shapes.pricing_and_checkout_title"), class: "input")

.row
  .col-12
    = check_box_tag(:price_enabled, "true", shape[:price_enabled], class: "checkbox-row-checkbox", id: "price-enabled")
    = label_tag(:price_enabled, t("admin.listing_shapes.price_label"), class: "checkbox-row-label")

- unless uneditable_fields[:online_payments]
  .row
    .col-12
      = check_box_tag(:online_payments, "true", shape[:online_payments], class: "checkbox-row-checkbox", id: "online-payments")
      = label_tag(:online_payments, t("admin.listing_shapes.online_payments_label"), class: "checkbox-row-label")

- unless uneditable_fields[:shipping_enabled]
  .row
    .col-12
      = check_box_tag(:shipping_enabled, "true", shape[:shipping_enabled], class: "checkbox-row-checkbox", id: "shipping-enabled")
      = label_tag(:shipping_enabled, t("admin.listing_shapes.shipping_label"), class: "checkbox-row-label")

.row
  .col-12
    = label_tag("units_title", t("admin.listing_shapes.units_title"), class: "input")
    = render partial: "layouts/info_text", locals: {text: t("admin.listing_shapes.units_desc")}
- shape[:units].map do |unit|
  .row
    .col-12
      = check_box_tag("units[#{unit[:type]}]", "true", unit[:enabled], class: "js-unit-checkbox checkbox-row-checkbox")
      = label_tag("units[#{unit[:type]}]", unit[:label], class: "checkbox-row-label")

= hidden_field_tag("template", shape[:template])
