.row
  .col-12
    .input-header= t("admin.listing_shapes.listing_shape_name")
- shape[:name].map do |(loc, translation)|
  .row
    .name-locale-label.col-2
      = label_tag "name[#{loc}]", locale_name_mapping[loc]
    .name-locale-text_field.col-10
      = text_field_tag("name[#{loc}]", translation, class: "required")

.row
  .col-12
    .input-header= t("admin.listing_shapes.action_button_label")
- shape[:action_button_label].map do |loc, translation|
  .row
    .name-locale-label.col-2
      = label_tag "action_button_label[#{loc}]", locale_name_mapping[loc]
    .name-locale-text_field.col-10
      = text_field_tag("action_button_label[#{loc}]", translation, class: "required")

- if count > 0
  .row.without-margin
    .col-12
      .alert-box-warning
        %p
          %span.alert-box-icon<>
            = icon_tag("alert", ["icon-fix"])
          %span<
            = t("admin.listing_shapes.open_listings", count: count)
        = link_to close_listings_admin_listing_shape_path(id: id), class: "listing-shape-delete-button", confirm: t("admin.listing_shapes.confirm_close_listings", count: count) do
          .content
            = t("admin.listing_shapes.close_listings", count: count)

.row
  .col-12
    = label_tag("", t("admin.listing_shapes.pricing_and_checkout_title"), class: "input")

.row
  .col-12
    = check_box_tag(:price_enabled, "true", shape[:price_enabled], class: "checkbox-row-checkbox js-price-enabled")
    = label_tag(:price_enabled, t("admin.listing_shapes.price_label"), class: "checkbox-row-label js-price-enabled-label")

- unless uneditable_fields[:online_payments]
  .row
    .col-12
      = check_box_tag(:online_payments, "true", shape[:online_payments], class: "checkbox-row-checkbox js-online-payments")
      = label_tag(:online_payments, t("admin.listing_shapes.online_payments_label"), class: "checkbox-row-label js-online-payments-label")

- unless uneditable_fields[:shipping_enabled]
  .row
    .col-12
      = check_box_tag(:shipping_enabled, "true", shape[:shipping_enabled], class: "checkbox-row-checkbox js-shipping-enabled")
      = label_tag(:shipping_enabled, t("admin.listing_shapes.shipping_label"), class: "checkbox-row-label js-shipping-enabled-label")

.row
  .col-12
    = label_tag("units_title", t("admin.listing_shapes.units_title"), class: "input")
    = render partial: "layouts/info_text", locals: {text: t("admin.listing_shapes.units_desc")}
- shape[:units].map do |unit|
  .row
    .col-12
      = check_box_tag("units[#{unit[:type]}]", "true", unit[:enabled], class: "js-unit-checkbox checkbox-row-checkbox")
      = label_tag("units[#{unit[:type]}]", unit[:label], class: "checkbox-row-label js-unit-label")

= hidden_field_tag("author_is_seller", shape[:author_is_seller])
