- content_for :title_header do
  %h1= t("layouts.admin.admin")

= render partial: "admin/left_hand_navigation", locals: { links: admin_links_for(@current_community), selected_left_navi_link: selected_left_navi_link }

.left-navi-section
  %h2= t(".edit_listing_shape", shape: ts(shape[:name_tr_key]))
  = form_tag(admin_listing_shape_path(shape[:id]), method: :put) do

    .translation-wrapper
      .input-header= t("admin.listing_shapes.listing_shape_name")
      = render partial: "layouts/info_text", locals: {text: t("admin.listing_shapes.listing_shape_name_desc")}
      - shape_form.name.map do |loc, t|
        .row
          .name-locale-label.col-2
            = label_tag "name[#{loc}]", locale_name_mapping[loc]
          .name-locale-text_field.col-10
            = text_field_tag "name[#{loc}]", t

    .translation-wrapper
      .input-header= t("admin.listing_shapes.action_button_label")
      = render partial: "layouts/info_text", locals: {text: t("admin.listing_shapes.action_button_label_desc")}
      - shape_form.action_button_label.map do |loc, t|
        .row
          .name-locale-label.col-2
            = label_tag "action_button_label[#{loc}]", locale_name_mapping[loc]
          .name-locale-text_field.col-10
            = text_field_tag "action_button_label[#{loc}]", t

    .row
      .col-12
        = label_tag("shipping_title", t("admin.listing_shapes.shipping_title"), class: "input")
        = check_box_tag(:shipping_enabled, "true", shape_form.shipping_enabled, class: "checkbox-row-checkbox")
        = label_tag(:shipping_enabled, t("admin.listing_shapes.shipping_label"), class: "checkbox-row-label")


    .row
      .col-12
        = label_tag("units_title", t("admin.listing_shapes.units_title"), class: "input")
        = render partial: "layouts/info_text", locals: {text: t("admin.listing_shapes.units_desc")}
    - shape_form.units.map do |unit|
      .row
        .col-12
          = check_box_tag("units[#{unit[:type]}]", "true", unit[:enabled], class: "checkbox-row-checkbox")
          = label_tag("units[#{unit[:type]}]", unit[:label], class: "checkbox-row-label")


    .row
      .col-12
        .inline-button-container
          = button_tag t(".update")
        .inline-button-container
          %a{href: admin_listing_shapes_path, class: "cancel-button"}
            .content
              = t(".cancel")
