- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.listing_shapes.index.listing_shapes")

- content_for :javascript do
  window.ST.initializeListingShapeForm('#listing_shape_form')

= render partial: "admin/left_hand_navigation", locals: { links: admin_links_for(@current_community), selected_left_navi_link: selected_left_navi_link }

.left-navi-section
  %h2= t(".create_listing_shape")
  = form_tag(admin_listing_shapes_path, method: :post, id: "listing_shape_form") do

    = render partial: "shape_form_content", locals: { id: nil, shape: shape,
      count: count, locale_name_mapping: locale_name_mapping,
      uneditable_fields: uneditable_fields, harmony_in_use: harmony_in_use,
      display_knowledge_base_articles: display_knowledge_base_articles,
      knowledge_base_url: knowledge_base_url }

    .row
      .col-12
        .inline-button-container
          = button_tag t(".create")
        .inline-button-container
          %a{href: admin_listing_shapes_path, class: "cancel-button"}
            .content
              = t(".cancel")
