- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t(".edit_location_field")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  = form_for @community, :as => :community, :url => update_location_admin_custom_fields_path, :method => :put do |form|

    .row
      .col-12
        .checkbox-container
          = form.check_box :listing_location_required
          = form.label :listing_location_required, t(".this_field_is_required")

    = render :partial => "admin/custom_fields/form/buttons", :locals => { :form => form }
