- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t(".edit_price_field")

- content_for :extra_javascript do
  :javascript
    initialize_admin_edit_price($("#edit_community"), "community[price_filter_min]", "community[price_filter_max]", "#{I18n.locale}");

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  = form_for @community, :as => :community, :url => update_price_admin_custom_fields_path, :method => :put do |form|

    - min = (@current_community.price_filter_min / 100) || 0
    - max = (@current_community.price_filter_max / 100) || 100000

    .row
      .col-12
        .checkbox-container
          = form.check_box :show_price_filter
          = form.label :show_price_filter, t(".show_price_filter_homepage")

    .row
      .col-3
        = form.label "community[price_filter_min]", t(".price_min")
        = text_field_tag "community[price_filter_min]", min, :class => "required number-no-decimals"
      .col-3
        = form.label "community[price_filter_max]", t(".price_max")
        = text_field_tag "community[price_filter_max]", max, :class => "required number-no-decimals"

    = render :partial => "admin/custom_fields/form/buttons", :locals => { :form => form }
