- content_for :javascript do
  ST.CustomFields.initForm({
  locale: '#{I18n.locale}',
  option_count: #{@custom_field.options.size},
  min_count: #{@min_option_count}
  });

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.custom_fields.new.new_listing_field")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  #new-field-form.new-field-form
    = form_for @custom_field, :as => :custom_field, :url => admin_custom_fields_path(:field_type => @custom_field.type), :html => {:id => 'custom_field_form'} do |form|

      = render :partial => "admin/custom_fields/form/field_name", :locals => { :form => form }

      = render :partial => "admin/custom_fields/form/field_required", :locals => { :form => form, :custom_field => @custom_field }

      = render :partial => "admin/custom_fields/form/search_filter", :locals => { :form => form, :custom_field => @custom_field }

      - @custom_field.with(:numeric) do
        = render :partial => "admin/custom_fields/form/field_min_max", :locals => { :form => form, :min => 0, :max => 9999 }

      = render :partial => "admin/custom_fields/form/field_categories", :locals => { :form => form }

      - @custom_field.with(:dropdown) do
        = render :partial => "admin/custom_fields/form/field_options", :locals => { :form => form }

      - @custom_field.with(:checkbox) do
        = render :partial => "admin/custom_fields/form/field_options", :locals => { :form => form }

      = render :partial => "admin/custom_fields/form/buttons", :locals => { :form => form }
