= render :partial => "layouts/left_hand_navigation", :locals => { :links => left_hand_navigation_links }

.left-navi-section.settings-section.payment-settings
  %h2= t("paypal_accounts.payout_info_title")

  - if community_ready_for_payments
    - create_paypal_link = link_to(t("paypal_accounts.create_paypal_account_link_text"),
                                   create_url, target: "_blank")
    - upgrade_paypal_link = link_to(t("paypal_accounts.upgrade_paypal_account_link_text"),
                                    upgrade_url, target: "_blank")
    = render partial: "paypal_info", locals: {create_paypal_account_link: create_paypal_link, upgrade_paypal_account_link: upgrade_paypal_link}

    .row
      = t("paypal_accounts.new.follow_steps")

    - if PaypalHelper.account_prepared_for_user?(@current_user.id, @current_community.id)
      .row.paypal-connected-email-row
        %h3.paypal-account-connected
          = t("paypal_accounts.paypal_account_email_connected").html_safe
        .paypal-connected-email.paypal-account-connected
          = t("paypal_accounts.connected_account", :email => paypal_account_email)
        .paypal-connected-change.send-button-wrapper
          %button#ask_paypal_permissions
            = t("paypal_accounts.change_account")
      .row
        .paypal-redirect-message.hidden
          - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
          = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe

      - if paypal_account_state == :verified
        .row.paypal-billing-agreement-row
          %h3.paypal-billing-agreement-made
            = t("paypal_accounts.paypal_billing_agreement_made").html_safe
          .paypal-billing-agreement-made.paypal-ready-to-accept-payments
            = t("paypal_accounts.you_are_ready_to_accept_payments").html_safe
    - elsif paypal_account_state == :connected
      - content_for :javascript do
        ST.initializeNewPaypalAccountHandler("ask_billing_agreement", "#{billing_agreement_action}");
        ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}");

      .row.paypal-connected-email-row
        %h3.paypal-account-connected
          =t("paypal_accounts.paypal_account_email_connected").html_safe
        .paypal-connected-email.paypal-account-connected
          = t("paypal_accounts.connected_account", :email => paypal_account_email)
        .paypal-connected-change.send-button-wrapper
          %button#ask_paypal_permissions
            = t("paypal_accounts.change_account")
      .row
        .paypal-redirect-message.hidden
          - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
          = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe

      - if commission_type != :none
        .row
          %h3= t("paypal_accounts.new.paypal_account_billing_agreement")

        .row
          - paypal_info_link = "<a id='paypal_fee_info_link' href='#'>#{t("paypal_accounts.new.paypal_info_link_text")}</a>"
          - if commission_type == :both
            = render :partial => "layouts/info_text", :locals => {text: t("paypal_accounts.new.paypal_account_billing_agreement_info_both",
            commission_from_seller: commission_from_seller,
            minimum_commission: humanized_money_with_symbol(minimum_commission),
            paypal_info_link: paypal_info_link).html_safe }
          - elsif commission_type == :relative
            = render :partial => "layouts/info_text", :locals => {text: t("paypal_accounts.new.paypal_account_billing_agreement_info_relative",
            commission_from_seller: commission_from_seller,
            paypal_info_link: paypal_info_link).html_safe }
          - elsif commission_type == :fixed
            = render :partial => "layouts/info_text", :locals => {text: t("paypal_accounts.new.paypal_account_billing_agreement_info_fixed",
            minimum_commission: humanized_money_with_symbol(minimum_commission),
            paypal_info_link: paypal_info_link).html_safe }

        .row.send-button-wrapper
          %button.send_button#ask_billing_agreement
            = t("paypal_accounts.new.billing_agreement")
        .row
          .paypal-redirect-message.hidden
            - paypal_redirect_link = "<a href='#' id='ask_billing_agreement_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
            = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe

        = render layout: "layouts/lightbox", locals: { id: "paypal_fee_info_content"} do
          %h2= t("common.paypal_fee_info.title")
          - text_with_line_breaks_html_safe do
            - link_to_paypal = link_to(t("common.paypal_fee_info.link_to_paypal_text"), paypal_fees_url)
            = t("common.paypal_fee_info.body_text", link_to_paypal: link_to_paypal).html_safe

        - content_for :extra_javascript do
          :javascript
            $('#paypal_fee_info_link').click(function() { $('#paypal_fee_info_content').lightbox_me({centered: true, zIndex: 1000000}); });
    - else
      - title = t("paypal_accounts.new.paypal_account_email")
      - content_for :javascript do
        ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}");

      .row
        %h3= title

      .row
        - create_link = link_to(I18n.t("paypal_accounts.new.create_paypal_account"), create_url, target: "_blank")
        - upgrade_link = link_to(I18n.t("paypal_accounts.new.upgrade_paypal_account"), upgrade_url, target: "_blank")
        - text = t("paypal_accounts.new.paypal_account_email_info_text", {create_paypal_account: create_link, upgrade_paypal_account: upgrade_link, currency: "<strong>#{currency}</strong>"}).html_safe
        = render :partial => "layouts/info_text", :locals => {text: text}

      .row.send-button-wrapper
        %button#ask_paypal_permissions
          = t("paypal_accounts.new.connect_paypal_account")
      .row
        .paypal-redirect-message.hidden
          - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
          = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe
  - else
    = t("paypal_accounts.new.admin_account_not_connected",
        contact_admin_link: link_to(t("paypal_accounts.new.contact_admin_link_text"),
                                    new_user_feedback_path)).html_safe
