- content_for :javascript do
  ST.initializePayPalAccountForm("paypal_account_form");

= render :partial => "layouts/left_hand_navigation", :locals => { :links => left_hand_navigation_links }

.left-navi-section.settings-section.payment-settings

  %h2= t("paypal_accounts.payout_info_title")

  .row
    = t("paypal_accounts.new.payout_info_you_need_to_connect")

  - if community_ready_for_payments
    .row
      = t("paypal_accounts.new.payout_info_text").html_safe

    %br/

    = form_for paypal_account_form, :url => form_action, :html => { :id => "paypal_account_form"} do |form|

      - if paypal_account_state == :verified
        = render :partial => "ask_paypal_billing_agreement", locals: {paypal_account_email: paypal_account_email, form: form, commission_from_seller: commission_from_seller, minimum_commission: minimum_commission}
      - else
        - title = t("paypal_accounts.new.paypal_account_email")
        = render :partial => "ask_paypal_permissions", locals: {form: form, title: title, currency: currency}

        %br/
        .row
          = form.label :paypal_email, t("paypal_accounts.new.paypal_account_billing_agreement", commission: commission_from_seller), :class => "input disabled"
