= render :partial => "layouts/left_hand_navigation", :locals => { :links => left_hand_navigation_links }

.left-navi-section.settings-section.payment-settings

  %h2= t("paypal_accounts.payout_info_title")

  .row
    = t("paypal_accounts.new.payout_info_you_need_to_connect")

  - if community_ready_for_payments
    .row
      = t("paypal_accounts.new.payout_info_text").html_safe

    %br/

    - if paypal_account_state == :verified
      = render :partial => "ask_paypal_billing_agreement", locals: {paypal_account_email: paypal_account_email, change_url: change_url, commission_type: commission_type, commission_from_seller: commission_from_seller, minimum_commission: minimum_commission, paypal_fees_url: paypal_fees_url, order_permission_action: order_permission_action, billing_agreement_action: billing_agreement_action}
    - else
      - title = t("paypal_accounts.new.paypal_account_email")
      = render :partial => "ask_paypal_permissions", locals: {title: title, currency: currency, create_url: create_url, upgrade_url: upgrade_url, order_permission_action: order_permission_action}

      %br/
      .row
        %h3.input.disabled= t("paypal_accounts.new.paypal_account_billing_agreement", commission: commission_from_seller)
