.blank_slate
  .blank_slate_header
    - # Blank slate shows number of listings
    - if @private_listings[listing_type] == 1
      = t(".additionally_one_private_#{listing_type}_exists").html_safe
      = t("homepage.blank_slate.but_that_is_visible_only_to_registered_members")
    - else
      = t(".additionally_some_private_#{listing_type}s_exist", :number_of_listings => @private_listings[listing_type]).html_safe
      = t("homepage.blank_slate.but_those_are_visible_only_to_registered_members")
    = link_to t("homepage.blank_slate.create_new_account_for_yourself"), sign_up_path
    = t("common.or")
    = link_to t("homepage.blank_slate.log_in"), login_path
    