.blank_slate
  .blank_slate_header
    - if @current_user  # Blank slate for logged in user
      = t(".no_open_#{slate_type}s_currently")
      = link_to t(".add_first"), new_request_path(:type => "request")
    - elsif @private_listings[slate_type].present? && @private_listings[slate_type] > 0 # Blank slate shows number of listings
      - if @private_listings[slate_type] == 1
        = t(".one_private_#{slate_type}_exists").html_safe
        = t(".but_that_is_visible_only_to_registered_members")
      - else
        = t(".some_private_#{slate_type}s_exist", :number_of_listings => @private_listings[slate_type]).html_safe
        = t(".but_those_are_visible_only_to_registered_members")
      = link_to t(".create_new_account_for_yourself"), sign_up_path
      = t("common.or")
      = link_to t(".log_in"), login_path
    - else # Blank slate telling there are no listings
      = t(".no_#{slate_type}s_visible_unless_logged_in")
      = link_to t(".create_new_account_for_yourself"), sign_up_path
      = t("common.or")
      = link_to t(".log_in"), login_path
  .blank_slate_suggestions
    = render :file => community_file("blank_slate_suggestions", true), :locals => {:slate_type => slate_type}
