= form_tag "/", :method => :get do
  - @current_community.custom_dropdown_fields.sort.each do |field|
    .row
      .col-12
        .custom-filter-title
          = field.name(I18n.locale)
        - make_scrollable = field.options.size > 10
        .custom-filter-options{:class => make_scrollable ? "scrollable" : ""}
          - field.options.sort.each do |option|
            .custom-filter-checkbox-container
              %label.custom-filter-checkbox-label
                = check_box_tag "filter_option_#{option.id}", "#{option.id}", params["filter_option_#{option.id}"]
                %span.custom-filter-checkbox-label-text
                  = option.title(I18n.locale)
  - params.except("action", "controller").each do |param, value|
    - unless param.match(/^filter_option/)
      = hidden_field_tag param, value
  %button{type: 'submit'}
    = t(".update_view")