%select.item-category#listing_category{name: "category"}
  %option{value: "all"}= "#{t("homepage.filters.all_categories")}"
  - @current_community.main_categories.each do |category|
    %option{value: "#{category.name}", selected: params[:category] == category.name}= "#{category.display_name.mb_chars.capitalize.to_s}"
    - if category.children
      - category.children.each do |sub_category|
        - if @current_community.categories.include?(sub_category)
          %option{value: "#{sub_category.name}", selected: params[:category] == sub_category.name}= "- #{sub_category.display_name.mb_chars.capitalize.to_s}"
