%select.item-category#listing_category{name: "category"}
  %option{value: "all"}= "#{t("homepage.filters.all_categories")}"
  - Listing::VALID_CATEGORIES.each do |category|
    %option{value: "#{category}", selected: params[:category] == category}= "#{t("common.categories.#{category}").capitalize}"
  
    -# Subcategories are not yet in use, but can be listed by uncommenting this and adding translations
    -# - if Listing::VALID_SUBCATEGORIES[category]
    -#   - Listing::VALID_SUBCATEGORIES[category].each do |sub_category|
    -#     %option{label: "- #{sub_category}", value: "#{sub_category}"}
