- frontpage_fragment_cache("grid_item", listing) do
  .home-fluid-thumbnail-grid-item
    %div
      -# Listing image
      = render :partial => "layouts/grid_item_listing_image", :locals => {:listing => listing, :modifier_class => ""}

      -# Listing author details
      .home-fluid-thumbnail-grid-author
        - name = PersonViewUtils::person_entity_display_name(listing.author, @current_community.name_display_type)
        %span.item-time
          = "32 minutes ago"
        %div.product-details
          %div.company-info
            %span.pull-left
              = name
            %span.pull-right
              = "Size"
          %div.item-name
            %span
              = listing.title
        