- frontpage_fragment_cache("grid_item", listing) do
  .home-fluid-thumbnail-grid-item
    %div{:id => "linebreak"}
      -# Listing image
      = render :partial => "layouts/grid_item_listing_image", :locals => {:listing => listing, :modifier_class => ""}

      -# Listing author details
      .home-fluid-thumbnail-grid-author
        - name = PersonViewUtils::person_entity_display_name(listing.author, @current_community.name_display_type)
        %span.item-time
          = distance_of_time_in_words(listing.created_at, Time.now)
        %div.product-details
          %div.company-info
            %span.pull-left
              - listing.custom_field_values.limit(1).each do |custom_field_value|
                - question_name = custom_field_value.question.name(I18n.locale)
                - Maybe(custom_field_value.selected_options.first).title(I18n.locale).each do |answer_title|
                  = answer_title
            %span.pull-right
              - listing.custom_field_values.limit(2).drop(1).each do |custom_field_value|
                - question_name = custom_field_value.question.name(I18n.locale)
                - Maybe(custom_field_value.selected_options.first).title(I18n.locale).each do |answer_title|
                  = answer_title
          %div.item-name
            %span
              = listing.title
          %div.price
            - if listing.price
              .home-list-price-value
                = humanized_money_with_symbol(listing.price).upcase
                - price_text = nil
                - if listing.quantity.present?
                  - price_text = t("listings.form.price.per") + " " + listing.quantity
                - elsif listing.unit_type
                  - price_text = price_quantity_per_unit(listing)