
- content_for :extra_javascript do
  :javascript
    $(document).ready(function() { initialize_invitation_form("#{I18n.locale}", "#{Rails.env}"); })

#invitation_form
  %h3= t(".invite_your_friends")
  = form_for Invitation.new, :url => person_invitations_path(:person_id => @current_user.id) do |f|
    .form_field_container.label_container
      = f.label :email, t(".email")
    .form_field_container
      = f.text_field :email, :class => "text_field"
    .invitation_form_hidden_parts.hidden
      .form_field_container.label_container
        = f.label :message, t(".message")
      .form_field_container  
        = f.text_area :message, :class => "invitation_message_text"
      .form_field_container.label_container
        = f.hidden_field :community_id, :value => @current_community.id.to_s
        = f.hidden_field :inviter_id, :value => @current_user.id
        = f.submit t(".send_invitation"), :class => "send_button"