.bubble-item
  .bubble-image-container
    = image_tag listing.listing_images.first.image.url(:medium), :alt => listed_listing_title(listing)
  .bubble-overlay
    = link_to listing.title, listing, :class => "bubble-title-link"
  .bubble-title
    .bubble-avatar
      = small_avatar_thumb(listing.organization_or_author?(@current_community))
    .bubble-details
      .bubble-author
        = author_link(listing)
      .bubble-description
        = render :partial => "listings/displayed_price", :locals => { :listing => listing }