.bubble-item
  .bubble-author-avatar
    = small_avatar_thumb(listing.organization_or_author?(@current_community))
  .bubble-header
    .author
      = author_link(listing)
      %time{datetime: "#{listing.created_at}"}= time_ago(listing.created_at)
    %h2
      = link_to listing.title, listing, :class => "listing-title"
      = render :partial => "listings/share_type_link", :locals => { :listing => listing }
  
  .bubble-content
    - unless listing.description.blank?
      %small.bubble-excerpt
        = "\"#{truncate_html(listing.description, :length => 100, :omission => '...')}\""
    - if listing.has_image?
      .bubble-image
        = image_tag listing.listing_images.first.image.url(:medium), :alt => listed_listing_title(listing)
    %small.feed-listing-icons
      -# This will be used when listings can have a price
      -# .feed-listing-icon
      -#   %i.ss-pricetag.icon-with-text 
      -#   .text-with-icon 22€ / hour
      - if listing.comments.size > 0
        .feed-listing-icon
          %a{href: listing_path(listing) + "#comments"}
            %i.ss-chat.icon-with-text
            .text-with-icon= listing.comments.size