.bubble-item
  .bubble-image-container
    - if listing.has_image?
      = link_to(image_tag(listing.listing_images.first.image.url(:small_3x2), :alt => listed_listing_title(listing)), listing)
  %a.bubble-overlay{:href => listing_path(listing)}
    %span{:class => "bubble-title-link"}
      = listing.title
  .bubble-title
    .bubble-avatar
      = small_avatar_thumb(listing.author)
    .bubble-details
      .bubble-author
        = author_link(listing)
      .bubble-price{:title => price_as_text(listing) }
        - if listing.price
          = MoneyViewUtils.to_humanized(listing.price)
          - if listing.quantity.present?
            %span.bubble-price-quantity
              = t("listings.form.price.per") + " " + listing.quantity
          - elsif listing.unit_type
            %span.bubble-price-quantity
              = price_quantity_per_unit(listing)
