-content_for(:location_search) do
  - if(feature_enabled?(:location_search) && search_engine == :zappy)
    = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true&libraries=places"

- content_for :extra_javascript do
  :javascript
    window.ST.initializeLocationSearch();


.search-form-input.search-form-text-field.location-search-wrapper
  = text_field_tag "q", params[:q], :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need")
  = hidden_field_tag 'lc', params[:lc]
  = hidden_field_tag 'ls', ''

.search-form-input
  %button.action-button#search-button{type: 'submit'}
    = icon_tag("search", ["icon-part"])
