%div{:id => "news_item_#{news_item.id.to_s}"}
  %p
    %b
      = news_item.title
    %br
      = l(news_item.created_at, :format => :short)

  %div{:id => "news_item_#{news_item.id.to_s}_preview"}
    %p
      - text_with_line_breaks do
        = truncate(news_item.content, :length => 100, :omission => "...")
      - if news_item.content.length > 100
        %br/
        = link_to t(".show_more"), "#news_item_#{news_item.id.to_s}", :id => "news_item_preview_link"

  - if news_item.content.length > 100
    %div{:id => "news_item_#{news_item.id.to_s}_full", :class => "hidden"}
      %p
        - text_with_line_breaks do
          = news_item.content
        %br/
        = link_to t(".show_less"), "#news_item_#{news_item.id.to_s}", :id => "news_item_full_link"