%h4{:class => "news"}= t("homepage.index.news")
- if @current_community.all_users_can_add_news?
  %p.text
    = t("homepage.index.inform_others_about_events")
    .add_news_item_button.news_item_button_homepage_margin
      = link_to t("homepage.index.add_news_item"), news_items_path(:news_form => true)
#news_items_homepage
  - if @news_items.size > 0
    - if @current_community.all_users_can_add_news?
      .event_spacer
    = render :partial => "news_item", :collection => @news_items, :spacer_template => "event_spacer"
    - if @news_item_count > 2
      .event_spacer
      %p= link_to t("homepage.index.more_news"), news_items_path, :class => "big_link"
  - else 
    %p= t("homepage.index.no_news")