%h3 
  = t(".poll")
  = poll.title
- if @current_user.answered_polls.include?(@current_community.active_poll)
  %p
    %b= t(".results") + ":"
  - poll.options.each_with_index do |option, index|
    .option_result
      %span.option_title
        = "#{(index + 1)}."
        = option.label
      %span.option_percentage
        = "#{option.percentage}%"
        = "(#{pluralize(option.answers.size.to_s, t('.poll_answer'), t('.poll_answers'))})"
- else
  = form_for PollAnswer.new, :url => person_poll_answers_path(:person_id => @current_user.id), :remote => true do |f|
    - poll.options.each do |option|
      .poll_radio_button_container
        = f.radio_button :poll_option_id, option.id
        = f.label :poll_option_id, option.label, :class => "radiobutton"
    .form_field_container.label_container
      = f.label :comment, t(".comment")
    .form_field_container  
      = f.text_area :comment
    .form_field_container.label_container
      = f.hidden_field :answerer_id, :value => @current_user.id
      = f.hidden_field :poll_id, :value => poll.id
      = f.submit t(".answer"), :class => "send_button"