.feed-item.feed-request
  .feed-author-avatar
    = small_avatar_thumb(listing.author)
  .feed-content
    .author
      = link_to listing.author.name, listing.author
      %time{datetime: "#{listing.created_at}"}= time_ago(listing.created_at)
    %h2
      = link_to listed_listing_title(listing), listing
    - unless listing.description.blank?
      %small.feed-excerpt
        = "\"#{truncate_html(listing.description, :length => 120, :omission => '...')}\""
    %small.feed-listing-icons
      .feed-listing-price
        %i.ss-pricetag.icon-with-text 
        .text-with-icon 22€ / hour
      - if listing.comments.size > 0
        .feed-listing-comment
          %a{href: listing_path(listing) + "#comments"}
            %i.ss-chat.icon-with-text
            .text-with-icon= listing.comments.size
  .feed-image
    = image_tag '/assets/new-design/item3.png'