.recent_listing
  .listing_image
    = link_to "#", "#", :title => listing
  .recent_listing_text
    %h5= link_to listing, "#"
    %p “Tarvitsisin gorillapuvun ensi viikolla pidettäviä naamiaissitsejä varten. Voin...”
    .float_left
      = link_to t('.please_comment'), "#"
      &nbsp;|&nbsp;
      = link_to t('.please_offer'), "#"
    .float_right
      %span
        = link_to "Juho", "#"
        2 days ago