.feed-item.feed-request
  .feed-author-avatar
    = small_avatar_thumb(listing.author)
  .feed-content{:class => (listing.has_image? ? "content-with-image" : "")}
    .author
      = author_link(listing)
      %time{datetime: "#{listing.created_at}"}= time_ago(listing.created_at)
    %h2
      = link_to listing.title, listing, :class => "listing-title"
      = render :partial => "listings/share_type_link", :locals => { :listing => listing }
    - unless listing.description.blank?
      %small.feed-excerpt
        = link_to ("\"#{truncate_html(listing.description, :length => 120, :omission => '...')}\""), listing
    %small.feed-listing-icons
      = render :partial => "listings/displayed_price", :locals => { :listing => listing }
      - if listing.comments.size > 0
        .icon-with-text-container
          %a{href: listing_path(listing) + "#comments"}
            %i.ss-chat.icon-part
            .text-part= listing.comments.size
  - if listing.has_image?
    .feed-image
      - unless listing.listing_images.first.image_processing
        = link_to image_tag(listing.listing_images.first.image.url(:thumb), :alt => listed_listing_title(listing)), listing
