%p
  %b
    Kassimerkit, palautenäkymä ja uusi domain
  %br/
  1.12.2010

%p
  Voit nyt ansaita kassissa erilaisia merkkejä tunnustuksena aktiivisesta toiminnasta palvelussa. Merkkejä myönnetään muun muassa onnistuneesti sujuneista tapahtumista, kommentoinnista, uusien pyyntöjen ja tarjousten luomisesta sekä ylipäänsä palvelun aktiivisesta käytöstä. Voit nähdä saavuttamasi kassimerkit profiilisi oikeassa laidassa profiilikuvan alapuolella. 

%p
  Samassa paikassa näet nyt myös keskiarvon palautteesta, jota olet saanut muilta käyttäjiltä. Palaute auttaa muita käyttäjiä arvioimaan luotettavuuttasi, joten kannattaa muistaa aina antaa muille palautetta tapahtumien yhteydessä ja muistuttaa myös heitä antamaan palautetta sinulle.

%p
  Aalto-yliopiston kassiyhteisö on myös siirtynyt virallisesti uuteen osoitteeseen joka on 
  = link_to("http://aalto.kassi.eu", "http://aalto.kassi.eu") + "." 
  Myös vanha 
  = link_to("http://kassi.sizl.org", "http://kassi.sizl.org")
  = "-domain ohjaa kuitenkin edelleen samaan paikkaan."

.event_spacer

%p
  %b
    Kiitos AARREmarkkina-myyjille! 
  <br />
  15.11.2010

%p
  AYY:n järjestämät AARREmarkkinat pidettiin lauantaina 13.11. Dommalla. Kiitos kaikille omia tavaroitaan Kassin kautta myyntiin laittaneille! Osa kävi kaupaksi ja loput palautetaan omistajilleen. Toivottavasti niillekin löytyy vielä tarvitsija Kassissa olevan tarjouksen kautta. Esim. kurssikirjojen kysyntä kasvaa varmasti, kunhan kurssien alku taas lähestyy.
  
.event_spacer

%p
  %b
    Kassi on uudistunut
  <br />
  2.10.2010

%p
  Kassi on uudistunut niin ulkoisesti kuin sisäisestikin. Ilmoitukset on nyt jaettu aiempaa selkeämmin pyyntöihin ja tarjouksiin, ja esimerkiksi lainatavarat lisätään loogisesti tarjouksina, eikä lisätietoina omaan profiiliin. Myös kategorisointia on selkeytetty valitsemalla käyttöön 4 pääkategoriaa. Sen lisäksi ilmoitusta voi tarkentaa tarjoustavan valinnalla ja vapaamuotoisilla avainsanoilla. Avainsanat helpottavat ilmoituksesi löytymistä hauissa, joten niitä kannattaa käyttää reilusti.

%p
  Osa vanhoista ominaisuuksista on tilapäisesti poistettu, sillä niiden uudet versiot ovat työn alla. Jos jokin puute tuntuu haittaavan tämän hetken käyttöä, pistä siitä ihmeessä 
  = link_to "palautetta!", "#", :id => "give_feedback_link"
  Kaikki palaute uudesta versiosta on muutenkin erittäin tervetullutta! 
  
%p  
  = link_to "Lue lisää siitä, miten uusi Kassi toimii!", how_to_use_infos_path
  
