- content_for :javascript do
  initialize_homepage();

.feed-navigation
  .feed-actions.actions-menu
    %a.request-link{href: new_request_path(:type => "offer")} 
      %i.ss-plus.icon-with-text
      .text-with-icon Post a new listing!
    %a.offset-link.toggle{href: '#', data: {toggle: '.feed-filters'}}
      %i.ss-search
    - if params[:map]
      %a.offset-link.toggle{href: root, title: 'List view'}
        %i.ss-list
    - else
      %a.offset-link.toggle{href: (root + '?map=true'), title: 'Map view'}
        %i.ss-maplocation

  .feed-filters.toggle-menu-filters
    = form_tag({ :action => :index, :controller => :homepage}, :method => "get", :id => "homepage-filters") do
      .feed-search
        %input{name: 'q', id: 'search', value: params[:q], type: 'text', placeholder: 'What do you need?'}
        %button{type: 'submit'}
          %i.ss-search.icon-with-text
          .text-with-icon.hidden= t("homepage.filters.search")
    
      .feed-filter-dropdowns#feed-filter-dropdowns
        .filter-title
          = t("homepage.filters.show")
        = render :partial => "filter_share_types"
        = render :partial => "filter_categories"

.feed-map-link
  - if params[:map]
    %a.map-link{href: root, title: 'List view'}
      %i.ss-list.icon-with-text
      .text-with-icon.hidden-text List
  - else
    %a.map-link{href: (root + '?map=true'), title: 'Map view'}
      %i.ss-maplocation.icon-with-text
      .text-with-icon.hidden-text= t("homepage.filters.map")      

.homepage-feed.feed
  - if params[:map]
    = render :partial => "map"
  - else
    - if @listings.total_entries > 0
      = render :partial => "recent_listing", :collection => @listings, :as => :listing
      = will_paginate(@listings)
      = pageless(@listings.total_pages, '.homepage-feed', request.fullpath, t('.loading_more_content'), false)
