- content_for :javascript do
  initialize_homepage();

.feed-navigation
  .feed-actions.actions-menu
    %a.request-link{href: new_request_path(:type => "offer")} 
      %i.ss-plus.icon-with-text
      .text-with-icon Post a new listing!
    %a.offset-link.toggle{href: '#', data: {toggle: '.feed-filters'}}
      %i.ss-search
    - if params[:map]
      %a.offset-link.toggle{href: root, title: 'List view'}
        %i.ss-list
    - else
      %a.offset-link.toggle{href: (root + '?map=true'), title: 'Map view'}
        %i.ss-maplocation

  .feed-filters.toggle-menu-filters
  
    .feed-search
      = form_tag({ :action => :index, :controller => :homepage }, :method => "get") do
        %input{name: 'q', id: 'search', value: params[:q], type: 'text', placeholder: 'What do you need?'}
        %button{type: 'submit'}
          %i.ss-search.icon-with-text
          .text-with-icon.hidden Search
      - if params[:map]
        %a.map-link{href: root, title: 'List view'}
          %i.ss-list.icon-with-text
          .text-with-icon.hidden-text List
      - else
        %a.map-link{href: (root + '?map=true'), title: 'Map view'}
          %i.ss-maplocation.icon-with-text
          .text-with-icon.hidden-text Map
    
    .feed-filter-dropdowns#feed-filter-dropdowns
      .filter-title
        Show:
      %select.item-type#listing_type
        %option{label: "All listings types", value: "all"}
        %option{label: "Requests", value: "request"}
        %option{label: "— Borrowing", value: "borrow"}
        %option{label: "— Buying", value: "buy"}
        %option{label: "— Taking for free", value: "receive"}
        %option{label: "— Renting", value: "rent"}
        %option{label: "— Swapping", value: "trade"}
        %option{label: "Offers", value: "offer"}
        %option{label: "— Giving away", value: "give_away"}
        %option{label: "— Lending", value: "lend"}
        %option{label: "— Renting out", value: "rent_out"}
        %option{label: "— Selling", value: "sell"}
        %option{label: "— Sharing for free", value: "share_for_free"}
        %option{label: "— Swapping", value: "trade"}
      %select.item-category#listing_category
        %option{label: "All categories", value: "all"}
        %option{label: "Items", value: "item"}
        %option{label: "— Clothing", value: "item"}
        %option{label: "— Furniture", value: "item"}
        %option{label: "— Electronics", value: "item"}
        %option{label: "— Tools", value: "item"}
        %option{label: "Services", value: "favor"}
        %option{label: "Rideshare", value: "rideshare"}
        %option{label: "Spaces", value: "housing"}
      

.homepage-feed.feed
  - if params[:map]
    = render :partial => "map"
  - else
    - if @listings.total_entries > 0
      = render :partial => "recent_listing", :collection => @listings, :as => :listing
      = will_paginate(@listings)
      = pageless(@listings.total_pages, '#homepage-feed', root_path, t('.loading_more_content'), false)
