- content_for :javascript do
  initialize_homepage(#{filters_in_use?});

- content_for :coverfade_class do
  = "without-text"

- content_for :title_header do
  - with_big_cover_photo do
    %h1.marketplace-lander-content-title= community_slogan.html_safe
    %p= community_description.html_safe
    .search-form
      - if @current_community.private?
        %a.inline-big-button{href: sign_up_path}
          .content
            = t("layouts.application.connect")
      - else
        = render :partial => "search_bar"
  - with_small_cover_photo do
    .browse-view-search-form
      = render :partial => "search_bar"

- if @current_community.private? && show_big_cover_photo?
  - if @community_customization && @community_customization.private_community_homepage_content
    = @community_customization.private_community_homepage_content.html_safe
  - else
    = t(".this_is_private_community")

- else

  .home-toolbar

    - if @transaction_type_menu_enabled || @category_menu_enabled
      .home-toolbar-show-filters-button-container
        .home-toolbar-show-filters-button#home-toolbar-show-filters
          = t(".filter")

    .home-toolbar-button-group{:class => @transaction_type_menu_enabled || @category_menu_enabled ? "filters-enabled" : ""}
      - ["grid", "list", "map"].each do |view_type|
        - selected_class = @view_type == view_type ? "selected" : ""
        = link_to params.merge(view: view_type), :class => "home-toolbar-button-group-button #{selected_class}", :title => t("homepage.filters.#{view_type}_button") do
          = icon_tag(view_type, ["icon-fix", "home-button-group-icon"])
          %span.home-toolbar-button-text
            = t("homepage.filters.#{view_type}_button")

    - if @transaction_type_menu_enabled || @category_menu_enabled
      .home-toolbar-filters.home-toolbar-filters-mobile-hidden#home-toolbar-filters
        - if @transaction_type_menu_enabled
          .toggle-container.home-toolbar-toggle-container
            .toggle.with-borders#home_toolbar-select-share-type{data: {toggle: '.home-toolbar-share-type-menu'}}
              .toggle-header-container
                .toggle-header
                  - if @selected_transaction_type
                    = @selected_transaction_type.display_name(I18n.locale).mb_chars.capitalize.to_s
                  - else
                    = t("homepage.filters.all_listing_types")

                = icon_tag("dropdown", ["icon-dropdown"])

            .home-toolbar-share-type-menu.toggle-menu.hidden
              = link_to t("homepage.filters.all_listing_types"), params.merge({transaction_type: "all"})
              - @transaction_types.each do |transaction_type|
                = link_to params.merge({transaction_type: transaction_type}), :class => "toggle-menu-subitem" do
                  = transaction_type.display_name(I18n.locale).mb_chars.capitalize.to_s

        - if @show_categories
          .toggle-container.home-toolbar-toggle-container.hidden-tablet
            .toggle.with-borders{data: {toggle: '#home-toolbar-categories-menu'}}
              .toggle-header-container
                .toggle-header
                  - if @selected_category
                    = @selected_category.display_name(I18n.locale).mb_chars.capitalize.to_s
                  - else
                    = t("homepage.filters.all_categories")

                = icon_tag("dropdown", ["icon-dropdown"])
            #home-toolbar-categories-menu.toggle-menu
              = link_to t("homepage.filters.all_categories"), params.merge({category: "all"})
              - @main_categories.each do |category|
                = link_to category.display_name(I18n.locale).mb_chars.capitalize.to_s, params.merge({category: category})
                - if category.children
                  - category.children.each do |child|
                    - is_selected = @selected_category == child
                    = link_to child.display_name(I18n.locale).mb_chars.capitalize.to_s, params.merge({category: child}), :class => "toggle-menu-subitem"

        / Filters
        .hidden-tablet
          - # Filters will be relocated to #desktop-filters when in desktop
          #filters
            = render :partial => "filters", :locals => { show_price_filter: @current_community.show_price_filter, show_custom_fields: @show_custom_fields }

  .row
    - if @category_menu_enabled
      .col-3.visible-tablet
        - if @show_categories
          .row
            .col-12
              = link_to t("homepage.filters.all_categories"), params.merge({category: "all"}), :class => "home-categories-main #{if @selected_category.nil? then 'selected' end}"
              - @main_categories.each do |category|
                - show_subcategories = show_subcategory_list(category, Maybe(@selected_category).id.to_i.or_else(nil))
                = link_to category.display_name(I18n.locale), params.merge({category: category}), :class => "home-categories-main #{if show_subcategories then 'selected' end} #{if category.has_subcategories? then 'has-subcategories' end}", :data => {category: category.id}
                - if category.children
                  - if show_subcategories
                    - category.children.each do |child|
                      - is_selected = @selected_category == child
                      = link_to child.display_name(I18n.locale).mb_chars.capitalize.to_s, params.merge({category: child}), :class => "home-categories-sub #{if is_selected then 'selected' end}", :data => {:"sub-category" =>child.id}

        #desktop-filters
          - # Filters will be relocated here when in desktop

    - main_container_class = if @category_menu_enabled then "col-9" else "col-12" end
    %div{:class => main_container_class}
      - if @listings.total_entries > 0
        - if @view_type.eql?("map")
          .home-map
            = render :partial => "map"
        - else
          - if @view_type.eql?("grid")
            %div{class: @category_menu_enabled ? "home-fluid-thumbnail-grid-narrow" : "home-fluid-thumbnail-grid-wide"}
              .home-fluid-thumbnail-grid
                = render :partial => "grid_item", :collection => @listings, :as => :listing
          - else
            .home-listings
              = render :partial => "list_item", :collection => @listings, :as => :listing
          .home-loading-more
            = will_paginate(@listings)
            - item_container = if @view_type.eql?("grid") then '.home-fluid-thumbnail-grid' else '.home-listings' end
            = pageless(@listings.total_pages, item_container, request.fullpath, t('.loading_more_content'))
      - else
        .home-no-listings
          - if params[:q] || params[:category] || params[:share_type] # Some filter in use
            = t(".no_listings_with_your_search_criteria")
          - else
            = t(".no_listings_notification", :add_listing_link => link_to(t(".add_listing_link_text"), new_listing_path)).html_safe
