- content_for :javascript do
  initialize_homepage(#{filters_in_use?});

.feed-navigation
  .feed-actions.actions-menu
    %a.request-link{href: new_request_path(:type => "offer")} 
      %i.ss-addfile.icon-with-text
      .text-with-icon#post_new_listing= t(".post_new_listing")
    %a.offset-link.toggle{href: '#', id: "filters-toggle", data: {toggle: '.feed-filters'}}
      %i.ss-search
    - if params[:map].present?
      %a.offset-link.list-button.toggle{href: root, title: 'List view'}
        %i.ss-list
    - else
      %a.offset-link.map-button.toggle{href: (root + '?map=true'), title: 'Map view'}
        %i.ss-maplocation

  .feed-filters.toggle-menu-feed-filters
    = form_tag({ :action => :index, :controller => :homepage}, :method => "get", :id => "homepage-filters") do
      .feed-search
        %input{name: 'q', id: 'search', value: params[:q], type: 'text', placeholder: t(".what_do_you_need")}
        %button{type: 'submit'}
          %i.ss-search.icon-with-text
          .text-with-icon.hidden= t("homepage.filters.search")
    
      .feed-filter-dropdowns#feed-filter-dropdowns
        .filter-title
          = t("homepage.filters.show")
        = render :partial => "filter_share_types"
        = render :partial => "filter_categories"
      %input{type: "hidden", name: "map", id: "hidden-map-toggle", value: params[:map]}

.feed-map-link
  - if params[:map].present?
    %a.map-link.list-button{href: root, title: 'List view'}
      %i.ss-list.icon-with-text
      .text-with-icon.hidden-text= t("homepage.filters.list")
  - else
    %a.map-link.map-button{href: (root + '?map=true'), title: 'Map view'}
      %i.ss-maplocation.icon-with-text
      .text-with-icon.hidden-text= t("homepage.filters.map")      

.homepage-feed.feed
  - unless logged_in? || @private_listing_count < 1
    .private-listing-notification
      .icon-with-text-container
        .ss-info.icon-part
        .text-part
          = t(".private_listing_notification", :listing_count => @listing_count, :private_listing_count => @private_listing_count, :log_in_link => link_to(t(".private_listing_notification_log_in"), login_path), :be_verb => (@private_listing_count > 1 ? t(".are")  : t(".is"))).html_safe
  - if params[:map].present?
    = render :partial => "map"
  - else
    - if @listings.total_entries > 0
      = render :partial => "recent_listing", :collection => @listings, :as => :listing
      = will_paginate(@listings)
      = pageless(@listings.total_pages, '.homepage-feed', request.fullpath, t('.loading_more_content'))
