#teaser
  #teaser_left
    %h1= t(".lend_rent_help_carpool")
    %p
      = render :file => community_file("teaser_welcome_text", true), :locals => {:community_name => @current_community.name_with_separator(I18n.locale)}
  #teaser_right
    #teaser_button_container
      #offer_something_button
        = link_to t('.offer_something'), new_request_path(:type => "offer")
      #teaser_button_description
        = t(".offer_something_description")
    #teaser_button_container
      #request_something_button
        = link_to t('.request_something'), new_request_path(:type => "request")
      #teaser_button_description
        = t(".request_something_description")
    #teaser_browse_links
      %p
        = t(".or_see_what_the_others")
        = link_to t(".are_offering"), offers_path
        = t(".or")
        = link_to t(".requesting"), requests_path
      
  
#recent_listings.grid_18
 
  #recent_requests.grid_9.alpha
    .recent_listings
      %h3{:class => "orange"}
        = link_to t('.recent_requests'), requests_path
      - if @requests.total_entries > 0
        = render :partial => "recent_listing", :collection => @requests, :as => :listing, :spacer_template => "request_spacer"
        = will_paginate(@requests)
        - if @requests.total_pages < 2 && @private_listings && @private_listings["request"].present? && @private_listings["request"] > 0
          .request_spacer
          = render :partial => "additional_private_listings_slate",  :locals => {:listing_type => "request", :private_listings_count =>  @private_listings["request"]}
      - else
        = render :partial => "blank_slate", :locals => { :slate_type => "request" }
  #recent_offers.grid_9.omega
    .recent_listings
      %h3{:class => "brown"}
        = link_to t('.recent_offers'), offers_path
      - if @offers.total_entries > 0
        = render :partial => "recent_listing", :collection => @offers, :as => :listing, :spacer_template => "offer_spacer"
        = will_paginate(@offers)
        - if @offers.total_pages < 2 && @private_listings && @private_listings["offer"].present? && @private_listings["offer"] > 0
          .offer_spacer
          = render :partial => "additional_private_listings_slate",  :locals => {:listing_type => "offer", :private_listings_count =>  @private_listings["offer"]}       
      - else
        = render :partial => "blank_slate", :locals => { :slate_type => "offer" }
  = pageless((@requests.total_pages > @offers.total_pages ? @requests.total_pages : @offers.total_pages), '#recent_listings', root_path, t('.loading_more_content'), true) 
  
#recent_event_box.grid_6
  .recent_events
    = render :partial => "common/staples", :locals => { :temp_class => "staples_top" }
    = render :file => community_file("frontpage_sidebar", true)
    = render :partial => "common/staples", :locals => { :temp_class => "staples_bottom" }