- content_for :javascript do
  initialize_homepage(#{filters_in_use?});

.feed-navigation
  .feed-actions.actions-menu
    %a.request-link{href: new_listing_path + "?ref=homepage"} 
      = icon_tag("new_listing", ["icon-with-text"])
      .text-with-icon#post_new_listing= t(".post_new_listing")
    %a.offset-link.toggle{href: '#', id: "filters-toggle", data: {toggle: '.feed-filters'}}
      %i.ss-search
    - if params[:map] == "true"
      %a.offset-link.list-button.toggle{href: root, title: t("homepage.filters.list")}
        %i.ss-list
    - else
      %a.offset-link.map-button.toggle{href: (root + '?map=true'), title: t("homepage.filters.map")}
        %i.ss-maplocation

  .feed-filters.toggle-menu-feed-filters
    = form_tag({ :action => :index, :controller => :homepage}, :method => "get", :id => "homepage-filters") do
      .feed-search
        %input{name: 'q', id: 'search', value: params[:q], type: 'text', placeholder: t(".what_do_you_need")}
        %button{type: 'submit'}
          .icon-with-text-container
            %i.ss-search.icon-part
            .text-part.hidden= t("homepage.filters.search")
    
      .feed-filter-dropdowns#feed-filter-dropdowns
        .filter-title
          = t("homepage.filters.show")
        = render :partial => "filter_share_types"
        = render :partial => "filter_categories"
      %input{type: "hidden", name: "map", id: "hidden-map-toggle", value: params[:map]}
      
      -#.app-store-badge
        =# link_to image_tag(@app_store_badge_filename), "https://itunes.apple.com/us/app/sharetribe/id545640772?mt=8", :title => t(".available_on_the_app_store")

.feed-map-link
  - if params[:map] == "true"
    %a.map-link.list-button{href: root, title: t("homepage.filters.list")}
      %i.ss-list.icon-with-text
      .text-with-icon.hidden-text= t("homepage.filters.list")
  - else
    %a.map-link.map-button{href: (root + '?map=true'), title: t("homepage.filters.map")}
      -# %i.ss-maplocation.icon-with-text
      = icon_tag("map", ["icon-with-text"])
      .text-with-icon.hidden-text= t("homepage.filters.map")      

.homepage-feed.feed
  - if @listing_count < 10 || (!logged_in? && @private_listing_count > 0)
    .permanent-notification.private-listing-notification
      .icon-with-text-container
        .ss-info.icon-part
        .text-part
          - if ! logged_in? && @private_listing_count > 0
            = t(".private_listing_notification", :listing_count => pluralize(@listing_count, t(".open_listing"), t(".open_listings")), :private_listing_count => @private_listing_count, :log_in_link => link_to(t(".private_listing_notification_log_in"), login_path), :be_verb => (@private_listing_count > 1 ? t(".are")  : t(".is"))).html_safe        
          - else
            = community_blank_slate
  - if params[:map] == "true"
    = render :partial => "map"
  - else
    - if @listings.total_entries > 0
      = render :partial => "recent_listing", :collection => @listings, :as => :listing
      = will_paginate(@listings)
      = pageless(@listings.total_pages, '.homepage-feed', request.fullpath, t('.loading_more_content'))
