- content_for :javascript do
  initialize_private_community_homepage('#{escape_javascript username_label}','#{t("common.password")}');

#image_header.container_12
  = render(:file => community_file("private_community_image_header", false))

#notification_container 
  = render :partial => "layouts/notifications"

#main.container_12
  #main_text.grid_7.alpha
    %h1= render :file => community_file("teaser_welcome_text_title", true)
    %p
      = render :file => community_file("teaser_welcome_text", true), :locals => {:community_name => @current_community.name_with_separator(I18n.locale)}
  .grid_5.omega
    #login_form
      = form_tag("#{APP_CONFIG.login_domain}#{sessions_path}",:action => "create") do  
        .form_field_container
          = text_field_tag "person[username]", nil, :value => session[:form_username], :class => :text_field 
        .form_field_container  
          = password_field_tag "person[password]", nil, :class => :text_field  
        .form_field_container
          = hidden_field_tag :community, @current_community.domain
          = submit_tag(t('sessions.new.login'), :class => "send_button")
        .links
          = link_to t('sessions.new.create_new_account'), sign_up_path(:private_community => true), :class => "form"
          %br/
          = link_to t('sessions.new.i_forgot_my_password'), "#", :id => "password_forgotten_link", :class => "form"
      #password_forgotten
        = render :partial => "sessions/password_forgotten"

#recent_listings.container_12 
  - if @requests.size > 0
    .grid_6.alpha
      %h2{:class => "orange_wide"}
        = t('.recent_requests')
      = render :partial => "recent_listing_sign_in_page", :collection => @requests, :as => :listing, :spacer_template => "request_spacer_wide"
      - if @total_request_count > 5
        .offer_spacer_wide
        .other_listings_info
          = t(".plus")
          = pluralize(@total_request_count - 5, t(".other_request"), t(".other_requests"))
  - if @offers.size > 0
    .grid_6.omega
      %h2{:class => "brown_wide"}
        = t('.recent_offers')
      = render :partial => "recent_listing_sign_in_page", :collection => @offers, :as => :listing, :spacer_template => "offer_spacer_wide"
      - if @total_offer_count > 5
        .offer_spacer_wide
        .other_listings_info
          = t(".plus")
          = pluralize(@total_offer_count - 5, t(".other_offer"), t(".other_offers"))