#{service_name} on Kallion oma verkkotori, jossa asukkaat voivat auttaa toisiaan eri tavoin. Täällä onnistuu muun muassa tavaroiden 
= link_to("lainaus", new_listing_path(:type => :offer, :category => :item)) + ", "
= link_to("myynti", new_listing_path(:type => :offer, :category => :item)) + ", "
= link_to("vuokraus", new_listing_path(:type => :offer, :category => :item))
ja
= link_to("vaihto", new_listing_path(:type => :offer, :category => :item)) + ", "
= link_to("kyytirinkien järjestäminen", new_listing_path(:type => :offer, :category => :rideshare))
sekä
= link_to("avun tarjoaminen", new_listing_path(:type => :offer, :category => :favor)) + " ja "
= link_to("pyytäminen", new_listing_path(:type => :request, :category => :favor))
eri arjen tilanteisiin.