- content_for :title_header do
  %h1= t("layouts.admin.admin")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h2= t("admin.communities.transactions.transactions", community_name: community.name(I18n.locale))

  %span#admin_transactions_count= page_entries_info(conversations, :model => "Transaction")

  %table#admin_transactions
    %thead
      %tr
        %th= render partial: "layouts/sort_link", locals: { column: "listing", direction: sort_link_direction("listing"), title: t("admin.communities.transactions.headers.listing") }
        - if show_status_and_sum
          %th=t("admin.communities.transactions.headers.status")
          %th=t("admin.communities.transactions.headers.sum")
        %th= render partial: "layouts/sort_link", locals: { column: "started", direction: sort_link_direction("started"), title: t("admin.communities.transactions.headers.started") }
        %th= render partial: "layouts/sort_link", locals: { column: "last_activity", direction: sort_link_direction("last_activity"), title: t("admin.communities.transactions.headers.last_activity") }
        %th=t("admin.communities.transactions.headers.initiated_by")
        %th=t("admin.communities.transactions.headers.other_party")

    %tbody
      - conversations.each do |conversation|
        %tr
          - listing_title = conversation[:listing_title] || t("admin.communities.transactions.not_available")
          %td=Maybe(conversation[:listing]).map { |listing| link_to_unless(listing[:deleted], listing_title, conversation[:listing_url]) }.or_else(listing_title)
          - if show_status_and_sum
            %td=t("admin.communities.transactions.status.#{conversation[:status]}")
            %td=conversation[:payment_total] ? humanized_money_with_symbol(conversation[:payment_total]) : ""
          %td=l(conversation[:created_at], format: :short_date)
          - last_activity_at = 0
          - if conversation[:conversation][:last_message_at].nil?
            - last_activity_at = conversation[:last_transition_at]
          - elsif conversation[:last_transition_at].nil?
            - last_activity_at = conversation[:conversation][:last_message_at]
          - else
            - last_activity_at = [conversation[:last_transition_at], conversation[:conversation][:last_message_at]].max
          %td=l(last_activity_at, format: :short_date)
          %td=Maybe(conversation[:starter]).map { |p| link_to_unless(p[:is_deleted], p[:display_name], p[:url]) }.or_else("")
          %td=Maybe(conversation[:author]).map { |p| link_to_unless(p[:is_deleted], p[:display_name], p[:url]) }.or_else("")
  .row
    .col-12
      = will_paginate conversations
