%section.content-card-section
  %h2
    = t('admin2.logos_and_color.favicon')
  .form-group
    %label
      = t('admin2.logos_and_color.favicon')
    .custom-file
      = form.file_field :favicon, accept: 'image/*', class: %i[change-file]
    %small#favicon-help.form-text
      = t('admin2.logos_and_color.favicon_info_text')
    = render 'admin2/filename', original_filename: form.object&.favicon&.original_filename, field_name: t('admin2.logos_and_color.favicon')
