.form-group
  %label
    = t('admin2.category_pages.category_meta_title')
  %small.form-text-above
    = t('admin2.category_pages.category_meta_title_info_text')
  - customizations.each do |customization|
    = form.fields_for :community_customizations, customization do |cc|
      .d-flex.multiple-languages
        %span.language
          = t("admin.communities.available_languages.#{cc.object.locale}")
        = cc.text_field :category_meta_title, maxlength: 255, class: %i[form-control], placeholder: t('admin2.category_pages.category_meta_title_placeholder')

.form-group
  %label
    = t('admin2.category_pages.category_meta_description')
  %small.form-text-above
    = t('admin2.category_pages.category_meta_description_info_text')
  - customizations.each do |customization|
    = form.fields_for :community_customizations, customization do |cc|
      .d-flex.multiple-languages
        %span.language
          = t("admin.communities.available_languages.#{cc.object.locale}")
        = cc.text_area :category_meta_description, maxlength: 65535, class: %i[form-control], placeholder: t('admin2.category_pages.category_meta_description_placeholder')
