#footer
  .container_12
    .grid_4.alpha
      %h3= t("dashboard.index.about")
      .grid_1.alpha
        .white_corner
      .grid_3.omega.footer_links
        .footer_links_left
          = link_to t("dashboard.index.home"), root
          %br/
          = link_to t("dashboard.index.faq"), faq_path
        .footer_links_right
          = link_to t("dashboard.index.blog"), "http://blog.sharetribe.com", :id => "dashboard_blog_link"
          %br/
          = link_to t("dashboard.index.contact"), "mailto:info@sharetribe.com", :id => "dashboard_contact_link_footer"
    .grid_4
      %h3= t("dashboard.index.developers")
      .grid_1.alpha
        .white_corner
      .grid_3.omega.footer_links
        = link_to t("dashboard.index.api"), api_path
        %br/
        = link_to t("dashboard.index.code"), "http://www.github.com/sharetribe/sharetribe", :id => "dashboard_github_link"
        %br/
        = link_to t("dashboard.index.issue_tracker"), "http://www.pivotaltracker.com/projects/76849", :id => "dashboard_pivotal_link"
    .grid_4.omega
      %h3= t("dashboard.index.connect")
      .grid_1.alpha
        .white_corner
      .grid_3.omega
        #connect_icons
          = link_to "#", "http://www.facebook.com/Sharetribe", :class => "left_icon facebook"
          = link_to "#", "https://twitter.com/#!/sharetribe", :class => "left_icon twitter"
          = link_to "#", "https://plus.google.com/115623351324372170386", :class => "google_plus"