#header
  .container_12
    .grid_12.alpha.omega
      #logo
        = link_to image_tag("dashboard/sharetribe_logo.png", :alt => "Sharetribe"), root
      #slogan
        = t("dashboard.index.slogan")
      #language_switch
        #select_language_form
          - if Kassi::Application.config.AVAILABLE_DASHBOARD_LOCALES.count > 1
            = form_tag("/change_locale", :method => "get") do
              = hidden_field_tag :redirect_uri, @return_to
              = select_tag 'locale', options_for_select(Kassi::Application.config.AVAILABLE_DASHBOARD_LOCALES, I18n.locale), :onchange => 'this.form.submit()', :class => 'language_select'
      #header_links
        = link_to t("dashboard.index.contact"), "mailto:info@sharetribe.com", :id => "dashboard_contact_link"
        = link_to t("dashboard.index.blog"), "http://blog.sharetribe.com"
        -# = link_to t("dashboard.index.pricing"), pricing_path
        = link_to t("dashboard.index.faq"), faq_path
        = link_to t("dashboard.index.home"), root
    