#home_more_info
  #new_stuff.container_12
    .grid_12.alpha
    #new_box
      = t("dashboard.index.new")
    #new_text
      = t("dashboard.index.new_text").html_safe
    .clear
  
  .container_12
    .grid_12.alpha
      .dashboard_spacer
    .clear
    
  .container_12
    .grid_4.alpha
      %h2= t("dashboard.index.kassi_for_your_company")
      %p= t("dashboard.index.kassi_for_your_company_description").html_safe
    .grid_4
      %h2= t("dashboard.index.kassi_for_your_city")
      %p= t("dashboard.index.kassi_for_your_city_description").html_safe
    .grid_4.omega
      %h2= t("dashboard.index.kassi_for_your_university")
      %p
        = t("dashboard.index.kassi_for_your_university_description").html_safe
        