#home_more_info
  .container_12
    %h4= t("dashboard.index.why_you_really_should_have_a_tribe") + "..."
  .container_12
    .grid_4.alpha
      %h2= t("dashboard.index.kassi_for_your_university")
      %p= t("dashboard.index.kassi_for_your_university_description").html_safe
      %p
        = t("dashboard.index.an_example")
        = t("dashboard.index.university_example_link").html_safe
    .grid_4
      %h2= t("dashboard.index.kassi_for_your_company")
      %p= t("dashboard.index.kassi_for_your_company_description").html_safe
      %p
        = t("dashboard.index.an_example")
        = t("dashboard.index.company_example_link").html_safe
    .grid_4.omega
      %h2= t("dashboard.index.kassi_for_your_city")
      %p= t("dashboard.index.kassi_for_your_city_description").html_safe
      %p
        = t("dashboard.index.an_example")
        = t("dashboard.index.city_example_link").html_safe
  .container_12
    .video_link
      = link_to t("dashboard.index.watch_the_video"), "http://www.youtube.com/watch?v=mBSYHy8v20o", :title => ""
