- content_for :javascript do
  initialize_dashboard('#{t("dashboard.index.email_default_text")}');

= render :partial => "header"

#home_main
  .container_12
    .grid_7.alpha
      #home_main_title
        %h1
          = t(".create_your_own")
          %br/
          %span.indentation
            = t(".sharing_website")
      #home_main_screenshot
        = image_tag("/images/dashboard/kassi_homepage_screenshot.png", :alt => "This is what a Kassi community looks like")
    .grid_5.omega
      %p
        = t(".main_description")
      = form_for @contact_request do |form|
        .form_field_container
          = form.label :email, t(".want_kassi_for_your_community"), :class => "dashboard"
        .form_field_container
          = form.text_field :email, :class => "text_field"
          = form.submit t(".send")
        .form_field_container
          %span.email= t(".or_drop_us_a_line")
          = image_tag("/images/dashboard/kassi_email_address.png", :alt => "Our email address", :class => "email")
        - if session[:contact_request_sent]
          #thanks
            = t(".thanks_for_contacting_us")
            
= render :partial => "lower_middle"
= render :partial => "footer"
