

<!-- ===============// header sección inicio \\================= -->
<%= render "layouts/header" %>
<!-- ===============//header sección final \\================= -->


<!-- ===============//banner sección inicio \\================= -->
<section class="banner-section style-1" style="background-image: url("<%= asset_path('banner/bg.jpg') %>")">
<div class="container">
  <div class="banner-wrapper">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8">
        <div class="banner-content text-center">
          <h2>Discover, Collect
            And Sell Amazing NFTs</h2>
          <p>Digital Marketplace For Crypto Collectibles And Non-Fungible Tokens.</p>
          <div class="banner-btns d-flex flex-wrap justify-content-center">
            <a href="all-authors.html" class="default-btn move-top"><span>Explore
                                        Now</span> </a>
            <a href="signin.html" class="default-btn style-2 move-right"><span>Create NFT</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-btns d-flex flex-wrap justify-content-center">
    <a href="#a" class="default-btn move-right"><span>Tangible Marketplace</span>
    </a>
  </div>
</div>
<div class="banner_shape">
  <div class="banner_shape__1">
    <div class="row g-3 mb-3">
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/01.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/1.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/2.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/02.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/3.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/05.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/5.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/1.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/6.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/4.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/03.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/7.jpg", alt: "banner-item Image"%>
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/01.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/1.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/2.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/02.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/3.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/02.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/7.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/2.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/6.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/4.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/03.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/9.jpg", alt: "banner-item Image"%>
        </div>
      </div>
    </div>
  </div>
  <div class="banner_shape__2">
    <div class="row g-3 mb-3">
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/01.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/1.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/2.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/02.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/3.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/05.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/5.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/1.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/6.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/4.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/03.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/7.jpg", alt: "banner-item Image"%>
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/01.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/1.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/2.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/02.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/3.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/02.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/7.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/2.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/6.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/4.jpg", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/03.gif", alt: "banner-item Image"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner_shape__item">
          <%= image_tag "nft-item/category/9.jpg", alt: "banner-item Image"%>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- ===============>> banner sección final <<================= -->



<!-- ===============>>Catergory sección inicio <<================= -->
<section class="catergory-section padding-top padding-bottom">
  <div class="container">
    <div class="section-header">
      <h3 class="header-title">Browse By Catergory</h3>
      <div class="header-content"><a href="all-authors.html"
                                     class="default-btn style-2 small-btn move-right"><span>View All
                            <i class="icofont-circled-right"></i></span></a> </div>
    </div>
    <div class="category-wrapper">
      <div class="row row-cols-2 row-cols-md-4 row-cols-xl-auto g-3">
        <div class="col">
          <div class="cat-item">
            <div class="cat-inner">
              <div class="cat-thumb">
                <%= image_tag "category/cat-1.png", alt: "Category Image"%>
              </div>
              <div class="cat-content">
                <h6><a href="all-authors.html">Art Work</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cat-item">
            <div class="cat-inner">
              <div class="cat-thumb">
                <%= image_tag "category/cat-2.png", alt: "Category Image"%>
              </div>
              <div class="cat-content">
                <h6><a href="all-authors.html">Music</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cat-item">
            <div class="cat-inner">
              <div class="cat-thumb">
                <%= image_tag "category/cat-3.png", alt: "Category Image"%>
              </div>
              <div class="cat-content">
                <h6><a href="all-authors.html">utility</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cat-item">
            <div class="cat-inner">
              <div class="cat-thumb">
                <%= image_tag "category/cat-4.png", alt: "Category Image"%>
              </div>
              <div class="cat-content">
                <h6><a href="all-authors.html">Sports</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cat-item">
            <div class="cat-inner">
              <div class="cat-thumb">
                <%= image_tag "category/cat-5.png", alt: "Category Image"%>
              </div>
              <div class="cat-content">
                <h6><a href="all-authors.html">Collectibles</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cat-item">
            <div class="cat-inner">
              <div class="cat-thumb">
                <%= image_tag "category/cat-6.png", alt: "Category Image"%>
              </div>
              <div class="cat-content">
                <h6><a href="all-authors.html">Cards</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cat-item">
            <div class="cat-inner">
              <div class="cat-thumb">
                <%= image_tag "category/cat-7.png", alt: "Category Image"%>
              </div>
              <div class="cat-content">
                <h6><a href="all-authors.html">Metaverse</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cat-item">
            <div class="cat-inner">
              <div class="cat-thumb">
                <%= image_tag "category/cat-8.png", alt: "Category Image"%>
              </div>
              <div class="cat-content">
                <h6><a href="#">Domain</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===============>>Catergory sección final <<================= -->


<!-- ===============//seller sección inicio \\================= -->
<section class="seller-section pb-100">
  <div class="container">
    <div class="section-header">
      <h3 class="header-title">Top Collectors</h3>
      <div class="header-content">
        <ul class="filter-group d-flex flex-wrap align-items-center">
          <li class="li collection-filter">
            <div class="select-wrapper arrow-blue" data-icon="&#xea99;">
              <select class="form-select " aria-label="Collection select">
                <option selected>Collections</option>
                <option value="1">Newest</option>
                <option value="2">Trending</option>
                <option value="3">Most Popular</option>
              </select>
            </div>
          </li>
          <li class="li day-filter">
            <div class="select-wrapper arrow-orange" data-icon="&#xea99;">
              <select class="form-select" aria-label="Day select">
                <option selected>Last 7 Days</option>
                <option value="1">Last 15 Day</option>
                <option value="2">Last Month</option>
                <option value="3">All Time</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="seller-wrapper">
        <div class="row g-3">
          <div class="col-xl-4 col-lg-6">
            <div class="seller-item">
              <div class="seller-inner">
                <div class="seller-part">
                  <p class="assets-number">01</p>
                  <div class="assets-owner">
                    <div class="owner-thumb veryfied">
                      <a href="author.html" class="">
                        <%= image_tag "seller/collector-2.gif", alt: "seller-img"%></a>
                    </div>
                    <div class="owner-content">
                      <h6><a href="author.html">@Ndrea _uido</a> </h6>
                      <p>3,002.98 ETH</p>
                    </div>
                  </div>
                </div>
                <span class="badge rounded-pill bg-blue">+38.78%</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="seller-item">
              <div class="seller-inner">
                <div class="seller-part">
                  <p class="assets-number">02</p>
                  <div class="assets-owner">
                    <div class="owner-thumb veryfied">
                      <a href="author.html">
                        <%= image_tag "seller/collector-1.gif", alt: "seller-img"%>
                      </a>
                    </div>
                    <div class="owner-content">
                      <h6><a href="#">goxio dom</a> </h6>
                      <p>$12,002.48</p>
                    </div>
                  </div>
                </div>
                <span class="badge rounded-pill bg-orange">-2.78%</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="seller-item">
              <div class="seller-inner">
                <div class="seller-part">
                  <p class="assets-number">03</p>
                  <div class="assets-owner">
                    <div class="owner-thumb veryfied">
                      <a href="author.html">
                        <%= image_tag "seller/collector-2.gif", alt: "seller-img"%>
                      </a>
                    </div>
                    <div class="owner-content">
                      <h6><a href="#">pter qido</a> </h6>
                      <p>$3,002.98</p>
                    </div>
                  </div>
                </div>
                <span class="badge rounded-pill bg-blue">+18.8%</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="seller-item">
              <div class="seller-inner">
                <div class="seller-part">
                  <p class="assets-number">04</p>
                  <div class="assets-owner">
                    <div class="owner-thumb veryfied">
                      <a href="author.html">
                        <%= image_tag "seller/collector-8.png", alt: "seller-img"%>
                      </a>
                    </div>
                    <div class="owner-content">
                      <h6><a href="#">drexa_3xo</a> </h6>
                      <p>$23,002.98</p>
                    </div>
                  </div>
                </div>
                <span class="badge rounded-pill bg-orange"> -23.81%</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="seller-item">
              <div class="seller-inner">
                <div class="seller-part">
                  <p class="assets-number">05</p>
                  <div class="assets-owner">
                    <div class="owner-thumb veryfied">
                      <a href="author.html">
                        <%= image_tag "seller/collector-6.png", alt: "seller-img"%>
                      </a>
                    </div>
                    <div class="owner-content">
                      <h6><a href="#">rox zipper</a> </h6>
                      <p>20,02.98 ETH</p>
                    </div>
                  </div>
                </div>
                <span class="badge rounded-pill bg-blue">+48.38%</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="seller-item">
              <div class="seller-inner">
                <div class="seller-part">
                  <p class="assets-number">06</p>
                  <div class="assets-owner">
                    <div class="owner-thumb veryfied">
                      <a href="author.html">
                        <%= image_tag "seller/collector-3.gif", alt: "seller-img"%>
                      </a>
                    </div>
                    <div class="owner-content">
                      <h6><a href="#">@Anra-_uido</a> </h6>
                      <p>$23,002.98</p>
                    </div>
                  </div>
                </div>
                <span class="badge rounded-pill bg-orange">-8.78%</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="seller-item">
              <div class="seller-inner">
                <div class="seller-part">
                  <p class="assets-number">07</p>
                  <div class="assets-owner">
                    <div class="owner-thumb veryfied">
                      <a href="author.html">
                        <%= image_tag "seller/collector-4.gif", alt: "seller-img"%>
                      </a>
                    </div>
                    <div class="owner-content">
                      <h6><a href="#">rassel_mrh </a> </h6>
                      <p>93,002.98 ETH</p>
                    </div>
                  </div>
                </div>
                <span class="badge rounded-pill bg-blue">+88.78%</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="seller-item">
              <div class="seller-inner">
                <div class="seller-part">
                  <p class="assets-number">08</p>
                  <div class="assets-owner">
                    <div class="owner-thumb veryfied">
                      <a href="author.html">
                        <%= image_tag "seller/collector-7.png", alt: "seller-img"%></a>
                    </div>
                    <div class="owner-content">
                      <h6><a href="author.html">holder don</a> </h6>
                      <p>$23,002.98</p>
                    </div>
                  </div>
                </div>
                <span class="badge rounded-pill bg-blue">+3.7%</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="seller-item">
              <div class="seller-inner">
                <div class="seller-part">
                  <p class="assets-number">09</p>
                  <div class="assets-owner">
                    <div class="owner-thumb veryfied">
                      <a href="author.html">
                        <%= image_tag "seller/collector-1.gif", alt: "seller-img"%>
                      </a>
                    </div>
                    <div class="owner-content">
                      <h6><a href="#">rub_3l</a> </h6>
                      <p>$3,002.98</p>
                    </div>
                  </div>
                </div>
                <span class="badge rounded-pill bg-blue">+31.78%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <a href="rank.html" class="default-btn move-right"><span>Go To Rank</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===============//seller sección final \\================= -->


<!-- ===============//collection sección inicio \\================= -->
<section class="collection-section padding-top padding-bottom">
  <div class="container">
    <div class="section-header">
      <h3 class="header-title">Popular Collection</h3>
      <div class="header-content"><a href="collections.html"
                                     class="default-btn style-2 small-btn move-right"><span>View All
                            <i class="icofont-circled-right"></i></span></a> </div>
    </div>
    <div class="section-wrapper">
      <div class="collection-wrapper">
        <div class="row justify-content-center g-4">
          <div class="col-lg-4 col-md-6">
            <div class="nft-item collection-item">
              <div class="nft-inner">
                <div class="coll-thumb-wrapper">
                  <div class="nft-coll-thumb ">
                    <div class="thumb-list swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="single-thumb"><img
                          src="/assets/nft-item/category/01.gif"
                          alt="cat-image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="single-thumb"><img
                          src="/assets/nft-item/category/02.gif"
                          alt="cat-image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="single-thumb"><img
                          src="/assets/nft-item/category/03.gif"
                          alt="cat-image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="nft-content">
                  <div class="collection-title">
                    <h5><a href="author.html">Radium Animated Monster</a> </h5>
                    <p>Collection has 13 items</p>
                  </div>

                  <div
                    class="author-details d-flex flex-wrap justify-content-between align-items-center">
                    <div class="single-author d-flex align-items-center">
                      <a href="author.html" class="veryfied"><img
                        src="/assets/seller/collector-4.gif" alt="author-img"></a>
                      <h6><a href="author.html">rasselmrh </a></h6>
                    </div>
                    <span class="badge rounded-pill"><i class="icofont-heart"></i>
                                                11.3k</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="nft-item collection-item">
              <div class="nft-inner">
                <div class="coll-thumb-wrapper">
                  <div class="nft-coll-thumb ">
                    <div class="thumb-list swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="single-thumb"><img
                          src="/assets/nft-item/category/1.jpg" alt="cat-image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="single-thumb"><img
                          src="/assets/nft-item/category/2.jpg" alt="cat-image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="single-thumb"><img
                          src="/assets/nft-item/category/3.jpg" alt="cat-image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="nft-content">
                  <div class="collection-title">
                    <h5><a href="author.html">Digital CryptoArt</a> </h5>
                    <p>Collection has 11 items</p>
                  </div>

                  <div
                    class="author-details d-flex flex-wrap justify-content-between align-items-center">
                    <div class="single-author d-flex align-items-center">
                      <a href="author.html" class="veryfied"><img
                        src="/assets/seller/collector-3.gif" alt="author-img"></a>
                      <h6><a href="author.html">Mimi_Chao </a></h6>
                    </div>
                    <span class="badge rounded-pill"><i class="icofont-heart"></i>
                                                1.3k</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="nft-item collection-item">
              <div class="nft-inner">
                <div class="coll-thumb-wrapper">
                  <div class="nft-coll-thumb ">
                    <div class="thumb-list swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="single-thumb"><img
                          src="/assets/nft-item/category/04.gif"
                          alt="cat-image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="single-thumb"><img
                          src="/assets/nft-item/category/05.gif"
                          alt="cat-image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="single-thumb"><img
                          src="/assets/nft-item/category/06.gif"
                          alt="cat-image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="nft-content">
                  <div class="collection-title">
                    <h5><a href="author.html">ZombieLand is alive</a> </h5>
                    <p>Collection has 14+ items</p>
                  </div>

                  <div
                    class="author-details d-flex flex-wrap justify-content-between align-items-center">
                    <div class="single-author d-flex align-items-center">
                      <a href="author.html" class="veryfied"><img
                        src="/assets/seller/collector-2.png" alt="author-img"></a>
                      <h6><a href="author.html">@xar_spacer </a></h6>
                    </div>
                    <span class="badge rounded-pill"><i class="icofont-heart"></i>
                                                4.3k</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===============//Collection sección final \\================= -->



<!-- ===============//nft sección inicio \\================= -->
<section class="process-section padding-bottom">
  <div class="container">
    <div class="section-header justify-content-center">
      <div class="header-title">
        <h3>Get Started Creating And Selling Your NFTs</h3>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="nft-sell-wrapper">
        <div class="row justify-content-center g-4">
          <div class="col-md-6">
            <div class="nft-item style-3">
              <div class="nft-inner text-center">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/style-3/01.png" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-details">
                    <h5>Set Up Your Wallet</h5>
                    <p>Once you've set up your wallet of choice, connect
                      it to NFTically by clicking the wallet icon in the top right corner.
                      Learn about the wallets we support.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="nft-item style-3">
              <div class="nft-inner text-center">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/style-3/02.png" alt="nft-img">
                </div>
                <div class="nft-content">
                  <h5>Creat Your Collection</h5>
                  <p>Click Create and set up your collection.
                    Add social links, a description, profile & banner images,
                    and set a secondary sales fee.</p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="nft-item style-3">
              <div class="nft-inner text-center">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/style-3/03.png" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-details">
                    <h5>Add Your NFTs</h5>
                    <p>Upload your work (image, video, audio, or 3D art),
                      add a title and description, and customize your NFTs with
                      properties, stats, and unlockable content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="nft-item style-3">
              <div class="nft-inner text-center">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/style-3/04.png" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-details">
                    <h5>List Them For Sale</h5>
                    <p>Choose between auctions, fixed-price listings,
                      and declining-price listings. You choose how you want to sell
                      your NFTs, and we help you sell them!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
<!-- ===============//nft sección final \\================= -->


<!-- ===============//blog sección inicio \\================= -->
<section class="blog-section pb-120">
  <div class="container">
    <div class="section-header">
      <h3 class="header-title"> NFTs Latest News</h3>
      <div class="header-content"><a href="#Noticia"
                                     class="default-btn style-2 small-btn move-right"><span>View All
                        <i class="icofont-circled-right"></i></span></a> </div>
    </div>

    <div class="section-wrapper">
      <div class="blog-wrapper">
        <div class="row justify-content-center g-4">
          <div class="col-lg-4 col-sm-6">
            <div class="nft-item blog-item">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/blog/01.jpg" alt="blog-img">
                </div>
                <div class="nft-content">
                  <div class="author-details">
                    <h4><a href="#Noticia">Learn More about NFT</a> </h4>
                    <div class="meta-info">
                      <p><span><i class="icofont-ui-calendar"></i></span>Jan 20
                        2022
                      </p>
                      <p><span><i class="icofont-user"></i></span>Ivan Ramirez
                      </p>
                    </div>
                    <a href="#Noticia"
                       class="default-btn move-right small-btn"><span>Read
                                                More</span> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="nft-item blog-item">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/blog/02.jpg" alt="blog-img">
                </div>
                <div class="nft-content">
                  <div class="author-details">
                    <h4><a href="#Noticia">Trending NFT 2022</a> </h4>
                    <div class="meta-info">
                      <p><span><i class="icofont-ui-calendar"></i></span>Feb
                        20 2022
                      </p>
                      <p><span><i class="icofont-user"></i></span>Leydy Buitrago
                      </p>
                    </div>
                    <a href="#Noticia"
                       class="default-btn move-right small-btn"><span>Read
                                                More</span> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="nft-item blog-item">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/blog/03.jpg" alt="blog-img">
                </div>
                <div class="nft-content">
                  <div class="author-details">
                    <h4><a href="#Noticia">Decentrelize Crypto... </a> </h4>
                    <div class="meta-info">
                      <p><span><i class="icofont-ui-calendar"></i></span>Feb 20
                        2022
                      </p>
                      <p><span><i class="icofont-user"></i></span>Walter Avendaño
                      </p>
                    </div>
                    <a href="#Noticia"
                       class="default-btn move-right small-btn"><span>Read
                                                More</span> </a>
                    <a name="a"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===============//blog sección final \\================= -->

<!-- ===============//banner sección inicio \\================= -->
<section class="banner-section" style="background-image: image-url('bg-3.jpg')">
  <div class="container">
    <div class="banner-wrapper">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8">
          <div class="banner-content text-center">
            <h2>Discover, Buy
              And Sell <br> A Lot Of Items</h2>
            <p class="mb-5">The Bigest Digital Marketplace For Tangible Items.</p>

            <div class="search-bar input-group mb-4">
              <input type="text" class="form-control" placeholder="Search Items..."
                     aria-label="Search our help center" aria-describedby="help-search">
              <button class="btn btn-outline-secondary" type="button" id="help-search"><i
                class="icofont-search-1"></i></button>
            </div>

            <div class="banner-btns d-flex flex-wrap justify-content-center">
              <a href="signin.html" class="default-btn move-right"><span>Create Store</span>
              </a>
            </div>
            <div class="banner-cat mt-70">
              <div class="row g-4">
                <div class="col-lg-3 col-6">
                  <div class="cat-item blured">
                    <div class="cat-inner position-relative">
                      <span class="badge bg-orange position-absolute">11.2k</span>
                      <div class="cat-thumb">r
                        <img src="/assets/category/cat-1.png" alt="Category Image">
                      </div>
                      <div class="cat-content">
                        <h6><a href="all-authors-2.html">Art Work</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-6">
                  <div class="cat-item blured">
                    <div class="cat-inner position-relative">
                      <span class="badge bg-blue position-absolute">39.3k</span>
                      <div class="cat-thumb">
                        <img src="/assets/category/cat-2.png" alt="Category Image">
                      </div>
                      <div class="cat-content">
                        <h6><a href="all-authors-2.html">Music</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-6">
                  <div class="cat-item blured">
                    <div class="cat-inner position-relative">
                      <span class="badge bg-orange position-absolute">99.2k</span>
                      <div class="cat-thumb">
                        <img src="/assets/category/cat-3.png" alt="Category Image">
                      </div>
                      <div class="cat-content">
                        <h6><a href="all-authors-2.html">Utilities</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-6">
                  <div class="cat-item blured">
                    <div class="cat-inner position-relative">
                      <span class="badge bg-blue position-absolute">101.2k</span>
                      <div class="cat-thumb">
                        <img src="/assets/category/cat-4.png" alt="Category Image">
                      </div>
                      <div class="cat-content">
                        <h6><a href="all-authors-2.html">Sports</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===============//banner sección final \\================= -->

<br>
<br>
<br>
<br>

<section class="process-section padding-bottom">
  <div class="container">
    <div class="section-header justify-content-center">
      <div class="header-title">
        <h3>Get Started Buying And Selling Your Items</h3>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="nft-sell-wrapper">
        <div class="row justify-content-center g-4">
          <div class="col-md-6">
            <div class="nft-item style-3">
              <div class="nft-inner text-center">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/style-3/01.png" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-details">
                    <h5>Set Up Your Store</h5>
                    <p>Once you've set up your wallet of choice, connect
                      it to NFTically by clicking the wallet icon in the top right corner.
                      Learn about the wallets we support.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="nft-item style-3">
              <div class="nft-inner text-center">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/style-3/02.png" alt="nft-img">
                </div>
                <div class="nft-content">
                  <h5>Create Your Desing</h5>
                  <p>Click Create and set up your collection.
                    Add social links, a description, profile & banner images,
                    and set a secondary sales fee.</p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="nft-item style-3">
              <div class="nft-inner text-center">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/style-3/03.png" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-details">
                    <h5>Add Your Products</h5>
                    <p>Upload your items (furniture, tecnology, cosmetics, or any thing you want),
                      add a title and description, and customize your store with
                      properties, stats, and unlockable content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="nft-item style-3">
              <div class="nft-inner text-center">
                <div class="nft-thumb">
                  <img src="/assets/nft-item/style-3/04.png" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-details">
                    <h5>Grow Your Sells</h5>
                    <p>Choose between auctions, fixed-price listings,
                      and declining-price listings. You choose how you want to sell
                      your products, and we help you to sell them!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>

<!-- ===============//blog sección final \\================= -->



<!-- ===============//final sección inicio \\================= -->

<!-- ===============//final sección final \\================= -->



<!-- scroll-->
<a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
<!-- scroll -->

<%= render "layouts/footer" %>