- content_for :javascript do
  initialize_campaign_page('Valitse yhdistyksesi:');

#header
  .container_12
    .grid_2.alpha
      #logo
        = image_tag("dashboard/sharetribe_logo.png", :alt => "Sharetribe")
    .grid_5
      #slogan
        = t("dashboard.index.slogan")
    .grid_5.omega

#campaign_main
  .container_12
    .grid_7.alpha
      #home_main_title
        %h1
          Yhdistyksesi
          %br/
          %span.indentation
            OMA VERKKOTORI
      .home_main_screenshot_longer
        = image_tag("dashboard/sharetribe_homepage_screenshot_taller.png", :alt => "This is what a Sharetribe community looks like")
      #home_main_screenshot_bottom
        = image_tag("dashboard/sharetribe_map_screenshot.png", :alt => "This is what a Sharetribe community looks like")
    .grid_5.omega
      %p.okl.top
        Suomen Omakotiliitto tarjoaa jäsenyhdistyksilleen
        maksuttoman palvelun, jossa asukkaat
        voivat helposti ostaa, vuokrata ja lainata
        toisilleen tavaroita, järjestää kimppakyyti-
        rinkejä sekä auttaa toisiaan eri tavoin.
      %p.okl
        Lojuuko pihallasi rakennusprojektista yli
        jääneitä tarvikkeita, sorakasa tai muuta
        ylimääräistä josta haluaisit päästä eroon?
        Onko kaappisi pullollaan vanhoja leluja ja
        lastenvaatteita? Onko sinulla työkaluja,
        joita voisit lainata muille? Osaisitko auttaa
        tietokoneongelmissa, oletko hyvä kokoamaan
        huonekaluja tai lenkittäisitkö mieluusit naapurin
        koiraa? Lisää näistä kaikista tieto Sharetribeen!
      %h2.campaign_page
        Liity yhdistyksesi yhteisöön!
      #select_community_form
        = form_tag("/change_locale", :method => "get") do
          = hidden_field_tag :redirect_uri, @return_to
          %div{:style => "font-size: 18px"}
            = select_tag 'locale', options_for_select(@communities.collect { |c| [c.name, c.full_url]}), :onchange => 'open_url(this.value)', :include_blank => "Valitse yhdistyksesi:", :class => "community_select"
      %p.okl.bottom
        Liittyäksesi Sharetribeen sinun pitää kuulua
        johonkin Omakotiliiton jäsenyhdistykseen. Jos et vielä kuulu, nyt on hyvä aika
        = link_to "liittyä!", "http://www.omakotiliitto.fi/liittymislomake", :class => "green_part_link"
      %p.okl
        Lisätietoja Sharetribe-palvelusta ja sen toiminnasta saa osoitteesta
        = image_tag("dashboard/kassi_email_address2.png", :alt => "Our email address", :class => "email")
      %p.okl
        #logos
          = image_tag("dashboard/okl_logo.png", :alt => "Suomen Omakotiliitto")
= render :partial => "lower_middle"
= render :partial => "footer"
