- content_for :javascript do
  initialize_campaign_page('Valitse kaupunginosasi:');

= render :partial => "header"

#campaign_main
  .container_12
    .grid_7.alpha
      #home_main_title
        %h1
          Kaupunginosista
          %br/
          %span.indentation
            KYLÄYHTEISÖJÄ
      .home_main_screenshot_longer
        = image_tag("dashboard/sharetribe_homepage_screenshot_taller.png", :alt => "This is what a Sharetribe community looks like")
      #home_main_screenshot_bottom
        = image_tag("dashboard/sharetribe_map_screenshot.png", :alt => "This is what a Sharetribe community looks like")
    .grid_5.omega
      %p.top.okl
        Voisivatko suurten kaupunkien kaupunginosat olla yhteisöjä, joissa ihmiset tuntevat
        naapurinsa, tekevät asioita yhdessä ja
        auttavat toisiaan tarpeen mukaan eri arjen
        tilanteissa? Kaupunginosista kyläyhteisöjä
        on hanke, jossa pyrkimyksenä on puhaltaa
        Helsingin ja Lahden kaupunginosiin hieman
        tällaista henkeä käyttäen apuna modernia
        verkkoteknologiaa.
      %p.okl
        Hankkeessa ovat mukana Kallio,Pikku
        Huopalahti ja Pitäjänmäki Helsingistä sekä
        Ankkuri, Karisto ja Mukkula Lahdesta. Kukin
        kaupunginosa saa oman Sharetribe-verkkoyhteisön, jossa
        ihmiset voivat muun muassa lainata, myydä,
        vuokrata ja vaihtaa tavaroita, järjestää kimppakyytirinkejä ja auttaa toisiaan eri tavoin.
      %h2.campaign_page
        Liity kaupunginosasi yhteisöön!
      #select_community_form
        = form_tag("/change_locale", :method => "get") do
          = hidden_field_tag :redirect_uri, @return_to
          %div{:style => "font-size: 18px"}
            = select_tag 'locale', options_for_select(@communities.collect { |c| [c.name, c.full_url]}), :onchange => 'open_url(this.value)', :include_blank => "Valitse kaupunginosasi:", :class => "community_select"
      %p.bottom.okl
        Kaupunginosista kyläyhteisöjä -hanke on
        osa World Design Capital Helsinki 2012 ja
        Helsinki 200 vuotta pääkaupunkina -juhlavuosia.
        Hankkeesta vastaa Aalto-yliopisto ja sen käytännön
        toteutuksesta Sharetribe Oy.
        = link_to("Ota yhteyttä!", "mailto:info@sharetribe.com", :class => "green_part_link_smaller")
      %p.okl
        #logos
          = image_tag("dashboard/wdc_logo.png", :alt => "World Design Capital Helsinki 2012", :class => "left_logo")
          = link_to image_tag("dashboard/helsinki200v_logo.png", :alt => "Helsinki 200 vuotta pääkaupunkina"), "http://www.helsinki200.fi/", :class => "logo_link"
= render :partial => "lower_middle"
= render :partial => "footer"
