- content_for :javascript do
  initialize_campaign_page('Select your neighborhood:');

= render :partial => "header"

#campaign_main
  .container_12
    .grid_7.alpha
      #home_main_title
        %h1
          Your neighborhood,
          %br/
          %span.indentation
            A COMMUNITY
      .home_main_screenshot_longer
        = image_tag("dashboard/sharetribe_homepage_screenshot_taller.png", :alt => "This is what a Sharetribe community looks like")
      #home_main_screenshot_bottom
        = image_tag("dashboard/sharetribe_map_screenshot.png", :alt => "This is what a Sharetribe community looks like")
    .grid_5.omega
      %p.top.okl
        Could neighborhoods of big cities be communities where people know each other, do things together and help each other out in various situations? "From Neighborhoods to Village Communities" is a project that brings this spirit to neighborhoods in Helsinki and Lahti with help of modern web technology.
      %p.okl
        The project will focus in three neighborhoods in both cities: Kallio, Pikku Huopalahti and Pitäjänmäki in Helsinki and Ankkuri, Karisto and Mukkula in Lahti. Each district gets their own Sharetribe web community where residents can lend, rent, buy and swap stuff, share rides and help each other out in various ways.
      %h2.campaign_page
        Join your neighborhood community!
      #select_community_form
        = form_tag("/change_locale", :method => "get") do
          = hidden_field_tag :redirect_uri, @return_to
          %div{:style => "font-size: 18px"}
            = select_tag 'locale', options_for_select(@communities.collect { |c| [c.name, c.full_url]}), :onchange => 'open_url(this.value)', :include_blank => "Select your neighborhood:", :class => "community_select"
      %p.bottom.okl
        "From Neighborhoods to Village Communities" project is a part of the World Design Capital Helsinki 2012 and Helsinki 200 years as capital celebrations. Aalto University is responsible for the project and Sharetribe Oy will handle practical matters.
        = link_to("Contact us!", "mailto:info@sharetribe.com", :class => "green_part_link_smaller")
      %p.okl
        #logos
          = image_tag("dashboard/wdc_logo.png", :alt => "World Design Capital Helsinki 2012", :class => "left_logo")
          = link_to image_tag("dashboard/helsinki200v_logo.png", :alt => "Helsinki 200 years as capital 2012"), "http://www.helsinki200.fi/", :class => "logo_link"
= render :partial => "lower_middle"
= render :partial => "footer"
