- listing = event_feed_event.eventable.listing
- links = {:offerer_name => (link_to event_feed_event.person1.given_name_or_username, event_feed_event.person1),
    :listing_title => (link_to(event_feed_event.eventable.listing.title, event_feed_event.eventable.listing)),
    :requester_name => (link_to event_feed_event.person2.given_name_or_username, event_feed_event.person2),
    :time_ago => time_ago(event_feed_event.created_at)}

- if listing.share_type
  = t(".has_accepted_#{listing.share_type.name}_#{listing.category.name}", links).html_safe
- else
  = t(".has_accepted_#{listing.category.name}", links).html_safe

