- content_for :javascript do
  /ST.initializeManageMembers();

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.person_background_checks.manage_background_check")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h1 Assign background checks to users
  = hidden_field_tag :community_id, params[:community_id]
  = hidden_field_tag :locale, params[:locale]
  %table.table-bordered
    %thead
      %tr
        %th Name
        %th Status
    %tbody
    - @memberships.each do |membership|
      - member = membership.person
      - unless member.blank?
        / - unless member.is_admin_of?(@current_community)
        %tr
          %td= link_to member.full_name, people_admin_community_person_background_checks_path(id: member.id)
          %td
            - @background_check_container.each do |bcc|
              - person_bcc_status = get_person_status member, bcc.id
              - person_bcc_status.each do |status|
                - person_status = get_status status
                %span{style: "background-color: #{person_status.bg_color}"} &nbsp; &nbsp; &nbsp; &nbsp;
                %span
                  = bcc.name
                  = '-'
                  = person_status.status
                %br
        

  .row
    .col-12
      = will_paginate @memberships