<br />
<% form_for :message, :url => person_inbox_messages_path(@current_user) do |f| %>
  <%= f.hidden_field :sender_id, :value => @current_user.id %>
  <%= f.hidden_field :current_conversation, :value => @conversation.id %>
  <div class="form_container">
    <div class="form_header">
      <%= t(:reply_to_message_chain) %>:
    </div>  
    <div class="form_field">
      <%= f.text_area :content, :size => "48x5" %>
    </div>
  </div>
  <div class="form_container">
    <div class="form_right">
      <%= submit_tag t(:send_message), :onclick => "this.disabled=true,this.form.submit();" %>
    </div>  
  </div>  
<% end %>
