<% form_for :message, :url => person_inbox_index_path(@current_user) do |f| %>
  <%= f.hidden_field :sender_id, :value => @current_user.id %>
  <%= f.hidden_field :current_conversation, :value => @conversation.id if @conversation %>
  <% if @listing %>
    <div id="basic_content">
      <%= t(:only_listing_author_sees_message) %>.
    </div>  
    <%= f.hidden_field :title, :value => "RE: " + @listing.title %>  
    <%= f.hidden_field :listing_id, :value => @listing.id.to_s %>
    <%= f.hidden_field :receiver_id, :value => @listing.author.id %>
    <table class="form"> 
  <% else %>
    <%= f.hidden_field :receiver_id, :value => @person.id %>
    <table class="form"> 
      <tr>
        <td><b><%= t(:title) %></b></td>
        <td><%= f.text_field :title, :size => 73 %></td>
      </tr>  
  <% end %>
      <tr>
        <td>
          <b><%= t(:message_content) %>:</b>
        </td>
        <td>
          <%= f.text_area :content, :size => "70x5" %>
        </td>  
      <tr>
      <tr>
        <td><%= submit_tag t(:send_message), :onclick => "this.disabled=true,this.form.submit();" %></td>
        <td><%= submit_tag t(:cancel), :name => "message[cancel]" %></td>
      <tr>
    </table>      
<% end %>
