<h1><%= t(:inbox) %></h1>

<h3><%= t(:received_messages)%></h3>
<table class="content_table">
<% if @received_messages && !@received_messages.empty? %>
  <tr>
    <th><%= t(:subject) %></th>
    <th><%= t(:sender) %></th>
    <th><%= t(:sent) %></th>
  </tr>  
  <%= render :partial => @received_messages %>

<% else %>  
<tr>
  <td><%= t(:no_received_messages) %></td>
</tr>
<% end %>
</table>

<h3><%= t(:sent_messages)%></h3>
<table class="content_table">
<% if @sent_messages %>
  <tr>
    <th><%= t(:subject) %></th>
    <th><%= t(:sender) %></th>
    <th><%= t(:sent) %></th>
  </tr>  
  <%= render :partial => @sent_messages %>
<% else %>  
  <tr>
    <td><%= t(:no_sent_messages) %></td>
  </tr>
<% end %>
</table>