%tr
  %td.headline
    - payer_name = "<strong>#{payer_full_name}</strong>"
    - seller_name = PersonViewUtils.person_display_name_for_type(@recipient, "first_name_only")
    - listing_link = link_to listing_title, listing_info_url
    - payment_sum = "<strong>#{payment_total}</strong>"
    = t("emails.payment_receipt_to_seller_v2.headline", payer_name: payer_name, seller_name: seller_name, listing_link: listing_link, payment_sum: payment_sum).html_safe

%tr
  %td.main-text
    - if gateway == :stripe
      = t("emails.payment_receipt_to_seller_v2.main_text_stripe")
    - else
      = t("emails.payment_receipt_to_seller_v2.main_text")

%tr
  %td.separator

%tr
  %td
    %table.price-breakdown
      %tbody
        %tr
          %td.item-name.header{colspan: 2}
            %b= t("emails.payment_receipt_to_seller_v2.price_breakdown")

        - if duration.present? || listing_quantity > 1
          %tr
            %td.item-name
              = price_per_unit_title
            %td.item-value
              = listing_price
        - if duration.present?
          %tr
            %td.item-name
              = t("emails.receipt_to_payer.duration")
            %td.item-value
              = duration
        - elsif listing_quantity > 1
          %tr
            %td.item-name
              = quantity_selector_label || t("emails.new_payment.quantity")
            %td.item-value
              = listing_quantity
        - if payment_buyer_service_fee.present?
          %tr
            %td.item-name
              %b= t("emails.payment_receipt_to_seller.subtotal")
            %td.item-value
              %b= subtotal
        - else
          %tr
            %td.item-name
              %b= t("emails.payment_receipt_to_seller.price_payer_paid", :payer_full_name => payer_given_name)
            %td.item-value
              %b= payment_total
        %tr
          %td.item-name
            = t("emails.payment_receipt_to_seller.service_fee")
          %td.item-value
            = "#{payment_service_fee}"

        - if shipping_total.present?
          %tr
            %td.item-name
              = t("emails.payment_receipt_to_seller.shipping_total")
            %td.item-value
              = shipping_total

        - if payment_gateway_fee.present? && gateway.to_s != 'stripe'
          %tr
            %td.item-name
              = t("emails.payment_receipt_to_seller.payment_gateway_fee")
            %td.item-value
              = "#{payment_gateway_fee}"

        %tr
          %td.item-name
            %b= t("emails.payment_receipt_to_seller.you_will_get")
          %td.item-value
            %b= payment_seller_gets

= render :partial => "person_mailer/action_button-v2", :locals => { :text => t("emails.conversation_status_changed.view_thread"), :url => conversation_url}
