%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.new_payment.you_have_received_new_payment", :listing_title => listing_title, :payment_sum => payment_total, :payer_full_name => payer_full_name, :payer_given_name => payer_given_name).html_safe

%tr
  %td{:align => "left", :style => "padding: 20px 0;"}
    %table{:cellpadding => 5, :cellspacing => 0, :style => "border-collapse: collapse; width: 100%"}
      %tbody
        %tr
          %td{:width => "200"}
            %b= t("emails.braintree_new_payment.product")
          %td
            = listing_title
        %tr
          %td
            %b= t("emails.braintree_new_payment.price_payer_paid", :payer_full_name => payer_given_name)
          %td= payment_total
        %tr
          %td
            %b= t("emails.braintree_new_payment.service_fee")
          %td= payment_service_fee
        %tr{:style => "border-top: 1px solid black"}
          %td
            %b= t("emails.braintree_new_payment.you_will_get")
          %td= payment_seller_gets

- if show_money_will_be_transferred_note
  %tr
    %td{:align => "left"}
      %font{body_font}
        = t("emails.braintree_new_payment.money_will_be_transferred", payer_name: payer_full_name, automatic_confirmation_days: automatic_confirmation_days)

= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.conversation_status_changed.view_thread"), :url => conversation_url}
