%tr
  %td{:align => "left"}
    %font{body_font}
      - if gateway == :stripe
        = t("emails.receipt_to_payer.stripe.you_have_made_new_payment", :listing_title => listing_title, :payment_sum => payment_total, :recipient_full_name => recipient_given_name, :service_name => community_name).html_safe
      - else
        = t("emails.receipt_to_payer.you_have_made_new_payment", :listing_title => listing_title, :payment_sum => payment_total, :recipient_full_name => recipient_given_name).html_safe

%tr
  %td{:align => "left", :style => "padding: 10px 0;"}
    %table{:cellpadding => 5, :cellspacing => 0}
      %tbody
        %tr
          %td{:width => "200"}
            %b= t("emails.receipt_to_payer.product")
          %td
            %b= listing_title
        - if duration.present? || listing_quantity > 1
          %tr
            %td{:width => "250"}
              = price_per_unit_title
            %td
              = listing_price
        - if duration.present?
          %tr
            %td{:width => "250"}
              = t("emails.receipt_to_payer.duration")
            %td
              = duration
        - elsif listing_quantity > 1
          %tr
            %td{:width => "250"}
              = quantity_selector_label || t("emails.receipt_to_payer.quantity")
            %td
              = listing_quantity
        %tr
          %td{:width => "250"}
            = t("emails.receipt_to_payer.subtotal") #listing_title
          %td
            = subtotal

        - if shipping_total.present?
          %tr
            %td
              = t("emails.paypal_new_payment.shipping_total")
            %td= shipping_total

        %tr{:style => "border-top: 1px solid black"}
          %td
            %b=t("emails.receipt_to_payer.total")
          %td
            %b= payment_total
- if show_money_will_be_transferred_note
  %tr
    %td{:align => "left"}
      %font{body_font}
        = t("emails.receipt_to_payer.money_will_be_transferred", recipient_name: recipient_full_name, automatic_confirmation_days: automatic_confirmation_days)


= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.conversation_status_changed.view_thread"), :url => conversation_url}
