%tr
  %td.person-name
    %h1
      - if @is_admin
        - transaction_link = link_to t("emails.transaction_disputed.order_about",
          listing_title: @transaction.listing.title),
          admin2_transactions_reviews_manage_transaction_url(@url_params.merge(id: @transaction.id))
        = t("emails.transaction_disputed.the_order_between_buyer_and_seller_has_been_canceled",
          buyer: PersonViewUtils.person_display_name(@transaction.starter, @transaction.community),
          seller: PersonViewUtils.person_display_name(@transaction.author, @transaction.community),
          transaction_link: transaction_link).html_safe
      - else
        - transaction_link = link_to t("emails.transaction_disputed.order_about",
          listing_title: @transaction.listing.title),
          person_transaction_url(@url_params.merge(person_id: @recipient.id, id: @transaction.id))
        = t("emails.transaction_disputed.the_order_has_been_canceled", transaction_link: transaction_link).html_safe

%tr
  %td.email-content
    %p.text-bold
      - if @is_admin
        - learn_more_link = link_to t("emails.transaction_disputed.learn_more_about"),
          "#{APP_CONFIG.knowledge_base_url}/#heading=h.e6ap8narkgk6"
        = t("emails.transaction_disputed.you_must_now_decide", learn_more_link: learn_more_link).html_safe
      - else
        = t("emails.transaction_disputed.the_marketplace_has_been_notified")

- if @is_admin
  - url = admin2_transactions_reviews_manage_transaction_url(@url_params.merge(id: @transaction.id))
  = render "person_mailer/action_button-v2", text: t("emails.transaction_disputed.review_the_transaction"), url: url
  = render 'person_mailer/cant_click', url: url
- else
  - url = new_user_feedback_url(@url_params)
  = render "person_mailer/action_button-v2", text: t("emails.transaction_disputed.contact_the_marketplace_team"), url: url
  = render 'person_mailer/cant_click', url: url

