- reply_url = person_transaction_url(@transaction.author, @url_params.merge({:id => @transaction.id.to_s}))

%tr
  %td.person-name
    - payer_name = PersonViewUtils.person_display_name(@transaction.starter, @transaction.community)
    - seller_name = PersonViewUtils.person_display_name_for_type(@transaction.listing.author, 'first_name_only')
    - listing_link = link_to @transaction.listing.title, listing_url(@url_params.merge(id: @transaction.listing_id))
    %h1
      = t("emails.common.hi", name: seller_name)
      = t("emails.transaction_preauthorized_v2.headline", requester: payer_name, listing_link: listing_link).html_safe

%tr
  %td.email-content
    %p.text-bold
      = t("emails.transaction_preauthorized.you_have_time_to_accept", :payment_expires_in => translate_time_to(payment_expires_in_unit, payment_expires_in_count))
    %ul{style: "padding-left: 10px;"}
      - if @transaction.payment_gateway == :stripe
        %li
          = t("emails.transaction_preauthorized.if_you_do_accept_stripe", requester: PersonViewUtils.person_display_name(@transaction.starter, @transaction.community), listing_title: @transaction.listing.title)
      - else
        %li
          = t("emails.transaction_preauthorized.if_you_do_accept")
      %li
        = t("emails.transaction_preauthorized.if_you_do_not_accept", requester: PersonViewUtils.person_display_name(@transaction.starter, @transaction.community))

= render :partial => "person_mailer/action_button-v2", :locals => { :text => t("emails.transaction_preauthorized.click_here_to_reply"), :url => reply_url}
