- reply_url = person_transaction_url(@transaction.author, @url_params.merge({:id => @transaction.id.to_s}))

%tr
  %td{:align => "left", :style => "padding-top: 15px; padding-bottom: 25px;"}
    %font{body_font}
      = t("emails.transaction_preauthorized.transaction_requested_by_user", :listing_title => @transaction.listing.title, :requester => PersonViewUtils.person_display_name(@transaction.starter, @transaction.community))

%tr
  %td{:align => "left", :style => "padding-bottom: 15px;"}
    %font{body_font}
      = t("emails.transaction_preauthorized.you_have_time_to_accept", :payment_expires_in => translate_time_to(payment_expires_in_unit, payment_expires_in_count))
%tr
  %td{:align => "left", :style => "padding-bottom: 15px;"}
    %font{body_font}
      %ul{style: "padding-left: 10px;"}
        - if @transaction.payment_gateway == :stripe
          %li
            = t("emails.transaction_preauthorized.if_you_do_accept_stripe", requester: PersonViewUtils.person_display_name(@transaction.starter, @transaction.community), listing_title: @transaction.listing.title)
        - else
          %li
            = t("emails.transaction_preauthorized.if_you_do_accept")
        %li
          = t("emails.transaction_preauthorized.if_you_do_not_accept", requester: PersonViewUtils.person_display_name(@transaction.starter, @transaction.community))

= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.transaction_preauthorized.click_here_to_reply"), :url => reply_url}
