= form_for @current_user, :html => {:id => 'change_mistyped_email_form'} do |form|
  %label{:for => "email"}
    = t('settings.account.new_email') + ":"
  = form.text_field(:email, :value => email_to_confirm, :class => "text_field text_field_account", :maxlenght => "255")
  = hidden_field_tag "request_new_email_confirmation", true
  = button_tag t('settings.account.change'), :class => "send_button"
