.centered-section
  %p= t('.password_recovery_instructions')
  = form_tag request_new_password_sessions_path do
    %label{:for => "email"}
      = t('.email')
    = text_field_tag("email", params[:q], :class => "text_field request_password")
    = button_tag t('.request_new_password'), :class => "send_button"

