.text
  = t('.password_recovery_instructions')
- if use_asi?
  = form_tag request_new_password_sessions_path do
    .form_field_container
      %label{:for => "email"}
        = t('.email') + ":"
      = text_field_tag("email", params[:q], :class => "text_field request_password")
    .form_field_container  
      = submit_tag t('.request_new_password'), :class => "send_button"
- else
  = form_for(Person.new, :as => "person", :url => password_path("person"), :html => { :method => :post }) do |f|
    = #devise_error_messages!
    .form_field_container
      = f.label t('.email') + ":"
      %br/
      = f.email_field :email, :class => "text_field request_password"
    .form_field_container 
      = f.submit t('.request_new_password'), :class => "send_button"

