.grid_10.prefix_7.suffix_7
  #new_message_form

    %h2
      = t("sessions.confirmation_pending.welcome_to_kassi", :community_name => @current_community.name)
    %b
      = t("sessions.confirmation_pending.check_your_email")
    
    %p
      = t("sessions.confirmation_pending.account_conrimation_instructions", :community_name => @current_community.name).html_safe
      
    %b
      = t("sessions.confirmation_pending.get_started")
    %p
      = t("sessions.confirmation_pending.getting_started_instructions", :profile_url => profile_person_settings_path(:person_id => @current_user.id)).html_safe
      
      = form_for(Person, :as => "person", :url => confirmation_path("person"), :html => { :method => :post }) do |form|
        
        = form.hidden_field :email, :value => @current_user.email
        = form.hidden_field :id, :value => @current_user.id

        = form.submit t("sessions.confirmation_pending.resend_confirmation_instructions")
      
     