<div id="login_box">
  <div class="home_content_right_box_top"></div>
  <div class="home_content_right_box_content">
    <h3 class="home_event_box_title"><%= t(:logging_in) %></h3>
    <div class="solid_line_white"></div>
    <% form_tag(:action => "create") do -%>
      <div class="login_form_br"></div>
      <div class="login_padding">
        <b><%= t(:username) %>:</b><br />
      </div>
      <div class="login_padding">
        <%= text_field_tag :username, nil, :class => :login_text %><br />
      </div>
      <div class="login_padding">  
        <b><%= t(:password) %>:</b><br />
      </div>
      <div class="login_padding">
        <%= password_field_tag :password, nil, :class => :login_text  %><br />
      </div>
      <div class="login_form_br"></div>
      <div class="login_padding">  
        <%= submit_tag t(:login), :class => "home_button home_button_narrow" %> 
      </div>      
    <% end -%>
    <div class="login_form_br"></div>
    <div class="login_padding"> 
      <%= link_to t(:create_new_account), new_person_path %> | <%= link_to_function t(:forgot_password), 
          "new Effect.toggle('forgot_password', 'blind')" %>
    </div>
    <div id="forgot_password"  style="display:none;">
      <%= render :partial => "forgot_password"%>
    </div>
  </div>
  <div class="home_content_right_box_bottom"></div>
</div>

