<h1><%= t(:logging_in) %></h1>

<div id="basic_content">

<%= error_messages_for :session %>


<!-- The login form-->

<% form_tag(:action => "create") do -%>

<div class="form_container">
  <div class="form_left">
    <%= t(:username) %>:
  </div>  
  <div class="form_right">
    <%= text_field_tag :username %>
  </div>
</div>  
<div class="form_container">    
  <div class="form_left">
    <%= t(:password) %>:
  </div>
  <div class="form_right">  
    <%= password_field_tag :password %>
  </div>
</div>

<div class="form_container">  
  <div class="form_right">
    <%= submit_tag t(:login) %>   
  </div>
</div>

<% end -%>

<!-- Forgot your password?-link -->


<div class="form_container">  
  <div class="form_right">
     <%= link_to_function t(:forgot_password), "new Effect.toggle('forgot_password', 'blind')" %>

  </div>
</div>
<div id="forgot_password"  style="display:none;">
  <%= render :partial => "forgot_password"%>
</div>



</div>

