- content_for :javascript do
  initialize_login_form(#{params[:password_forgotten]});

- content_for :title_header do
  %h1= @facebook_merge ? t('.connect_your_facebook_to_kassi') : t('.login_to_kassi')

.login-form.centered-section-narrow
  - if @facebook_merge
    .facebook-account-info
      = icon_tag("facebook", ["fb-icon"])
      .link-text
        = t(".facebook_account", :name => @facebook_name, :email => @facebook_email )
        = "#{@facebook_name} (#{@facebook_email})"
    %p
      = t('.log_in_to_link_account')
    %p
      = t('.you_can_also_create_new_account', :accont_creation_link => link_to(t(".account_creation_link_text"), create_facebook_based_people_path, :method => :post)).html_safe
    %p
      = t(".cancle_facebook_connect", :cancel_link => link_to(t(".facebook_cancel_link_text"), cancel_person_registration_path)).html_safe
    %p
      = t(".we_will_not_post_without_asking_you")
    %br/
  - if facebook_connect_in_use?
    = render :partial => "layouts/facebook_connect_button", :locals => { :button_text => t(".log_in_with_your_facebook_account") }
    %p= t(".or_sign_up_with_your_username")

  = form_tag("#{APP_CONFIG.login_domain}#{sessions_path}",:action => "create") do
    %label{:for => "login"}
      = username_or_email_label + ":"
    = text_field_tag "person[login]", nil, :value => session[:form_login], :class => :text_field, :id => :main_person_login, :autofocus => true
    %label{:for => "password"}
      = t('common.password') + ":"
    = password_field_tag "person[password]", nil, :class => :text_field, :id => :main_person_password
    = button_tag(t('.login'), :class => "send_button", :id => :main_log_in_button)
    .links
      - unless @facebook_merge
        = link_to t('.create_new_account'), (@current_community ? sign_up_path : new_tribe_path), :class => "green_part_link"
        %br/
      = link_to t('.i_forgot_my_password'), "#", :id => "password_forgotten_link", :class => "green_part_link"

#password_forgotten
  = render :partial => "sessions/password_forgotten"
