<h1><%= t(:logging_in) %></h1>

<div id="basic_content">

<%= error_messages_for :session %>

<% form_tag(:action => "create") do -%>

<div class="form_container">
  <div class="form_left">
    <%= t(:username) %>:
  </div>  
  <div class="form_right">
    <%= text_field_tag :username, params[:username] %>
  </div>
</div>  
<div class="form_container">    
  <div class="form_left">
    <%= t(:password) %>:
  </div>
  <div class="form_right">  
    <%= password_field_tag :password, params[:password] %>
  </div>
</div>
<div class="form_container">  
  <div class="form_right">
    <%= submit_tag t(:login) %>   
  </div>
</div>

<% end -%>

<p><%= t(:not_yet_otasizzle_account) %> <%= link_to t(:register_new_account), register_consent_path  %></p>

</div>

