<h3><%= flash[:notice] %></h3>
<h3>Login</h3>

<%= error_messages_for :session %>


<% form_tag(:action => "create") do -%>
    username
    <%= text_field_tag :username %>
    passu:
    <%= password_field_tag :password %>
    
    <%= submit_tag 'Login' %>
<% end -%>



