
<h3><%= flash[:notice] %></h3>
<h1><%= t(:logging_in) %></h1>


<br />

<%= render :partial => "layouts/announcements" %>

<%= error_messages_for :session %>

<% form_tag(:action => "create") do -%>


<table class="form">
    <tr>
      <td><%= t(:username) %></td>
      <td><%= text_field_tag :username %></td>
    </tr>  
    <tr>
      <td><%= t(:password) %></td>
      <td><%= password_field_tag :password %></td>
    </tr>
</table>
<table class="form">  
  <tr>
    <td><%= submit_tag t(:login) %></td>    
  </tr>
</table>

<% end -%>

