%nav.topnav
  .logo
    = link_to admin2_dashboard_index_path, class: :logo do
      = image_tag 'gap-logo.png', width: 151, alt: t('admin2.topnav.logo')

  #sidebarCollapse.mobilemenu-button
    = image_tag 'svg/hamburger-menu.svg'
    %span
      = t('admin2.topnav.menu')

  .topnav-list
    - if @current_user.is_admin?
      .nav-item
        %span.hide-mobile.nav-link
          %span.hide-mobile
            = t('admin2.topnav.marketplace_id', id: @current_community.id)

    .nav-item
      = link_to homepage_with_locale_path, class: %i[nav-link] do
        %span.hide-mobile
          = t('admin2.topnav.go_to_your')
        = t('admin2.topnav.marketplace')
          
    = render partial: 'admin2/locals', locals: header_props

    .nav-item.dropdown.avatar-menu
      %a#header-user-desktop-anchor.nav-link{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', href: '#', role: :button}
        = image_tag avatar_url, class: %i[user-avatar], alt: t('admin2.topnav.avatar')
      .dropdown-menu.dropdown-menu-right
        = link_to t('admin2.topnav.logout'), logout_path, class: %i[dropdown-item]
