.form-group
  %label
    = t('admin2.profile_pages.profile_meta_title')
  .multiple-languages-container
    - customizations.each do |customization|
      = form.fields_for :community_customizations, customization do |cc|
        .d-flex.multiple-languages
          %span.language
            = local_name(cc.object.locale)
        .multiple-languages-input
          = cc.text_field :profile_meta_title, maxlength: 255, class: %i[form-control], placeholder: t('admin2.profile_pages.profile_meta_title_placeholder', locale: cc.object.locale)
    %small.form-text
      = t('admin2.profile_pages.profile_meta_title_info_text')

.form-group
  %label
    = t('admin2.profile_pages.profile_meta_description')
  .multiple-languages-container
    - customizations.each do |customization|
      = form.fields_for :community_customizations, customization do |cc|
        .multiple-languages-language
          %span.language
            = local_name(cc.object.locale)
        .multiple-languages-input
          = cc.text_area :profile_meta_description, maxlength: 65535, class: %i[form-control], placeholder: t('admin2.profile_pages.profile_meta_description_placeholder', locale: cc.object.locale)
    %small.form-text
      = t('admin2.profile_pages.profile_meta_description_info_text')
