- content_for :title do
  = t('admin2.sidebar.seo.profile_pages')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.sidebar.seo.profile_pages')

.content-card-section-container
  = form_for @current_community, url: update_profile_page_admin2_seo_profile_pages_path, html: { class: %i[content-card-section-form], remote: true }, method: :patch do |form|
    %section.content-card-section
      %h2
        = t('admin2.profile_pages.title')
      %p.ingress
        = t('admin2.profile_pages.title_info_text', url: 'https://docs.google.com/document/d/1AdGRFAxQkc_g9UP-IUtwAwo5eOAvGGOw2md-LjybR60/#heading=h.lyf7ui4euz9h').html_safe

      - if @customizations.size == 1
        = render 'one_language', form: form, customization: @customizations.first
      - else
        = render 'many_languages', form: form, customizations: @customizations

    %section.content-card-terminal
      = render 'admin2/submit_button', caption: t('admin2.save_changes')

- content_for :extra_javascript do
  :javascript
    validateCommunityEdit(#{@current_community.id});
