= fields_for "conversation[payment_attributes][payment_rows][]", row do |payment_row_form|
  .invoice-row
    .invoice-row-left.invoice-row-text-column
      = t("payments.form.product")
    .invoice-row-right.invoice-row-text-column
      = link_to @conversation.listing.title, @conversation.listing
      
  .invoice-row
    .invoice-row-left.invoice-row-text-column
      = t("payments.form.price")
    .invoice-row-symbol
      = @conversation.listing.price_symbol
    .invoice-row-right
      = payment_row_form.text_field :sum, :value => values[:sum], :class => "invoice-sum-field"
  
  .invoice-row
    .invoice-row-left.invoice-row-text-column
      = t("payments.form.service_fee")
    .invoice-row-right.invoice-row-text-column
      = "#{@conversation.listing.price_symbol}#{@current_community.service_fee_for(@conversation.listing)}"
      
  .invoice-row
    .invoice-row-left.invoice-row-text-column
      = t("payments.form.you_will_get")
    .invoice-row-right.invoice-row-text-column
      = "#{@conversation.listing.price_symbol}#{@current_community.price_seller_gets_for(@conversation.listing)}"