- content_for :title do
  = t('admin2.sidebar.design.landing_page')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.sidebar.design.landing_page')
.content-card-section-container
  %section.content-card-section
    %h2
      = t('admin2.landing_page.header')
    %p.ingress
      = t('admin2.landing_page.info_text_1')
    %p.ingress
      = t('admin2.landing_page.info_text_2')
  %section.content-card-terminal
    = link_to t('admin2.landing_page.btn_text'), 'https://www.sharetribe.com/landingpage/', class: %i[btn btn-secondary], target: :_blank
