= fields_for stripe_account_form do |form|
  = form.hidden_field :token
  .row
    .col-12
      = form.label :address_line1, t("stripe_accounts.form_new.address_line1")+"*", class: 'required'
      = form.text_field :address_line1, class: 'required'
  .row.country-dependent{"data-country-except" => "IE,HK"}
    .col-12
      = form.label :address_postal_code, t("stripe_accounts.form_new.address_postal_code")+"*"
      = form.text_field :address_postal_code, class: 'required'
  .row
    .col-12
      = form.label :address_city, t("stripe_accounts.form_new.address_city")+"*"
      = form.text_field :address_city, class: 'required'
  .row.country-dependent{"data-country-only" => "AU,IE,US"}
    .col-12
      = form.label :address_state, t("stripe_accounts.form_new.address_state")+"*"
      = form.text_field :address_state
  .row.country-dependent{"data-country-only" => "CA"}
    .col-12
      = form.label :address_state, t("stripe_accounts.form_new.address_province")+"*"
      = form.text_field :address_state
