- stripe_seller_ready = stripe_account[:stripe_seller_id].present? ? true : nil
= fields_for stripe_bank_form do |form|
  .row.bank-routing-1.hidden
    .col-12
      = form.label :bank_routing_1, t("stripe_accounts.form_bank.bank_routing_1")+"*"
      = form.text_field :bank_routing_1, class: 'required', country_regexp: 'routing_1',
        'stripe-bank-account-ready': stripe_seller_ready
  .row.bank-routing-2.hidden
    .col-12
      = form.label :bank_routing_2, t("stripe_accounts.form_bank.bank_routing_2")+"*"
      = form.text_field :bank_routing_2, class: 'required', country_regexp: 'routing_2',
        'stripe-bank-account-ready': stripe_seller_ready
  .row.bank-routing-number.hidden
    .col-12
      = form.label :bank_routing_number, t("stripe_accounts.form_bank.bank_routing_number")+"*"
      = form.text_field :bank_routing_number, class: 'required', country_regexp: 'routing_number',
        'stripe-bank-account-ready': stripe_seller_ready
  .row.bank-account-number.country-dependent{"data-country-except" => "NZ"}
    .col-12
      = form.label :bank_account_number, t("stripe_accounts.form_bank.bank_account_number")+"*"
      = form.text_field :bank_account_number, class: 'required',
        value: stripe_seller_account[:bank_number_info] || form.object.bank_account_number,
        country_regexp: 'account_number',
        'stripe-bank-account-ready': stripe_seller_ready
  .row.bank-account-number.country-dependent{"data-country-only" => "NZ"}
    .col-12
      = form.label :bank_account_number_common, t("stripe_accounts.form_bank.bank_account_number")+"*"
      = form.text_field :bank_account_number_common, class: 'required',
        value: stripe_seller_account[:bank_number_info] || form.object.bank_account_number_common,
        country_regexp: 'account_number',
        'stripe-bank-account-ready': stripe_seller_ready
  - if stripe_seller_ready
    .row
      .col-12
        = label_tag :update_also_bank_account do
          = check_box_tag :update_also_bank_account, 1, false
          = t("stripe_accounts.form_bank.update_also_bank_account")
- content_for :extra_javascript do
  :javascript
    window.ST.stripe_form_i18n = #{I18n.t("stripe_accounts.form_bank.messages").to_json.html_safe};
