- create_paypal_link = link_to(t("paypal_accounts.create_paypal_account_link_text"),
                               create_url, target: "_blank")
- upgrade_paypal_link = link_to(t("paypal_accounts.upgrade_paypal_account_link_text"),
                                upgrade_url, target: "_blank")
- paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"

= render partial: "paypal_accounts/paypal_info", locals: { create_paypal_account_link: create_paypal_link,
    upgrade_paypal_account_link: upgrade_paypal_link,
    paypal_account_linked: next_action != :ask_order_permission,
    receive_funds_info_label_tr_key: receive_funds_info_label_tr_key,
    receive_funds_info_tr_key: receive_funds_info_tr_key,
    commission_required: commission_type != :none }

- if next_action == :ask_order_permission
  - content_for :javascript do
    ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}", ".js-paypal-redirect-order-permission");

  .row.paypal-follow-steps
    .col-12
      = t("paypal_accounts.new.follow_steps")

  .row.paypal-wizard
    .col-12
      .paypal-wizard-content
        .row
          .col-12
            %h3.paypal-wizard-step
              =t("paypal_accounts.new.connect_paypal_account_title_with_step", current_step: 1, total_steps: 2)
        .row
          .col-12
            =t("paypal_accounts.new.connect_paypal_account_instructions")
        .row.send-button-wrapper.without-margin
          .col-12
            %button#ask_paypal_permissions
              = t("paypal_accounts.new.connect_paypal_account")
        .row.js-paypal-redirect-order-permission.hidden
          .col-12
            .paypal-redirect-message

              = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe
- elsif next_action == :ask_billing_agreement
  - content_for :javascript do
    ST.initializeNewPaypalAccountHandler("ask_billing_agreement", "#{billing_agreement_action}", ".js-paypal-redirect-billing-agreement");
    ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}", ".js-paypal-redirect-change-account");
  - if commission_type != :none # only warn if the marketplace charges a commission
    .row.paypal-follow-steps
      .col-12
        = t("paypal_accounts.new.follow_steps")

  .row.paypal-wizard
    .col-12
      .paypal-wizard-content
        = render partial: "layouts/paypal_account_connected", locals: {paypal_account_email: paypal_account[:email],
            paypal_redirect_link: paypal_redirect_link}
      .paypal-wizard-divider
      .paypal-wizard-content
        .row
          .col-12
            %h3.paypal-wizard-step
              = t("paypal_accounts.new.paypal_account_billing_agreement_with_step", current_step: 2, total_steps: 2)
        .row
          .col-12
            - paypal_info_link = "<a id='paypal_fee_info_link' href='#'>#{t("paypal_accounts.new.paypal_info_link_text")}</a>"
            - if commission_type == :both # TODO: Tweak copy
              = render :partial => "layouts/info_text", :locals => {text: t("paypal_accounts.new.paypal_account_billing_agreement_info_both",
                commission_from_seller: commission_from_seller,
                minimum_commission: MoneyViewUtils.to_humanized(minimum_commission),
                paypal_info_link: paypal_info_link).html_safe }
            - elsif commission_type == :relative
              = render :partial => "layouts/info_text", :locals => {text: t("paypal_accounts.new.paypal_account_billing_agreement_info_relative",
                commission_from_seller: commission_from_seller,
                paypal_info_link: paypal_info_link).html_safe }
            - elsif commission_type == :fixed
              = render :partial => "layouts/info_text", :locals => {text: t("paypal_accounts.new.paypal_account_billing_agreement_info_fixed",
                minimum_commission: MoneyViewUtils.to_humanized(minimum_commission),
                paypal_info_link: paypal_info_link).html_safe }
            - else # no commission fee
              = render :partial => "layouts/info_text", :locals => {text: t("paypal_accounts.new.paypal_account_billing_agreement_info_none",
                paypal_info_link: paypal_info_link).html_safe }
        .row.send-button-wrapper.without-margin
          .col-12
            %button.send_button#ask_billing_agreement
              = t("paypal_accounts.new.billing_agreement")
        .row.js-paypal-redirect-billing-agreement.hidden
          .col-12
            .paypal-redirect-message
              - paypal_redirect_link = "<a href='#' id='ask_billing_agreement_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
              = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe
        = render layout: "layouts/lightbox", locals: { id: "paypal_fee_info_content"} do
          %h2= t("common.paypal_fee_info.title")
          - text_with_line_breaks_html_safe do
            - link_to_paypal = link_to(t("common.paypal_fee_info.link_to_paypal_text"), paypal_fees_url, target: "_blank")
            = t("common.paypal_fee_info.body_text", link_to_paypal: link_to_paypal).html_safe

        - content_for :extra_javascript do
          :javascript
            $('#paypal_fee_info_link').click(function() { $('#paypal_fee_info_content').lightbox_me({centered: true, zIndex: 1000000}); });
- else

  - content_for :javascript do
    ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}", ".js-paypal-redirect-change-account");
  .row.paypal-wizard
    .col-12
      .paypal-wizard-content
        .row
          .col-12
            %h3.paypal-wizard-step-complete
              = t("paypal_accounts.paypal_account_all_set_up")
        .row
          .col-12
            =t("paypal_accounts.can_receive_payments")
        .row.paypal-first-steps-list
          .col-12
            =icon_tag("check", ["icon-fix", "paypal-success-mark"])
            =t("paypal_accounts.paypal_account_connected_summary", :email => paypal_account[:email])
        .row.paypal-last-steps-list
          .col-12
            =icon_tag("check", ["icon-fix", "paypal-success-mark"])
            =t("paypal_accounts.paypal_permission_granted_summary")
        .row.paypal-link-wrapper
          .col-12
            %a.paypal-change-link#ask_paypal_permissions
              = t("paypal_accounts.change_account")
        .row.hidden.js-paypal-redirect-change-account
          .col-12
            .paypal-redirect-message
              - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
              = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe
