= fields_for stripe_account_form do |form|
  .row.country-dependent{"data-country-only" => "US"}
    .col-12
      = label_tag :ssn_last_4, t("stripe_accounts.form_pin.ssn_last_4")+"*"
      = form.text_field :ssn_last_4, placeholder: '1234', required: true
  .row.country-dependent{"data-country-only" => "HK"}
    .col-12
      = label_tag :personal_id_number, t("stripe_accounts.form_pin.hong_kong_identity_card")+"*"
      = form.text_field :personal_id_number, placeholder: 'XY123456', required: true
  .row.country-dependent{"data-country-only" => "SG"}
    .col-12
      = label_tag :personal_id_number, t("stripe_accounts.form_pin.singapore_identity_card")+"*"
      = form.text_field :personal_id_number, placeholder: 'X1234567Y', required: true

