= javascript_include_tag "#{STRIPE_JS_HOST}/v3/"
- stripe_seller_ready = stripe_account[:stripe_seller_id].present?
- if stripe_seller_ready
  - if stripe_account[:stripe_bank_id].present?
    .row
      .col-12
        %h3.paypal-account-connected
          =icon_tag("check", ["icon-fix"])
          =t("stripe_accounts.stripe_bank_connected")
        %p
          =t("stripe_accounts.stripe_can_accept")

    .row
      = link_to t("stripe_accounts.form_new.edit"), "#", id: "edit-stripe-info"
  - elsif !paypal_enabled
    .row
      .col-12
        %h3= t("payment_settings.credit_card")
        %p 
          = t("payment_settings.credit_card_bank_details")
        %p
          = link_to t("payment_settings.add_bank_details"), '#', id: "edit-stripe-info"


  %div.hidden#stripe_forms
    .row.paypal-wizard.connect-row
      .col-12
        .paypal-wizard-content.connect-row
          = form_tag update_person_payment_settings_path(@current_user),
            id: "stripe-account-form", multipart: true, method: :put do
            = hidden_field_tag "stripe_account_form_address_country", stripe_seller_account[:address_country]
            = fields_for stripe_account_form do |form|
              = form.date_select :birth_date, { discard_day: true, discard_month: true, discard_year: true }
              .row
                .col-12
                  = form.error_messages
              .row
                .col-6
                  = form.label :first_name, t("stripe_accounts.form_new.first_name")+"*"
                  = form.text_field :first_name, class: 'required'
                .col-6
                  = form.label :last_name, t("stripe_accounts.form_new.last_name")+"*"
                  = form.text_field :last_name, class: 'required'
            .row
              .col-12
                = label_tag t("stripe_accounts.form_new.country")
                = CountryI18nHelper.translate_country(stripe_seller_account[:address_country])

            = render partial: 'address_fields_form', locals: {stripe_account_form: stripe_account_form, available_countries: available_countries}

            = render partial: 'bank_fields_form', locals: {stripe_bank_form: stripe_bank_form, stripe_account: stripe_account, stripe_seller_account: stripe_seller_account, stripe_mode: stripe_mode}

            = render partial: 'verification_fields_form', locals: {stripe_account_form: stripe_account_form, seller_needs_verification: seller_needs_verification}

            .col-4
              = link_to t('stripe_accounts.form_new.cancel'), person_payment_settings_path(@current_user), style: 'float: right; margin-top: 1.5em'
              = button_tag t('stripe_accounts.form_new.save_details')
  - content_for :extra_javascript do
    :javascript
      $(function(){ 
      $("#edit-stripe-info").click(function(){
        $("#stripe_forms").toggleClass("hidden");
        $("#edit-stripe-info").hide();
        return false;
      });
      if(#{stripe_account[:stripe_bank_id].blank? || flash[:error].present?}) {
        $("#edit-stripe-info").hide();
        $("#stripe_forms").toggleClass("hidden");
      }})
- else
  %p
    = t("stripe_accounts.form_new.need_info")
  .row.paypal-wizard.connect-row
    %div
      .paypal-wizard-content.connect-row
        .col-12
          = form_tag create_person_payment_settings_path(@current_user), id: "stripe-account-form", multipart: true do
            = fields_for stripe_account_form do |form|
              .row
                .col-12
                  = form.error_messages
              .row
                .col-6
                  = form.label :first_name, t("stripe_accounts.form_new.first_name")+"*"
                  = form.text_field :first_name, class: 'required'
                .col-6
                  = form.label :last_name, t("stripe_accounts.form_new.last_name")+"*"
                  = form.text_field :last_name, class: 'required'

              .row
                .col-12
                  = form.label :birth_date, t("stripe_accounts.form_new.birth_date")+"*"
                  = form.date_select :birth_date, {:start_year => Date.current.year-18, :end_year => 1920, order: [:day, :month, :year], :use_month_names => I18n.t("datepicker.months").values}, class: 'required'
              .row
                .col-2
                  = form.label :address_country, t("stripe_accounts.form_new.address_country")+"*"
                  = form.select :address_country, available_countries, {prompt: t("stripe_accounts.form_new.select_country")}, {style: "min-width: 200px"}

            .country-dependent{"data-country-except" => "XXX"}
              = render partial: 'address_fields_form', locals: {stripe_account_form: stripe_account_form, available_countries: available_countries}

            .country-dependent{"data-country-except" => "XXX"}
              = render partial: 'bank_fields_form', locals: {stripe_bank_form: stripe_bank_form, stripe_account: stripe_account, stripe_seller_account: stripe_seller_account, stripe_mode: stripe_mode}

            = render 'personal_id_number', stripe_account_form: stripe_account_form

            = render partial: 'verification_fields_form', locals: {stripe_account_form: stripe_account_form, seller_needs_verification: seller_needs_verification}

            .country-dependent{"data-country-except" => "XXX"}
              - base_terms_url = "https://stripe.com/COUNTRY/connect-account/legal#translation"
              - stripe_link = link_to t("stripe_accounts.form_new.tos_link_title"), base_terms_url, target: "_blank", data: {terms_url: base_terms_url}, id: "stripe-terms-link"
              = t("stripe_accounts.form_new.tos_link", stripe_link: stripe_link ).html_safe

              = button_tag t('stripe_accounts.form_new.save_details')

- stripe_data = stripe_default_data
- stripe_data = stripe_data.merge(update: true) if stripe_seller_ready
- content_for :extra_javascript do
  :javascript
    $(function() {
      window.ST.initStripeBankForm(#{stripe_data.to_json.html_safe});
    });

