- if seller_verfication_fields.any?
  %h3
    = t("stripe_accounts.form_verification.need_verification")

  - id_number_field = FeatureFlagHelper.feature_enabled?(:new_stripe_api) ? :id_number : :personal_id_number
  = fields_for :stripe_account_form do |form|
    - if seller_verfication_fields.include?('legal_entity.personal_id_number')
      .row.country-dependent{"data-country-only" => "US"}
        .col-12
          = label_tag :personal_id_number, t("stripe_accounts.form_pin.social_security_number")+"*"
          = form.text_field :personal_id_number, placeholder: '123456789', required: true
    - if seller_verfication_fields.include?('legal_entity.verification.document')
      .row
        .col-12
          = label_tag :document, t("stripe_accounts.form_verification.document")
          = form.file_field :document, required: true

