- content_for :title_header do
  %h1= t("layouts.no_tribe.inbox")

- content_for :extra_javascript do
  :javascript
    (function() {
      var btn = $('#send_testimonial_button');

      $('#accept').click(function() {
        btn.text('#{t("conversations.accept.accept")}');
      });

      $('#reject').click(function() {
        btn.text('#{t("conversations.accept.decline")}');
      });

      style_action_selectors();
    })();
.conversation-status-form.centered-section
  %h2= t("conversations.accept.details")

  %h3= link_to_unless listing.deleted?, listing.title, listing

  - if orderer
    %p= t("conversations.accept.order_by",
          orderer_link: link_to_unless(orderer.deleted?, PersonViewUtils.person_display_name(orderer, @current_community), orderer)).html_safe

  - if booking
    %p
      = render partial: "transactions/details/booking", locals: { booking: booking, price_per_day: listing.price }

  .conversation-price-info
    .conversation-totals
      .conversation-sum-wrapper
        %span.conversation-sum-label
          = t("conversations.accept.sum_label")
        %span.conversation-sum-value
          = humanized_money_with_symbol(sum)
      .conversation-service-fee-wrapper
        %span.conversation-service-fee-label
          = t("conversations.accept.service_fee_label")
        %span.conversation-service-fee-value
          = "-#{humanized_money_with_symbol(fee)}"

      - if shipping_price
        .conversation-shipping-price-wrapper
          %span.conversation-shipping-price-label
            = t("conversations.accept.shipping_price_label")
          %span.conversation-shipping-price-value
            = humanized_money_with_symbol(shipping_price)

      - if payment_gateway == :paypal
        .conversation-total-wrapper
          %span.conversation-total-label
            = t("conversations.accept.total_label")
          %span.conversation-total-paypal-value
            = t("conversations.accept.total_value", seller_gets: humanized_money_with_symbol(seller_gets))

      - else
        .conversation-total-wrapper
          %span.conversation-total-label
            = t("conversations.accept.you_will_get_label")
          %span.conversation-total-value
            = humanized_money_with_symbol(seller_gets)

    - if payment_gateway == :paypal
      %p
        = t("conversations.accept.paypal_fee_info", fee_info_link_id: "paypal_fee_info_link").html_safe

      = render layout: "layouts/lightbox", locals: { id: "paypal_fee_info_content"} do
        %h2= t("common.paypal_fee_info.title")
        - text_with_line_breaks_html_safe do
          = t("common.paypal_fee_info.body").html_safe

      - content_for :extra_javascript do
        :javascript
          $('#paypal_fee_info_link').click(function() { $('#paypal_fee_info_content').lightbox_me({centered: true, zIndex: 1000000}); });


  = render partial: "transactions/shipping_address", locals: { shipping_address: shipping_address }

  = form_for form, :url => form_action, :html => { :method => "put" } do |form|

    .conversation-action
      %label{:for => "action-accept", :class => "radio hidden"}
        = radio_button_tag "listing_conversation[status]", "paid", preselected_action.eql?("accept"), :id => "accept-link"
      %a.conversation-action{:id => "accept", :name => "accept-link", :class => (preselected_action.eql?("accept") ? "accept" : "")}
        .link-icon{:class => icon_for("accepted")}
        .link-text{:id => "accept-action-link"}= t("conversations.accept.accept_request")

      %label{:for => "action-reject", :class => "radio hidden"}
        = radio_button_tag "listing_conversation[status]", "rejected", preselected_action.eql?("reject"), :id => "reject-link"
      %a.conversation-action{:id => "reject", :name => "reject-link", :class => (preselected_action.eql?("reject") ? "reject" : "")}
        .link-icon{:class => icon_for("rejected")}
        .link-text{:id => "reject-action-link"}= t("conversations.accept.reject_request")

    %div
      = fields_for "listing_conversation[message_attributes]", Message.new do |message_form|
        = message_form.label :content, t("conversations.new.message"), :class => "input"
        = message_form.text_area :content, :class => "text_area", :placeholder => t("conversations.accept.optional_message")
        = message_form.hidden_field :sender_id, :value => @current_user.id

      - initial_send_label = preselected_action == "accept" ? t('conversations.accept.accept') : t('conversations.accept.decline')
      = form.button initial_send_label, :class => "send_button", :id => "send_testimonial_button"
