- content_for :title_header do
  %h1= t("layouts.no_tribe.inbox")

- content_for :extra_javascript do
  :javascript
    (function() {
      var btn = $('#send_testimonial_button');

      $('#accept').click(function() {
        btn.text('#{t("conversations.accept.accept")}');
      });

      $('#reject').click(function() {
        btn.text('#{t("conversations.accept.decline")}');
      });

      style_action_selectors();
    })();
.conversation-status-form.centered-section
  %h2= t("conversations.accept.respond_to_#{discussion_type}")

  %p
    = t("conversations.accept.sum", :sum => humanized_money_with_symbol(sum))
  %p
    = t("conversations.accept.service_fee", :service_fee => humanized_money_with_symbol(fee))
  %p
    %strong
      = t("conversations.accept.you_will_get", :seller_gets => humanized_money_with_symbol(seller_gets))

  = form_for form, :url => form_action, :html => { :method => "put" } do |form|

    .conversation-action
      %label{:for => "action-accept", :class => "radio hidden"}
        = radio_button_tag "listing_conversation[status]", "paid", preselected_action.eql?("accept"), :id => "accept-link"
      %a.conversation-action{:id => "accept", :name => "accept-link", :class => (preselected_action.eql?("accept") ? "accept" : "")}
        .link-icon{:class => icon_for("accepted")}
        .link-text{:id => "accept-action-link"}= t("conversations.accept.accept_#{discussion_type}")

      %label{:for => "action-reject", :class => "radio hidden"}
        = radio_button_tag "listing_conversation[status]", "rejected", preselected_action.eql?("reject"), :id => "reject-link"
      %a.conversation-action{:id => "reject", :name => "reject-link", :class => (preselected_action.eql?("reject") ? "reject" : "")}
        .link-icon{:class => icon_for("rejected")}
        .link-text{:id => "reject-action-link"}= t("conversations.accept.reject_#{discussion_type}")

    %div
      = fields_for "listing_conversation[message_attributes]", Message.new do |message_form|
        = message_form.label :content, t("conversations.new.message"), :class => "input"
        = message_form.text_area :content, :class => "text_area", :placeholder => t("conversations.accept.optional_message")
        = message_form.hidden_field :sender_id, :value => @current_user.id

      - initial_send_label = preselected_action == "accept" ? t('conversations.accept.accept') : t('conversations.accept.decline')
      = form.button initial_send_label, :class => "send_button", :id => "send_testimonial_button"
