= t("emails.newsletter.newest_offers")
- @offers.each do |offer|
  = offer.title

= t("emails.newsletter.newest_requests")
- @requests.each do |request|
  = request.title

= t("emails.newsletter.text_version_text", :url => @community.full_url)
