%tr
  %td.person-name
    - user_name = PersonViewUtils.person_display_name_for_type(@recipient, "first_name_only")
    %h1
      = t("emails.common.hi", name: user_name)
      = t("emails.community_updates_v2.headline")

%tr
  %td.email-content
    %p= t("emails.community_updates_v2.intro_paragraph", count: @number_of_days).html_safe

%tr
  %td.email-listings
    %table
      %tbody
        = render :partial => "community_update_listing-v2", :collection => @listings, :as => :listing

= render :partial => "person_mailer/action_button-v2", :locals => { :text => t("homepage.index.post_new_listing"), :url => new_request_without_locale_url(@url_params.merge({:type => "offer"})), :align => "center"}
