- disabled_fee = !stripe_enabled_by_admin || !stripe_allowed

.form-group
  = form.label :commission_from_seller, t('admin2.stripe.commission_from_seller')
  .input-group
    = form.text_field :commission_from_seller, class: %i[form-control], required: true, number_min: 0, number_max: 99, number_no_decimals: true, disabled: disabled_fee,
                      'data-msg-number_max': t("admin2.stripe.the_transaction_fee_must_be_lower_than_100"), style: 'border-radius: 4px 0 0 4px'
    .input-group-append{class: disabled_fee ? 'disabled' : ''}
      %span.input-group-text %
  - if disabled_fee
    %small.form-text
      = t('admin2.stripe.enable_first_stripe_fee_keys', url: '#stripe-api-settings').html_safe

.form-group
  = form.label :commission_from_seller, t('admin2.stripe.minimum_transaction_fee')
  .input-group
    - max_tx_fee = payment_prefs_form.minimum_listing_price.to_f
    - max_tx_fee = max_tx_fee - 0.01 if max_tx_fee > 0.01
    = form.text_field :minimum_transaction_fee, class: %i[form-control], required: true, number_max: max_tx_fee, number_min: 0, disabled: disabled_fee,
                      'data-msg-number_max': t("admin2.stripe.fee_should_be_less_than_minimum_price"), style: 'border-radius: 4px 0 0 4px'

    .input-group-append{class: disabled_fee ? 'disabled' : ''}
      %span.input-group-text= currency
  %small.form-text
    - if disabled_fee
      = t('admin2.stripe.enable_first_stripe_fee_keys', url: '#stripe-api-settings').html_safe
    - else
      = t('admin2.stripe.minimum_transaction_size', url: admin2_payment_system_transaction_size_index_path, sum: "#{payment_prefs_form.minimum_listing_price} #{currency}").html_safe

.form-group
  - buyer_disabled = paypal_enabled && paypal_allowed && paypal_connected && paypal_enabled_by_admin || disabled_fee
  = form.label :commission_from_buyer, t('admin2.stripe.commission_from_buyer')
  .input-group
    = form.text_field :commission_from_buyer, class: %i[form-control], disabled: buyer_disabled, style: 'border-radius: 4px 0 0 4px',
                      number_min: 0, number_max: 99, number_no_decimals: true, 'data-msg-number_max': t("admin2.stripe.the_buyer_transaction_fee_must_be_lower_than_100")
    .input-group-append{class: buyer_disabled ? 'disabled' : ''}
      %span.input-group-text %
  - if disabled_fee
    %small.form-text
      = t('admin2.stripe.enable_first_stripe_fee_keys', url: '#stripe-api-settings').html_safe
  - elsif buyer_disabled
    %small.form-text
      = t('admin2.stripe.disable_paypal', url: admin2_payment_system_paypal_index_path(anchor: 'paypal-account-settings')).html_safe

.form-group
  = form.label :minimum_buyer_transaction_fee, t('admin2.stripe.minimum_buyer_transaction_fee')
  .input-group
    = form.text_field :minimum_buyer_transaction_fee, class: %i[form-control], disabled: buyer_disabled, style: 'border-radius: 4px 0 0 4px',
                      number_max: max_tx_fee, number_min: 0, 'data-msg-number_max': t("admin2.stripe.buyer_fee_should_be_less_than_minimum_price")

    .input-group-append{class: buyer_disabled ? 'disabled' : ''}
      %span.input-group-text= currency
  %small.form-text
    - if disabled_fee
      = t('admin2.stripe.enable_first_stripe_fee_keys', url: '#stripe-api-settings').html_safe
    - elsif buyer_disabled
      = t('admin2.stripe.disable_paypal', url: admin2_payment_system_paypal_index_path(anchor: 'paypal-account-settings')).html_safe
    - else
      = t('admin2.stripe.minimum_transaction_size', url: admin2_payment_system_transaction_size_index_path, sum: "#{payment_prefs_form.minimum_listing_price} #{currency}").html_safe

:javascript
  $(document).ready(function() {
    add_validator_methods();
    $("#new_payment_preferences_form").validate({
      errorPlacement: function(error, element) {
        error.appendTo(element.parents('.form-group')).addClass('form-text');
      },
    });
  });
