.form-group
  = label_tag :commission_from_seller, t('admin2.stripe.commission_from_seller')
  .input-group
    = text_field_tag :commission_from_seller, '', class: %i[form-control], disabled: true, style: "border-radius: 4px 0 0 4px"
    .input-group-append.disabled
      %span.input-group-text %
  %small.form-text
    = t('admin2.stripe.set_stripe_fee_keys', url: '#stripe-api-settings').html_safe

.form-group
  = label_tag :minimum_transaction_fee, t('admin2.stripe.minimum_transaction_fee')
  .input-group
    = text_field_tag :minimum_transaction_fee, '', class: %i[form-control], disabled: true, style: "border-radius: 4px 0 0 4px"
    .input-group-append.disabled
      %span.input-group-text= currency
  %small.form-text
    = t('admin2.stripe.set_stripe_fee_keys', url: '#stripe-api-settings').html_safe

.form-group
  = label_tag :commission_from_buyer, t('admin2.stripe.commission_from_buyer')
  .input-group
    = text_field_tag :commission_from_buyer, '', class: %i[form-control], disabled: true, style: "border-radius: 4px 0 0 4px"
    .input-group-append.disabled
      %span.input-group-text %
  %small.form-text
    = t('admin2.stripe.set_stripe_fee_keys', url: '#stripe-api-settings').html_safe

.form-group
  = label_tag :minimum_buyer_transaction_fee, t('admin2.stripe.minimum_buyer_transaction_fee')
  .input-group
    = text_field_tag :minimum_buyer_transaction_fee, '', class: %i[form-control], disabled: true, style: "border-radius: 4px 0 0 4px"
    .input-group-append.disabled
      %span.input-group-text= currency
  %small.form-text
    = t('admin2.stripe.set_stripe_fee_keys', url: '#stripe-api-settings').html_safe
