- object = stripe_connected ? stripe_prefs_form : stripe_api_form
- url = stripe_connected ? common_update_admin2_payment_system_stripe_index_path : update_stripe_keys_admin2_payment_system_stripe_index_path

= form_for object, url: url, method: :patch, html: { class: %i[transaction_preferences_form content-card-section-form], remote: true } do |form|
  - if stripe_connected
    = hidden_field_tag 'payment_preferences_form[mode]', 'transaction_fee'
    = hidden_field_tag 'gateway', 'stripe'
  %section.content-card-section
    %h2= t('admin2.stripe.transaction_fee_settings')
    = render 'hint_title', stripe_connected: stripe_connected, stripe_enabled_by_admin: stripe_enabled_by_admin, stripe_allowed: stripe_allowed

    - if stripe_connected
      = render partial: 'form_stripe_connected', locals: local_assigns.merge(form: form)
    - else
      = render 'form_stripe', currency: currency, disabled: !stripe_allowed

  %section#stripe-api-settings.content-card-section
    %h2= t('admin2.stripe.configure_api_keys')
    - unless stripe_allowed
      = render 'stripe_not_allowed'
    - if stripe_connected
      = render 'stripe_keys_connected', stripe_enabled_by_admin: stripe_enabled_by_admin, stripe_account: stripe_account, stripe_allowed: stripe_allowed
    - else
      = render 'stripe_keys', form: form, stripe_allowed: stripe_allowed

  - if stripe_enabled_by_admin && stripe_allowed
    %section.content-card-terminal
      = render 'admin2/submit_button', caption: t('admin2.save_changes')
