- if stripe_allowed
  - unless stripe_connected
    %p.ingress
      %svg{height: '14', style: 'position: relative; top: -1px', width: '14', xmlns: 'http://www.w3.org/2000/svg'}
        %g{fill: 'none', 'fill-rule' => 'evenodd', stroke: '#FF9F05', 'stroke-linecap' => 'round', 'stroke-linejoin' => 'round', 'stroke-width' => '1.5'}
          %path{d: 'M7 10a.375.375 0 100 .75.375.375 0 000-.75'}
          %path{d: 'M12.813 10.432A1.774 1.774 0 0111.226 13H2.774a1.773 1.773 0 01-1.586-2.568l4.225-8.45a1.774 1.774 0 013.174 0l4.226 8.45zM7 7.75v-3'}
      %strong
        = t('admin2.stripe.set_stripe_fee_keys', url: '#stripe-api-settings').html_safe

  - if stripe_connected && !stripe_enabled_by_admin
    %p.ingress
      %svg{height: '14', style: 'position: relative; top: -1px', width: '14', xmlns: 'http://www.w3.org/2000/svg'}
        %g{fill: 'none', 'fill-rule' => 'evenodd', stroke: '#FF9F05', 'stroke-linecap' => 'round', 'stroke-linejoin' => 'round', 'stroke-width' => '1.5'}
          %path{d: 'M7 10a.375.375 0 100 .75.375.375 0 000-.75'}
          %path{d: 'M12.813 10.432A1.774 1.774 0 0111.226 13H2.774a1.773 1.773 0 01-1.586-2.568l4.225-8.45a1.774 1.774 0 013.174 0l4.226 8.45zM7 7.75v-3'}
      %strong
        = t('admin2.stripe.enable_stripe_fee_keys', url: '#stripe-api-settings').html_safe
- else
  = render 'admin2/payment_system/stripe/stripe_not_allowed'


%p.ingress
  = t('admin2.stripe.info_text', fee_url: "#{APP_CONFIG.knowledge_base_url}/#heading=h.lofygi3mhw5q", more_url: "#{APP_CONFIG.knowledge_base_url}/#heading=h.ho2ayrdjnti2").html_safe
