<h1><%= t(:add_new_listing) %></h1>

<div id="breadcrumb">
<% if params[:category] %>
  <% if params[:subcategory] %>
    <%= link_to(t(params[:category]), "/listings/add") + " > " + link_to(t(params[:subcategory]), "/listings/add?category=" + params[:category]) + " > " + t(:listing_text)  %>
  <% else %>
    <% if (get_sub_categories(params[:category])) %>
      <%= link_to(t(params[:category]), "/listings/add") + " > " + t(:select_sub_category) %>
    <% else %>
      <%= link_to(t(params[:category]), "/listings/add") + " > " + t(:listing_text) %>
    <% end %>  
  <% end %>
<% else %>
  <%= t(:select_category) %>
<% end %> 
</div>