- if @listing.closed?
  = t(".you_cannot_send_a_new_comment_because_#{@listing.listing_type}_is_closed")  
- elsif logged_in?
  #comment_form
    = form_for Comment.new, :url => listing_comments_path(:listing_id => @listing.id.to_s), :remote => true do |f|
      .message_form_field_container
        = f.label :content, t(".write_comment")
      .message_form_field_container  
        = f.text_area :content
      .message_form_field_container
        = f.hidden_field :listing_id, :value => @listing.id.to_s
        = f.hidden_field :author_id, :value => @current_user.id
        = f.submit t(".send_comment"), :class => "send_button"
- else
  = t(".you_must")
  = link_to t(".log_in"), login_path
  = t(".to_send_a_comment")