.comment{:id => "comment#{comment.id.to_s}"}
  .avatar
    = small_avatar_thumb(comment.author)
  %h3
    = link_to comment.author.name(@current_community), comment.author
  %small= time_ago(comment.created_at)
  .comment-content
    - text_with_line_breaks do
      = comment.content
