.comment{:id => "comment#{comment.id.to_s}"}
  .avatar
    = small_avatar_thumb(comment.author)
  %h3
    = link_to comment.author.name, comment.author
  %small= time_ago(comment.created_at)
  .comment-content
    - text_with_line_breaks do  
      = comment.content
  - if current_user?(comment.listing.author) && !current_user?(comment.author)
    .comment-icons
      %a{href: new_person_message_path(:person_id => comment.author.id, :message_type => "free", :comment_message => true, :listing_id => comment.listing.id)}
        .comment-icon
          .ss-mail.icon-with-text
          .text-with-icon= t(".send_private_message", :person => comment.author.given_name_or_username)
        
          
          
    