- if delivery_opts.present?
  - if is_author
    .row
      .col-12
        .delivery-title= t("listings.show.delivery")
        %ul
          - delivery_opts.each do |opts|
            %li=t("listings.show.#{opts[:name]}", price: humanized_money_with_symbol(opts[:price]).upcase)

  - else
    .row
      .col-12
        .delivery-title= t("listings.show.delivery")
    - if delivery_opts.count == 1
      .row
        .col-12
          %span.shipping-options-label= t("listings.show.#{delivery_opts.first[:name]}", price: humanized_money_with_symbol(delivery_opts.first[:price]).upcase)
    - else
      - delivery_opts.each do |opts|
        .row
          .col-12
            = radio_button_tag(:delivery, opts[:name], opts[:default])
            = label_tag("delivery_#{opts[:name]}", t("listings.show.#{opts[:name]}", price: humanized_money_with_symbol(opts[:price]).upcase), class: "delivery-label shipping-options-label")
