.googlemap
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  .embed-container
    %iframe{width: "600", height: "450", frameborder: "0",
      src: "https://www.google.com/maps/embed/v1/place?key=#{maps_key}&q=#{CGI.escape(listing.location.address)}&language=#{I18n.locale}"}
  .map-link
    %a.icon-with-text-container{href: "//maps.google.com/?q=#{CGI.escape(listing.location.address)}", target: "_blank"}
      = icon_tag("external_link", ["icon-part"])
      .text-part= t("listings.map.open_in_google_maps")
