= render :layout => "layouts/lightbox", locals: {id: field, field: field} do
  %h2= t("listings.help_texts.#{field}_title")
  - text_with_line_breaks do
    = render :partial => "listings/help_texts/#{field}"
