<% 
  has_image = File.exists?(RAILS_ROOT + "/public/images/listing_images/#{listing.id.to_s}_thumb.png")
  
  main_div_class = params[:qa] ? "listed_full_width_object" : "listed_object" 
  center_div_class = params[:qa] ? "listed_listing_center_long" : "listed_listing_center"
  center_narrow_div_class = params[:qa] ? "listed_listing_center_narrow_long" : "listed_listing_center_narrow" 
%>

<div class="<%= main_div_class %>">

<div class="listed_object_person_image">
  <%= small_avatar_thumb(listing.author) %>
</div>

<% if has_image %>  
  <div class="<%= center_narrow_div_class %>"> 
<% else %>
  <div class="<%= center_div_class %>">
<% end %>   
  <div class="listed_object_title">
    <% link_target = @person ? person_listing_path(@person, listing) : listing %>
    <% link_text = listing.title %>
    <% if has_image && listing.title.length > 25 && !listing.title.include?(" ") %>
      <% link_text =  listing.title.slice!(0..22) + "..." %>
    <% else %>  
      <% if (listing.title.length > 32 && !listing.title.include?(" "))%>
        <% link_text =  listing.title.slice!(0..32) + "..." %>   
      <% end %>
    <% end %>
    <% if ["all_categories", "marketplace", "lost_property"].include?(@title) || @pagination_type.eql?("person_listings") || params[:q] || params[:qa] %>
      <%# include category name, when browsing top level categories %>
      <% link_text = t("title_#{listing.category}") + link_text %>
    <% end %>
    <%= link_to(link_text, link_target, :class => "listing") %>
  </div>
  <div class="listed_object_author">
    <% if is_current_user?(listing.author) %>
      <%= t(:own_listing)%> <%= listing.created_at.to_formatted_s(:basic_date_format_minutes) %>
      <% if listing.comments.size > 0 %> 
        | <%= link_to pluralize(listing.comments.size, t(:comment), t(:comments_partitive)), listing_path(listing) + "#comments" %>
      <% end %>
      <br />
      <%= link_to t(:edit), edit_listing_path(listing) %>   
      <% if listing.open? %>
        | <%= link_to t(:close), close_person_listing_path(@current_user, listing, :return_to => request.request_uri) %>
      <% end %>  
    <% else %>
      <%= t(:listing_created_by) %> 
      <%= link_to(listing.author.name(session[:cookie]), person_path(listing.author)) %> 
      <%= listing.created_at.to_formatted_s(:basic_date_format_minutes) %>
      <% if listing.comments.size > 0 %> 
        | <%= link_to pluralize(listing.comments.size, t(:comment), t(:comments_partitive)), listing_path(listing) + "#comments" %>
      <% end %> 
    <% end %>  
  </div>    
</div>
  

<% if has_image %>
  <div class="listed_listing_image">  
    <%= link_to (image_tag "/images/listing_images/#{listing.id}_thumb.png", :alt => listing.title, :border => 0), link_target %>
  </div>        
<% end %>

  
<div class="listed_listing_right_titles">
  <div class="listed_listing_right_item">
    <%= t(:category) %>:
  </div>
  <div class="listed_listing_right_item">  
    <%= t(:status) %>:
  </div>
  <div class="listed_listing_right_item">  
    <%= t(:viewed) %>:
  </div>  
</div>
  
<div class="listed_listing_right_texts">
  <div class="listed_listing_right_item">
    <%= link_to(t(listing.category), listing_category_path(listing.category)) %>
  </div>
  <div class="listed_listing_right_item">  
    <%= listing.open? ? t(:open) : t(:closed) %>
  </div>
  <div class="listed_listing_right_item">
    <%= pluralize(listing.times_viewed, t(:one_time), t(:times)) %>
  </div>  
</div>

</div>