- if @listings.size > 0
  = render :partial => "listings/listed_listing", :collection => @listings, :as => :listing, :spacer_template => "listings/listing_spacer"
  = pageless(@listings.total_pages, '#search_results', @request_path, t(".loading_more_#{@title}s"))
- else
  #no_listings_found
    - if params[:listing_type]
      = t(".no_#{params[:listing_type]}s_with_the_conditions_you_gave")
      = link_to t(".#{Listing.opposite_type(params[:listing_type])}_something"), new_request_path(:type => Listing.opposite_type(params[:listing_type]))
    