<tr>
  <td>
    <table class="listing_in">
      <tr>  
        <td> 
          <div class="listing_image">
            <img src="/images/teemu_t.jpg" alt="<%= listing.author_id %>" width="50" height="50">
          </div>
        </td>
        <td>
          <table class="listing_inner listing_main">
            <tr>
              <td>
                <h3>
                  <% if (listing.title.length > 32 && !listing.title.include?(" "))%>
                    <%= link_to(listing.title.slice!(0..32) + "...", listing) %>
                  <% else %>
                    <%= link_to(listing.title, listing) %>
                  <% end %>  
                </h3>
              </td>
            </tr>
            <tr>
              <td>
                <i>Ilmoituksen jättänyt <%= link_to(listing.author_id, person_path(listing.author_id)) %> 
                <%= listing.created_at.to_formatted_s(:basic_date_format_minutes) %> </i>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="listing_inner listing_right">
            <tr>
              <td><b><%= t(:category) %>:</b></td>
              <td><%= link_to(t(listing.category), listing_category_path(listing.category)) %></a></td>
            </tr>
            <tr>
              <td><b><%= t(:status) %>:</b></td> 
              <td><%= t(listing.status) %></td>
            </tr>
            <tr>
              <td><b><%= t(:viewed) %>:</b></td> 
              <td><%= listing.times_viewed %> <%= t(:times) %></td>
            </tr>
          </table>    
        </td>
      </tr>
    </table>
  </td>
</tr>