<% 
  if File.exists?(RAILS_ROOT + "/public/images/listing_images/#{listing.id.to_s}_thumb.png")
    has_image = true
  else
    has_image = false
  end  
%>

<div class="listed_object">

<div class="listed_object_person_image">
  <%= small_avatar_thumb(listing.author) %>
</div>

<% if has_image %>  
  <div class="listed_listing_center_narrow"> 
<% else %>
  <div class="listed_listing_center">
<% end %>   
  <div class="listed_object_title">
    <% link_target = @person ? person_listing_path(@person, listing) : listing %>
    <% if has_image && listing.title.length > 25 && !listing.title.include?(" ") %>
      <%= link_to(listing.title.slice!(0..22) + "...", link_target, :class => "listing") %>
    <% else %>  
      <% if (listing.title.length > 32 && !listing.title.include?(" "))%>
        <%= link_to(listing.title.slice!(0..32) + "...", link_target, :class => "listing") %>
      <% else %>  
        <%= link_to(listing.title, link_target, :class => "listing") %>
      <% end %>
    <% end %>  
  </div>
  <div class="listed_object_author">
    <% if is_current_user?(listing.author) %>
      <%= t(:own_listing)%> <%= listing.created_at.to_formatted_s(:basic_date_format_minutes) %>
      <% if listing.comments.size > 0 %> 
        | <%= link_to pluralize(listing.comments.size, t(:comment), t(:comments_partitive)), listing_path(listing) + "#comments" %>
      <% end %>
      <br />
      <%= link_to t(:edit), edit_listing_path(listing) %>   
      <% if listing.open? %>
        | <%= link_to t(:close), close_person_listing_path(@current_user, listing) %>
      <% end %>  
    <% else %>
      <%= t(:listing_created_by) %> 
      <%= link_to(listing.author.name(session[:cookie]), person_path(listing.author)) %> 
      <%= listing.created_at.to_formatted_s(:basic_date_format_minutes) %>
      <% if listing.comments.size > 0 %> 
        | <%= link_to pluralize(listing.comments.size, t(:comment), t(:comments_partitive)), listing_path(listing) + "#comments" %>
      <% end %> 
    <% end %>  
  </div>    
</div>
  

<% if has_image %>
  <div class="listed_listing_image">  
    <%= link_to (image_tag "/images/listing_images/#{listing.id}_thumb.png", :alt => listing.title, :border => 0), link_target %>
  </div>        
<% end %>

  
<div class="listed_listing_right_titles">
  <div class="listed_listing_right_item">
    <%= t(:category) %>:
  </div>
  <div class="listed_listing_right_item">  
    <%= t(:status) %>:
  </div>
  <div class="listed_listing_right_item">  
    <%= t(:viewed) %>:
  </div>  
</div>
  
<div class="listed_listing_right_texts">
  <div class="listed_listing_right_item">
    <%= link_to(t(listing.category), listing_category_path(listing.category)) %>
  </div>
  <div class="listed_listing_right_item">  
    <%= listing.open? ? t(:open) : t(:closed) %>
  </div>
  <div class="listed_listing_right_item">
    <%= pluralize(listing.times_viewed, t(:one_time), t(:times)) %>
  </div>  
</div>

</div>