!!! 5
!!! xml
%html{html_attrs(I18n.locale)}
  %head
    %title 
      Kassi
      - if @listing && action_name.eql?("show")
        = "- #{t("listings.show.#{@listing.category}_#{@listing.listing_type}")}: #{@listing.title}"
        
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" } 
    %meta{ :name => "description", :content => t(".meta_description") }
    %meta{ :name => "keywords", :content => t(".keywords") } 
    %meta{ :name => "viewport", :content => "initial-scale=1.0" }
    = stylesheet_link_tag 'compiled/mobile_style.css'
    = javascript_include_tag 'jquery', 'jquery.uniform.min', 'jquery.lightbox_me', 'jquery.validate.min', 'jquery.pageless', 'jquery.autoresize.min', 'jquery.watermark.min', 'jquery.tabSlideOut.v1.3', 'rails', 'kassi', 'markerclusterer'
    %script{ :type => "text/javascript", :src => "http://www.google.com/jsapi"}
    %script{ :type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
    = csrf_meta_tag
    
    :javascript
      $(document).ready(function() { initialize_defaults('#{t('header.search_kassi')}','#{I18n.locale}','#{t('layouts.application.default_feedback')}'); #{yield :javascript} });
      
      function initialize() {
        var center = new google.maps.LatLng(60.184593, 24.832106)
        var map = new google.maps.Map(document.getElementById('map_canvas'), {
          zoom: 13,
          center: center,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          zoomControl: true,
          disableDefaultUI: true
        });
        
        var location_data = #{@locations.to_json};
        var listing_data = #{@listings.to_json};
        var listing_type = #{@title.to_json};
        
        var item_requestIcon = "/images/icons/map_listing/item_request.png";        
        var item_offerIcon = "/images/icons/map_listing/item_offer.png"; 
        var rideshare_requestIcon = "/images/icons/map_listing/rideshare_request.png";        
        var rideshare_offerIcon = "/images/icons/map_listing/rideshare_offer.png"; 
        var housing_requestIcon = "/images/icons/map_listing/housing_request.png";        
        var housing_offerIcon = "/images/icons/map_listing/housing_offer.png"; 
        var favor_requestIcon = "/images/icons/map_listing/favor_request.png";        
        var favor_offerIcon = "/images/icons/map_listing/favor_offer.png"; 
        
        var prefix_multipleIcon = "/images/icons/map_listing/multiple_listing/iconb";
        
        var markers = [];
        
        for (var i = 0; i < location_data.length; i++) {
          var latLng = new google.maps.LatLng(location_data[i]['lat'], location_data[i]['long']);
          
            if (listing_data[i]['id'].length == 1)
            {                
                if (listing_data[i]['category'] == 'item')
                {
                    if (listing_type == 'request')
                        var marker = new google.maps.Marker({
                        position: latLng,
                        icon: item_requestIcon,
                        clickable: true
                        });    
                    else 
                        var marker = new google.maps.Marker({
                        position: latLng,
                        icon: item_offerIcon,
                        clickable: true
                        });
                }
                
            }
            else
            {
                var numberIcon = prefix_multipleIcon + listing_data[i]['id'].length + ".png";

                var marker = new google.maps.Marker({
                position: latLng,
                icon: numberIcon, 
                clickable: true
                }); 
            }
          markers.push(marker);
        }
        
        var markerCluster = new MarkerClusterer(map, markers, listing_data, listing_type);
        
      }
      
      google.maps.event.addDomListener(window, 'load', initialize);
    
    - if I18n.locale.to_s.eql?("en")
      %style{:type => "text/css"}
        a.handle { background-position: -80px 0; }
        a.handle:hover { background-position: -120px 0; }
    
  %body{ :onload => "initialize()", :onunload => "GUnload()" }
  
    .wrapper
    
      #header.container_24
        .grid_6
          #logo
            = link_to image_tag("/images/kassi_logo.png"), root, :title => "Kassi"
        .grid_17
          = render :partial => "layouts/mobile_logged_in"
          .clear
          .grid_15.alpha
            #search
              = form_tag({ :action => :show, :controller => :search }, :method => "get") do
                - one_line do              
                  = text_field_tag("q", params[:q], :class => "search_field")
                  = submit_tag("s", :class => "search_button")
          .clear
          .tabs.grid_15.alpha
            .grid_6.prefix_1.alpha{:class => (params[:listing_type] && params[:listing_type].eql?("request")) ? "tab_selected" : "tab_unselected"}
              = link_to t('header.requests'), requests_path
            .grid_6.omega{:class => (params[:listing_type] && params[:listing_type].eql?("offer")) ? "tab_selected" : "tab_unselected"}
              = link_to t('header.offers'), offers_path
        #map_canvas.container_24
        