<% if newsgroups = Listing::NEWSGROUPS[params[:subcategory] || params[:category]] %>
  <% no_post = "do_not_post" %>
  <% default = newsgroups[:default] || no_post %>
  <div class="form_container">  
    <div class="form_left">
      <%= t(:post_to_newsgroup) %>:
    </div>  
    <div class="form_right">
      <%= radio_button_tag "newsgroup", no_post, no_post.eql?(default) %><%= " " + t(no_post) %><br />
      <% newsgroups[:groups].each do |group| %>
        <%= radio_button_tag "newsgroup", group, group.eql?(default) %><%= " " + group %><br />
      <% end %>
    </div>
  </div>
<% end %>