.grid-column-2-9
  .grid-column-content-2-9
    .people-listing-image-frame
      = link_to(listing) do
        - if listing.listing_images.size > 0 && !listing.listing_images.first.image_processing
          = image_tag listing.listing_images.first.image.url(:email), {:alt => listed_listing_title(listing), :class => "people-listing-with-overlay"}
        .people-listing-overlay
        - if listing.price
          .people-listing-price
            = humanized_money_with_symbol(listing.price).upcase

        - if listing.listing_images.size > 0 && listing.listing_images.first.image_processing
          .people-listing-image-processing
            %div
              = t("listings.show.processing_uploaded_image")
        - else
          .people-listing-title
            = listing.title
