<script>
  $('close_button').disabled = false;
</script>
<% if @realizer %>
<%= hidden_field_tag "kassi_event[participant_attributes][#{@realizer.id}]", @listing.realizer_role %>
<% fields_for "kassi_event[comment_attributes]", PersonComment.new do |comment_form| -%>
  <%= comment_form.hidden_field :author_id, :value => @current_user.id %>
  <%= comment_form.hidden_field :target_person_id, :value => @realizer.id %>  
  <div class="form_container">
    <div class="form_left">
      <%= t(:rate_realizer) %>: 
    </div>
    <div class="form_right">
      <%= comment_form.radio_button :grade, 0 %>
      1 (<%= t(:less_than_expected) %>)
      &nbsp;&nbsp;&nbsp;
      <%= comment_form.radio_button :grade, 0.5, { :checked => true}  %>
      2 (<%= t(:as_expected) %>)
      &nbsp;&nbsp;&nbsp;
      <%= comment_form.radio_button :grade, 1 %>
      3 (<%= t(:exceeded_expectations) %>)
    </div>
  </div>  
  <div class="form_container">
    <div class="form_left">
      <%= t(:comment_for_listing_realizer) %>: 
    </div>
    <div class="form_right">
      <%= comment_form.text_area :text_content, :size => "65x8" %>
    </div>
  </div>
<% end %>
<% else %>
  <br />
<% end %>
