- if @listing.closed?
  #listing_closed_status
    .listing_closed_status_text
      = t(".#{@listing.listing_type}_closed")
- elsif !current_user?(@listing.author)
  #request_listing_link
    %a{:href => reply_to_listing_path(:id => @listing.id.to_s)}
      = image_tag "/images/icons/request_icon.png"
      .request_listing_link_label
        = t("listings.link_labels.link_label_for_#{@listing.category}_#{@listing.listing_type}")