<h1><%= t(:close_listing) %> "<%= @listing.title %>"</h1>

 <script>
 function showFeedback() {
   document.getElementById('feedback').style.display = 'block';
   document.getElementById('close_listing').style.display = 'block';
 }
 
 function hideFeedback() {
   document.getElementById('feedback').style.display = 'none';
   document.getElementById('close_listing').style.display = 'block';
 }
 
 
 </script>

<% form_for @kassi_event, :url => mark_as_closed_person_listing_path(@current_user, @listing) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :eventable_id, :value => @listing.id %>
  <%= f.hidden_field :eventable_type, :value => "Listing" %>
  <%= hidden_field_tag "kassi_event[participant_attributes][#{@current_user.id}]", @listing.author_role %>
  <%= hidden_field_tag "return_to", params[:return_to] %>
  <fieldset>
    <legend>
      <%= t(:has_somebody_done_the_thing_mentioned_in_the_listing) %>
    </legend>
        
    <div class="form_extra_padding">
      <div class="form_container">
        <%= radio_button_tag(:realized, "true", params[:realized], :onchange =>"showFeedback();") %> 
        <%= label_tag(:realized_true, t(:yes)) %> 
        <%= radio_button_tag(:realized, "false", false, :onchange =>"hideFeedback();") %>  
        <%= label_tag(:realized_false, t(:no)) %> 
        <br /><br /><br />
      </div>

        <div id="feedback"  style="display:<%= params[:realized] ? "block" : "none" %>;">
          
          <%= render :partial => "realizer_feedback_form" %>
          
          
        </div>
      </div>
          
      <div class="form_container" id="close_listing" style="display:<%= params[:realized] ? "block" : "none" %>;">
        <%= submit_tag t(:close_listing), :onclick => "this.disabled=true,this.form.submit();", :id => "close_button" %>
      </div>
     
    </div>
  </fieldset> 
<% end %>