<h1><%= t(:close_listing) %> "<%= @listing.title %>"</h1>

<% form_for @kassi_event, :url => mark_as_closed_person_listing_path(@current_user, @listing) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :eventable_id, :value => @listing.id %>
  <%= f.hidden_field :eventable_type, :value => "Listing" %>
  <%= hidden_field_tag "kassi_event[participant_attributes][#{@current_user.id}]", @listing.author_role %>
  <%= hidden_field_tag "return_to", params[:return_to] %>
  <fieldset>
    <legend>
      <%= t(:has_somebody_done_the_thing_mentioned_in_the_listing) %>
    </legend>
    <div class="form_extra_padding">
      <div class="form_container">
        <div class="form_left">
          <%= t(:listing_realizer) %>: 
        </div>
        <div class="form_right">
          <%= 
            select("kassi_event", "realizer_id", @people, {:include_blank => t(:no_realizer)},
                   {:onchange => "
                      $('close_button').disabled = true;
                      #{remote_function(:url => { :action => "realizer_feedback_form" },
                                        :with => "'realizer='+value+'&listing=#{@listing.id.to_s}'",
                                        :update => "realizer_feedback_form") }" }) 
          %>
        </div>
      </div>
      <div id="realizer_feedback_form">
        <br />
      </div>
      <div class="form_container">
        <%= submit_tag t(:close_listing), :onclick => "this.disabled=true,this.form.submit();", :id => "close_button" %>
      </div>
    </div>
  </fieldset> 
<% end %>