<h1><%= t(:close_listing) %> "<%= @listing.title %>"</h1>

<div id="basic_content">
  <% form_for @kassi_event, :url => mark_as_closed_person_listing_path(@current_user, @listing) do |f| %>
    <%= f.hidden_field :eventable_id, :value => @listing.id %>
    <%= f.hidden_field :eventable_type, :value => "Listing" %>
    <%= f.hidden_field :receiver_id, :value => @current_user.id %>
    <div class="form_container">
      <div class="form_left">
        <%= t(:listing_realizer) %>: 
      </div>
      <div class="form_right">
        <%= 
          select("kassi_event", "realizer_id", @people, {:include_blank => t(:no_realizer)}) 
        %>
      </div>
    </div>  
    <div class="form_container">
      <div class="form_left">
        <%= t(:comment_for_favor_realizer) %>: 
      </div>
      <div class="form_right">
        <%= f.text_area :comment, :size => "48x5" %>
      </div>
    </div>
    <div class="form_container">
      <%= submit_tag t(:close_listing), :onclick => "this.disabled=true,this.form.submit();" %>
    </div>
  <% end %>
</div>  