= render :partial => "listings/form/javascripts", :locals => { :listing_id => @listing.id.to_s }

.grid_16.prefix_4.suffix_4

  #new_listing_form
    .float_container
      %h1
        = t(".edit_#{@listing.listing_type}")
        = @listing.title
    
    #listing_required_fields_description
      = t("common.fields_that_are_mandatory")
      
    #new_listing_form_main  
      = form_for @listing, :html => {:multipart => true} do |form|
        = form.error_messages
        - if Listing::VALID_SHARE_TYPES[@listing.listing_type][@listing.category]
          = render :partial => "listings/form/share_type", :locals => { :form => form }
        - unless @listing.category.eql?("rideshare")
          = render :partial => "listings/form/title", :locals => { :form => form }
        - if @listing.category.eql?("rideshare")
          = render :partial => "listings/form/origin", :locals => { :form => form, :origin_loc => @listing.origin_loc, :rideshare => true }
          = render :partial => "listings/form/destination", :locals => { :form => form, :destination_loc => @listing.destination_loc }
          = render :partial => "listings/form/googlemap", :locals => { :form => form, :rideshare => true }
          = render :partial => "listings/form/departure_time", :locals => { :form => form }
        = render :partial => "listings/form/description", :locals => { :form => form }
        - unless @listing.category.eql?("rideshare")
          = render :partial => "listings/form/tag_list", :locals => { :form => form }
          = render :partial => "listings/form/valid_until", :locals => { :form => form }
          = render :partial => "listings/form/origin", :locals => { :form => form, :origin_loc => @listing.origin_loc, :rideshare => false }
          = render :partial => "listings/form/googlemap", :locals => { :form => form, :rideshare => false }
          = render :partial => "listings/form/images", :locals => { :form => form }
        - if @listing.closed?
          = form.hidden_field :open, :value => true
        = form.hidden_field :last_modified, :value => DateTime.now
        = render :partial => "listings/form/visibility", :locals => { :form => form }
        = render :partial => "listings/form/privacy", :locals => { :form => form }
        = form.hidden_field :current_community_id, :value => @current_community.id
        = render :partial => "listings/form/send_button", :locals => { :form => form }

- ["help_share_type", "help_tags", "help_valid_until"].each do |field|
  = render :partial => "listings/help_texts", :locals => { :field => field }
