<h1><%= t(:edit_listing) + " " + @listing.title %></h1>

<br />

<% errors = translate_error_messages([@listing.errors.full_messages]) %>
 <% unless errors.empty? %>
 <div id="form_error_messages">
   <h2><%= t(:listing_cannot_be_edited) %></h2>
   <ul>
     <% errors.each do |error| %>
       <li><%= error %></li>
     <% end %>
   </ul>
 </div>
 <% end %>  
 
 <div class="small_margin">
 
 <% error_class_language = "" %>
 <% @listing.errors.full_messages.each do |message| %>
   <% if message.include? "Language" %>
     <% error_class_language = "fieldWithErrors" %>
   <% end %> 
 <% end %>
 <% form_for @listing, :html => {:multipart => true} do |f| %>
 <div class="form_container">
   <div class="form_right">
     <%= t(:fields_marked_with_star_are_mandatory) %>
   </div>
 </div>
 <div class="form_container">    
   <div class="form_left">
     <%= t(:title) %>*:
   </div>  
   <div class="form_right">
     <%= t("title_#{@listing.category}") %><%= f.text_field :title, :size => 35 %>
   </div>
 </div>
 <div class="form_container">    
   <div class="form_left">
     <%= t(:content) %>*:
   </div>
   <div class="form_right">
     <%= f.text_area :content, :size => "67x5" %>
   </div>
 </div>
 <div class="form_container">    
   <div class="form_left">
     <%= t(:language) %>*:
   </div>
   <div class="<%= error_class_language %>">  
     <div class="form_right">
         <% if (@language_fi && @language_fi == 1) %>
           <%= f.check_box :language_fi, :checked => "checked" %>
         <% else %>
            <%= f.check_box :language_fi %>
         <% end %>  
         <%= t(:fi) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <% if (@language_en && @language_en == 1) %>
           <%= f.check_box :language_en, :checked => "checked" %>  
         <% else %>
           <%= f.check_box :language_en %>
         <% end %>  
         <%= t(:en) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <% if (@language_swe && @language_swe == 1) %>
           <%= f.check_box :language_swe, :checked => "checked" %>  
         <% else %>
           <%= f.check_box :language_swe %>
         <% end %>
       <%= t(:swe) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </div>  
   </div>
 </div>
 <div class="form_container">  
   <div class="form_left">
     <%= t(:good_thru) %>*:
   </div>
   <div class="form_right">
     <% if @listing.good_thru %>
       <%= f.text_field :good_thru, :size => "20" %>
     <% else %>
       <%= f.text_field :good_thru, :size => "20", :value => Date.today + 1.month %>
     <% end %>   
     &nbsp;<%= t(:good_thru_format) %> 
   </div>
 </div>
 <div class="form_container">  
   <div class="form_left">
     <%= t(:image) %>:
   </div>  
   <div class="form_right">
     <%= f.file_field :image_file %>
   </div>
   <%= f.hidden_field :author_id, :value => @current_user.id %>
   <%= f.hidden_field :status, :value => "open" %>
	 <%= f.hidden_field :last_modified, :value => DateTime.now%>
   <% if params[:subcategory]%>
     <%= f.hidden_field :category, :value => params[:subcategory] %>
   <% else %>
     <%= f.hidden_field :category, :value => params[:category] %>
   <% end %>  
 </div>
 <%= render :partial => "layouts/visibility_form", :locals => { :form_type => "listing", :object => @listing } %>
 <div class="form_container">  
   <div class="form_right">
     <%= submit_tag t(:edit_listing_submit), :onclick => "this.disabled=true,this.form.submit();" %>  
   </div>
 </div>
 <% end %>
 </div>