= render :partial => "listings/form/javascripts", :locals => { :listing_id => @listing.id.to_s }

- content_for :title_header do
  %h1= t(".edit_listing")

- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"

-# This @community_category variable is used to determine if price is used for this category in this community
- @community_category = @current_community.community_category(@listing.category.top_level_parent, @listing.share_type)

#new_listing_form.edit-listing-form.centered-section
  = form_for @listing, :html => {:multipart => true} do |form|
    - unless @listing.category.name.eql?("rideshare")
      = render :partial => "listings/form/title", :locals => { :form => form }
    - if @listing.category.name.eql?("rideshare")
      = render :partial => "listings/form/origin", :locals => { :form => form, :origin_loc => @listing.origin_loc, :rideshare => true }
      = render :partial => "listings/form/destination", :locals => { :form => form, :destination_loc => @listing.destination_loc }
      = render :partial => "listings/form/googlemap", :locals => { :form => form, :rideshare => true }
      = render :partial => "listings/form/departure_time", :locals => { :form => form }
    = render :partial => "listings/form/price", :locals => { :form => form, :seller_commission => @seller_commission }
    = render :partial => "listings/form/description", :locals => { :form => form }
    - unless @listing.category.name.eql?("rideshare")
      = render :partial => "listings/form/valid_until", :locals => { :form => form }
      = render :partial => "listings/form/origin", :locals => { :form => form, :origin_loc => @listing.origin_loc, :rideshare => false }
      = render :partial => "listings/form/googlemap", :locals => { :form => form, :rideshare => false }
      = render :partial => "listings/form/images", :locals => { :form => form }
    - if @listing.closed?
      = form.hidden_field :open, :value => true
    = form.hidden_field :last_modified, :value => DateTime.now
    = render :partial => "listings/form/visibility", :locals => { :form => form }
    = render :partial => "listings/form/privacy", :locals => { :form => form }
    = form.hidden_field :current_community_id, :value => @current_community.id
    = render :partial => "listings/form/send_button", :locals => { :form => form }
  
- ["help_valid_until"].each do |field|
  = render :partial => "listings/help_texts", :locals => { :field => field }
