#recent_event_box.grid_6
  .recent_events
    = render :partial => "common/staples", :locals => { :temp_class => "staples_top" }
    %h4= t(:recent_events)
    .event_padding
      = render :partial => "recent_event", :collection => ["Event 1", "Event 2", "Event 3"], :as => :event, :spacer_template => "event_spacer"
      .more_events_link
        = link_to t(:more_events), "#"
    = render :partial => "common/staples", :locals => { :temp_class => "staples_bottom" }

#request_something_button.grid_5.prefix_2.suffix_2
  = link_to t(:request_something), "#"
  
#offer_something_button.grid_5.prefix_2.suffix_2
  = link_to t(:offer_something), "#"
