- content_for :javascript do
  initialize_browse_view('#{@title}','#{@listing_style}','#{I18n.locale}');

#browse_page.grid_24
  .grid_6.alpha
    %h1= t(".#{@title}s")
    #left_link_panel_browse
      .left_panel_section
        .left_panel_title
          %h3= t(".category")
        = link_to t(".all_categories"), "#", :class => "selected", :name => "categories_all"
        = render :partial => "left_panel_link", :collection => Listing::VALID_CATEGORIES, :as => :title, :locals => { :type => "categories" }
      .left_panel_section
        .left_panel_title
          %h3= t(".#{params[:listing_type]}_type")
        = link_to t(".all_#{params[:listing_type]}_types"), "#", :class => "selected", :name => "sharetypes_all"
        = render :partial => "left_panel_link", :collection => Listing.unique_share_types(params[:listing_type]), :as => :title, :locals => { :type => "sharetypes" }
    -# Hidden temporarily.. = render :partial => "tag_cloud/tag_cloud", :locals => {:listing_type => params[:listing_type]}

  .grid_18.omega
    .grid_10.alpha
      #search_form_spacer
        &nbsp;
        
      .tabs.grid_9.alpha 
        .tabs.grid_9.alpha 
          #inbox_tabs
            %div{:class => get_map_tab_class(params[:listing_type]+ "s")} 
              - if params[:listing_type] == "request"
                = link_to t(".list_view"), requests_path
              - else
                = link_to t(".list_view"), offers_path            
            %div{:class => get_map_tab_class(params[:listing_type]+ "s_on_map")} 
              - if params[:listing_type] == "request" 
                = link_to t(".map_view"), requests_on_map_path, :name => "map_view"
              - else
                = link_to t(".map_view"), offers_on_map_path, :name => "map_view"
        
        .grid_3.omega
                          
    .grid_8.omega
      #new_listing_links
        = t(".did_not_found_what_you_were_looking_for")
        = link_to t(".request_something"), new_request_path(:type => "request")
        %br/
        = t(".you_have_something_others_do_not")
        = link_to t(".offer_something"), new_request_path(:type => "offer")
    .clear
    #profile_tab_spacer
      &nbsp;
    #search_results

      - if @listing_style == "listing"
        = render :partial => "listed_listings"
      - else
        = render :partial => "listings_on_map"
      
