<% if @person %>

<h1><%= t(:listings_of_user) + " " + @person.name(session[:cookie]) + " " + t(:users_listings) %> </h1>

<div id="basic_content">
<%= get_profile_navi_items(params[:person_id]) %>
<br /><br />
</div>

<% else %>

<div id="listings_header">
  <div id="listings_header_links_left">
    <%= t(:show_read_and_unread_listings) %> <a href="#">1 <%= t(:show_unread_single_listing) %></a> | <%= t(:show_all_listings) %>
  </div>
  <div id="listings_header_links_right">
    <a href="#"><%= t(:mark_all_as_read) %></a>
  </div>  
</div>  		

<% end %>

<div id="container">

<%= render :partial => "layouts/announcements" %>

<div class="search_results_header">
<div class="search_results_title">
  <%= t(@title) %> (<%= pluralize(@listing_amount, t(:listing), t(:listings_partitive)) %>)
</div>
<%= will_paginate @listings %>
</div>

<% if (@listings.size > 0)%>
  <table class="listing">
  <%= render :partial => "listings/listing", :collection => @listings %>
  </table>
  <div id="search_footer_left">
    <%= t(:show_listings_on_page) %>:
    <%= create_footer_pagination_links(["10", "30", "50", "all"], @pagination_type) %>
  </div
  <%= will_paginate @listings %>
  <br />
<% else %>
  <h3>Ei yhtään ilmoitusta!
<% end %>
</div>