<div class="browse_objects_header">
<div class="browse_objects_title">
  <%= t(@title) %> <span class="page_entries_info">(<%= page_entries_info @listings %>)</span>
</div>
<div class="pagination_padding">
  <%= will_paginate @listings, :prev_label => t(:previous), :next_label => t(:next) %>
</div>  
</div>

<% if (@listings.size > 0)%>
  <%= render :partial => "listings/listing", :collection => @listings, :spacer_template => "layouts/dashed_line" %>
  <div class="solid_line">
  </div>  
  <div id="browse_objects_footer_left">
    <%= t(:show_listings_on_page) %>:
    <%= create_footer_pagination_links(["10", "30", "50", "all"], @pagination_type) %>
  </div>
  <div class="pagination_padding">
    <%= will_paginate @listings, :prev_label => t(:previous), :next_label => t(:next) %>
  </div>  
  <br />
<% else %>
  <p><%= t(:no_listings) %></p>
<% end %>