:javascript
  $(document).ready(function() {
    initialize_new_listing_form_selectors("#{I18n.locale}", #{Listing::MOCK_ATTRIBUTE_HASH.to_json}, #{listing_form_menu_titles.to_json});
  });

- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"

#new_listing_form.new-listing-form.centered-section

  - Listing::MOCK_UNIQUE_ATTRIBUTE_VALUES.each do |attribute, values|
    - if values.size > 1
      .selected-attributes{:name => "#{attribute}"}
        - values.each do |value|
          %a.select.selected{:href => "#"}
            .link-icon{:class => get_icon_class(value)}
            .link-text= t(".selected_#{attribute}", attribute.to_sym => t(".selected_#{value}"))
  
  %h2.listing-form-title

  - Listing::MOCK_UNIQUE_ATTRIBUTE_VALUES.each do |attribute, values|
    - if values.size > 1
      .option-group{:name => "#{attribute}"}
        - values.each do |value|
          %a.select.option{:href => "#", :name => value}
            .link-icon{:class => get_icon_class(value)}
            .link-text= t(".#{value}")

  .form-fields.hidden
