%script{:type => "text/javascript"}
  $(document).ready(function() { $('input.text_field:first').focus(); });
  $(function(){ $("select.listing_date_select, input:file").uniform({selectClass: 'selector2', fileDefaultText: '#{t('listings.new.no_file_selected')}', fileBtnText: '#{t('listings.new.select_file')}'}); });

.grid_16.prefix_4.suffix_4
  #new_listing_form_tabs
    .new_listing_form_tab_selected
      = link_to t('.request_something'), new_listing_path
    .new_listing_form_tab_unselected
      = link_to t('.offer_something'), new_listing_path

.grid_16.prefix_4.suffix_4
  #new_listing_form
    #listing_type_select_icons
      .listing_type_select_icon_selected_item
        = link_to t('.item'), "#"
      .listing_type_select_icon_unselected_favor
        = link_to t('.favor'), "#"  
      .listing_type_select_icon_unselected_rideshare
        = link_to t('.rideshare'), "#"  
  
    #item_form.new_listing_form_main  
      = form_tag({ :url => listings_path, :id => "listing_form" }, :method => "get") do
        .new_listing_form_field_container
          %label{:for => "name"}
            = t('.item_you_need') + ":"
          = text_field_tag("name", params[:q], :class => "text_field")
        .new_listing_form_field_container
          %label{:for => "name"}
            = t('.detailed_description') + ":"
          = text_area_tag("name", params[:q])
        .new_listing_form_field_container
          %label{:for => "name"}
            = t('.tags')
            %span{:class => "smaller"}
              = t('.comma_separate') + ":"
            %span{:class => "smaller"}  
              = link_to t('.what_is_this'), "#", :tabindex => "-1", :onclick => "$('#help_tags').lightbox_me({centered: true});"
          = text_field_tag("name", params[:q], :class => "text_field")
        .new_listing_form_field_container
          %label{:for => "name"}
            = t('.image') + ":"
          = file_field_tag("name", :class => "file_field")    
        .new_listing_form_field_container
          %label{:for => "name"}
            = t('.valid_until') + ":"
          = date_select :listing, :create, {}, :class => "listing_date_select"
        .new_listing_form_field_container
          = submit_tag(t('.save_request'), :class => "send_button")


#help_tags.hidden
  .close_link
    = link_to "X", "#", :id => "close_x", :class => "close"
  .hidden_content
    = render :partial => "help_tags"
