- content_for :javascript do
  initialize_new_listing_form('#{t('listings.new.no_file_selected')}', '#{t('listings.new.select_file')}');

.grid_16.prefix_4.suffix_4
  #new_listing_form_tabs
    .new_listing_form_tab_selected
      = link_to t('.request_something'), new_listing_path
    .new_listing_form_tab_unselected
      = link_to t('.offer_something'), new_listing_path

.grid_16.prefix_4.suffix_4
  #new_listing_form
    #listing_type_select_icons
      .listing_type_select_icon_selected_item
        = link_to t('.item'), "#"
      .listing_type_select_icon_unselected_favor
        = link_to t('.favor'), "#"  
      .listing_type_select_icon_unselected_rideshare
        = link_to t('.rideshare'), "#"  
      .listing_type_select_icon_unselected_housing
        = link_to t('.housing'), "#"    
    #item_form.new_listing_form_main  
      = form_for @listing do |form|    
        .new_listing_form_field_container
          %label{:class => "input"}
            = t('.item_you_need') + ":"
          = form.text_field(:title, :class => "text_field", :maxlength => "100")
        .new_listing_form_field_container
          = form.hidden_field(:listing_type, :value => params[:type])
          = form.submit t('.save_request'), :class => "send_button"
    
    #item_form.new_listing_form_main  
      = form_for @listing do
        .new_listing_form_field_container
          %label{:for => "name", :class => "input"}
            = t('.offer_type') + ":"
            %br/
            %span{:class => "smaller"}  
              = link_to t('.what_is_this'), "#", :tabindex => "-1", :id => "offer_type_link"
          .checkbox_container  
            .checkbox_float
              = check_box_tag "test1", "true", :checked => "checked"
            %label{:class => "checkbox"}
              = t('.sell')
            .checkbox_float
              = check_box_tag "test2", "true", :checked => "checked"
            %label{:class => "checkbox"}
              = t('.lend')
            .checkbox_float
              = check_box_tag "test3", "true", :checked => "checked"
            %label{:class => "checkbox"}
              = t('.give_away')   
            .checkbox_float
              = check_box_tag "test3", "true", :checked => "checked"
            %label{:class => "checkbox"}
              = t('.trade')
            .checkbox_float
              = check_box_tag "test3", "true", :checked => "checked"
            %label{:class => "checkbox"}
              = t('.rent')        
        .new_listing_form_field_container
          %label{:for => "name", :class => "input"}
            = t('.item_you_need') + ":"
          = text_field_tag("name", params[:q], :class => "text_field")
        .new_listing_form_field_container
          %label{:for => "name", :class => "input"}
            = t('.detailed_description') + ":"
          = text_area_tag("name", params[:q])
        .new_listing_form_field_container
          %label{:for => "name", :class => "input"}
            = t('.tags')
            %span{:class => "smaller"}
              = t('.comma_separate') + ":"
            %span{:class => "smaller"}  
              = link_to t('.what_is_this'), "#", :tabindex => "-1", :id => "help_tags_link"
          = text_field_tag("name", params[:q], :class => "text_field")
        .new_listing_form_field_container
          %label{:for => "name", :class => "input"}
            = t('.image') + ":"
          = file_field_tag("name", :class => "file_field")    
        .new_listing_form_field_container
          %label{:for => "name", :class => "input"}
            = t('.valid_until') + ":"
          = date_select :listing, :create, {:start_year => Time.now.year, :end_year => Time.now.year + 1}, :class => "listing_date_select"
        .new_listing_form_field_container
          = submit_tag(t('.save_request'), :class => "send_button")
          
#help_tags.hidden
  .hidden_title
    = t('.tags')
  .close_link
    = link_to "X", "#", :id => "close_x", :class => "close"
  .hidden_content
    = render :partial => "help_tags"
