%script{:type => "text/javascript"}
  $(document).ready(function() { $('input.text_field:first').focus(); });
  $(function(){ $("select.listing_date_select, input:checkbox, input:file").uniform({selectClass: 'selector2', fileDefaultText: '#{t('listings.new.no_file_selected')}', fileBtnText: '#{t('listings.new.select_file')}'}); });

.grid_16.prefix_4.suffix_4
  #new_listing_form_tabs
    .new_listing_form_tab_selected
      = link_to t('.request_something'), new_listing_path
    .new_listing_form_tab_unselected
      = link_to t('.offer_something'), new_listing_path

.grid_16.prefix_4.suffix_4
  #new_listing_form
    #listing_type_select_icons
      .listing_type_select_icon_selected_item
        = link_to t('.item'), "#"
      .listing_type_select_icon_unselected_favor
        = link_to t('.favor'), "#"  
      .listing_type_select_icon_unselected_rideshare
        = link_to t('.rideshare'), "#"  
      .listing_type_select_icon_unselected_housing
        = link_to t('.housing'), "#"    
    #item_form.new_listing_form_main  
      = form_for @listing do |form|    
        .new_listing_form_field_container
          %label{:class => "input"}
            = t('.item_you_need') + ":"
          = form.text_field(:title, :class => "text_field")
        .new_listing_form_field_container
          = form.hidden_field(:listing_type, :value => params[:type])
          = form.submit t('.save_request'), :class => "send_button"
  
#help_tags.hidden
  .hidden_title
    = t('.tags')
  .close_link
    = link_to "X", "#", :id => "close_x", :class => "close"
  .hidden_content
    = render :partial => "help_tags"
