<%= render :partial => "listings/breadcrumb" %>

<% if params[:category] %>
  <% if !params[:subcategory] && Listing.get_sub_categories(params[:category]) %>
      <%= render :partial => "listings/category", :collection => Listing.get_sub_categories(params[:category]) %>
  <% else %>
  <% if @listing %>
  <div id="add_listing_form">
  <div id="form_error_messages">
  <%= error_messages_for 'listing' %>
  <%= error_messages_for 'image' %>
  </div>
  <% error_class_language = "" %>
  <% @listing.errors.full_messages.each do |message| %>
    <% if message.include? "Language" %>
      <% error_class_language = "fieldWithErrors" %>
    <% end %> 
  <% end %>
  <% form_for @listing, :html => {:multipart => true} do |f| %>
  <table class="form">
    <tr>
      <td><b><%= t(:title) %>:</b></td>
      <td><%= f.text_field :title, :size => 80 %></td>
    </tr>
    <tr>
      <td><b><%= t(:content) %>:</b></td>
      <td><%= f.text_area :content, :size => "77x5" %></td>
    </tr>
    <tr>
      <td><b><%= t(:language) %>:</b></td>
      <td>
        <div class="<%= error_class_language %>">  
        <table>
          <tr>
            <td><%= f.check_box :language_fi, :checked => "checked" %></td>
            <td><%= t(:fi) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><%= f.check_box :language_en %></td>
            <td><%= t(:en) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><%= f.check_box :language_swe %></td>
            <td><%= t(:swe) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
        </table>
        </div>  
      </td>  
    </tr>
    <tr>
      <td><b><%= t(:good_thru) %>:</b></td>
      <td><%= f.text_field :good_thru, :size => "20" %> <%= t(:good_thru_format) %> </td>
    </tr>
      <tr>
        <td><b><%= t(:image) %>:</b></td>
        <td><%= f.file_field :image_file %></td>
      </tr>
    <%= f.hidden_field :status, :value => "open" %>
    <%= f.hidden_field :author_id, :value => "TeemuT" %>
    <%= f.hidden_field :times_viewed, :value => "0" %>
    <% if params[:subcategory]%>
      <%= f.hidden_field :category, :value => params[:subcategory] %>
    <% else %>
      <%= f.hidden_field :category, :value => params[:category] %>
    <% end %>
  </table>
  <table class="form">  
    <tr>
      <td><%= submit_tag t(:add_listing_submit), :onclick => "this.disabled=true,this.form.submit();" %></td>    
    </tr>
  </table>

  <% end %>
  </div>
  <% end %>
  <% end %>
<% else %>
  <%= render :partial => "listings/category", :collection => Listing::MAIN_CATEGORIES %>
<% end %>


