<h1><%= @person.name(session[:cookie]) %></h1>

<div class="links_panel">
  <div class="left_float">
    <%= get_profile_navi_items(params[:person_id]) %> <span class="page_entries_info">(<%= page_entries_info @listings %>)</span>
  </div>
  <div class="right_float">
    <%= will_paginate @listings, :prev_label => t(:previous), :next_label => t(:next) %>
  </div>  
</div>

<div id="container">

<% if (@listings.size > 0)%>
  <table class="listing">
  <%= render :partial => "listings/listing", :collection => @listings %>
  </table>
  <div class="links_panel">
    <div class="left_float">
      <%= t(:show_listings_on_page) %>:
      <%= create_footer_pagination_links(["10", "30", "50", "all"], @pagination_type) %>
    </div>
    <div class="right_float">
      <%= will_paginate @listings, :prev_label => t(:previous), :next_label => t(:next) %>
    </div>  
  </div>
  <br />
<% else %>
  <p><%= t(:no_listings) %></p>
<% end %>
</div>