<h1><%= @person.name(session[:cookie]) %></h1>

<div class="links_panel">
  <div class="left_float">
    <%= get_profile_navi_items(params[:person_id]) %>
  </div>
  <div class="right_float">
    <%= will_paginate @listings, :prev_label => t(:previous), :next_label => t(:next) %>
  </div>  
</div>

<% if @listings.size > 0 %>
  <%= render :partial => "listings/listing", :collection => @listings, :spacer_template => "layouts/dashed_line" %>
  <% if @listings.total_pages > 1 %>
  <div class="links_panel">
    <div class="left_float">
      <%= t(:show_listings_on_page) %>:
      <%= create_footer_pagination_links(["10", "30", "50", "all"], @pagination_type) %>
    </div>
    <div class="right_float">
      <%= will_paginate @listings, :prev_label => t(:previous), :next_label => t(:next) %>
    </div>  
  </div>
  <% end %>
  <br />
<% else %>
  <p><%= t(:no_listings) %></p>
<% end %>