<h1><%= t(:search_listings_title)%> </h1>
<p>
  <%= t(:search_instructions) %>
</p>
<div id="basic_content">
  <% form_tag({ :action => "search" }, :method => "get") do %>
    <% if params[:type].eql?("advanced") %>  
      <%= render :partial => "listings/search_advanced" %>
    <% else %>
      <%= render :partial => "listings/search_regular" %>
    <% end %>
  <% end %>
</div>

<br />

<% if params[:q]%>

<%= render :partial => "listings/search_results" %>

<% end %>