%h1
  #{t(".#{@listing.category}_#{@listing.listing_type}")}: #{@listing.title}
%br/

.share_types
  = @listing.share_type.join(", ") if @listing.share_type
  %br/
  %br/
  
.tags  
  = @listing.tag_list.sort.join(", ")