<div id="title_with_border">
  <div id="title_div">
    <h1 class="no_border">
      <% if (@listing.title.length > 35 && !@listing.title.include?(" "))%>
        <%= @listing.title.slice!(0..35) + "..." %>
      <% else %>
        <%= h(@listing.title) %> 
      <% end %>
    </h1>
  </div>
</div>

<div id="basic_content">
  
  <div id="listing_contents">
  
    <%= text_with_line_breaks(@listing.content) %>
  
    <br /><br />
  
    <div id="listing_author_box">
      <div id="listing_author_box_image">
        <%= small_avatar_thumb(@listing.author) %>
      </div>
      <div id="listing_author_box_titles">
        <div class="listing_author_box_item">
          <%= t(:author) %>:
        </div>
        <div class="listing_author_box_item">
          <%= t(:status) %>:  
        </div>
      </div>
      <div id="listing_author_box_texts">
        <div class="listing_author_box_item">
          <%= link_to(@listing.author.name(session[:cookie]), @listing.author) + " " + @listing.created_at.to_formatted_s(:basic_date_format_minutes) %>
        </div>
        <div class="listing_author_box_item">
          <% if @listing.open? %>
            <%= t(:open) + " " + t(:until_begin).downcase + " " + @listing.good_thru.to_formatted_s(:basic_date_format) + " " + t(:until_end) %>
          <% else %>
            <%= t(:closed) %>
          <% end %>  
        </div>
      </div>  
    </div>
  
    <br />
  
    <% if @current_user && @listing.author != @current_user %>
    <!--    
      <% if PersonInterestingListing.find_by_person_id_and_listing_id(@current_user.id, @listing.id) %>
        <%= link_to t(:mark_as_not_interesting), mark_as_not_interesting_listing_path(@listing), :method => :delete %>
      <% else %>
        <%= link_to t(:mark_as_interesting), mark_as_interesting_listing_path(@listing), :method => :post %>
      <% end %>
    -->  
    <% end %>
    
    <br /><br />
  
    <% if @current_user && @listing.open? %>
      <% form_for :listing_comment, :url => listing_comments_path(@listing) do |f| %>
        <b><%= t(:comment_listing) %> </b><br /><br />
        <%= f.text_area :content, :size => "48x5" %>
        <br />
        <%= f.hidden_field :author_id, :value => @current_user.id %>
        <%= submit_tag t(:send_comment), :onclick => "this.disabled=true,this.form.submit();" %>
      <% end %>  
    <% end %>
  
  </div>

  <div id="listing_image">
    <% if @current_user && @listing.author != @current_user && @listing.open? %>
      <div id="reply_to_listing">
        <%= link_to t(:reply), reply_listing_path(@listing) %>
      </div>
    <% elsif @listing.open? %>
      <div id="reply_to_listing">
        <%= link_to t(:close_listing), close_person_listing_path(@current_user, @listing) %>
      </div>
    <% end %>   
    <% if File.exists?(RAILS_ROOT + "/public/images/listing_images/#{@listing.id.to_s}.png") %>
      <img src="/images/listing_images/<%= @listing.id.to_s %>.png" />
    <% end %>
  </div>
  
  <div id="comments">
    
  <br /><br />
  
  <% if (@listing.comments.size > 0) %>
    <div id="comments">
      <h4><%= t(:comments) %></h4>
      <%= render :partial => "listing_comments/listing_comment", 
                 :collection => @listing.comments, 
                 :as => :comment, 
                 :spacer_template => "layouts/dashed_line" %>
    </div>
  <% end %>
  
  </div>
  
</div>
