- content_for :javascript do
  initialize_comment_form('#{I18n.locale}');

- content_for :extra_javascript do
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"

#listing_image_side.grid_8
  .image
    - if @listing.listing_images.empty?
      %div{:id => "listing_category_big_icon_#{@listing.category}"}
    - @listing.listing_images.each do |listing_image|
      = image_tag listing_image.image.url(:medium), :class => "listing_main_image", :alt => @listing.title
  - if current_user?(@listing.author) || (@current_user && @current_user.has_admin_rights_in?(@current_community))
    #edit_links
      = render :partial => "edit_links"
    
#listing_content_side.grid_16
  #listing_center.grid_9.alpha
    %h1
      #{t(".#{@listing.category}_#{@listing.listing_type}")}: #{@listing.title}
    - if @listing.category == "rideshare"
      %p
        %strong
          = t("listings.form.departure_time.departure_time") + ": " + l(@listing.valid_until, :format => :short)
    %p
      - text_with_line_breaks do
        = @listing.description.blank? ? t(".no_description") : @listing.description
    
    #share_types_and_tags
      - unless @listing.share_types.empty? && @listing.tag_list.empty?    
        - unless @listing.tag_list.empty?
          %strong
            = t(".tags") + ":"
          - @listing.tag_list.collect do |tag| 
            = tag + ((tag.eql?(@listing.tag_list.last)) ? "" : ", ")
        - unless @listing.share_types.empty? || @listing.tag_list.empty?
          %br/
        - unless @listing.share_types.empty?
          %strong
            = t(".share_types_#{@listing.listing_type}") + ":"
          - @listing.share_types.collect do |st| 
            = t("common.share_types.#{st.name}")  + ((st.name.eql?(@listing.share_types.last.name)) ? "" : ", ")
        - unless @listing.share_types.empty? && @listing.tag_list.empty?
          %br/
      %strong
        = t(".times_viewed") + ":"
      = pluralize(@listing.times_viewed.to_s, t(".time"), t(".times")) 
            
    #listing_author
      .float_left
        = small_avatar_thumb(@listing.author)
      #listing_author_description
        %strong
          = t(".#{@listing.listing_type}_author") + ":"
          = link_to @listing.author.name, @listing.author, :id => "listing_author_link"
        %br/
        %span{:class => "smaller"}
          = t(".#{@listing.listing_type}_created") + " " + l(@listing.created_at, :format => :short)

  #listing_right_panel.grid_7.omega
    #listing_reply_link
      = render :partial => "reply_link"
    - if @listing.origin_loc && @listing.origin_loc.address != ""
      #googlemap
        = render :partial => "googlemap", :locals => { :rideshare => (@listing.category == "rideshare")}
        = render :partial => "origin", :locals => { :origin_loc => @listing.origin_loc }
        - if @listing.category == "rideshare"
          = render :partial => "destination", :locals => { :destination_loc => @listing.destination_loc }
        - if @listing.location != nil 
          #single_listing_location
            = @listing.location.address
    #additional_listing_links
      .float_left
        = link_to(t(".share"), "http://twitter.com/share", :class => "twitter-share-button", "data-count" => "horizontal", "data-via" => "kassi_eu", "data-related" => "avoinyritys:Our company blog.")
        %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
      .float_left
        = facebook_like
        - fb_image = @listing.listing_images.empty? ? "images/kassi_logo.png" : @listing.listing_images.first.image.url(:medium)
        - content_for :head do
          %meta{ :property => "og:title", :content => @listing.title} 
          %meta{ :property => "og:type", :content =>"website"}
          %meta{ :property => "og:url", :content =>"http://#{@current_community.domain}.#{request.domain}/listings/#{@listing.id.to_s}"}   
          %meta{ :property => "og:image", :content =>"http://#{@current_community.domain}.#{request.domain}/#{fb_image}"}
          %meta{ :property => "og:site_name", :content =>"Kassi: "}
          %meta{ :property => "fb:admins", :content =>"823616678"}
          %meta{ :property => "og:description", :content => @listing.content}
        
  .clear
  
  #comments
    %h2
      = image_tag "/images/icons/comment_icon.png"
      = t(".comments")
      %span{:id => "comment_count"}= "(#{@listing.comments.count})"
    = render :partial => "comment", :collection => @listing.comments
  
  #comment_notice  
  
  #listing_comment_form
    = render :partial => "comment_form"