<div id="title_with_border">
  <div class="arrow_left">
    <%= 
      link_to image_tag("/images/arrow_left.png", :border => 0, 
                                                  :alt => t(:previous_listing),
                                                  :onmouseover => "this.src='/images/arrow_left_hilight.png';",
                                                  :onmouseout => "this.src='/images/arrow_left.png';"
                       ), @previous_listing 
    %>
  </div>
  <div id="title_div">
    <h1 class="no_border">
      <% if (@listing.title.length > 38 && !@listing.title.include?(" "))%>
        <%= @listing.title.slice!(0..38) + "..." %>
      <% else %>
        <%= @listing.title %>
      <% end %>
    </h1>
  </div>
  <div class="arrow_right">
    <%= 
      link_to image_tag("/images/arrow_right.png", :border => 0, 
                                                  :alt => t(:next_listing),
                                                  :onmouseover => "this.src='/images/arrow_right_hilight.png';",
                                                  :onmouseout => "this.src='/images/arrow_right.png';"
                       ), @next_listing 
    %>
  </div>
</div>
<div id="basic_content">
  
  <div id="listing_contents">
  
  <table class="no_padding">
    <tr>
      <td>
        <b><%= t(:author) %>: </b>
      </td>
      <td>
        <i><%= link_to(@listing.author_id, "/people/" + @listing.author_id.to_s) + " " + @listing.created_at.to_formatted_s(:basic_date_format_minutes) %></i>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t(:good_thru) %>: &nbsp;
      </td>
      <td>
        </b><%= @listing.good_thru.to_formatted_s(:basic_date_format) %> asti
      </td>
    </tr>
  </table>
   
  <p><%= @listing.content %></p>
  <br />
  <% if @current_user && @listing.author != @current_user %>
    <%= link_to(t(:reply), reply_listing_path(@listing)) %> 
    | 
    <% if InterestingListing.find_by_person_id_and_listing_id(@current_user.id, @listing.id) %>
      <%= link_to t(:mark_as_not_interesting), mark_as_not_interesting_listing_path(@listing), :method => :delete %>
    <% else %>
      <%= link_to t(:mark_as_interesting), mark_as_interesting_listing_path(@listing), :method => :post %>
    <% end %>
  <% end %>
  <br /><br /><br />
  
  <% if @current_user %>
  
  <%= render :partial => "layouts/announcements" %>
  
  <% form_for :listing_comment, :url => listing_comments_path(@listing) do |f| %>
    <b>Kommentoi ilmoitusta:</b><br /><br />
    <%= f.text_area :content, :size => "48x5" %>
    <br />
    <%= f.hidden_field :author_id, :value => @current_user.id %>
    <%= submit_tag t(:send_comment), :onclick => "this.disabled=true,this.form.submit();" %>
  <% end %>
  
  <% end%>
  
  </div>

  <div id="listing_image">
    <img src="/images/listing_images/<%= @listing.id.to_s %>.png" />
  </div>
  
  <div id="listing_comments">
    
  <br /><br />
  
  <% if (@listing.comments.size > 0) %>
    <h4><%= t(:comments) %></h4>
    <table>
      <%= render :partial => "listing_comments/listing_comment", :collection => @listing.comments %>
    </table>
  <% end %>  
  
  </div>
  
</div>
