
<div id="title_with_border">
  <div id="title_div">
    <h1 class="no_border">
      <%= t(@listing.category) %>: 
      <% if (@listing.title.length > 35 && !@listing.title.include?(" "))%>
        <%= @listing.title.slice!(0..35) + "..." %>
      <% else %>
        <%= h(@listing.title) %> 
      <% end %>
    </h1>
  </div>
</div>

<div id="basic_content">
  
  <div id="listing_contents">
  
    <%= text_with_line_breaks(@listing.content) %>
  
    <br /><br />
  
    <div id="listing_author_box">
      <div id="listing_author_box_image">
        <%= small_avatar_thumb(@listing.author) %>
      </div>
      <div id="listing_author_box_titles">
        <div class="listing_author_box_item">
          <%= t(:author) %>:
        </div>
        <div class="listing_author_box_item">
          <%= t(:status) %>:  
        </div>
        <div class="listing_author_box_item">
          <%= t(:created).capitalize %>:  
        </div>
				<% if @listing.last_modified %>
        	<div class="listing_author_box_item">
          	<%= t(:updated).capitalize %>:  
        	</div>
				<%end%>
      </div>
      <div id="listing_author_box_texts">
        <div class="listing_author_box_item">
          <%= link_to(@listing.author.name(session[:cookie]), @listing.author) %>
        </div>
        <div class="listing_author_box_item">
          <% if @listing.open? %>
            <%= t(:open) + " " + t(:until_begin).downcase + " " + @listing.good_thru.to_formatted_s(:basic_date_format) + " " + t(:until_end) %>
          <% else %>
            <b><%= t(:closed) %></b>
          <% end %>  
        </div>
        <div class="listing_author_box_item">
          <%= @listing.created_at.to_formatted_s(:basic_date_format_minutes) %>
        </div>
				<% if @listing.last_modified%>
        	<div class="listing_author_box_item">
          	<%= @listing.last_modified.to_formatted_s(:basic_date_format_minutes) %>
        	</div>
				<%end%>
      </div>  
    </div>
  
    <br />
  </div>

  <div id="listing_image">
    <% if @listing.open? %>
      <div class="reply_to_listing">
      <% if @current_user && is_current_user?(@listing.author) %>
        <%= link_to t(:close_listing), close_person_listing_path(@current_user, @listing, :return_to => request.request_uri) %>
      <% else %>
        <%= link_to t(:reply), :controller => :conversations, 
                               :action => :new, 
                               :person_id => @current_user, 
                               :target_object => @listing, 
                               :target_object_type => "listing", 
                               :return_to => request.request_uri %>
      <% end %>
      <% if @current_user && !is_current_user?(@listing.author) %>
        <div id="follow_link">
          <% if @current_user.is_following?(@listing) %>
            <%= render :partial => 'unfollow_link' %>
          <% else %>
            <%= render :partial => 'follow_link' %>
          <% end %>
        </div>
      <% end %>
    <% end %> 
    
    <% if @current_user && is_current_user?(@listing.author) %>
      <% unless @listing.open? %>
        <div class="reply_to_listing">
      <% end %>    
			  <%= link_to t(:edit_listing), edit_listing_path(@listing) %>
    <% end %>
    
    </div>
    <div class="additional_listing_links">
      <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script><style> html .fb_share_link { padding:2px 0 0 20px; height:16px; background:url(http://b.static.ak.fbcdn.net/rsrc.php/zAB5S/hash/4273uaqa.gif) no-repeat top left; }</style><a href="http://www.facebook.com/share.php?u=<%= "#{request.protocol}#{request.host}#{listing_path(@listing)}" %>" onclick="return fbs_click()" target="_blank" class="fb_share_link"><%= t(:share_on_facebook) %></a>
      <meta name="title" content="<%= t(@listing.category) %>: <%= h(@listing.title) %>"  />
      <meta name="description" content="<%= h(@listing.content) %>" />
      
    </div>
    
    <br />  
    <% if File.exists?(RAILS_ROOT + "/public/images/listing_images/#{@listing.id.to_s}.png") %>
      <img src="/images/listing_images/<%= @listing.id.to_s %>.png" />
    <% end %>
  </div>
  
  <div id="comments">
    
    
  
  <% if (@listing.comments.size > 0) %>
    <br /><br />
    <a name="comments"></a>
      <h4><%= t(:comments) + " (" + @listing.comments.size.to_s + ")" %></h4>
      <%= render :partial => "listing_comments/listing_comment", 
                 :collection => @listing.comments, 
                 :as => :comment, 
                 :spacer_template => "layouts/dashed_line" %>
  <% end %>
  
  <br />
  
  <% if @current_user && @listing.open? %>
    <% form_for :listing_comment, :url => listing_comments_path(@listing) do |f| %>
      <b><%= t(:comment_listing) %> </b><br /><br />
      <%= f.text_area :content, :size => "80x6" %>
      <br />
      <%= f.hidden_field :author_id, :value => @current_user.id %>
      <% unless is_current_user?(@listing.author) %>
        <br />
        <%= check_box_tag "listing_comment[author_follow_status]", "true", :checked => true %> <%= t(:get_email_notifications_of_new_comments) %>
        <br />
      <% end %>  
      <br />
      <%= submit_tag t(:send_comment), :onclick => "this.disabled=true,this.form.submit();" %>
    <% end %>
  <% elsif @listing.open? %>
      <b><%= t(:you_have_to_log_in_to_comment_listing) %>. &nbsp;<%= link_to t(:log_in_here), new_session_path %></b>
  <% end %>
  
  </div>
  
</div>
