- content_for :title do
  Domain

.content-card-header
  %h1.content-card-header-title Domain

.content-card-section-container
  %form.content-card-section-form

    %section.content-card-section
      %h2 Sharetribe domain
      %p.ingress
        Your Sharetribe marketplace domain is
        = succeed "." do
          %a{:href => "#"} https://bikerrrs.sharetribe.com
      .form-group
        %label{:for => "sharetribeDomain"} Your Sharetribe domain
        .input-group
          %input#sharetribeDomain.form-control{"aria-label" => "Marketplace domain", :style => "border-radius: 4px 0 0 4px", :type => "text", :value => "bikerrrs"}/
          .input-group-append
            %span.input-group-text .sharetribe.com
          %small#sharetribeDomain-help.form-text Only letters, numbers and hyphens can be used. Your old Sharetribe domain will become available for other marketplaces to use and it will not redirect to your new Sharetribe domain.

    %section.content-card-section
      %h2 Custom domain
      .statusbar.business
        %span
          ✨
          %b Pro feature:
          Would you like to configure your own custom domain?
          = succeed "." do
            %a{:href => "/admin/plan", :target => "_blank"} Upgrade to the Pro plan or higher
      %p.ingress
        To set your custom domain, we first need to check that the domain that you have chosen is pointing to Sharetribe's servers. Before moving forward, make sure that you have followed the
        %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers.
      .form-group
        %label{:for => "customDomain"} Custom domain
        %input#marketplaceName.form-control{"aria-describedby" => "customDomain", :disabled => "disabled", :placeholder => "https://www.example.com", :type => "text", :value => ""}/
        %small#customDomain-help.form-text Only letters, numbers and hyphens can be used. You can use a root domain (example.com) or a subdomain (marketplace.example.com).

    %section.content-card-terminal
      %a.btn.btn-primary{"aria-hidden" => "true", "data-target" => "#sharetribeDomainChangeModal", "data-toggle" => "modal", :href => "#"} Save changes

-# domain_1

.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2 Sharetribe domain
      %p.ingress
        Your Sharetribe marketplace domain is
        = succeed "." do
          %a{:href => "#"} https://bikerrrs.sharetribe.com
        %br
        You can't change the Sharetribe domain when the custom domain feature is enabled.
    %section.content-card-section
      %h2 Custom domain
      %p.ingress
        To set your custom domain, we first need to check that the domain that you have chosen is pointing to Sharetribe's servers. Before moving forward, make sure that you have followed the
        %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers.
      .form-group
        %label{:for => "customDomain"} Custom domain
        %input#marketplaceName.form-control{"aria-describedby" => "customDomain", :placeholder => "www.example.com", :type => "text", :value => ""}/
        %small#customDomain-help.form-text You can use a root domain (example.com) or a subdomain (marketplace.example.com).
    %section.content-card-terminal
      %a.btn.btn-secondary{"aria-hidden" => "true", "data-target" => "#testDNSsettings", "data-toggle" => "modal", :href => "#"} Test DNS settings

-# domain_2

.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2 Sharetribe domain
      %p.ingress
        Your Sharetribe marketplace domain is
        = succeed "." do
          %a{:href => "#"} https://bikerrrs.sharetribe.com
        %br
        You can't change the Sharetribe domain when the custom domain feature is enabled.
    %section.content-card-section
      %h2 Custom domain
      %p.ingress
        To set your custom domain, we first need to check that the domain that you have chosen is pointing to Sharetribe's servers. Before moving forward, make sure that you have followed the
        %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers.
      .form-group
        %label{:for => "customDomain"} Custom domain
        .statusbar.attention.withIcon
          .spinner
            %svg.spinnerSmall{:preserveaspectratio => "xMidYMid", :viewbox => "0 0 30 30", :xmlns => "http://www.w3.org/2000/svg"}
              %circle{:cx => "15", :cy => "15", :fill => "none", :r => "12", "stroke-linecap" => "round"}
                %animatetransform{:attributename => "transform", :begin => "0s", :calcmode => "linear", :dur => "1.8s", :keytimes => "0;0.5;1", :repeatcount => "indefinite", :type => "rotate", :values => "0 15 15;180 15 15;720 15 15"}
                %animate{:attributename => "stroke-dasharray", :begin => "0s", :calcmode => "linear", :dur => "1.8s", :keytimes => "0;0.5;1", :repeatcount => "indefinite", :values => "9 56;46 14;9 56"}
          %span
            %strong Status: Testing DNS settings for www.bikerrrs.com…
            %br/
            %small Testing takes 10-15 minutes to complete. Check back soon and refresh this page to check the status.
        %input#marketplaceName.form-control{"aria-describedby" => "customDomain", :disabled => "disabled", :placeholder => "www.example.com", :type => "text", :value => "www.bikerrrs.com"}/
        %small#customDomain-help.form-text You can't change the custom domain during the DNS testing.

-# domain_3a

.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2 Sharetribe domain
      %p.ingress
        Your Sharetribe marketplace domain is
        = succeed "." do
          %a{:href => "#"} https://bikerrrs.sharetribe.com
        %br
        You can't change the Sharetribe domain when the custom domain feature is enabled.
    %section.content-card-section
      %h2 Custom domain
      %p.ingress
        To set your custom domain, we first need to check that the domain that you have chosen is pointing to Sharetribe's servers. Before moving forward, make sure that you have followed the
        %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers.
      .form-group
        %label{:for => "customDomain"} Custom domain
        .statusbar.positive
          %span
            %strong Looking good! DNS settings for www.bikerrrs.com have been configured successfully:
            %ul{:style => "margin-top: 8px"}
              %li
                Main domain:
                %strong www.bikerrrs.com
                \- Success!
              %li
                Redirect:
                %strong bikerrrs.com
                \- Success!
        %input#marketplaceName.form-control{"aria-describedby" => "customDomain", :disabled => "disabled", :placeholder => "www.example.com", :type => "text", :value => "www.bikerrrs.com"}/
        %small#customDomain-help.form-text
          %a{:href => "domain_1.php"} Check DNS settings of another domain.
    %section.content-card-terminal
      %a.btn.btn-primary{:href => "domain_4.php"} Start using www.bikerrrs.com

-# domain_3b

.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2 Sharetribe domain
      %p.ingress
        Your Sharetribe marketplace domain is
        = succeed "." do
          %a{:href => "#"} https://bikerrrs.sharetribe.com
        %br
        You can't change the Sharetribe domain when the custom domain feature is enabled.
    %section.content-card-section
      %h2 Custom domain
      %p.ingress
        To set your custom domain, we first need to check that the domain that you have chosen is pointing to Sharetribe's servers. Before moving forward, make sure that you have followed the
        %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers.
      .form-group
        %label{:for => "customDomain"} Custom domain
        .statusbar.attention
          %span
            %strong Heads up! Errors were found in the DNS settings for www.bikerrrs.com:
            %ul{:style => "margin-top: 8px"}
              %li
                Main domain:
                %strong www.bikerrrs.com
                \- Success!
              %li
                Redirect:
                %strong bikerrrs.com
                \- Error:
                %ul
                  %li This domain is not configured correctly. This domain will not redirect to your marketplace. Make sure that the domain DNS records are configured correctly and check again if you want to use this domain for redirecting purposes. If you don't want the redirect, you can ignore this error and proceed with the setup.
          %a.btn-sm.btn-secondary{"aria-hidden" => "true", "data-target" => "#testDNSsettings", "data-toggle" => "modal", :href => "#", :style => "margin-top: 16px"} Re-test DNS settings for www.bikerrrs.com
        %input#marketplaceName.form-control{"aria-describedby" => "customDomain", :disabled => "disabled", :placeholder => "www.example.com", :type => "text", :value => "www.bikerrrs.com"}/
        %small#customDomain-help.form-text
          %a{:href => "domain_1.php"} Check DNS settings of another domain.
    %section.content-card-terminal
      %a.btn.btn-primary{:href => "domain_4.php"} Start using bikerrrs.com

-# domain_3c

.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2 Sharetribe domain
      %p.ingress
        Your Sharetribe marketplace domain is
        = succeed "." do
          %a{:href => "#"} https://bikerrrs.sharetribe.com
        %br
        You can't change the Sharetribe domain when the custom domain feature is enabled.
    %section.content-card-section
      %h2 Custom domain
      %p.ingress
        To set your custom domain, we first need to check that the domain that you have chosen is pointing to Sharetribe's servers. Before moving forward, make sure that you have followed the
        %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers.
      .form-group
        %label{:for => "customDomain"} Custom domain
        .statusbar.negative
          %span
            %strong DNS settings for www.bikerrrs.com have not been configured correctly:
            %ul{:style => "margin-top: 8px"}
              %li
                Main domain:
                %strong www.bikerrrs.com
                \- Error:
                %ul
                  %li This domain is not configured correctly. This domain will not redirect to your marketplace. Make sure that the domain DNS records are configured correctly.
              %li
                Redirect:
                %strong bikerrrs.com
                \- Error:
                %ul
                  %li This domain is not configured correctly. This domain will not redirect to your marketplace. Make sure that the domain DNS records are configured correctly and check again if you want to use this domain for redirecting purposes. If you don't want the redirect, you can ignore this error and proceed with the setup.
            Make sure that you have followed the
            %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers.
          %a.btn-sm.btn-secondary{"aria-hidden" => "true", "data-target" => "#testDNSsettings", "data-toggle" => "modal", :href => "#", :style => "margin-top: 16px"} Re-test DNS settings for www.bikerrrs.com
        %input#marketplaceName.form-control{"aria-describedby" => "customDomain", :disabled => "disabled", :placeholder => "www.example.com", :type => "text", :value => "www.bikerrrs.com"}/
        %small#customDomain-help.form-text
          %a{:href => "domain_1.php"} Check DNS settings of another domain.

-# domain 4

.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2 Sharetribe domain
      %p.ingress
        Your Sharetribe marketplace domain is
        = succeed "." do
          %a{:href => "#"} https://bikerrrs.sharetribe.com
        %br
        You can't change the Sharetribe domain when the custom domain feature is enabled.
    %section.content-card-section
      %h2 Custom domain
      %p.ingress
        To set your custom domain, we first need to check that the domain that you have chosen is pointing to Sharetribe's servers. Before moving forward, make sure that you have followed the
        %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers.
      .form-group
        %label{:for => "customDomain"} Custom domain
        .statusbar.attention.withIcon
          .spinner
            %svg.spinnerSmall{:preserveaspectratio => "xMidYMid", :viewbox => "0 0 30 30", :xmlns => "http://www.w3.org/2000/svg"}
              %circle{:cx => "15", :cy => "15", :fill => "none", :r => "12", "stroke-linecap" => "round"}
                %animatetransform{:attributename => "transform", :begin => "0s", :calcmode => "linear", :dur => "1.8s", :keytimes => "0;0.5;1", :repeatcount => "indefinite", :type => "rotate", :values => "0 15 15;180 15 15;720 15 15"}
                %animate{:attributename => "stroke-dasharray", :begin => "0s", :calcmode => "linear", :dur => "1.8s", :keytimes => "0;0.5;1", :repeatcount => "indefinite", :values => "9 56;46 14;9 56"}
          %span
            %strong Status: Finalizing domain installation and setting up www.bikerrrs.com…
            %br/
            %small Production setup takes 10-15 minutes to complete. Check back soon and refresh this page to check the status.
        %input#marketplaceName.form-control{"aria-describedby" => "customDomain", :disabled => "disabled", :placeholder => "www.example.com", :type => "text", :value => "www.bikerrrs.com"}/
        %small#customDomain-help.form-text You can't change the custom domain during the production setup.

-# domain 5_a

.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2 Sharetribe domain
      %p.ingress
        Your Sharetribe marketplace domain
        %a{:href => "#"} https://bikerrrs.sharetribe.com
        is  redirected to your custom domain,
        = succeed "." do
          %a{:href => "#"} https://www.bikerrrs.com
        %br
        You can't change the Sharetribe domain when the custom domain feature is enabled.
    %section.content-card-section
      %h2 Custom domain
      %p.ingress
        %strong
          Your marketplace domain is
          = succeed "." do
            %a{:href => "#"} https://www.bikerrrs.com
      .form-group
        %label{:for => "customDomain"} Custom domain
        .statusbar.positive
          %span
            %strong www.bikerrrs.com has been configured successfully.
        %input#marketplaceName.form-control{"aria-describedby" => "customDomain", :disabled => "disabled", :placeholder => "www.example.com", :type => "text", :value => "www.bikerrrs.com"}/
        %small#customDomain-help.form-text
          Would you like to change your marketplace custom domain?
          = succeed "." do
            %a{:href => "#"} Contact the Sharetribe team
    %section.content-card-terminal
      %button.btn.btn-ghost{:href => "https://help.sharetribe.com/en/articles/4680152", :target => "_blank"} Other settings to review after your domain setup

-# domain 5_b

.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2 Sharetribe domain
      %p.ingress
        Your Sharetribe marketplace domain is
        = succeed "." do
          %a{:href => "#"} https://bikerrrs.sharetribe.com
        %br
        You can't change the Sharetribe domain when the custom domain feature is enabled.
    %section.content-card-section
      %h2 Custom domain
      %p.ingress
        To set your custom domain, we first need to check that the domain that you have chosen is pointing to Sharetribe's servers. Before moving forward, make sure that you have followed the
        %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers.
      .form-group
        %label{:for => "customDomain"} Custom domain
        .statusbar.negative
          %span
            %strong Domain setup failed:
            %ul{:style => "margin-top: 8px"}
              %li
                %strong www.bikerrrs.com
                \- Error:
                %ul
                  %li Your domain DNS changes might not have taken effect yet. Occasionally, this can take up to 48 hours.
            Make sure that you have followed the
            = succeed "." do
              %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers
            = succeed "." do
              %a{:href => "#"} contact the Sharetribe team
          %a.btn-sm.btn-secondary{:href => "domain_4.php", :style => "margin-top: 16px"} Retry domain setup
        %input#marketplaceName.form-control{"aria-describedby" => "customDomain", :disabled => "disabled", :placeholder => "www.example.com", :type => "text", :value => "www.bikerrrs.com"}/
        %small#customDomain-help.form-text
          %a{:href => "domain_1.php"} Check DNS settings of another domain.


-# domain 5_c

.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2 Sharetribe domain
      %p.ingress
        Your Sharetribe marketplace domain is
        = succeed "." do
          %a{:href => "#"} https://bikerrrs.sharetribe.com
        %br
        You can't change the Sharetribe domain when the custom domain feature is enabled.
    %section.content-card-section
      %h2 Custom domain
      %p.ingress
        To set your custom domain, we first need to check that the domain that you have chosen is pointing to Sharetribe's servers. Before moving forward, make sure that you have followed the
        %a.external-link{:href => "https://help.sharetribe.com/en/articles/666106", :target => "_blank"} instructions to point your domain to Sharetribe's servers.
      .form-group
        %label{:for => "customDomain"} Custom domain
        .statusbar.attention.withIcon
          .spinner
            %svg.spinnerSmall{:preserveaspectratio => "xMidYMid", :viewbox => "0 0 30 30", :xmlns => "http://www.w3.org/2000/svg"}
              %circle{:cx => "15", :cy => "15", :fill => "none", :r => "12", "stroke-linecap" => "round"}
                %animatetransform{:attributename => "transform", :begin => "0s", :calcmode => "linear", :dur => "1.8s", :keytimes => "0;0.5;1", :repeatcount => "indefinite", :type => "rotate", :values => "0 15 15;180 15 15;720 15 15"}
                %animate{:attributename => "stroke-dasharray", :begin => "0s", :calcmode => "linear", :dur => "1.8s", :keytimes => "0;0.5;1", :repeatcount => "indefinite", :values => "9 56;46 14;9 56"}
          %span
            %strong Status: Finalizing domain installation and setting up www.bikerrrs.com…
            %br/
            %small
              Hmm, the domain setup is taking longer than expected. Check back soon and refresh this page to check the status or
              = succeed "." do
                %a{:href => "#"} contact the Sharetribe team
        %input#marketplaceName.form-control{"aria-describedby" => "customDomain", :disabled => "disabled", :placeholder => "www.example.com", :type => "text", :value => "www.bikerrrs.com"}/
        %small#customDomain-help.form-text You can't change the custom domain during the production setup.
