- if @current_user != person
  - if @current_user.follows?(person)
    = link_to person_follower_path(person, @current_user), :method => "delete", :class => "follow-button unfollow button-hoverable" do
      .content.hover-content
        Unfollow
        = person.given_name_or_username
      .content.default-content
        Following
        = person.given_name_or_username
  - else
    = link_to [ person, :followers ], :method => "post", :class => "follow-button" do
      .content
        Follow
        = person.given_name_or_username
