= render :layout => "layouts/lightbox", locals: {id: field, field: field} do
  - unless ['terms', 'privacy'].include?(field)
    %h2
      .hidden_title
        = t("people.help_texts.#{field}_title")

  = render :partial => "people/help_texts/#{field}"
