%div{:id => field, :class => help_text_class(field)}
  - if field.eql?("terms")
    .hidden_title_wide
      = render :file => community_file("terms_title", false)
  - else
    .hidden_title
      = t(".#{field}_title")
  .close_link
    = link_to "X", "#", :id => "close_x", :class => "close"
  .hidden_content
    = render :partial => "people/help_texts/#{field}"