<div class="listed_object">
  <div class="listed_object_person_image">
    <%= small_avatar_thumb(comment.author) %>
  </div>
  <div class="listed_comment_center">
    <div class="listed_comment_paragraph">
      <b><%= link_to comment.author.name(session[:cookie]), comment.author %></b>
    </div>
    <div class="listed_comment_paragraph">
      <%= comment.created_at.to_formatted_s(:basic_date_format_minutes) %>
    </div> 
  </div>
  <div class="listed_comment_right">
    <div class="listed_comment_paragraph">
      <%= text_with_line_breaks(comment.text_content) %>
    </div>  
    <div class="listed_comment_paragraph">
      <i><%= t(:comment_is_related_to_kassi_event) %> <%= link_to get_kassi_event_label_hash(comment.kassi_event)[:title], person_kassi_event_path(@person, comment.kassi_event) %></i>
    </div>  
  </div>
  <div class="listed_comment_rightest">
    <%= render :partial => "kassi_events/kassi_event_rating", :locals => { :comment => comment } %>   
  </div>       
</div>  