#inbox_tabs
  %div{:class => get_profile_tab_class("offers")}
    - offer_count = show_closed? ? @person.offers.visible_to(@current_user, @current_community).count : @person.offers.open.visible_to(@current_user, @current_community).count
    = link_to t('.offers') + " (#{offer_count})", person_listings_path(:id => @person.id.to_s, :type => "offers", :closed => (params[:closed] || "false"))
  %div{:class => get_profile_tab_class("requests")} 
    - request_count = show_closed? ? @person.requests.visible_to(@current_user, @current_community).count : @person.requests.open.visible_to(@current_user, @current_community).count
    = link_to t('.requests') + " (#{request_count})", person_listings_path(:id => @person.id.to_s, :type => "requests", :closed => (params[:closed] || "false"))
  #show_closed_link
    - if show_closed?
      = link_to t(".show_only_open"), person_listings_path(:id => @person.id.to_s, :type => (params[:type] || "offers"), :closed => "false")
    - else
      = link_to t(".show_also_closed"), person_listings_path(:id => @person.id.to_s, :type => (params[:type] || "offers"), :closed => "true") 
#profile_tab_spacer
#listing_list
  = render :partial => "listings/listed_listing", :collection => @listings, :as => :listing, :spacer_template => "listings/listing_spacer"
  = will_paginate(@listings)
  = pageless(@listings.total_pages, '#listing_list', person_path(:id => @person.id, :type => (params[:type] || "offers"), :closed => params[:closed]), t(".loading_more_#{params[:type] ? params[:type] : 'offers'}"))