- listing = testimonial.participation.conversation.listing
%span
  = link_to testimonial.author.given_name_or_username, testimonial.author
  = t(".#{profile_testimonial_other_person_role(@person, listing)}ed_#{listing.category}")
  - if listing.visibility.eql?("disabled")
    &ldquo;#{listing.title}&rdquo;
  - else
    = link_to listing.title, listing
  = time_ago(testimonial.created_at) + "."
  
%br/ 
%br/
%span
  %i
    - unless testimonial.text.eql?("")
      &ldquo;#{truncate(testimonial.text, :length => 60, :omission => "...")}&rdquo;
      %br/
      %br/
  %b
    = t(".grade").capitalize + " " + grade_text(testimonial.displayed_grade).downcase + "."
    