<div class="profile_info_field_title">
  <div id="favor_description_<%= favor.id.to_s %>">
    <%= render :partial => 'favors/title_no_description', :locals => { :favor => favor } %>
  </div>
</div>
<div class="profile_info_field_links">
  <div class="right_float">
  <% if is_current_user?(@person) %>
    <%= link_to_remote t(:edit), :url => edit_person_favor_path(@person, favor), :update => "favor_" + favor.id.to_s, :method => :get %> | 
    <%= link_to_remote t(:remove), :url => favor_path(favor), :method => :delete %>
  <% else %>
    <%= link_to t(:ask_for_this_favor), ask_for_person_favor_path(@person, favor) %> | 
    <%= link_to t(:i_have_received_this_favor), thank_for_person_favor_path(@person, favor) %>
  <% end %>
  </div>  
</div>
