- listing = testimonial.participation.conversation.listing
%span
  = link_to testimonial.author.given_name_or_username, testimonial.author
  = t(".#{profile_testimonial_other_person_role(@person, listing)}ed_#{listing.category}")
  - if listing.visibility.eql?("disabled")
    &ldquo;#{listing.title}&rdquo;
  - else
    = link_to listing.title, listing
  = t(".and_gave_following_feedback")
  = time_ago(testimonial.created_at) + ":"
  
%span
  %i
    - if testimonial.text.eql?("")
      &ldquo;#{grade_text(testimonial.displayed_grade).capitalize}&rdquo;
    - else
      &ldquo;#{truncate(testimonial.text, :length => 100, :omission => "...")}&rdquo;
    