- if current_user?(service.person)
  = render :partial => "people/edit_profile_button"
- elsif @current_community.allow_free_conversations?
  %a.profile-contact-link{href: new_person_person_message_path(service.person)}
    .content
      = t("people.show.contact", :person => PersonViewUtils.person_display_name_for_type(service.person, "first_name_only"))

- if @current_community.follow_in_use? && @current_user && !current_user?(service.person)
  = render :partial => "follow_button", :locals => { :person => service.person }

- if service.admin?
  .admin-actions
    %label= t("people.show.admin_actions")

    %a.profile-edit-link{href: person_settings_path(service.person)}
      .content
        = t("people.show.edit_profile_info")

    - if service.can_post_listing?
      %a.profile-edit-link{href: new_person_listing_path(person_id: service.person.username)}
        .content
          = t("people.show.post_listing_as")

