.profile_location
= fields_for :location do |loc|
  = loc.hidden_field :address, :value => location.address
  = loc.hidden_field :google_address, :value => location.google_address
  = loc.hidden_field :latitude, :value => location.latitude
  = loc.hidden_field :longitude, :value => location.longitude
  = loc.hidden_field :location_type, :value => location.location_type
