.testimonial{:class => "light_#{testimonial.displayed_grade > 2 ? 'green' : 'red' }"}
  - listing = testimonial.participation.conversation.listing
  .avatar
    = small_avatar_thumb(testimonial.author)
  .testimonial-title
    = link_to testimonial.author.given_name_or_username, testimonial.author
    = t("people.profile_feedback.#{profile_testimonial_other_person_role(@person, listing)}ed_#{listing.category}")
    - if listing.visibility.eql?("disabled")
      &ldquo;#{listing.title}&rdquo;
    - else
      = link_to listing.title, listing
    = t("testimonials.testimonial.#{profile_testimonial_other_person_role(@person, listing).eql?('request') ? 'from' : 'to'}_user")
    = @person.given_name_or_username
    = time_ago(testimonial.created_at) + "."
  .testimonial-description
    .testimonial-icon
      - if testimonial.displayed_grade > 4
        .ss-like
      - elsif testimonial.displayed_grade < 3
        .ss-dislike
      - else
        .ss-scales
    .testimonial-text
      - if testimonial.text && !testimonial.text.blank?
        - text_with_line_breaks do
          &ldquo;#{testimonial.text}&rdquo;
