<div class="home_header">
  <div class="left_float">
    <%= t(:newest_listings) %>
  </div>
  <div class="right_float">
    <%= link_to t(:browse_all_listings), listings_path %> | <%= link_to t(:add_new_listing), new_listing_path %>
  </div>    
</div>

<% if @listings.size > 0 %>
  <%= render :partial => "listings/listing", 
             :collection => @listings, 
             :as => :listing, 
             :spacer_template => "layouts/dashed_line" %>
<% else %>             
  <p><%= t(:no_listings) %></p>    
<% end %>
<br />

<div class="home_header">
  <div class="left_float">
    <%= t(:newest_messages) %>
  </div>
  <div class="right_float">
    <%= link_to t(:go_to_inbox), person_inbox_index_path(@current_user) %>
  </div>
</div>    

<% if @person_conversations.size > 0 %>
  <% collection = (@person_conversations.size > 2) ? @person_conversations.values_at(0,1) : @person_conversations %>
  <%= render :partial => "conversations/conversation", 
             :collection => collection, 
             :as => :conversation,
             :spacer_template => "layouts/dashed_line" %>
<% else %>             
  <p><%= t(:no_messages) %></p>    
<% end %>

<br />

<div class="home_header">
  <div class="left_float">
    <%= t(:newest_comments_to_own_listings) %>
  </div>
  <div class="right_float">
    <%= link_to t(:show_all), comments_person_listings_path(@current_user) %>
  </div>
</div>    

<% if @comments && @comments.size > 0 %>
  <%= render :partial => "home_comment", 
             :collection => @comments, 
             :as => :comment,
             :spacer_template => "layouts/dashed_line" %>
<% else %>             
  <p><%= t(:no_comments) %></p>    
<% end %>