<% unless @current_user || params[:nosplash]%>

  <div id="home_ad_box">
    <div id="home_ad_box_top_corners"></div>
    
    <div id="home_ad_box_content">
      <div id="home_ad_box_left">
        <div class="home_ad_box_inner_box bottom_margin">
          <div class="home_ad_box_inner_box_top_corners"></div>
          <div class="home_ad_box_inner_box_content">
            <div class="home_ad_box_inner_box_content_left">
              <h2 class="home"><%= t(:search_item_or_favor) %></h2>
            </div>
            <div class="home_ad_box_inner_box_content_right">
              <p>
                <%= t(:search_item_or_favor_description) %>
              </p>  
            </div>    
          </div>
          <div class="home_ad_box_inner_box_content">
            <% form_tag({ :controller => "search", :action => "index" }, :method => "get") do %>  
            <br />
            <div class="left_float">
              <%= text_field_tag "qa", params[:qa], :class => :home_text %>
              &nbsp;&nbsp;
            </div>
            <div class="left_float">  
              <%= submit_tag t(:search), :class => "home_button home_button_narrow" %>
            </div>
            <% end %>    
          </div>
          <div class="home_ad_box_inner_box_bottom_corners"></div>
        </div>
        <div class="home_ad_box_inner_box bottom_margin">
          <div class="home_ad_box_inner_box_top_corners"></div>
          <div class="home_ad_box_inner_box_content">
            <div class="home_ad_box_inner_box_content_left">
              <h2 class="home_small_margin"><%= t(:post_a_listing) %></h2>
            </div>
            <div class="home_ad_box_inner_box_content_right">
              <p>
                <%= t(:post_a_listing_description) %>
              </p>  
            </div>    
          </div>
          <div class="home_ad_box_inner_box_content">
            <% form_tag({ :controller => "listings", :action => "new" }, :method => "get") do %>
            <div class="left_float">  
              <%= submit_tag t(:add_new_listing), :class => "home_button home_button_wide" %>
            </div>
            <% end %>    
          </div>
          <div class="home_ad_box_inner_box_bottom_corners"></div>
        </div>
        <div class="home_ad_box_inner_box">
          <div class="home_ad_box_inner_box_top_corners"></div>
          <div class="home_ad_box_inner_box_content">
            <div class="home_ad_box_inner_box_content_left">
              <h2 class="home"><%= t(:participate) %></h2>
              <% form_tag({ :controller => "listings", :action => "new" }, :method => "get") do %>
              <div class="left_float">  
                <%= submit_tag t(:add_your_items_and_favors), :class => "home_button home_button_thick" %>
              </div>
              <% end %>
            </div>
            <div class="home_ad_box_inner_box_content_right">
              <p>
                <%= t(:participate_description) %>
              </p>  
            </div>    
          </div>
          <div class="home_ad_box_inner_box_bottom_corners"></div>
        </div>  
      </div> 
      <div id="home_ad_box_right">
        <%= render :partial => "home_introduction_text" %>
        <% form_tag({ :controller => "people", :action => "new" }, :method => "get") do %>  
          <%= submit_tag t(:join_kassi), :class => "home_button home_button_join" %>
        <% end %>
      </div>  
    </div>
    <div id="home_ad_box_bottom_corners"></div>      
  </div>
  
<br />
<% end %>

<div id="home_content" class="home_content">
  <div id="home_content_left">
    <h3 class="home_event_box_title"><%= t(:new_in_kassi) %></h3>
    <div class="solid_line"></div> 
    <div id="content_items">
      <%= render :partial => "content_item", 
                 :collection => @content_items, 
                 :as => :content_item,
                 :spacer_template => "layouts/dashed_line" %>
    </div>
    <div class="solid_line"></div>  
    <br />
    <div id="more_content_items_link">
      <%= render :partial => "more_content_items_link", :locals => { :content_items_per_page => @content_items_per_page } %>
    </div>
  </div>
  <div id="home_content_right">
    <% if @current_user && ((@current_user.items.size < 1 && @current_user.favors.size < 1) || @new_arrived_items_count > 0 || @uncommented_kassi_events_count > 0) %>
    <div class="home_content_right_box">
      <div class="home_content_right_box_top"></div>
      <div class="home_content_right_box_content">
        <h3 class="home_event_box_title"><%= t(:notifications) %></h3>
        <div class="solid_line_white"></div>
        <ul>
          <% if @requests_count > 0 %>
            <li>
              <%= link_to(pluralize(@requests_count, t(:new_request), t(:new_requests)), person_requests_path(@current_user))%>
            </li>
          <% end %>
          <% if @comments_new_count > 0 %>
            <li>
              <%= link_to(pluralize(@comments_new_count, t(:new_comment), t(:new_comments)), comments_person_listings_path(@current_user))%>
            </li>
          <% end %>
          <% if @current_user.uncommented_kassi_event_count > 0 %>
            <li>
              <%= link_to(pluralize(@current_user.uncommented_kassi_event_count, t(:new_kassi_event), t(:new_kassi_events)), 
                  person_kassi_events_path(@current_user)) %>
            </li>
          <% end %>  
          <% if @inbox_new_count > 0 %>
            <li>
              <%= link_to(pluralize(@inbox_new_count, t(:new_message), t(:new_messages)), person_inbox_index_path(@current_user))%>
            </li>
          <% end %>
          <% if @current_user.items.size < 1 && @current_user.favors.size < 1 %>
            <li>
              <%= t(:you_have_not_yet_added_any_items_or_favors) %>. <%= link_to t(:add_new_items_and_favors), @current_user %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="home_content_right_box_bottom"></div>
    </div>
    <br />
    <% end %>
    <div class="home_content_right_box">
      <div class="home_content_right_box_top"></div>
      <div class="home_content_right_box_content">
        <h3 class="home_event_box_title"><%= t(:newest_news) %></h3>
        <div class="solid_line_white"></div>
        <div id="news">
          <%= render :partial => "news_items/news_item",
                     :as => :news_item,
                     :collection => (@rss.nil? ? [] : @rss.items[0..2]), 
                     :spacer_template => "layouts/dashed_line_white" %>
        </div>
        <div class="solid_line_white"></div>  
        <br />
        <div class="home_bottom_link">
          <%= link_to t(:show_all_news_items), RssHandler.get_kassi_news_url, :target => "_blank" %>
        </div>  
      </div>
      <div class="home_content_right_box_bottom"></div>
    </div>
    <br />
    <div class="home_content_right_box">
      <div class="home_content_right_box_top"></div>
      <div class="home_content_right_box_content">
        <h3 class="home_event_box_title"><%= t(:newest_kassi_events) %></h3>
        <div class="solid_line_white"></div>
        <div id="kassi_events">
          <%= render :partial => "kassi_events/frontpage_event",
                     :as => :kassi_event,
                     :collection => @kassi_events, 
                     :spacer_template => "layouts/dashed_line_white" %>
        </div>
        <div class="solid_line_white"></div>  
        <br />
        <div id="more_kassi_events_link" class="home_bottom_link">
          <%= render :partial => "more_kassi_events_link", :locals => { :events_per_page => @events_per_page } %>
        </div>  
      </div>
      <div class="home_content_right_box_bottom"></div>
    </div>    
  </div>
</div>  