  <div class="browse_objects_header">
  <div class="browse_objects_title">
    <%= t(@title) %> <span class="page_entries_info">(<%= page_entries_info @people %>)</span>
  </div>
  <div class="pagination_padding">
    <%= will_paginate @people, :previous_label => t(:previous), :next_label => t(:next) %>
  </div>  
  </div>

  <% if (@people.size > 0)%>
    <%= render :partial => "people/person", :collection => @people, :as => :person, :spacer_template => "layouts/dashed_line" %>
    <div class="solid_line">
    </div>  
    <div id="browse_objects_footer_left">
      <div class="links_panel_text">
        <%= t("show_#{@title}_on_page") %>:
      </div>  
    </div>
    <div id="browse_objects_footer_left">  
      <%= create_footer_pagination_links(["10", "30", "50"], @title) %>
    </div>
    <div class="pagination_more_padding">
      <%= will_paginate @people, :previous_label => t(:previous), :next_label => t(:next) %>
    </div>
    <br />
  <% else %>
    <p><%= t(:no_users) %></p>
  <% end %>
