.members-intro
  %h1= t(".meet_the_people")
  - if @current_user && (@current_user.member_of?(@current_community) || @current_user.is_admin?)
    %p
      - if @people.total_entries > 1
        = t(".here_are_the_members", :count => @people.total_entries, :community_name => @current_community.full_name(I18n.locale))
      - else
        = t(".you_are_the_only_member", :community_name => @current_community.full_name(I18n.locale))
      - if @current_community.allows_user_to_send_invitations?(@current_user)
        = t(".wanna_see_more_folks")
        = link_to t(".invite_people_you_know"), new_invitation_path
  - else
    %p
      = t(".there_are_x_members", :count => @people.total_entries, :community_name => @current_community.full_name(I18n.locale))
      = t(".to_see_the_list_log_in", :log_in_link => link_to(t(".log_in_link"), login_path)).html_safe

- if @current_user && (@current_user.member_of?(@current_community) || @current_user.is_admin?)
  #members.members
    = render :partial => @people
    = will_paginate(@people)
    = pageless(@people.total_pages, '#members', request.fullpath, t('.loading_more_members'))
