<h1><%=t(:register_as_a_kassi_user)%></h1>

<% form_for @person do |f| -%>

<div id="basic_content">
  
  <% errors = translate_error_messages([@person.errors.full_messages]) %>
  <% unless errors.empty? %>
  <div id="form_error_messages">
    <h2><%= t(:registration_failed) %>:</h2>
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <div class="form_container">
    <div class="form_right">
      <%= t(:fields_marked_with_star_are_mandatory) %>
    </div>
  </div>
  <div class="form_container">
    <div class="form_left">
      <%= t(:username) %>*:  
    </div>  
    <div class="form_right">
      <%= f.text_field :username %>
    </div>
  </div>
  <div class="form_container">
    <div class="form_left">
      <%= t(:given_name) %>:  
    </div>  
    <div class="form_right">
      <%= f.text_field :given_name %>
    </div>
  </div>
  <div class="form_container">
    <div class="form_left">
      <%= t(:family_name) %>:  
    </div>  
    <div class="form_right">
      <%= f.text_field :family_name %>
    </div>
  </div>
  <div class="form_container">
    <div class="form_left">
      <%= t(:password) %>*:
    </div>  
    <div class="form_right">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="form_container">
    <div class="form_left">
      <%= t(:password_again) %>*:  
    </div>  
    <div class="form_right">
      <%= f.password_field :password2 %>
    </div>
  </div>
  <div class="form_container">
    <div class="form_left">
      <%= t(:email) %>*:  
    </div>  
    <div class="form_right">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="form_container">
    <div class="form_right">
      <%= f.submit t(:register), :onclick => "this.disabled=true,this.form.submit();" %>
    </div>
  </div>
</div>

<%end%>