<div id="login_box">
  <div class="home_content_right_box_top"></div>
  <div class="home_content_right_box_content">
    <h3 class="home_event_box_title"><%=t(:register_as_a_kassi_user)%></h3>
    <div class="solid_line_white"></div>
    <% form_for @person do |f| -%>
      <div class="login_form_br"></div>
      <%= display_errors(@person, :registration_failed) %>
      <div class="login_padding">
        <%= t(:fields_marked_with_star_are_mandatory) %>
      </div>
      <div class="login_form_br"></div>
      <div class="login_padding">
        <b><%= t(:username) %>*:</b><br />
      </div>
      <div class="login_padding">
        <%= f.text_field :username, :class => :login_text %><br />
      </div>
      <div class="login_padding">  
        <b><%= t(:given_name) %>:</b><br />
      </div>
      <div class="login_padding">
        <%= f.text_field :given_name, :class => :login_text  %><br />
      </div>
      <div class="login_padding">  
        <b><%= t(:family_name) %>:</b><br />
      </div>
      <div class="login_padding">
        <%= f.text_field :family_name, :class => :login_text  %><br />
      </div>
      <div class="login_padding">  
        <b><%= t(:password) %>*:</b><br />
      </div>
      <div class="login_padding">
        <%= f.password_field :password, :class => :login_text %><br />
      </div>
      <div class="login_padding">  
        <b><%= t(:password_again) %>*:</b><br />
      </div>
      <div class="login_padding">
        <%= f.password_field :password2, :class => :login_text  %><br />
      </div>
      <div class="login_padding">  
        <b><%= t(:email) %>*:</b><br />
      </div>
      <div class="login_padding">
        <%= f.text_field :email, :class => :login_text  %><br />
      </div>
      <div class="login_form_br"></div>  
      <div class="login_form_br"></div>
      <div class="login_padding">
        <div class="consent_checkbox">
          <div class="left_float">
            <% checked = params[:person] && params[:person][:consent] %>
            <%= check_box_tag "person[consent]", 1, checked, :class=> :checkbox %>
          </div>
          <div class="left_float consent_label">  
            <%= f.label :consent, t(:i_accept_the_consent) + " " + 
                link_to_function(t(:consent), "new Effect.toggle('consent', 'blind')") + "*" %>
          </div>
        </div>     
      </div>
      <div class="login_form_br"></div>
      <div id="consent" class="consent" style="display:none;">
        <%= render :partial => "consents/consent" %>
      </div>  
      <div class="login_form_br"></div>
      <div class="login_padding">  
        <%= submit_tag t(:register), :class => "home_button home_button_narrow", :onclick => "this.disabled=true,this.form.submit();" %> 
      </div>     
    <% end -%>
  </div>
  <div class="home_content_right_box_bottom"></div>
</div>

