- content_for :javascript do
  initialize_signup_form("#{I18n.locale}","#{t("people.new.username_is_in_use")}","#{t("people.new.username_is_invalid")}","#{email_not_accepted_message}", "#{t("people.new.invalid_invitation_code")}", #{@current_community.real_name_required?}, #{@current_community.join_with_invite_only?} );

- content_for :title_header do
  %h1= t('.sign_up')

.signup-form.centered-section

  - if @community_customization && @community_customization.signup_info_content
    %p
      = @community_customization.signup_info_content.html_safe
  - elsif @current_community.allowed_emails && @current_community.allowed_emails[0] != "/" 
    %p
      = t('.email_restriction_instructions',
            :community_name => @current_community.name(I18n.locale),
            :allowed_emails => @current_community.allowed_emails,
            :count => (@current_community.allowed_emails.split(",").count))

  - unless !facebook_connect_in_use? || params[:no_fb]
    = render :partial => "layouts/facebook_connect_button", :locals => { :button_text => t(".create_account_with_provider", provider: 'Facebook') }

  - if google_connect_in_use?
    = link_to person_google_oauth2_omniauth_authorize_path, id: 'google-oauth2-login',
      class: 'google-login-button' do
      %span.google-icon
        %svg{:height => "100%", :space => "preserve", :style => "fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;", :version => "1.1", :viewbox => "0 0 99 100", :width => "100%", :xmlns => "http://www.w3.org/2000/svg", "xmlns:serif" => "http://www.serif.com/", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %g{:transform => "matrix(1,0,0,1,-0.989086,-1.77636e-15)"}
            %g{:transform => "matrix(5.09322,0,0,5.09322,0.989086,-11.1187)"}
              %path{:d => "M19.246,12.228C19.246,14.085 18.857,15.739 18.08,17.19C17.304,18.641 16.196,19.775 14.759,20.592C13.321,21.408 11.674,21.817 9.817,21.817C8.487,21.817 7.214,21.558 6,21.04C4.786,20.522 3.741,19.826 2.866,18.951C1.991,18.076 1.295,17.031 0.777,15.817C0.259,14.603 0,13.33 0,12C0,10.67 0.259,9.397 0.777,8.183C1.295,6.969 1.991,5.924 2.866,5.049C3.741,4.174 4.786,3.478 6,2.96C7.214,2.442 8.487,2.183 9.817,2.183C12.371,2.183 14.563,3.04 16.393,4.754L13.728,7.313C12.683,6.304 11.379,5.799 9.817,5.799C8.719,5.799 7.703,6.076 6.77,6.629C5.837,7.183 5.098,7.935 4.554,8.886C4.009,9.837 3.737,10.875 3.737,12C3.737,13.125 4.009,14.163 4.554,15.114C5.098,16.065 5.837,16.817 6.77,17.371C7.703,17.924 8.719,18.201 9.817,18.201C10.558,18.201 11.239,18.098 11.859,17.893C12.48,17.688 12.991,17.431 13.393,17.123C13.795,16.815 14.145,16.464 14.444,16.071C14.743,15.679 14.962,15.308 15.1,14.96C15.239,14.612 15.335,14.281 15.388,13.969L9.817,13.969L9.817,10.594L19.085,10.594C19.192,11.156 19.246,11.701 19.246,12.228Z", :style => "fill:white;fill-rule:nonzero;"}
      %span.google-text
        = t('.create_account_with_provider', provider: 'Google')
        
  - if linkedin_connect_in_use?
    = link_to person_linkedin_omniauth_authorize_path, id: 'linkedin-login',
      class: 'linkedin-login-button' do
      = icon_tag("linkedin", ["linkedin-icon"])
      %span.linkedin-text
        = t('.create_account_with_provider', provider: 'LinkedIn')

  - if facebook_connect_in_use? || google_connect_in_use? || linkedin_connect_in_use?
    .signup-horizontal-line
      .signup-horizontal-line-text=t(".OR")

    %h3=t(".signup_with_email")

  = form_for @service.person, :url => APP_CONFIG.login_domain.to_s + people_path do |form|

    -# Invite code
    - if @current_community.join_with_invite_only?
      .inline-label-container
        = label_tag :invitation_code, t('.invitation_code'), :class => "inline"
        = link_to(t('common.what_is_this'), "#", :tabindex => "-1", :id => "help_invitation_code_link", :class => "label-info")
      = text_field_tag "invitation_code", nil, :class => :text_field, :maxlength => "20", :value => (params[:code] || "")
    - elsif params[:code]
      = hidden_field_tag "invitation_code", params[:code]

    -# Honey pot: hidden field to detect spammers
    = form.label :input_again, "You should not see this field, if CSS is working. If you see this, please send feedback!", :class => "unwanted_text_field"
    = form.text_field :input_again, :class => "unwanted_text_field", :id => "error_regristration_unwanted_email2", :autocomplete => "off"

    -# Email
    = form.label :email, t('.email')
    = form.text_field :email, :class => :text_field, :maxlength => "255"

    -# Name
    = form.label :given_name, t('.given_name')
    = form.text_field :given_name, :class => :text_field, :maxlength => "30"
    = form.label :family_name, t('.family_name')
    = form.text_field :family_name, :class => :text_field, :maxlength => "30"

    -# Username
    = form.label :username, username_label
    = form.text_field :username, :class => :text_field, :maxlength => "20", :id => "person_username1"

    -# Password
    = form.label :password, t('common.password')
    = form.password_field :password, :class => :text_field, :maxlength => "255", :id => "person_password1"
    = form.label :password2, t('.password_again')
    = form.password_field :password2, :class => :text_field, :maxlength => "255"

    - if @service.has_person_custom_fields?
      - @service.custom_field_values.each_with_index do |custom_field_value, index|
        - custom_field = custom_field_value.question
        - custom_field.with_type do |field_type|
          - prefix = "person[custom_field_values_attributes][]"
          .inline-label-container
            = label "person_custom_fields", index, custom_field.name(I18n.locale),
              class: 'inline'
            - if custom_field.public?
              %small= t('.this_field_will_be_publicly_visible')
          = hidden_field_tag "#{prefix}[id]", custom_field_value.id
          = hidden_field_tag "#{prefix}[type]", custom_field_value.type
          = hidden_field_tag "#{prefix}[custom_field_id]", custom_field_value.custom_field_id
          = render "settings/custom_fields/#{field_type}", :service => @service,
            :custom_field => custom_field, index: index,
            :custom_field_value => custom_field_value,
            :prefix => prefix
      .inline-label-container

    -# Terms
    .outer-checkbox-container
      .checkbox-container
        - unless @skip_terms_checkbox
          %input{:type => "checkbox", :id => "person_terms", :name => "person[terms]"}
          = form.label :terms, :class => "checkbox" do
            = raw t('.i_accept_the_terms_and_privacy',
              terms: link_to(t(".terms"), "#", :tabindex => "-1", :id => "terms_link", :class => "form"),
              privacy: link_to(t(".privacy"), "#", :tabindex => "-1", :id => "privacy_link", :class => "form"),)

    = form.hidden_field :consent, :value => @current_community.consent

    .outer-checkbox-container
      .checkbox-container
        %input{:type => "checkbox", :id => "person_admin_emails_consent", :name => "person[admin_emails_consent]"}
        = form.label :admin_emails_consent, t('.admin_emails_consent'), :class => 'checkbox'


    = button_tag t('.create_new_account')

= render :partial => "help_texts", :collection => ["terms", "help_invitation_code", "privacy"], :as => :field
