<h1>Hae ihmisiä</h1>

<% form_tag({ :action => "search" }, :method => "get") do %>
  <br />
  <div class="form_container">
    <div class="form_left">
      <%= t(:name) %>:
    </div>
    <div class="form_right">
      <%= text_field_tag "name", params[:name], :size => 30 %>
    </div>
  </div>
  <div class="form_container">
    <div class="form_left">  
      <%= t(:username) %>:
    </div>
    <div class="form_right">  
      <%= text_field_tag "username", params[:username], :size => 30 %>
    </div>
  </div>
  <div class="form_container">  
    <div class="form_left">
      <%= t(:lives_in) %>:
    </div>
    <div class="form_right">  
      <%= text_field_tag "lives_in", params[:lives_in], :size => 30 %>
    </div>
  </div>
  <div class="form_container">
    <div class="form_left">
      <%= t(:item_that_person_owns) %>:
    </div>
    <div class="form_right">
      <%= text_field_tag "q", params[:q], :size => 30 %>
    </div>
  </div>
  <div class="form_container">  
    <div class="form_left">
      <%= t(:favor_that_person_is_willing_to_do) %>:
    </div>
    <div class="form_right">
      <%= text_field_tag "q", params[:q], :size => 30 %>
    </div>  
  </div>
  <div class="form_container">
    <div class="form_right">
      <%= submit_tag t(:search), :onclick => "this.disabled=true,this.form.submit();" %>
    </div>
  </div>
<% end %>