<h1><%= @title %></h1>

<div id="basic_content">

  <%= get_profile_navi_items(params[:id]) %>
  
  <br /><br />

  <img src="/images/teemu_t_iso.jpg" alt="TeemuT">
  
  <br /><br />
  
  <%= link_to t(:send_message_to_user), send_message_person_path(@person) %>
  
  <p><%= t(:name)%>: <%= @person.name(session[:cookie]) %></p>

</div>