<h1><%= @title %></h1>

<div id="basic_content">

  <%= link_to t(:information), person_friends_path(@person) %> |
  <%= link_to t(:friends), person_friends_path(@person) %> |
  <%= link_to t(:contacts), person_friends_path(@person) %> |
  <%= link_to t(:listings), person_friends_path(@person) %> 
  
  <br /><br />

  <img src="/images/teemu_t_iso.jpg" alt="TeemuT">
  

</div>