<div id="profile_header">
  <%= render :partial => "profile_header" %>
</div>  

<div class="links_panel">
  <div class="left_float">
    <%= get_profile_navi_items(@person.id) %>
  </div>
  <div class="right_float">
    <% unless @person.id == @current_user.id %>
      <%= link_to t(:send_message_to_user), send_message_person_path(@person) %> |
      <span id="<%= @person.id %>_friendstatus">
        <%= render :partial => "people/friend_status_link", :locals => { :person => @person } %>
      </span>
    <% end %>  
  </div>  
</div>

<div id="profile_left">

  <div id="profile_picture">
    <%= large_avatar_thumb(@person) %>
  </div>
  
  <% if is_current_user?(@person) %>
  <div class="profile_left_link">
    <%= link_to t(:edit_profile_picture), edit_person_avatar_path(@person) %>
  </div>  
  <div class="dashed_line"></div>
  <br />
  <% end %>

</div>  

<div id="profile_right">  

  <div class="profile_small_header">
    <div class="left_float">
      <b><%= t(:information) %></b>
    </div>
    <div class="right_float">
      <% if is_current_user?(@person) %>
        <div id="edit_profile_link">
          <%= render :partial => "edit_profile_link" %>
        </div>
      <% end %> 
    </div>
  </div>
  
  <div class="profile_info">
    <div id="profile_info_texts">
      <%= render :partial => "people/profile_info" %>
    </div>
  </div>
  
  <a name="items"></a>
  <div class="profile_small_header">
    <b><%= t(:items_i_can_lend) %></b>
  </div>
  
  <div class="profile_info">
    <div id="profile_items">
      <% if @items.size > 0 %>
        <%= render :partial => "people/profile_item", :collection => @items, :as => :item, :spacer_template => "layouts/dashed_line" %>
      <% else %>
        <div class="profile_info_field"><%= t(:no_items)%></div>
      <% end %>
    </div>  
  </div>
  
  <% if @person.id == @current_user.id %>
    <div id="profile_add_item">
      <%= render :partial => "people/profile_add_item" %>
    </div>  
  <% end %>
  
  <a name="favors"></a>
  <div class="profile_small_header">
    <b><%= t(:favors_i_can_do) %></b>
  </div>
  
  <div class="profile_info">
    <div id="profile_favors">
      <% if @favors.size > 0 %>
        <%= render :partial => "people/profile_favor", :collection => @favors, :as => :favor, :spacer_template => "layouts/dashed_line" %>
      <% else %>
        <div class="profile_info_field"><%= t(:no_favors)%></div>
      <% end %>
    </div>
  </div>
  
  <% if @person.id == @current_user.id %>
    <div id="profile_add_favor">
      <%= render :partial => "people/profile_add_favor" %>
    </div>
  <% end %>

</div>

<% if (@person.received_comments.size > 0) %>
  <div id="comments">
    <h4><%= t(:comments) %> (<%= @person.received_comments.size.to_s %>) </h4>
    <%= render :partial => "people/person_comment", 
               :collection => @person.received_comments, 
               :as => :comment, 
               :spacer_template => "layouts/dashed_line" %>
  </div>
<% end %>