<h1><%= @title %></h1>

  <div class="links_panel">
    <div class="left_float">
      <%= get_profile_navi_items(params[:id]) %>
    </div>
    <div class="right_float">
      <% unless @person.id == @current_user.id %>
        <%= link_to t(:send_message_to_user), send_message_person_path(@person) %>
      <% end %>  
    </div>  
  </div>

<div id="profile_left">

  <div id="profile_picture">
    <img src="/images/teemu_t_iso.jpg" alt="TeemuT">
  </div>  

</div>  

<div id="profile_right">  

  <div class="profile_small_header">
    <div class="left_float">
      <b><%= t(:information) %></b>
    </div>
    <div class="right_float">
      <%= link_to t(:edit), "#" if is_current_user?(@person) %>
    </div>
  </div>
  
  <div class="profile_info">
    <div class="profile_info_field">
      <div class="profile_info_field_title">
        <b><%= t(:otasizzle_username)%>:</b> <%= @person.username(session[:cookie]) %>
      </div>
    </div>
    <div class="dashed_line"></div>
    <div class="profile_info_field">  
      <div class="profile_info_field_title">  
        <b><%= t(:email)%>:</b>
      </div>
    </div>  
    <div class="dashed_line"></div>
     <div class="profile_info_field">  
      <div class="profile_info_field_title">  
        <b><%= t(:address)%>:</b>
      </div>  
    </div>
  </div>
  
  <div class="profile_small_header">
    <b><%= t(:items_i_can_lend) %></b>
  </div>
  
  <div class="profile_info">
    <% if @items.size > 0 %>
      <%= render :partial => "people/profile_items", :collection => @items, :as => :item, :spacer_template => "layouts/dashed_line" %>
    <% else %>
      <div class="profile_info_field"><%= t(:no_items)%></div>
    <% end %>
  </div>
  
  <% if @person.id == @current_user.id %>
  
  <div class="profile_add_form">
  
  <% form_for :item, :url => items_path do |f| %>
    <%= f.text_field :title, :size => 40 %> &nbsp;&nbsp;
    <%= f.hidden_field :owner_id, :value => @current_user.id %>
    <%= submit_tag t(:add_new_item), :onclick => "this.disabled=true,this.form.submit();" %>
  <% end %>
  
  </div>
  
  <% end %>
  
  <div class="profile_small_header">
    <b><%= t(:favors_i_can_do) %></b>
  </div>
  
  <div class="profile_info">
    <% if @favors.size > 0 %>
      <%= render :partial => "people/profile_favors", :collection => @favors, :as => :favor, :spacer_template => "layouts/dashed_line" %>
    <% else %>
      <div class="profile_info_field"><%= t(:no_favors)%></div>
    <% end %>
  </div>
  
  <% if @person.id == @current_user.id %>
  
  <div class="profile_add_form">
  
  <% form_for :favor, :url => favors_path do |f| %>
    <%= f.text_field :title, :size => 40 %> &nbsp;&nbsp;
    <%= f.hidden_field :owner_id, :value => @current_user.id %>
    <%= submit_tag t(:add_new_favor), :onclick => "this.disabled=true,this.form.submit();" %><br />
  <% end %>
  
  </div>

  <% end %>

</div>