<div id="profile_header">
  <%= render :partial => "profile_header" %>
</div>  

<div class="links_panel">
  <div class="left_float">
    <div class="links_panel_tabs">
      <%= get_profile_navi_items(@person.id) %>
    </div>
  </div>
  <div class="right_float">
  </div>  
</div>

<div id="profile_left">

  <div id="profile_picture">
    <%= large_avatar_thumb(@person) %>
  </div>
  
  <% if is_current_user?(@person) %>
    <div class="profile_left_link">
      <%= link_to_remote t(:edit_profile_information), :url => edit_person_path(@person), :method => :get %>
    </div>
    <div class="profile_left_link">
      <%= link_to t(:edit_profile_picture), edit_person_avatar_path(@person) %>
    </div>
  <% else %>
    <div class="profile_left_link">
      <%= link_to t(:send_message_to_user), :controller => :conversations, 
                                            :action => :new, 
                                            :person_id => @current_user, 
                                            :receiver => @person, 
                                            :return_to => request.request_uri %>
    </div>
    <div class="profile_left_link">
      <span id="<%= @person.id %>_friendstatus">
        <%= render :partial => "people/friend_status_link", :locals => { :person => @person } %>
      </span>
    </div>
  <% end %>
  <div class="profile_left_link">
    <p>
      <i><%= t(:joined_kassi) + " " + @person.created_at.to_formatted_s(:basic_date_format_minutes) %></i>
    </p>
  </div>
</div>  

<div id="profile_right">  

  <div class="profile_small_header">
    <div class="left_float">
      <b><%= t(:information) %></b>
    </div>
    <div class="right_float">
      <% if is_current_user?(@person) %>
        <div id="edit_profile_link">
          <%= render :partial => "edit_profile_link" %>
        </div>
      <% end %> 
    </div>
  </div>
  
  <div class="profile_info">
    <div id="profile_info_texts">
      <%= render :partial => "people/profile_info" %>
    </div>
  </div>
  
  <a name="items"></a>
  <div class="profile_small_header">
    <b><%= t(:items_i_can_lend) %></b>
  </div>
  
  <div class="profile_info">
    <div id="profile_items">
      <% if @items.size > 0 %>
        <% if is_current_user?(@person) %>
          <%= render :partial => "people/profile_item", :collection => @items, :as => :item, :spacer_template => "layouts/dashed_line" %>
        <% else %>  
          <% form_tag(borrow_person_items_path(@person, :receiver => @person.id, :return_to => request.request_uri), 
             :method => "get", :name => "select_borrowed_items_form") do %>
            <%= hidden_field_tag :receiver, @person.id.to_s %>
            <%= hidden_field_tag :return_to, request.request_uri %>
            <%= render :partial => "people/profile_item", :collection => @items, :as => :item, :spacer_template => "layouts/dashed_line" %>
            <div class="small_padding">
              <%= submit_tag t(:borrow_selected), :id => "borrow_selected_button", :disabled => :true %>
            </div>  
          <% end %>
        <% end %>    
      <% else %>
        <div class="profile_info_field"><%= t(:no_items)%></div>
      <% end %>
    </div>  
  </div>
  
  <% if @person.id == @current_user.id %>
    <div id="profile_add_item">
      <%= render :partial => "people/profile_add_item" %>
    </div>  
  <% end %>
  
  <a name="favors"></a>
  <div class="profile_small_header">
    <b><%= t(:favors_i_can_do) %></b>
  </div>
  
  <div class="profile_info">
    <div id="profile_favors">
      <% if @favors.size > 0 %>
        <%= render :partial => "people/profile_favor", :collection => @favors, :as => :favor, :spacer_template => "layouts/dashed_line" %>
      <% else %>
        <div class="profile_info_field"><%= t(:no_favors)%></div>
      <% end %>
    </div>
  </div>

  <% if @person.id == @current_user.id %>
    <div id="profile_add_favor">
      <%= render :partial => "people/profile_add_favor" %>
    </div>
  <% end %>
  
  <a name="groups"></a>
  <div class="profile_small_header">
    <b><%= t(:groups_title) %></b>
  </div>
  
  <div class="profile_info">
    <% if @groups.size > 0 %>
      <%= render :partial => "people/profile_group", :collection => @groups, :as => :group, :spacer_template => "layouts/dashed_line" %>
    <% else %>
      <div class="profile_info_field"><%= t(:no_groups)%></div>
    <% end %>
  </div>

</div>

<% if (@person.received_comments.size > 0) %>
  <div id="comments">
    <br />
    <h4><%= t(:feedback_from_kassi_events) %> (<%= @person.received_comments.size.to_s %>) </h4>
    <%= render :partial => "people/person_comment", 
               :collection => @person.received_comments, 
               :as => :comment, 
               :spacer_template => "layouts/dashed_line" %>
  </div>
<% end %>