.form-group
  %label= t('admin2.config_transactions.agreement_label')
  .multiple-languages-container
    - customizations.each do |customization|
      = form.fields_for :community_customizations, customization do |cc|
        .multiple-languages-language
          %span.language
            = local_name(cc.object.locale)
        .multiple-languages-input
          = cc.text_field :transaction_agreement_label, placeholder: t('admin2.config_transactions.agreement_label_placeholder', locale: cc.object.locale), class: %i[form-control]
    %small.form-text
      = t('admin2.config_transactions.agreement_label_info_text')

.form-group
  %label= t('admin2.config_transactions.agreement_text')
  .multiple-languages-container
    - customizations.each do |customization|
      = form.fields_for :community_customizations, customization do |cc|
        .multiple-languages-language
          %span.language
            = local_name(cc.object.locale)
        .multiple-languages-input
          = cc.text_area :transaction_agreement_content, class: %i[form-control]
    %small.form-text
      = t('admin2.config_transactions.agreement_text_info_text')
