.form-group
  %label= t('admin2.config_transactions.agreement_label')
  %small.form-text-above
    = t('admin2.config_transactions.agreement_label_info_text')
  - customizations.each do |customization|
    = form.fields_for :community_customizations, customization do |cc|
      .d-flex.multiple-languages
        %span.language
          = t("admin.communities.available_languages.#{cc.object.locale}")
        = cc.text_field :transaction_agreement_label, class: %i[form-control]

.form-group
  %label= t('admin2.config_transactions.agreement_text')
  %small.form-text-above
    = t('admin2.config_transactions.agreement_text_info_text')
  - customizations.each do |customization|
    = form.fields_for :community_customizations, customization do |cc|
      .d-flex.multiple-languages
        %span.language
          = t("admin.communities.available_languages.#{cc.object.locale}")
        = cc.text_area :transaction_agreement_content, class: %i[form-control]
