<a name="<%= favor.id.to_s %>">
<div class="listed_object">
  <% cache favor do %>
    <div class="listed_object_person_image">
      <%= small_avatar_thumb(favor.owner) %>
    </div>
    <div class="listed_item_owner_center">
      <div class="listed_object_title">
        <%= link_to favor.owner.name(session[:cookie]), favor.owner %>
      </div>
      <div class="item_description">
        <% if favor.description && !favor.description.eql?("") %>
          <%= text_with_line_breaks(favor.description) %>
        <% else %>
          <%=  t(:no_description) %>
        <% end %>
      </div>   
    </div>
  <% end %>
  <div class="listed_item_owner_right">
    <% unless is_current_user?(favor.owner) %>
    <div class="listed_item_owner_right_link">
      <%= link_to t(:ask_for_favor), :controller => :conversations, 
                                     :action => :new, 
                                     :person_id => @current_user, 
                                     :target_object => favor, 
                                     :target_object_type => "favor", 
                                     :return_to => favors_path %>
    </div>
    <div class="listed_item_owner_right_link">    
      <%= link_to t(:i_have_received_this_favor), thank_for_person_favor_path(favor.owner, favor, :return_to => favors_path) %>
    </div>  
    <% end %>  
  </div>
</div>
