<h1><%= t(:offered_favors) %></h1>

<div class="links_panel">
  <div class="left_float">
    <% @letters.each do |letter| %>
  	 <b><%= link_to letter, "##{letter}" %></b>
  	 <%= " | " unless letter.equal?(@letters[-1]) %>
    <% end %>
  </div>
</div>

<div id="item_content">	
  <% if @favor_titles.size > 0 %>
    <%= render :partial => "letter", :collection => @letters, :as => :letter %>
  <% else %>
  	<h3><%= t(:no_favors) %></h3>
  <% end %>
</div>