<h1><%= t(@title) %></h1>

<%@letters = "abcdefghijklmnopqrstuvxyzåäö".split("")
  @letters.each do |letter|%>
	<a href = "#<%=letter%>"><%=letter%> </a>
  <%end%> 
	
<% if (@favor_titles.size > 0)
	i = 0
	@initial_group = Array.new
	@letters.each do |letter|
		@initial_group.clear
		while @favor_titles[i] != nil && @favor_titles[i].downcase[0,1].eql?(letter)
			@initial_group << @favor_titles[i]
			i += 1
		end	
		if !@initial_group.empty?
		%>
			<table class="favor_title">
			<h2><a name = "<%=letter%>"><%=letter.upcase%></a></h2>
			<%= render :partial => 'favor_title', :collection => @initial_group %>
			</table>
  
	<%	end
	end%>


<% else %>
  	<h3>Ei yhtään palveluksia!
<% end %>
</div>