<h1><%= t(:offered_favors) %></h1>

<div class="links_panel">
  <div class="left_float">
    <div class="links_panel_tabs">
      <% @letters.each do |letter| %>
  	    <b><%= link_to letter, "##{letter}", :class => "links_panel_narrow" %></b>
      <% end %>
    </div>  
  </div>
</div>

<div id="item_content">	
  <% if @favor_titles.size > 0 %>
		<% @letters.each do |key| %>
		<%if !@favor_title_hash[key].empty?%>
			<div class="letter_header">
		  	<a name = "<%=key%>"></a>
		  	<%= key.upcase %>
			</div>
    	<%= render :partial => "favor_title", :collection => @favor_title_hash[key], :as => :favor_title%>
			<%end%>
		<%end%>
  <% else %>
  	<h3><%= t(:no_favors) %></h3>
  <% end %>
</div>
