<h1><%= t(:thank_for_doing_favor) %> "<%= @favor.title %>"</h1>

<div id="basic_content">
  <% form_for @kassi_event, :url => mark_as_done_person_favor_path(@person, @favor) do |f| %>
    <%= f.hidden_field :eventable_id, :value => @favor.id %>
    <%= f.hidden_field :eventable_type, :value => "Favor" %>
    <%= f.hidden_field :receiver_id, :value => @current_user.id %>
    <%= render :partial => "kassi_events/create" %>
    <div class="form_container">
      <%= submit_tag t(:thank_for_favor), :onclick => "this.disabled=true,this.form.submit();" %>
    </div>
  <% end %>
</div>