%label.openInEditor{for: 'verification_to_post_listings_info_content'}
  = t('admin2.user_rights.posting_rights_info')
  %a{id: :edit_link, href: "/editor" + request.path, data: { save_url: mercury_update_path }}
    = image_tag 'svg/edit.svg', alt: 'edit'
    = t('admin2.open_in_editor')

#verification_to_post_listings_info_content{data: {mercury: :full}}
  = @community_customization.verification_to_post_listings_info_content&.html_safe

%small.form-text
  = t('admin2.privacy.small_text', language: get_full_locale_name(I18n.locale))
