- custom_field.options.sort.each do |opt|
  .checkbox-container
    - selected = custom_field_value ? custom_field_value.selected_options.include?(opt) : false
    = check_box_tag "custom_fields[#{custom_field.id}][]", opt.id, selected
    = label_tag "custom_fields[#{custom_field.id}][]", "#{opt.title(I18n.locale)}", :class => "settings-checkbox-label"
