- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.domain.domain")

= render "admin/left_hand_navigation", links: admin_links_for(@current_community)

.left-navi-section
  %h2= t("admin.communities.domain.marketplace_domain")

  = render 'domain', presenter: @presenter

  .row
    .col-12
      %h3= t("admin.communities.domain.main_domain")
      .domain_being_checked
        %p
          = t("admin.communities.domain.domain_being_checked")
          %span.domain_name= @presenter.domain_checked

  .row
    .col-12
      %p
        = t("admin.communities.domain.status")
        %span.domain_checks_passed_with_warning
          = t("admin.communities.domain.checks_passed_with_warning")

      .summary_domain_passed
        %table
          %tr
            %td.title(colspan=2)= t("admin.communities.domain.summary.main_domain")

          %tr
            %td= @presenter.domain_checked
            %td.checks_passed= t("admin.communities.domain.checks_passed")

          %tr
            %td.title(colspan=2)= t("admin.communities.domain.summary.redirect")

          %tr
            %td= @presenter.domain_checked_for_redirect
            %td.checks_passed= t("admin.communities.domain.checks_not_passed")

          %tr
            %td(colspan=2)= t("admin.communities.domain.this_domain_is_not_configured_correctly")

  .row
    .col-6
      = form_for @presenter.community, url: set_admin_domain_path do |form|
        = form.button t("admin.communities.domain.start_using_the_custom_domain")
    .col-6
      = form_for @presenter.community, url: reset_admin_domain_path do |form|
        = form.button t("admin.communities.domain.check_the_domain_again")


