<% other_party = kassi_event.get_other_party(@person) %>

<div class="listed_object <%= 'unread_conversation' if (is_current_user?(@person) && !kassi_event.commented_by?(@current_user)) %>">
  <div class="listed_kassi_event_left">
    <div class="listed_kassi_event_title">
      <%= get_kassi_event_label_hash(kassi_event)[:title] %>
    </div>
    <div class="listed_object_author">
      <%= t(:event_created) + " " + kassi_event.created_at.to_formatted_s(:basic_date_format_minutes) %> 
    </div>
  </div>
  <div class="listed_object_right">
    <div class="listed_object_right_line">
      <div class="listed_object_right_line_title">
        <%= get_kassi_event_label_hash(kassi_event)[:requester][0] %>: 
      </div>  
      <div class="listed_object_right_line_content">
        <%= get_kassi_event_label_hash(kassi_event)[:requester][1] %>
      </div>
    </div>
    <div class="listed_object_right_line">  
      <div class="listed_object_right_line_title">
        <%= get_kassi_event_label_hash(kassi_event)[:provider][0] %>: 
      </div>  
      <div class="listed_object_right_line_content">
        <%= get_kassi_event_label_hash(kassi_event)[:provider][1] %>
      </div>
    </div> 
  </div>
  <div class="feedback_from_kassi_event">
    <% if comment = kassi_event.get_person_comment_from_other_party(@person) %>
      <div class="kassi_event_comment_person_image">
        <%= small_avatar_thumb(comment.author) %>
      </div>
      <div class="kassi_event_comment_content">
        <div class="kassi_event_comment_content_line">
          <b><%= t(:feedback_from_kassi_event_from_user) + " " + link_to(comment.author.name, comment.author) %>:</b>
        </div>
        <div class="kassi_event_comment_content_line">
          <%= render :partial => "kassi_events/kassi_event_rating", :locals => { :comment => comment } %>  
          <% if comment.text_content && !comment.text_content.eql?("") %>
            <i>"<%= text_with_line_breaks(comment.text_content) %>"</i>
          <% end %>
        </div>  
      </div>
    <% elsif is_current_user?(other_party) %>
      <%= render :partial => "feedback_form", :locals => { :kassi_event => kassi_event, :comment_label => :comment_to_user } %>
    <% else %>
      <div class="kassi_event_comment_content">
        <b><%= t(:user_has_not_given_feedback_on_this_kassi_event, :name => other_party.name) %></b>
      </div>  
    <% end %>
    <% if is_current_user?(@person) && !kassi_event.has_been_commented_by?(@current_user) %>
      <div class="kassi_event_comment_give_feedback_link">
        <%= link_to t(:give_feedback_to_user) + " #{other_party.name}", person_kassi_event_path(other_party, kassi_event) %>
      </div>
    <% end %>      
  </div>
</div>