<% 
  case (kassi_event.eventable_type)
  when "Listing"
    listing = kassi_event.eventable
    title = t(:closed_listing) + ": " + link_to(h(listing.title), listing_path(listing))
    if listing.category.eql?("borrow_items")
      right_title1 = t(:item_borrower) + ": "
      receiver = link_to(kassi_event.receiver.name(session[:cookie]), kassi_event.receiver)
      right_title2 = t(:item_lender) + ": "
      realizer = link_to(kassi_event.realizer.name(session[:cookie]), kassi_event.realizer)
    elsif listing.category.eql?("favors")
      right_title1 = t(:favor_receiver) + ": "
      receiver = link_to(kassi_event.receiver.name(session[:cookie]), kassi_event.receiver)
      right_title2 = t(:favor_realizer) + ": "
      realizer = link_to(kassi_event.realizer.name(session[:cookie]), kassi_event.realizer)
    else
      right_title1 = t(:listing_author) + ": "
      receiver = link_to(listing.author.name(session[:cookie]), listing.author)
      another_participant = kassi_event.people.reject { |p| p.id == listing.author.id }.first
      right_title2 = t(:listing_replier) + ": "
      realizer = link_to(another_participant.name(session[:cookie]), another_participant)
    end
    category = listing.category
  when "Item"
    item = kassi_event.eventable
    if @person.id == kassi_event.receiver.id
      if item.status.eql?("disabled")
        title = t(:borrowed_item) + ": " + h(item.title) + " (" + t(:item_removed) + ")"
      else  
        title = t(:borrowed_item) + ": " + h(item.title)
      end  
    else
      if item.status.eql?("disabled") 
        title = t(:lent_item) + ": " + h(item.title) + " (" + t(:item_removed) + ")"
      else  
        title = t(:lent_item) + ": " + link_to(h(item.title), person_path(item.owner) + "#item_" + item.id.to_s)
      end  
    end
    right_title1 = t(:item_borrower) + ": "
    receiver = link_to(kassi_event.receiver.name(session[:cookie]), kassi_event.receiver)
    right_title2 = t(:item_lender) + ": "
    realizer = link_to(kassi_event.realizer.name(session[:cookie]), kassi_event.realizer)   
  when "Favor"
    favor = kassi_event.eventable
    if @person.id == kassi_event.receiver.id
      if favor.status.eql?("disabled")
        title = t(:received_favor) + ": " + h(favor.title) + " (" + t(:favor_removed) + ")"
      else  
        title = t(:received_favor) + ": " + h(favor.title)
      end  
    else
      if favor.status.eql?("disabled")
        title = t(:done_favor) + ": " + h(favor.title) + " (" + t(:favor_removed) + ")"
      else   
        title = t(:done_favor) + ": " + link_to(h(favor.title), person_path(favor.owner) + "#favor_" + favor.id.to_s)
      end  
    end
    right_title1 = t(:favor_receiver) + ": "
    receiver = link_to(kassi_event.receiver.name(session[:cookie]), kassi_event.receiver)
    right_title2 = t(:favor_realizer) + ": "
    realizer = link_to(kassi_event.realizer.name(session[:cookie]), kassi_event.realizer)
  end      
%>

<div class="listed_object">
  <div class="listed_kassi_event_left">
    <div class="listed_kassi_event_title">
      <%= title %>
    </div>
    <div class="listed_object_author">
      <%= t(:event_created) + " " + kassi_event.created_at.to_formatted_s(:basic_date_format_minutes) %> 
    </div>
  </div>
  <div class="listed_object_right">
    <% if category %>
    <div class="listed_object_right_line">  
      <div class="listed_object_right_line_title">
        <%= t(:listing_category) %>:
      </div>  
      <div class="listed_object_right_line_content">
        <%= link_to(t(category), listing_category_path(category)) %>
      </div>
    </div>
    <% end %>
    <div class="listed_object_right_line">
      <div class="listed_object_right_line_title">
        <%= right_title1 %>
      </div>  
      <div class="listed_object_right_line_content">
        <%= receiver %>
      </div>
    </div>
    <div class="listed_object_right_line">  
      <div class="listed_object_right_line_title">
        <%= right_title2 %>
      </div>  
      <div class="listed_object_right_line_content">
        <%= realizer %>
      </div>
    </div> 
  </div>
</div>