- content_for :title do
  = t('admin2.sidebar.emails.welcome_email')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.sidebar.emails.welcome_email')

.content-card-section-container
  = form_for @current_community, url: update_email_admin2_emails_welcome_emails_path, html: { class: %i[content-card-section-form] }, method: :patch do |form|
    = hidden_field_tag :test_email, 0
    %section.content-card-section
      %h2= t('admin2.welcome_email.title')
      %p.ingress
        = t('admin2.welcome_email.title_info_text')
      .form-group
        %label.openInEditor{for: 'welcome_email_content'}
          = t('admin2.welcome_email.welcome_email_content')
          %a{id: :edit_link, href: "/editor" + request.path, data: { save_url: mercury_update_path }}
            = image_tag 'svg/edit.svg', alt: 'edit'
            = t('admin2.open_in_editor')

        %p.ingress
          = t('admin2.welcome_email.hello')
        #welcome_email_content{data: {mercury: :full}}
          - if @community_customization&.welcome_email_content
            = @community_customization.welcome_email_content.html_safe
          - else
            = render 'default_email'
        %small#welcomeEmailContent-help.form-text
          = t('admin2.welcome_email.welcome_email_content_info_text', language: get_full_locale_name(I18n.locale))
    %section.content-card-terminal.remove-from-mercury
      = link_to t('admin2.welcome_email.send_to_yourself'), '#', class: %i[btn btn-ghost], id: 'send-test-email'

- content_for :extra_javascript do
  :javascript
    $(window).on('mercury:ready', function() {
      $('.remove-from-mercury').hide();
    });

    $("#send-test-email").click(function(){
      var form = $('form'), test_email = $('#test_email');
      test_email.val('1');
      form.submit();
      return false;
    });
