- min = form.object.display_min || service.number_min
- max = form.object.display_max || service.number_max

.form-group
  %label= t('admin2.user_fields.decimal')
  .form-check
    = form.check_box :allow_decimals, class: %i[form-check-input]
    = form.label :allow_decimals, t('admin2.user_fields.allow_decimals'), class: %i[form-check-label]

.form-group
  = form.label :min, t('admin2.user_fields.minimum_value')
  = text_field_tag 'custom_field[min]', min, class: %i[form-control required]

.form-group
  = form.label :max, t('admin2.user_fields.maximum_value')
  = text_field_tag 'custom_field[max]', max, class: %i[form-control required]
