.field-data
  .col-4= t('admin2.user_fields.first_name')
  .col-3= t('admin2.user_fields.text')
  .col.text-center
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .col.text-center
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions.col-2
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  .col-4= t('admin2.user_fields.last_name')
  .col-3= t('admin2.user_fields.text')
  .col.text-center
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .col.text-center
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions.col-2
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  .col-4= t('admin2.user_fields.email_address')
  .col-3= t('admin2.user_fields.text')
  .col.text-center
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .col.text-center
  .actions.col-2
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  .col-4= t('admin2.user_fields.profile_picture')
  .col-3= t('admin2.user_fields.file')
  .col.text-center
  .col.text-center
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions.col-2
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  .col-4= t('admin2.user_fields.location')
  .col-3= t('admin2.user_fields.location')
  .col.text-center
  .col.text-center
  .actions.col-2
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  .col-4= t('admin2.user_fields.display_name')
  .col-3= t('admin2.user_fields.text')
  .col.text-center
  .col.text-center
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions.col-2
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  .col-4= t('admin2.user_fields.phone_number')
  .col-3= t('admin2.user_fields.text')
  .col.text-center
  .col.text-center
  .actions.col-2
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  .col-4= t('admin2.user_fields.about_you')
  .col-3= t('admin2.user_fields.text')
  .col.text-center
  .col.text-center
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions.col-2
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
