.field-data
  %div= t('admin2.user_fields.first_name')
  %div= t('admin2.user_fields.text')
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  %div= t('admin2.user_fields.last_name')
  %div= t('admin2.user_fields.text')
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  %div
  .actions
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  %div= t('admin2.user_fields.email_address')
  %div= t('admin2.user_fields.text')
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  %div
  .actions
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  %div= t('admin2.user_fields.profile_picture')
  %div= t('admin2.user_fields.file')
  %div
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  %div= t('admin2.user_fields.location')
  %div= t('admin2.user_fields.location')
  %div
  %div
  .actions
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  %div= t('admin2.user_fields.display_name')
  %div= t('admin2.user_fields.text')
  %div
  %div
    = image_tag 'svg/checkmark-blue.svg', alt: 'checkmark'
  .actions
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  %div= t('admin2.user_fields.phone_number')
  %div= t('admin2.user_fields.text')
  %div
  %div
  .actions
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
.field-data
  %div= t('admin2.user_fields.about_you')
  %div= t('admin2.user_fields.text')
  %div
  %div
  .actions
    %span.handle-move.disabled{'aria-hidden' => 'true'}
    %span.remove.disabled{'aria-hidden' => 'true'}
    %span.edit.disabled{'aria-hidden' => 'true'}
