- content_for :title do
  = t('admin2.sidebar.analytics.google')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.sidebar.analytics.google')

.content-card-section-container
  = form_for @current_community, url: update_google_admin2_analytics_google_index_path, html: { class: %i[content-card-section-form], remote: true }, method: :patch do |form|
    %section.content-card-section
      %h2
        = t('admin2.sidebar.analytics.google')
      %p.ingress
        = t('admin2.google.info_text', url: 'https://docs.google.com/document/d/1AdGRFAxQkc_g9UP-IUtwAwo5eOAvGGOw2md-LjybR60/#heading=h.5u75z4p0a0xm').html_safe
      .form-group
        = form.label :google_analytics_key, t('admin2.google.google_analytics_key')
        = form.text_field :google_analytics_key, class: %i[form-control], maxlength: 15, google_analytics: true, placeholder: t('admin2.google.google_analytics_key_placeholder'),
           'data-msg-google_analytics' => t('admin2.google.error_text')
        %small#twitterHandle-help.form-text
          = t('admin2.google.google_analytics_key_info_text').html_safe
    %section.content-card-terminal
      = render 'admin2/submit_button', caption: t('admin2.save_changes')

:javascript
  $(document).ready(function() {
    add_validator_methods();
    $("form").validate({
      errorPlacement: function(error, element) {
        error.appendTo(element.parents('.form-group')).addClass('form-text');
      }
    });
  });
