- content_for :javascript do
  ST.Testimonials.init();

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.testimonials.testimonials")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h2= t("admin.communities.testimonials.testimonials")

  %span#admin_testimonials_count
    - pages = @service.testimonials[:tx_total_pages]
    - if pages == 0
      = t('admin.communities.testimonials.no_reviews_found')
    - else
      = raw t('admin.communities.testimonials.displaying_xx_reviews', count: @service.testimonials[:page_count], all_count: @service.testimonials[:all_count], tx_from: @service.testimonials[:tx_from], tx_to: @service.testimonials[:tx_to])

  %table#admin_testimonials
    %thead
      %tr
        %th
          = render partial: "layouts/sort_link", locals: { column: "started",
            direction: sort_link_direction("started"),
            title: t("admin.communities.testimonials.headers.transaction") }
        %th= t("admin.communities.testimonials.headers.author")
        %th= t("admin.communities.testimonials.headers.receiver")
        %th= t("admin.communities.testimonials.headers.status")
        %th= t("admin.communities.testimonials.headers.grade")
        %th= t("admin.communities.testimonials.headers.text")
        %th

    %tbody
      - index = 0
      - @service.transactions.each do |tx|
        - [:starter, :author].each do |participant|
          = render 'testimonial', tx: tx, participant: participant, index: index
          - index += 1

  .row
    .col-12
      = will_paginate @service.transactions

= render layout: "layouts/lightbox", locals: { id: "testimonial_popup"} do
  #testimonial-form


