.news_item_admin_view{:id => "poll_#{poll.id.to_s}"}
  .news_item_admin_view_header
    %span.poll_status_container{:id => "poll_#{poll.id.to_s}_status"}
      = render :partial => "poll_status", :locals => { :poll => poll }
    .poll_admin_view_title
      %h4= link_to poll.title, admin_poll_path(poll, :type => "polls")
      %span.poll_author
        = link_to poll.author.given_name_or_username, poll.author
        = l(poll.created_at, :format => :short)
    %span.poll_admin_links
      = render :partial => "edit_poll_links", :locals =>  { :poll => poll }
