- content_for :javascript do
  initialize_admin_new_poll_form();

#new_poll_form
  %h2= t(".#{controller.action_name}_poll")
  = form_for @poll, :url => @path do |form|
    .form_field_container
      = form.label :title, t('.title'), :class => "input"
      = form.text_field :title, :class => "text_field", :maxlength => "200"
    #options
      - @poll.options.each_with_index do |option, index|
        = render :partial => "new_option", :locals => { :option => option, :index => index }
    .option_link_container
      = link_to "+ " + t(".add_option"), add_option_admin_polls_path, :remote => true
    .new_listing_form_field_container
      = form.hidden_field(:author_id, :value => @current_user.id)
      = form.hidden_field(:community_id, :value => @current_community.id)
      = form.submit t(".save_poll"), :class => "send_button"
