.grid_18
  #news_items_admin_view_title.grid_12.alpha
    %h3= @poll.title
  .grid_6.omega
    #create_news_item_link
      = link_to t(".edit_poll"), edit_admin_poll_path(@poll, :type => "polls")
  .clear

.grid_18
  #polls_admin_view_list
    #polls_admin_view_answer_percentages
      - @poll.options.each_with_index do |option, index|
        .option_result
          %span.option_title
            = "#{(index + 1)}."
            = option.label
          %span.option_percentage_admin_view
            = "#{option.percentage}%"
            = "(#{pluralize(option.answers.size.to_s, t('homepage.poll_form.poll_answer'), t('homepage.poll_form.poll_answers'))})"

    - if @poll.answers.size > 0
      = render :partial => "poll_answer", :collection => @poll.answers, :as => :answer, :spacer_template => "listings/listing_spacer"
    - else
      #no_news_found
        = t(".no_polls")
