<% last_message = get_last_message(conversation.conversation) %>

<div class="listed_object <%= 'unread_conversation' if conversation.is_read == 0 %>">
  <div class="listed_object_person_image">
    <img src="/images/teemu_t.jpg" alt="<%= last_message.sender.name(session[:cookie]) %>" width="50" height="50">
  </div>
  <div class="listed_message_center">
    <i>
      <b><%= link_to(last_message.sender.name(session[:cookie]), person_path(last_message.sender.id)) %></b><br /> 
      <%= last_message.created_at.to_formatted_s(:basic_date_format_minutes) %> 
    </i>
  </div>
  <div class="listed_message_right">
    <b><%= link_to conversation.conversation.title, person_inbox_path(@current_user, conversation.conversation) %></b> <br />
    <% dots = last_message.content.size > 50 ? "..." : "" %>
    <%= link_to last_message.content.slice!(0..50) + dots, person_inbox_path(@current_user, conversation.conversation) %>
  </div>     
</div>