- other_party = conversation.other_party(@current_user)
- unless other_party.nil?
  - last_message = conversation.last_message
  .feed-item.inbox-feed-item{:class => (conversation.read_by?(@current_user) ? "" : "unread"), :id => "conversation_#{conversation.id.to_s}"}
    .feed-author-avatar
      = small_avatar_thumb other_party
    .feed-content
      .author
        - if conversation.listing
          = t("conversations.show.conversation_about_listing", :person => link_to(other_party.name, other_party), :listing => link_to(conversation.listing.title, conversation.listing)).html_safe
        - else
          = t("conversations.show.conversation_with_user", :person => link_to(other_party.name, other_party)).html_safe
        = t("conversations.show.last_message_at", :time => time_ago(conversation.last_message_at))
      %h2= link_to conversation.title, single_conversation_path(:conversation_type => action_name, :id => conversation.id)
      %small.feed-excerpt
        - if last_message.sender.eql?(@current_user)
          .ss-reply.conversation-icon
          .conversation-text= "\"#{truncate(last_message.content, :length => 100, :omission => "...")}\"" if last_message
        - else
          = "\"#{truncate(last_message.content, :length => 100, :omission => "...")}\"" if last_message
      %small
        = render :partial => "status", :locals => { :conversation => conversation }
      