.conversation-list-status-container
  - if status == "pending"
    .conversation-list-status-icon.pending
      = icon_tag("alert", ["icon-fix"])
    .conversation-list-status
      = t(".waiting_for_your_response")

  - elsif status == "confirmed"
    .conversation-list-status-icon.confirmed
      = icon_tag("check", ["icon-fix"])
    .conversation-list-status
      = t(".completed")

  - elsif status  == "canceled"
    .conversation-list-status-icon.canceled
      = icon_tag("cross", ["icon-fix"])
    .conversation-list-status
      = t(".canceled")

  - elsif status == "rejected"
    .conversation-list-status-icon.rejected
      = icon_tag("cross", ["icon-fix"])
    .conversation-list-status
      = t(".rejected")

  - elsif status == "accepted"
    .conversation-list-status-icon.accepted
      = icon_tag("loading", ["icon-fix"])
    .conversation-list-status
      = t(".waiting_for_payment_from", person: other_party.name)

  - elsif status == "paid"
    .conversation-list-status-icon.paid
      = icon_tag("loading", ["icon-fix"])
    .conversation-list-status
      = t(".waiting_for_confirmation_from", person: other_party.name)