-# For some reason, other_party was wrapped inside "if". I guess there might be situations where other_party do
  not exist. This is error in data. Anyway, we don't want the whole inbox to break because of this.

- if conversation[:other_party].present?
  .row-with-divider.without-margin.conversation-row{:class => conversation[:read_by_current] ? "" : "unread"}

    .col-3
      .conversation-details-container
        = link_to conversation[:other_party][:url] do
          = image_tag conversation[:other_party][:avatar], :class => "conversation-avatar"
        .conversation-details
          .conversation-other-party-name
            = link_to conversation[:other_party][:name], conversation[:other_party][:url]
          .conversation-last-message-at
            = conversation[:last_message_ago]

    %div{class: payments_in_use ? "col-6" : "col-9"}
      = link_to conversation[:path], class: "conversation-title-link" do
        = conversation[:title]
      .conversation-context
        - binding.pry
        - if conversation[:transaction].present?
          -# Only for transactions
          - listing = conversation[:transaction][:listing]
          = t(".about_listing", listing_title: link_to(listing[:title], conversation[:listing_url])).html_safe
        - else
          = t(".free_message")

    - if payments_in_use
      .col-3

        -# Only for transactions
        - if conversation[:transaction] && conversation[:transaction][:status] != "free"
          - status = conversation[:transaction][:status]
          - is_author = conversation[:transaction][:is_author]
          - waiting_feedback = conversation[:transaction][:waiting_feedback_from_current]
          - other_party_name = conversation[:other_party][:name]


          - icon, status = conversation_icon_and_status(status, is_author, other_party_name, waiting_feedback)

          .conversation-list-status-container
            .conversation-list-status-icon
              = icon
            .conversation-list-status
              = status
