- Maybe(listing).map do |listing|
  %p
    - price = Maybe(listing).price.or_else(nil)
    - sum = Maybe(transaction).payment.total_sum.or_else(nil)

    - Maybe(transaction).booking.each do |booking|
      %ul.no-bullets
        %li
          %div
            = l booking.start_on, format: :long_with_abbr_day_name
            = "-"
            = l booking.end_on, format: :long_with_abbr_day_name
            = "(#{pluralize(booking.duration, t(".day"), t(".days"))})"

        %li
          %div
            = t(".price_per_day", price: humanized_money_with_symbol(listing.price))

    - if sum
      %p.message-sum
        = t("conversations.show.sum", sum: humanized_money_with_symbol(sum))
    - elsif price
      %p.message-price
        = t("conversations.show.price", price: humanized_money_with_symbol(listing.price))

        - if listing.quantity.present?
          = "/ #{listing.quantity}"

        - if @current_community.vat
          %span.message-price-vat
            = t("conversations.show.price_excludes_vat")
