<% title = "RE: " + target_object.title %>
<div class="form_container">
  <div class="form_right">
    <%= t(:only_listing_author_sees_message) %>.
  </div>
</div>
<div class="form_container">
  <div class="form_header">
    <%= t(:title) %>:
  </div>  
  <div class="form_field">
    <%= title %>
  </div>
</div>    
<%= f.hidden_field :title, :value => title %>  
<%= f.hidden_field :listing_id, :value => target_object.id.to_s %>
<%= hidden_field_tag "conversation[conversation_participants][]", target_object.author.id %>
