<div class="browse_conversations_header">
  <div class="browse_conversations_title">
    <%= t(:inbox) %>
    <span class="unread_messages">
      <% if @inbox_new_count > 0 %> 
        (<%= pluralize(@inbox_new_count, t(:unread_message), t(:unread_message_partitive)) %>)
      <% else %>
        (<%= t(:no_unread_messages) %>)
      <% end %>  
    </span>
  </div>
</div>

<div class="links_panel">
  <div class="left_float">
    <div class="links_panel_tabs">
      <%= get_inbox_navi_items(@person.id) %>
    </div>
  </div>
  <div class="right_float">
    <%= will_paginate @person_conversations, :prev_label => t(:previous), :next_label => t(:next) %>
  </div>    
</div>