- avatar_side = message_or_action[:sender][:id] == @current_user.id ? "left" : "right"

.row.message-row
  .col-12.message-container
    %div{class: "message-avatar-#{avatar_side}"}
      = image_tag(message_or_action[:sender][:avatar], :class => "message-avatar-image")
    %div{class: "message-content-container-#{avatar_side}"}
      %div{class: "message-time-ago-#{avatar_side}"}
        = link_to message_or_action[:sender][:name], person_path(id: message_or_action[:sender][:username])
        = time_ago(message_or_action[:created_at])

      %div{class: "message-bubble-arrow-to-#{avatar_side} message-type-#{message_or_action[:type]} message-mood-#{message_or_action[:mood]}"}
        %div
          - text_with_line_breaks do
            = message_or_action[:content]
