- me = message.sender == @current_user
- avatar_side = me ? "left" : "right"
- is_action = Maybe(message).action.map { true }.or_else(false);
- action_class = message.positive_action? ? "positive" : (message.negative_action? ? "negative" : "")

-# Very unpleasant repetition here.

- if is_action
  .row.message-row
    .col-12.message-container
      %div{class: "message-avatar-#{avatar_side}"}
        = small_avatar_thumb(message.sender, :class => "message-avatar-image")
      %div{class: "message-content-container-#{avatar_side}"}
        %div{class: "message-time-ago-#{avatar_side}"}
          = link_to message.sender.name, message.sender
          = time_ago(message.created_at)
        %div{class: "message-bubble-arrow-to-#{avatar_side} message-action-#{action_class}"}
          %div
            = link_to message.sender.name(@current_community), message.sender
            - if message.action.eql?("pay")
              %b= t(".paid", :sum => sum_with_currency(message.conversation.payment.total_sum, message.conversation.payment.currency))
            - else
              %b= t(".#{message.action}ed_#{message.conversation.discussion_type}")

.row.message-row
  .col-12.message-container
    %div{class: "message-avatar-#{avatar_side}"}
      = small_avatar_thumb(message.sender, :class => "message-avatar-image")
    %div{class: "message-content-container-#{avatar_side}"}
      %div{class: "message-time-ago-#{avatar_side}"}
        = link_to message.sender.name, message.sender
        = time_ago(message.created_at)
      %div{class: "message-bubble-arrow-to-#{avatar_side}"}
        %div
          - text_with_line_breaks do
            = message.content