- content_for :javascript do
  initialize_reply_form('#{I18n.locale}');

#reply_form.message-avatar-padding.message-reply-form
  = form_for message_form, :url => message_form_action do |f|
    = f.label :content, t("conversations.show.write_a_reply")
    = f.text_area :content, :class => "reply_form_text_area"
    = f.hidden_field :conversation_id
    = f.hidden_field :sender_id
    = f.button t("conversations.show.send_reply")

#messages
  = render :partial => "conversations/message", :collection => messages, as: :message_or_action
