<% last_message = get_last_sent_message(sent_conversation.conversation) %>
<% receiver = sent_conversation.conversation.participants.reject { |participant| participant.id == @current_user.id }.first %>

    <table class="message_in">
      <tr>  
        <td class="message_sender_image"> 
          <div class="listing_image extra_padding">
            <img src="/images/teemu_t.jpg" alt="<%= last_message.sender.name(session[:cookie]) %>" width="50" height="50">
          </div>
        </td>
        <td class="message_sender">
          <i>
            <b><%= t(:to) %> <%= link_to(receiver.name(session[:cookie]), person_path(receiver.id)) %></b> <br />
            <%= last_message.created_at.to_formatted_s(:basic_date_format_minutes) %> 
          </i>
        </td>
        <td class= "message_content">
          <b><%= link_to "RE: " + sent_conversation.conversation.title, person_inbox_path(@current_user, sent_conversation.conversation) %></b><br />
          <%= link_to last_message.content.slice!(0..50), person_inbox_path(@current_user, sent_conversation.conversation) %>...
        </td>
      </tr>
    </table>