<% last_message = get_last_sent_message(sent_conversation.conversation) %>
<% receiver = sent_conversation.conversation.participants.reject { |participant| participant.id == @current_user.id }.first %>

<div class="listed_object">
  <div class="listed_object_person_image">
    <%= small_avatar_thumb(receiver) %>
  </div>
  <div class="listed_message_center">
    <i>
      <b><%= t(:to) %> <%= link_to(receiver.name(session[:cookie]), person_path(receiver.id)) %></b> <br />
      <%= last_message.created_at.to_formatted_s(:basic_date_format_minutes) %>
    </i>
  </div>
  <div class="listed_message_right">
    <b><%= link_to h(sent_conversation.conversation.title), person_inbox_path(@current_user, sent_conversation.conversation) %></b><br />
    <% dots = last_message.content.size > 50 ? "..." : "" %>
    <%= link_to h(last_message.content.slice!(0..50) + dots), person_inbox_path(@current_user, sent_conversation.conversation) %>
  </div>     
</div>