- if conversation.listing
  - if conversation.status.eql?("pending")
    - if current_user?(conversation.listing.author)
      - ["accept", "reject"].each do |status|
        = render :partial => "status_link", :locals => { :conversation => conversation, :status => status }
    - else
      .conversation_status_container
        .conversation_status_label
          = t(".waiting_confirmation_from_listing_author")
  - elsif conversation.status
    .conversation_status_container
      .conversation_status_label{:class => conversation.status}
        = t(".#{conversation.discussion_type}_#{conversation.status}")
      - if conversation.status.eql?("accepted")
        .conversation_status_label_links
          - if conversation.has_feedback_from?(@current_user)
            = t(".feedback_given")
          - elsif conversation.feedback_skipped_by?(@current_user)
            = t(".feedback_skipped")
          - else
            = link_to t(".give_feedback"), new_person_message_feedback_path(:person_id => @current_user.id, :message_id => conversation.id.to_s)
            &nbsp;|&nbsp;
            = link_to t(".skip_feedback"), skip_person_message_feedbacks_path(:person_id => @current_user.id, :message_id => conversation.id.to_s), :remote => true, :method => :put
  

      