#conversations.inbox-feed
  %h1
    Messages
  %span.header-info that you have exchanged with other Sharetribe members.

  - if @conversations && !@conversations.empty?
    = render :partial => @conversations
    = will_paginate(@conversations)
    = pageless(@conversations.total_pages, '#conversations', "#{action_name}", t('.loading_more_messages'))    
  - else
    #no_conversations
      = t(".no_#{action_name}_messages")
  
