<div class="browse_conversations_header">
<div class="browse_conversations_title">
  <%= t(:inbox) %>
</div>
</div>

<div class="links_panel">
  <div class="left_float">
    <%= t(:received_messages) %> <span class="page_entries_info">(<%= page_entries_info @person_conversations %>)</span> | 
    <%= link_to t(:sent_messages), sent_person_inbox_path(@current_user) %>
  </div>
  <div class="right_float">
    <%= will_paginate @person_conversations, :prev_label => t(:previous), :next_label => t(:next) %>
  </div>    
</div>

<div id="conversations">

<% if @person_conversations && !@person_conversations.empty? %>
  <%= render :partial => "conversations/conversation", :collection => @person_conversations %>
<% else %>  
  <%= t(:no_received_messages) %>
<% end %>

</div>

<% if @person_conversations.total_pages > 1 %>

<div class="links_panel">
  <div class="right_float">
    <%= will_paginate @person_conversations, :prev_label => t(:previous), :next_label => t(:next) %>
  </div>    
</div>

<% end %>