- content_for :title_header do
  %h1= t("layouts.no_tribe.inbox")

#conversations.inbox-feed.centered-section-wide
  - if @conversations && !@conversations.empty?
    = render :partial => @conversations
    = will_paginate(@conversations)
    = pageless(@conversations.total_pages, '#conversations', "#{action_name}", t('.loading_more_messages'))
  - else
    #no_conversations
      = t(".no_#{action_name}_messages")
