.grid_24
  %h1= t(".messages")
  
.grid_24
  #inbox_tabs
    %div{:class => get_inbox_tab_class("received")} 
      = link_to t('.received'), received_person_messages_path(:person_id => @current_user.id.to_s)
    %div{:class => get_inbox_tab_class("sent")} 
      = link_to t('.sent'), sent_person_messages_path(:person_id => @current_user.id.to_s)
  #inbox_tab_spacer    
  
  - if @conversations && !@conversations.empty?
    #conversations
      %h4= pluralize(@conversations.size, t(".message_partitive"), t(".messages_partitive"))
      = render :partial => "conversations/#{action_name}_conversation", :collection => @conversations, :as => :conversation, :spacer_template => "inbox_spacer"
  - else
    #no_conversations
      = t(".no_#{action_name}_messages")
  