= render :partial => "layouts/left_hand_navigation", :locals => { :links => inbox_links_for(@current_user) }

#conversations.inbox-notifications.left-navi-section
  = render :partial => "layouts/global_view_notification", :locals => { :text => t(".notifications_from_all_tribes") }
  - if @notifications.empty?
    = t(".no_notifications")
  - else
    = render :partial => "notification", :collection => @notifications, :as => :notification, :spacer_template => "inbox_spacer"
    = will_paginate(@notifications)
    = pageless(@notifications.total_pages, '#conversations', "#{action_name}", t('.loading_more_notifications'))
  