- content_for :javascript do
  initialize_reply_form('#{I18n.locale}');

- content_for :title_header do
  %h1
    = link_to received_person_messages_path(:person_id => @current_user.id) do
      = t("layouts.no_tribe.inbox")
    | #{@conversation.title}

.centered-section-wide
  - Maybe(@conversation).listing.each do |listing|
    .message-avatar-padding
      .row
        .col-12
          %h2
            = link_to listing.title, listing

          %p
            Requested by
            = link_to @conversation.starter.name, @conversation.starter

          - Maybe(listing).price.each do |price|
            %p.message-sum
              Sum:
              = humanized_money_with_symbol(price)

          - unless @conversation.status.eql?("free")
            %div{:id => "conversation_#{@conversation.id.to_s}_status"}
              = render :partial => "status", :locals => { :conversation => @conversation }

  #reply_form.message-avatar-padding.message-reply-form
    = form_for Message.new, :url => person_message_messages_path(:person_id => @current_user.id, :message_id => @conversation.id.to_s) do |f|
      = f.label :content, t(".write_a_reply")
      = f.text_area :content, :class => "reply_form_text_area"
      = f.hidden_field :conversation_id, :value => @conversation.id.to_s
      = f.hidden_field :sender_id, :value => @current_user.id
      = f.button t(".send_reply")

  #messages
    = render :partial => "message", :collection => @conversation.messages.reverse
