<%= render :partial => "inbox_header" %>

<br />

<div id="title_with_border_taller">
  <div class="arrow_left no_hover">
    <%= 
      link_to image_tag("/images/arrow_left.png", :border => 0, 
                                                  :alt => t(:previous_message),
                                                  :onmouseover => "this.src='/images/arrow_left_hilight.png';",
                                                  :onmouseout => "this.src='/images/arrow_left.png';"
                       ), person_inbox_path(@current_user, @previous_conversation)
    %>
  </div>
  <div id="title_div">
    <h6>
      <%= h(@conversation.title) %> 
    </h6>
    <div class="left_float">
      <%= t(:messaging_with) %> <%= create_links_for_participants %> <%= t(:with) %>
    </div>
    <div class="right_float">
      <%= link_to t(:show_original_listing), listing_path(@conversation.listing) if @conversation.listing %>
      <% if @conversation.listing && @conversation.listing.status.eql?("open") && is_current_user?(@conversation.listing.author) %>
        <% receiver = @conversation.participants.reject { |p| p.id == @current_user.id }.first %>
        | <%= link_to t(:close_listing), close_person_listing_path(@current_user, @conversation.listing) + "?rid=" + receiver.id %>
      <% end %>  
    </div>    
  </div>
  <div class="arrow_right no_hover">
    <%= 
      link_to image_tag("/images/arrow_right.png", :border => 0, 
                                                  :alt => t(:next_message),
                                                  :onmouseover => "this.src='/images/arrow_right_hilight.png';",
                                                  :onmouseout => "this.src='/images/arrow_right.png';"
                       ), person_inbox_path(@current_user, @next_conversation)
    %>
  </div>
</div>


<%= render :partial => "messages/message", 
           :collection => @conversation.messages,
           :spacer_template => "layouts/dashed_line" %>

<div class="solid_line"></div> <br />
  
<div id="send_message_to_existing_conversation">
  <%= render :partial => "reply_form" %>
</div>  