<div class="browse_conversations_header">
<div class="browse_conversations_title">
  <%= t(:inbox) %>
</div>
</div>

<div class="links_panel">
  <%= link_to t(:received_messages), person_inbox_index_path(@current_user) %> | 
  <%= link_to t(:sent_messages), sent_person_inbox_path(@current_user) %>
</div>

<br />

<div id="title_with_border_taller">
  <div class="arrow_left">
    <%= 
      link_to image_tag("/images/arrow_left.png", :border => 0, 
                                                  :alt => t(:previous_message),
                                                  :onmouseover => "this.src='/images/arrow_left_hilight.png';",
                                                  :onmouseout => "this.src='/images/arrow_left.png';"
                       ), person_inbox_path(@current_user, @previous_conversation)
    %>
  </div>
  <div id="title_div">
    <h6>
      <%= @conversation.title %> 
    </h6>
    <div class="left_float">
      <%= t(:messaging_with) %> <%= create_links_for_participants %> <%= t(:with) %>
    </div>
    <div class="right_float">
      <%= link_to t(:show_original_listing), listing_path(@conversation.listing) + "?cl=" if @conversation.listing %>
      <% if @conversation.listing && @conversation.listing.status.eql?("open") && is_current_user?(@conversation.listing.author) %>
        <% receiver = @conversation.participants.reject { |p| p.id == @current_user.id }.first %>
        | <%= link_to t(:close_listing), close_person_listing_path(@current_user, @conversation.listing) + "?rid=" + receiver.id %>
      <% end %>  
    </div>    
  </div>
  <div class="arrow_right">
    <%= 
      link_to image_tag("/images/arrow_right.png", :border => 0, 
                                                  :alt => t(:next_message),
                                                  :onmouseover => "this.src='/images/arrow_right_hilight.png';",
                                                  :onmouseout => "this.src='/images/arrow_right.png';"
                       ), person_inbox_path(@current_user, @next_conversation)
    %>
  </div>
</div>

<table class="conversation">
  <%= render :partial => "messages/message", :collection => @conversation.messages %>
</table>
  
<div id="send_message_to_existing_conversation">
  <%= render :partial => "messages/send_reply" %>
</div>  