- content_for :javascript do
  initialize_reply_form('#{I18n.locale}');

.grid_24
  .grid_9.alpha
    #conversation_title
      %h2= @conversation.title
      = t(".#{@conversation.listing.listing_type}_sent_by")
      = link_to @conversation.messages.first.sender.name, @conversation.messages.first.sender
      = t(".in_response_to_#{@conversation.listing.listing_type}")
      = link_to @conversation.listing.title, @conversation.listing
  .grid_15.omega
    #conversation_status
      %div{:id => "conversation_#{@conversation.id.to_s}_status"}
        = render :partial => "status", :locals => { :conversation => @conversation }
  
.grid_24
  #messages
    = render :partial => "message", :collection => @conversation.messages
  
  #conversation_notice
    
  #reply_form
    = form_for Message.new, :remote => true do |f|
      .message_form_field_container
        = f.label :content, "Write a reply:"
      .message_form_field_container  
        = f.text_area :content
      .message_form_field_container
        = f.hidden_field :conversation_id, :value => @conversation.id.to_s
        = f.hidden_field :sender_id, :value => @current_user.id
        = f.submit "Send reply", :class => "send_button"