- content_for :javascript do
  initialize_reply_form('#{I18n.locale}');

- content_for :title_header do
  %h1
    = link_to received_person_messages_path(:person_id => @current_user.id) do
      = t("layouts.no_tribe.inbox")
    | #{@conversation.title}

.centered-section-wide.conversation
  - Maybe(@conversation).listing.each do |listing|
    .row
      .col-12
        %h2= listing.title
    .row
      .col-12
        %p
          Requested by
          = link_to @conversation.starter.name, @conversation.starter
        %p
          Sum:
          = humanized_money_with_symbol(@conversation.payment.sum)


  / .avatar-container
  /   .avatar
  /     = small_avatar_thumb @other_party
  /   .avatar-text
  /     = render :partial => "conversation_with", :locals => { :conversation => @conversation, :other_party => @other_party }

  #messages
    = render :partial => "message", :collection => @conversation.messages

  - if @conversation.listing && !@conversation.status.eql?("free")
    .conversation-status-lower
      .conversation-status-container{:id => "conversation_#{@conversation.id.to_s}_status"}
        = render :partial => "status", :locals => { :conversation => @conversation }

  #reply_form
    = form_for Message.new, :url => person_message_messages_path(:person_id => @current_user.id, :message_id => @conversation.id.to_s) do |f|
      = f.label :content, t(".write_a_reply")
      = f.text_area :content, :class => "reply_form_text_area"
      = f.hidden_field :conversation_id, :value => @conversation.id.to_s
      = f.hidden_field :sender_id, :value => @current_user.id
      = f.button t(".send_reply")
