- if listing.description.blank? && !listing.listing_images.empty?
  = render :partial => "community_update_listing_image_no_description", :locals => { :listing => listing }
- else
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-bottom:1px solid #ededed;padding-bottom:5px;padding-top: 20px;", :width => "100%"}
    %tbody
      %tr
        %td
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tbody
              %tr
                - if listing.author.has_profile_picture?
                  %td{:valign => "top", :width => "50"}
                    = link_to((image_tag listing.author.image.url(:thumb), :width => 50, :height => 50, :style => "display:block;margin-right:20px;margin-bottom:20px;margin-top:0;border:0"), person_url(listing.author, :auth => @auth_token, :ref => "weeklymail"))
                %td{:valign => "top"}
                  %p{:style => "font-family:Helvetica Neue, Helvetica, Arial, sans-serif;color:#464646;font-weight: normal; font-size: 14px;margin-bottom:0;padding:0;"}
                    
                    = t("emails.community_updates.added_#{listing.listing_type}", :name_link => link_to( listing.author.given_name_or_username, person_url(listing.author, :auth => @auth_token, :ref => "weeklymail"), :style => "color:#d25427;font-weight:bold;text-decoration:none;")).html_safe
                  %h2{:style => "font-family:Helvetica Neue, Helvetica, Arial, sans-serif;color:#464646;font-weight: normal; font-size: 30px;margin-bottom:0;padding:0;margin-top:0px;text-decoration:none;"}
                    = link_to listed_listing_title(listing), listing_url(listing, :auth => @auth_token, :ref => "weeklymail"), :style => "color:#d25427;text-decoration:none", :target => "_blank"
          - unless listing.listing_images.empty?
            = link_to(image_tag(listing.listing_images.first.image.url(:email), :class => "listing_main_image", :alt => listing.title, :height => "100", :width => "150", :style => "display:block;margin-left:30px;margin-bottom:20px;margin-top:4px;border:0", :align => "right"), listing_url(listing, :auth => @auth_token, :ref => "weeklymail"))
          - unless listing.description.blank?
            %p{:style => "font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:16px;font-weight:100px; color:#898989;font-style: italic;line-height:22px;margin-top:0;margin-bottom:8px;"}
              - text_with_line_breaks_for_email do
                = truncate_html(listing.description, :length => 200, :omission => "...")
            

            