= t("emails.badge_migration_notification.you_have_received_badges_in_kassi")
= link_to(@url, @url + "?ref=email")

%br/
%br/

= t("emails.badge_migration_notification.badge_description1")

%br/
%br/

= t("emails.badge_migration_notification.badge_description2")

%br/
%br/

= t("emails.common.thanks")
%br/
= t("emails.common.kassi_team")