- conversation_url = person_message_url(@recipient, @url_params.merge({:id => @payment.transaction.id.to_s}))

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.receipt_to_payer.you_have_made_new_payment", :listing_title => @payment.transaction.listing.title, :payment_sum => sum_with_currency(@payment.total_sum, @payment.currency), :recipient_full_name => @payment.recipient.name(@community), :recipient_given_name => @payment.recipient.given_name_or_username).html_safe

%tr
  %td{:align => "left", :style => "padding: 10px 0;"}
    %table{:cellpadding => 5, :cellspacing => 0}
      %tbody
        %tr
          %td
            %b
              =t("emails.receipt_to_payer.product")
          %td
            %b
              =t("emails.receipt_to_payer.price")
          %tr
            %td{:width => "250"}
              = @payment.transaction.listing.title
            %td
              = sum_with_currency(@payment.total_sum, @payment.currency)
        %tr
          %td
            %b
              =t("emails.receipt_to_payer.total")
          %td
            %b= sum_with_currency(@payment.total_sum, @payment.currency)

%tr
  %td{:align => "left"}
    %font{body_font}
      The money will be transferred to #{@payment.recipient.given_name_or_username} when a) you have marked the request completed or b) #{@payment.transaction.automatic_confirmation_after_days} days have passed since you paid.

= render :partial => "action_button", :locals => { :text => t("emails.conversation_status_changed.view_thread"), :url => conversation_url}
