%div{:style => "min-width:100%"}
  %table{:cellpadding => "0", :cellspacing => "0", :border => "0", :align => "center", :style => "text-align:center;margin:0;padding:0;width:100%!important;line-height:100%!important;background: #ebebeb;"}
    %tbody
      %tr
        %td
          %table{:cellpadding=> "0", :cellspacing => "0", :border => "0", :align => "center", :style => "text-align:center"}
            =# %tr
            =#  %td{:valign => "bottom", :style => "width:100%;max-width:602px;padding-left:35px;", :height => "30"}
            =#    %p{:style => "margin-top:5px;margin-bottom:5px;font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-size:12px;color:#464646;text-align: left;"}
            =#      Top notification test plus 
            =#      = link_to("Link", "http://lauttasaari.sharetribe.com", :style => "color:#d25427; text-decoration: none;") + "."
            %tr
              %td{:style => "width:100%;max-width:602px", :valign => "top"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background:#fff;"}
                  %tbody
                    %tr
                      %td{:width => "5%"}
                      %td{:valign => "top", :width => "90%"}
                        %h1{:style => "font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-weight:400;font-size:18px;margin-top:20px;margin-bottom:5px;line-height:1; padding: 20px; background: #ebebeb;text-align: left;"}
                          %span{:style => "color:#464646;"}
                            = t("emails.community_updates.update_mail_title", :title_link => link_to(@title_link_text, root_url(:ref => "weeklymail"), :style => "color:#d25427;font-weight:normal;text-decoration:none;")).html_safe
                        %div{:style => "font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:16px;line-height:22px; padding: 10px 0;text-align:left;"}
                          %p 
                            = t("emails.newsletter.hi", :name => link_to(@recipient.given_name_or_username, person_url(@recipient, :auth => @auth_token, :ref => "weeklymail"), :style => "color:#d25427;text-decoration:none;")).html_safe
                          %p
                            = t("emails.community_updates.intro_paragraph", :community_link => link_to(t("emails.community_updates.intro_paragraph_link_text", :community_name => @community.name_with_separator(@recipient.locale)), root_url(:ref => "weeklymail"), :style => "color:#d25427;text-decoration:none;"), :time_since_last_update => @time_since_last_update).html_safe
                      %td{:width => "5%"}
                    %tr
                      %td{:width => "5%"}
                      %td{:style => "text-align:left", :valign => "top", :width => "90%"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-bottom: 1px solid #ededed;", :width => "100%"}
                          %tbody
                            %tr
                              %td
                        = render :partial => "community_update_listing", :collection => @listings, :as => :listing
                        
                        
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "padding-bottom:45px;padding-top: 20px;", :width => "100%"}
                          %tbody
                            %tr
                              %td
                                %p{:style => "font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:18px;line-height:26px;color: #464646;text-align: center; margin-bottom: 10px;"}
                                  = t("emails.community_updates.could_you_share_something") 
                                  %br/
                                  = t("emails.community_updates.do_you_need_help_with_anything")
                                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;", :height => "67", :align => "center"}
                                  %tbody
                                    %tr
                                      %td{:background => "https://s3.amazonaws.com/sharetribe-emails/email_action_button_left.png", :width => "12", :style => "background-repeat:no-repeat"}
                                      %td{:background => "https://s3.amazonaws.com/sharetribe-emails/email_action_button_middle.png", :bgcolor => "#d25427"}
                                        = link_to t("emails.community_updates.post_a_new_listing"), new_request_without_locale_url(:type => "offer", :auth => @auth_token, :ref => "weeklymail"), :target => "_blank", :style => "display:inline-block;text-decoration:none;width:100%;padding:20px 20px 20px 20px;color:#ffffff;font-size:20px;font-weight:bold"
                                      %td{:background => "https://s3.amazonaws.com/sharetribe-emails/email_action_button_right.png", :width => "12", :style => "background-repeat:no-repeat"}     
                      %td{:width => "5%"}
            %tr
              %td{:style => "text-align: left;width:100%;max-width:602px;padding: 5px 30px;"}
                %p{:style => "margin-top:10px;margin-bottom:5px;font-family:helvetica,arial,sans-serif;font-size:12px;color:#464646;"}
                  = t("emails.community_updates.reduce_email_footer_text", :settings_link => link_to(t("emails.community_updates.settings_link_text"), notifications_person_settings_url(:person_id => @recipient.id, :auth => @auth_token, :ref => "weeklymail"), :style => "color:#d25427; text-decoration: none;"), :unsubscribe_link => link_to(t("emails.community_updates.unsubscribe_link_text"), unsubscribe_person_settings_url(:person_id => @recipient.id, :email_type => "community_updates", :auth => @auth_token, :ref => "weeklymail"), :style => "color:#d25427; text-decoration: none;")).html_safe
                %p{:style => "margin-top:10px;margin-bottom:5px;font-family:helvetica,arial,sans-serif;font-size:12px;color:#464646;"}
                  = t("emails.community_updates.tribe_creation_promotion_footer", :create_tribe_link =>  link_to(t("emails.community_updates.create_tribe_link_text"), "http://#{APP_CONFIG.domain}/#{@recipient.locale}?ref=weeklymail", :style => "color:#d25427; text-decoration: none;")).html_safe
                  