= t("emails.conversation_status_changed.has_#{@conversation.status}_your_#{Listing.opposite_type(@conversation.listing.listing_type)}", :accepter => @conversation.listing.author.name, :listing => @conversation.listing.title)

%br/
%br/

= t("emails.conversation_status_changed.you_can_view_the_#{Listing.opposite_type(@conversation.listing.listing_type)}_in")
= link_to(@url, @url + "?ref=email")