- conversation_url = person_message_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))
- if @recipient.should_pay?(@conversation, @community)
  - action_url = @payment_url
  - action_text = t("emails.conversation_status_changed.pay_now")
  - additional_text = t("emails.conversation_status_changed.you_can_now_pay_to", :payment_receiver => @conversation.other_party(@recipient).given_name_or_username)
- else
  - action_url = person_message_url(@recipient, @url_params.merge({:id => @conversation.id}))
  - action_text = t("emails.conversation_status_changed.view_thread")
  - additional_text = ""

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.conversation_status_changed.has_#{@conversation.status}_your_#{Listing.opposite_type(@conversation.listing.direction)}", :accepter => @conversation.listing.author.name(@current_community), :listing => @conversation.listing_title)
      = additional_text

-# TODO: Should we link transition to message?
-#
  - unless @conversation.conversation.last_message.content.blank?
    %tr
      %td{:align => "left", :style => "padding-top: 15px;"}
        %font{body_font}
          = t("emails.transaction_confirmed.here_is_a_message_from", :other_party_given_name => @conversation.other_party(@recipient).given_name_or_username)
    = render :partial => "quote", :locals => { :quote => @conversation.conversation.last_message.content }

= render :partial => "action_button", :locals => { :text => action_text, :url => action_url}

- if @conversation.can_be_confirmed? && !@recipient.should_pay?(@conversation, @community)
  %td{:align => "left", :style => "padding-bottom: 25px;"}
    %font{body_font}
      = t("emails.conversation_status_changed.remember_to_confirm", :days_to_automatic_confirmation => @conversation.automatic_confirmation_after_days)
