= t("emails.new_message.has_sent_you_a_message_in_kassi", :sender => @message.sender.name)

%br/
%br/

= t("emails.new_message.conversation_title", :title => @message.conversation.title)

%div{:style => "margin: 15px 0; padding: 10px; background-color: #d1c9b4;"}
  - text_with_line_breaks do
    = @message.content

= t("emails.new_message.you_can_reply_to_message_in")
= link_to(@url, @url + "?ref=email")

%br/
%br/

= t("emails.new_message.do_not_reply_to_this_email")