- view_url = person_url(@recipient, @url_params) + "#testimonial#{@testimonial.id.to_s}"
- give_url = new_person_message_feedback_url(@recipient, @url_params.merge({:message_id => @testimonial.transaction.id}))

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.new_testimonial.has_given_you_feedback_in_kassi", :name => @testimonial.author.name(@current_community)) + "."

= render :partial => "action_button", :locals => { :text => t("emails.new_testimonial.view_feedback"), :url => view_url}

-# TODO Move to Mailer, and pass as locals
- if MarketplaceService::Transaction::Entity.waiting_testimonial_from?(MarketplaceService::Transaction::Entity.transaction(@testimonial.transaction), @testimonial.receiver.id)
  %tr
    %td{:align => "left"}
      %font{body_font}
        = t("emails.new_testimonial.you_can_give_feedback_to", :name => @testimonial.author.given_name_or_username)
        = t("emails.transaction_confirmed.giving_feedback_is_good_idea", :other_party_given_name => @testimonial.author.given_name_or_username)

  = render :partial => "action_button", :locals => { :text => t("emails.transaction_confirmed.give_feedback_to", :other_party_given_name => @testimonial.author.given_name_or_username), :url => give_url}
