= t("emails.new_testimonial.has_given_you_feedback_in_kassi", :name => @testimonial.author.name) + "."

***

- unless @testimonial.text.eql?("")
  = @testimonial.text
  
= t("people.profile_feedback.grade").capitalize + " " + grade_text(@testimonial.displayed_grade).downcase + "."

***

- if @testimonial.receiver.can_give_feedback_on?(@testimonial.participation.conversation)
  = t("emails.new_testimonial.you_can_give_feedback_to", :name => @testimonial.author.given_name_or_username) + " " + @give_feedback_url + "?ref=email"

= t("emails.new_testimonial.you_can_view_all_your_feedback_in") + " " + @url + "?ref=email"

