= t("emails.new_member_notification.new_member_has_joined", :community => @community.full_name(@person.locale))


%div{:style => "margin: 15px 0; padding: 10px; background-color: #d1c9b4;"}
  %b= t("emails.new_member_notification.person_name")
  = PersonViewUtils.person_display_name(@person, @community)
  %br/
  %b= t("emails.new_member_notification.person_email")
  = @email

= t("emails.new_member_notification.this_is_automatic_message", :community => @community.full_name(@person.locale))
