%tr
  %td{:align => "left", :style => "padding-top: 15px;"}
    %font{body_font}
      = "#{author_name_and_email} has sent the following feedback from #{service_name} community '#{community_name}':"

= render :partial => "quote", :locals => { :quote => content }
