- conversation_url = person_transaction_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))
- url = new_person_message_feedback_url(@recipient, @url_params.merge({:message_id => @conversation.id.to_s}))

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.transaction_confirmed.has_marked_request_as_#{@conversation.status}", :other_party_full_name => @conversation.other_party(@recipient).name, :other_party_given_name => @conversation.other_party(@recipient).given_name_or_username, :request => @conversation.listing.title)

%tr
  %td{:align => "left", :style => "padding-top: 15px;"}
    %font{body_font}
      = t("emails.transaction_confirmed.giving_feedback_is_good_idea", :other_party_given_name => @conversation.other_party(@recipient).given_name_or_username)

- Maybe(@conversation).conversation.last_message.content.each do |content|
  %tr
    %td{:align => "left", :style => "padding-top: 15px;"}
      %font{body_font}
        = t("emails.transaction_confirmed.here_is_a_message_from", :other_party_given_name => @conversation.other_party(@recipient).given_name_or_username)
  = render :partial => "quote", :locals => { :quote => content }

= render :partial => "action_button", :locals => { :text => t("emails.transaction_confirmed.give_feedback_to", :other_party_given_name => @conversation.other_party(@recipient).given_name_or_username), :url => url}

%tr
  %td{:align => "left", :style => "padding-bottom: 25px;"}
    %font{body_font}
      = link_to t("emails.accept_reminder.show_thread"), conversation_url
