#buyer.breakdown-element
  .breakdown-overview
    .breakdown-overview-left
      .breakdown-trigger-show
      .breakdown-title= t('admin2.manage_transactions.buyer_pays')
    .breakdown-total-price= MoneyViewUtils.to_humanized(pr.total)
  .breakdown-detailed
    - if pr.booking
      .breakdown-row
        .breakdown-row-left
          - if pr.unit_type == :day
            = t('admin2.manage_transactions.price_per_day')
          - elsif pr.unit_type == :night
            = t('admin2.manage_transactions.price_per_night')
          - elsif pr.unit_type == :hour
            = t('admin2.manage_transactions.price_per_hour')
          - else
            = t('admin2.manage_transactions.price_per_unit')
        .breakdown-row-right= MoneyViewUtils.to_humanized(pr.listing_price)
      - if pr.booking_per_hour
        .breakdown-row
          .breakdown-row-left= t('admin2.manage_transactions.booking_start')
          .breakdown-row-right= l pr.start_time, format: :short
        .breakdown-row
          .breakdown-row-left= t('admin2.manage_transactions.booking_end')
          .breakdown-row-right= l pr.end_time, format: :short
        .breakdown-row
          .breakdown-row-left= t('admin2.manage_transactions.booking_duration')
          .breakdown-row-right= t('admin2.manage_transactions.duration_in_hours', count: pr.duration)
      - else
        .breakdown-row
          .breakdown-row-left= t('admin2.manage_transactions.booking_start')
          .breakdown-row-right= l pr.start_on, format: :long_with_abbr_day_name
        .breakdown-row
          .breakdown-row-left= t('admin2.manage_transactions.booking_end')
          - if pr.unit_type == :day
            .breakdown-row-right= l pr.end_on - 1.day, format: :long_with_abbr_day_name
          - else
            .breakdown-row-right= l pr.end_on, format: :long_with_abbr_day_name
        .breakdown-row
          .breakdown-row-left= t('admin2.manage_transactions.booking_duration')
          - if pr.unit_type == :day
            .breakdown-row-right= pluralize(pr.duration, t('listing_conversations.preauthorize.day'), t('listing_conversations.preauthorize.days'))
          - else
            .breakdown-row-right= pluralize(pr.duration, t('listing_conversations.preauthorize.night'), t('listing_conversations.preauthorize.nights'))
    - elsif pr.quantity.present? && pr.localized_unit_type.present?
      .breakdown-row
        .breakdown-row-left= t('transactions.price_per_quantity', unit_type: pr.localized_unit_type)
        .breakdown-row-right= MoneyViewUtils.to_humanized(pr.listing_price)
      - if pr.quantity > 1
        .breakdown-row-left= pr.localized_selector_label || t('admin2.manage_transactions.quantity')
        .breakdown-row-right= pr.quantity
    - if pr.subtotal.present? || pr.shipping_price.present? || pr.has_buyer_fee
      %hr
    - if pr.subtotal.present?
      .breakdown-row
        .breakdown-row-left.breakdown-bolded= t('admin2.manage_transactions.subtotal')
        .breakdown-row-right.breakdown-bolded= MoneyViewUtils.to_humanized(pr.subtotal)
    - if pr.shipping_price.present?
      .breakdown-row
        .breakdown-row-left.breakdown-bolded= t('admin2.manage_transactions.shipping-price')
        .breakdown-row-right.breakdown-bolded= MoneyViewUtils.to_humanized(pr.shipping_price)
    - if pr.has_buyer_fee
      .breakdown-row
        .breakdown-row-left= t('admin2.manage_transactions.marketplace_commission', value: transaction.buyer_commission_per)
        .breakdown-row-right= MoneyViewUtils.to_humanized(pr.buyer_fee)
    %hr
    .breakdown-row
      .breakdown-row-left.breakdown-bolded= t('admin2.manage_transactions.total')
      .breakdown-row-right.breakdown-total-price= MoneyViewUtils.to_humanized(pr.total)
