#marketplace.breakdown-element
  .breakdown-overview
    .breakdown-overview-left
      .breakdown-trigger-show
      .breakdown-title= t("admin2.manage_transactions.marketplace_collects")
    .breakdown-total-price= MoneyViewUtils.to_humanized(pr.marketplace_collects)
  .breakdown-detailed
    - if pr.has_buyer_fee
      .breakdown-row
        .breakdown-row-left=t('admin2.manage_transactions.commission_from_buyer')
        .breakdown-row-right= MoneyViewUtils.to_humanized(pr.buyer_fee)
    - if pr.has_provider_fee
      .breakdown-row
        .breakdown-row-left=t('admin2.manage_transactions.commission_from_seller')
        .breakdown-row-right= MoneyViewUtils.to_humanized(pr.fee)
    %hr
    .breakdown-row
      .breakdown-row-left.breakdown-bolded=t('admin2.manage_transactions.total_commission')
      .breakdown-row-right.breakdown-total-price= MoneyViewUtils.to_humanized(pr.marketplace_collects)
