.transaction-nextsteps
  - if pr.show_next_step?
    %span{style: 'font-weight: 600;'}
      = t('admin2.manage_transactions.next_steps')
    %ul
      - if pr.preauthorized?
        %li
          = t('admin2.manage_transactions.waiting_for_provider_accept_or_reject', provider: pr.provider_name)
      - elsif pr.paid?
        %li
          = t('admin2.manage_transactions.waiting_for_fulfill_and_complete', provider: pr.provider_name, listing_title: listing_title, buyer: pr.buyer_name)
      - elsif pr.disputed?
        %li
          - learn_more_link = link_to t('admin2.manage_transactions.learn_more'), "#{APP_CONFIG.knowledge_base_url}/#heading=h.e6ap8narkgk6", target: :_blank
          = t('admin2.manage_transactions.you_should_investigate', learn_more_link: learn_more_link).html_safe

  = render 'delivery_method', pr: pr
