- extra_stats = JSON.parse(stats.extra_data)

%p
  %b
    Statistics generated:
    = stats.created_at

%h3
  Users

Total:
= stats.users_count
%br
New during last week:
= stats.new_users_last_week
%br
New during last month:
= stats.new_users_last_month

%h3
  Listings

Total:
= stats.listings_count
%br
New during last week:
= stats.new_listings_last_week
%br
New during last month:
= stats.new_listings_last_month

%h3
  Conversations

Total:
= stats.conversations_count
%br
New during last week:
= stats.new_conversations_last_week
%br
New during last month:
= stats.new_conversations_last_month

%h3
  Messages

Total:
= stats.messages_count
%br
New during last week:
= stats.new_messages_last_week
%br
New during last month:
= stats.new_messages_last_month

%h3
  Confirmed transactions

Total:
= stats.transactions_count
%br
New during last week:
= stats.new_transactions_last_week
%br
New during last month:
= stats.new_transactions_last_month

%h3
  Activation

Users who create content during first 2 weeks:
= stats.two_week_content_activation_percentage
%br

Users who participate in a transaction during first month:
= stats.four_week_transaction_activation_percentage

%h3
  Retention

%h4
  G1 (at least a page load)
MAU:
= "#{stats.mau_g1*100}% (#{ stats.mau_g1_count}/#{ stats.users_count})"
%br
WAU:
= "#{stats.wau_g1*100}% (#{ stats.wau_g1_count}/#{ stats.users_count})"
%br
DAU:
= "#{stats.dau_g1*100}% (#{extra_stats["dau_g1"]}/#{ stats.users_count})"

%h4
  G2 (created some content or activity)
MAU:
= "#{stats.mau_g2*100}% (#{ extra_stats["mau_g2"]}/#{ stats.users_count})"
%br
WAU:
= "#{stats.wau_g2*100}% (#{ extra_stats["wau_g2"]}/#{ stats.users_count})"
%br
DAU:
= "#{stats.dau_g2*100}% (#{extra_stats["dau_g2"]}/#{ stats.users_count})"

%h4
  G3 (participated in a transaction)
MAU:
= "#{stats.mau_g3*100}% (#{ extra_stats["mau_g3"]}/#{ stats.users_count})"
%br
WAU:
= "#{stats.wau_g3*100}% (#{ extra_stats["wau_g3"]}/#{ stats.users_count})"
%br
DAU:
= "#{stats.dau_g3*100}% (#{extra_stats["dau_g3"]}/#{ stats.users_count})"

-# COMMENTED OUT AS USERS CANNOT SEND INVITES CURRENTLY
-# %h3
-#   Referral
-#
-# Invitations on average per user (accepted/sent)
-# = "#{stats.invitations_accepted_per_user} / #{stats.invitations_sent_per_user}"
