- content_for :javascript do
  initialize_confirm_transaction_form();

- content_for :title_header do
  %h1= t("layouts.no_tribe.inbox")

.centered-section.conversation-status-form
  = form_for form, :url => confirmation_person_message_path(:person_id => @current_user.id, :id => listing_transaction[:id]), :html => { :method => "put" } do |form|
    - if can_be_confirmed

      .conversation-action
        - ["confirm", "cancel"].each do |action|
          %label{:for => "action-#{action}", :class => "radio hidden"}
            = radio_button_tag "status", action, action_type.eql?(action), :id => "action-#{action}"
          %a.conversation-action.hidden{:id => "#{action}", :name => "#{action}-link", :class => (action_type.eql?(action) ? action : "")}
            .link-icon{:class => icon_for("#{action}ed")}
            .link-text{:id => "#{action}-action-link"}= t("conversations.confirm.#{action}")

      .conversation-action-description
        - ["confirm", "cancel"].each do |action|
          %div{:class => "#{action}-description #{action_type.eql?(action) ? '' : 'hidden'}"}
            = t("conversations.confirm.#{action}_description")

      = form.hidden_field :status, :value => "#{action_type}ed"

    - else

      %h2= t("conversations.confirm.canceling_payed_transaction")

      .conversation-action-description
        = t("conversations.confirm.cancel_payed_description")

      = fields_for :message, message_form do |message_form|
        = message_form.label :content, t("conversations.new.message"), :class => "input"
        = message_form.text_area :content, :class => "text_area", :placeholder => t("conversations.accept.optional_message")

      = form.hidden_field :status, :value => "canceled"

    - if @current_community.testimonials_in_use
      .close-listing-radio-buttons

        .checkbox-container
          = radio_button_tag "give_feedback", true, true, :id => "do_give_feedback"
          = label_tag "do_give_feedback", t("conversations.confirm.give_feedback_to", :person_link => link_to(other_person[:name], person_path(other_person[:username]))).html_safe, :class => "radio"

        .checkbox-container
          = radio_button_tag "give_feedback", false, false, :id => "do_not_give_feedback"
          = label_tag "do_not_give_feedback", t("conversations.confirm.do_not_give_feedback"), :class => "radio"

    = form.button t("conversations.confirm.continue"), :class => "send_button", :id => "send_testimonial_button"
