- if available_locales.size == 1
  - available_locales.each do |_locale_name, locale_value|
    .form-group
      %label= t('admin2.listing_fields.field_name')
      = text_field_tag "custom_field[name_attributes][#{locale_value}]", @custom_field.name(locale_value), class: %i[form-control required]
- else
  .form-group
    %label= t('admin2.listing_fields.field_name')
    .multiple-languages-container
      - available_locales.each do |locale_name, locale_value|
        .multiple-languages-language
          %span.language= locale_name
        .multiple-languages-input
          = text_field_tag "custom_field[name_attributes][#{locale_value}]", @custom_field.name(locale_value), class: %i[form-control required]
