- content_for :title do
  = t('admin2.sidebar.listings.listing_fields')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.sidebar.listings.listing_fields')

.content-card-section-container
  %form.content-card-section-form
    %section.content-card-section
      %h2= t('admin2.listing_fields.info_header')
      = render 'admin2/listings/listing_fields/links'
      %p.ingress= t('admin2.listing_fields.info_text')

      .form-group
        .field-titles.field-data
          .col.col-lg-6= t('admin2.listing_fields.field_title')
          .col.col-lg-4= t('admin2.listing_fields.field_type')
          .col
        .list-group
          .field-data
            .col.col-lg-6{data: {intercom_target: t('admin2.listing_fields.listing_title')}}= t('admin2.listing_fields.listing_title')
            .col.col-lg-4= t('admin2.listing_fields.types.text')
            .actions.col
              %span.handle-move.disabled{'aria-hidden' => true}
              %span.remove.disabled{'aria-hidden' => true}
              %span.edit.disabled{'aria-hidden' => true}
          - if @price_in_use
            .field-data
              .col.col-lg-6{data: {intercom_target: t('admin2.listing_fields.types.price')}}= t('admin2.listing_fields.types.price')
              .col.col-lg-4= t('admin2.listing_fields.types.price')
              .actions.col
                %span.handle-move.disabled{'aria-hidden' => true}
                %span.remove.disabled{'aria-hidden' => true}
                = link_to edit_price_admin2_listings_listing_fields_path, data: {intercom_target: t('admin2.listing_fields.edit_listing_field', name: t('admin2.listing_fields.types.price'))}, remote: true do
                  %span.edit
          .field-data
            .col.col-lg-6{data: {intercom_target: t('admin2.listing_fields.detailed_description')}}= t('admin2.listing_fields.detailed_description')
            .col.col-lg-4= t('admin2.listing_fields.types.text')
            .actions.col
              %span.handle-move.disabled{'aria-hidden' => true}
              %span.remove.disabled{'aria-hidden' => true}
              %span.edit.disabled{'aria-hidden' => true}

          = render 'custom'

          .field-data
            .col.col-lg-6{data: {intercom_target: t('admin2.listing_fields.expiration_date')}}= t('admin2.listing_fields.expiration_date')
            .col.col-lg-4= t('admin2.listing_fields.types.date')
            .actions.col
              %span.handle-move.disabled{'aria-hidden' => true}
              %span.remove.disabled{'aria-hidden' => true}
              = link_to edit_expiration_admin2_listings_listing_fields_path, data: {intercom_target: t('admin2.listing_fields.edit_listing_field', name: t('admin2.listing_fields.expiration_date'))}, remote: true do
                %span.edit
          .field-data
            .col.col-lg-6{data: {intercom_target: t('admin2.listing_fields.types.location')}}= t('admin2.listing_fields.types.location')
            .col.col-lg-4= t('admin2.listing_fields.types.location')
            .actions.col
              %span.handle-move.disabled{'aria-hidden' => true}
              %span.remove.disabled{'aria-hidden' => true}
              = link_to edit_location_admin2_listings_listing_fields_path, data: {intercom_target: t('admin2.listing_fields.edit_listing_field', name: t('admin2.listing_fields.types.location'))}, remote: true do
                %span.edit
          .field-data
            .col.col-lg-6{data: {intercom_target: t('admin2.listing_fields.types.image')}}= t('admin2.listing_fields.types.image')
            .col.col-lg-4= t('admin2.listing_fields.types.image')
            .actions.col
              %span.handle-move.disabled{'aria-hidden' => true}
              %span.remove.disabled{'aria-hidden' => true}
              %span.edit.disabled{'aria-hidden' => true}

      %p.ingress
        = link_to t('admin2.listing_fields.add_listing_type'), '#', data: { intercom_target: t('admin2.listing_fields.add_listing_field'), target: '#listingFieldsAddModal', toggle: :modal }

- content_for :popup_layout do
  = render 'admin2/listings/listing_fields/add_popup'
