- content_for :javascript do
  ST.initializeTransactionAgreementFields();

- content_for :title_header do
  %h1= t("layouts.admin.admin")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h2= t("admin.communities.edit_details.edit_community", :community_name => @current_community.name(I18n.locale))
  = form_tag update_details_admin_community_path(@current_community), method: :put, id: "edit_community" do |form|

    = render partial: "locale_input_fields", locals: community_name_locals
    = render partial: "locale_input_fields", locals: community_slogan_locals
    = render partial: "locale_input_fields", locals: community_description_locals
    = render partial: "locale_input_fields", locals: community_search_placeholder_locals

    - if @show_transaction_agreement
      .row
        .col-12
          = label_tag "transaction_label", t("admin.communities.edit_details.transaction_agreement"), class: "input"
          = check_box_tag "community[transaction_agreement_checkbox]", @current_community.transaction_agreement_in_use?, @current_community.transaction_agreement_in_use?, class: "checkbox-row-checkbox"
          = label_tag "community[transaction_agreement_checkbox]", t("admin.communities.edit_details.transaction_agreement_checkbox"), class:"checkbox-row-label"

      = render partial: "locale_input_fields", locals: transaction_agreement_label_locals
      = render partial: "locale_input_textarea", locals: transaction_agreement_text_locals

    .row
      .col-12
        = button_tag t("admin.communities.edit_details.save")


= render :partial => "people/help_texts", :collection => ["invite_only_help_text"], :as => :field
