- content_for :extra_javascript do
  :javascript
    ST.initializePayPalPreferencesForm(
      "paypal_preferences_form",
      [#{min_commission_percentage}, #{max_commission_percentage}]
    )

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.paypal_account.paypal_admin_account")

- if local_assigns[:show_onboarding_popup]
  = render :layout => "layouts/lightbox", :partial => "layouts/onboarding_popup", locals: {title: t(popup_title_key), body: t(popup_body_key), action_label: t(popup_button_key), action_link: popup_action_link, image: asset_path(popup_image), id: "onboarding-popup" }

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }
- content_for :extra_javascript do
  :javascript
    ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}", ".js-paypal-redirect-order-permission");


.left-navi-section.payment-settings
  %h1= t("admin.paypal_accounts.marketplace_paypal_integration")

  .row
    .col-12
      =t("admin.paypal_accounts.integration_info_text").html_safe

  - if display_knowledge_base_articles
    .row
      .col-12
        = link_to t("admin.paypal_accounts.read_more_about_paypal"), "#{knowledge_base_url}/payment-with-paypal/guide-to-getting-started-with-paypal-payments"

  .row.paypal-connect-second-time-note
    .col-12
      %strong
        =t("admin.paypal_accounts.link_paypal_personal_account_label")
      =t("admin.paypal_accounts.link_paypal_personal_account",
        personal_payment_preferences_link: link_to(t("admin.paypal_accounts.personal_payment_preferences_link_text"),
          paypal_account_settings_payment_path(@current_user.username))).html_safe

  - if paypal_account_email.present? # has linked their PayPal account
    .row.paypal-wizard
      .col-12
        .paypal-wizard-content
          - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
          = render partial: "layouts/paypal_account_connected", locals: {paypal_account_email: paypal_account_email,
              paypal_redirect_link: paypal_redirect_link}
        .paypal-wizard-divider
        .paypal-wizard-content
          = form_for paypal_prefs_form, url: paypal_prefs_form_action, html: { id: "paypal_preferences_form" } do |form|
            .row.paypal-preferences
              .col-12
                %h3.paypal-wizard-step
                  - if paypal_prefs_valid
                    =icon_tag("check", ["icon-fix", "paypal-success-mark"])
                  =t("admin.paypal_accounts.edit_payment_settings")
            .row
              .col-12
                %p.paypal-currency-information
                  %span.paypal-currency-info-icon
                    =icon_tag("information")
                  =t("admin.paypal_accounts.supported_currencies_information_text",
                     contact_support_link: link_to(t("admin.paypal_accounts.contact_support_link_text"), "mailto:#{support_email}", "data-uv-trigger" => "contact")).html_safe

            .row
              .col-6
                = form.label :marketplace_currency, t("admin.paypal_accounts.marketplace_currency_label"), class: "paypal-horizontal-input-label"
              .col-6
                = form.select :marketplace_currency, options_for_select(available_currencies, currency)

            .row.paypal-currency-change-warning-text
              .col-12
                .alert-box-warning
                  %p
                    %span.alert-box-icon
                      = icon_tag("alert", ["icon-fix"])
                    %span
                      = t("admin.paypal_accounts.currency_change_warning_text")

            .row
              .col-6
                = form.label :minimum_listing_price, t("admin.paypal_accounts.minimum_listing_price_label"), class: "paypal-horizontal-input-label"
              .col-6
                = form.text_field :minimum_listing_price, class: "paypal-preferences-input"
                %label.paypal-horizontal-input-label-unit.paypal-preferences-currency-label
                  = currency
            .row
              .col-6
                = form.label :commission_from_seller, t("admin.paypal_accounts.transaction_fee_label"), class: "paypal-horizontal-input-label"
              .col-6
                = form.text_field :commission_from_seller, class: "paypal-preferences-input"
                %label.paypal-horizontal-input-label-unit
                  = "%"
            .row
              .col-6
                = form.label :minimum_transaction_fee, t("admin.paypal_accounts.minimum_transaction_fee_label"), class: "paypal-horizontal-input-label"
              .col-6
                = form.text_field :minimum_transaction_fee, class: "paypal-preferences-input"
                %label.paypal-horizontal-input-label-unit.paypal-preferences-currency-label
                  = currency
            .row
              .col-12
                = form.button t("admin.paypal_accounts.save_settings")

  - else # no PayPal account connected
    .row.paypal-wizard
      .col-12
        .paypal-wizard-content
          .row
            .col-12
              %h3.paypal-wizard-step
                =t("paypal_accounts.new.connect_paypal_account_title")
          .row
            .col-12
              =t("paypal_accounts.new.connect_paypal_account_instructions")
          .row.send-button-wrapper.without-margin
            .col-12
              %button#ask_paypal_permissions
                = t("paypal_accounts.new.connect_paypal_account")
          .row.js-paypal-redirect-order-permission.hidden
            .col-12
              .paypal-redirect-message
                - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
                = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe
