%h3 
  Registrar
%p 
  dịch vụ #{service_name}: Sharetribe Ltd
  %br
  = link_to "www.sharetribe.com", "http://www.sharetribe.com/en"
  %br
  thông tin (tại) sharetribe.com

%h3
  Người liên lạc
%p
  Antti Virolainen
  %br 
  Kirjurinkuja 3 F 46 02600 Espoo
  %br 
  +358-50-5311793
  %br
  antti.virolainen (at) sharetribe.com

%h3 
Tên đăng ký
%p 
  Đăng ký người dùng của dịch vụ #{service_name}
%h3
  Việc sử dụng các chi tiết các nhân (mục đích đăng ký)
%p 
  Các chi tiết cá nhân được thu thập để làm thông tin liên lạc và sử dụng dịch vụ khi có thể. Thông tin chi tiết có thể được sử dụng cho giao tiếp giữa các nhà cung cấp dịch vụ và người sử dụng và cũng có thể cho các giao tiếp trực tiếp giữa những người dùng. Một số chi tiết cá nhân được hiển thị trên trang tiểu sử của người dùng, nhưng những chi tiết đó là tự nguyện (ngoại trừ tên).  
%p
  Việc sử dụng các chi tiết cá  nhân không được gia công, nhưng dữ liệu đăng ký được lưu trữ tại máy chủ (server) được thuê từ công ty thứ ba.
%h3 
  Nội dung thông tin của đăng ký
%p 
  Thông tin đăng ký sau đây có thể được lưu trữ trong danh sách đăng ký:
  %ul
    %li 
      Các chi tiết cá nhân: Tên, địa chỉ email, số điện thoại, địa chỉ đường
    %li
      Chi tiết tài khoản: tên người dùng, mật khẩu (lưu trữ ở định dạng mã hóa) 
    %li
      Văn bản mô tả, người sử dụng có thể viết về chính anh ấy hoặc cô ấy
    %li
      Các hỗ trợ và yêu cầu người sử dụng đã đăng với dịch vụ
    %li
      Các thông tin phản hồi và danh hiệu đã cho và đã nhận
    %li
      Dữ liệu thống kê về việc sử dụng dịch vụ, ví dụ: số lần người dùng đã đăng nhập
%h3
  Các nguồn hợp thức của thông tin
%p 
  Các chi tiết cá nhân được cung cấp bởi người dùng đăng ký với dịch vụ hoặc khi sử dụng nó sau này. 
%h3 
  Sự bàn giao chính thức của thông tin
%p 
  Thông tin có thể được giao cho mục đích nghiên cứu như mô tả trong
  = link_to t('layouts.infos.terms'), terms_infos_path
  mà người dùng chấp nhận trước khi bắt đầu sử dụng dịch vụ. Các nhà nghiên cứu không xuất bản bất kỳ kết quả nghiên cứu nào để xác định thông tin nào được tiết lộ hoặc bất kỳ người dùng cụ thể có thể được phát hiện.
%p
  Thông tin xem xét người dùng của một cộng đồng riêng lẻ #{service_name} có thể được giao cho khách hàng những người đã thành lập cộng đồng đó hoặc để các quản trị viên cộng đồng được bổ nhiệm bởi khách hàng đó.  %h3 
  Chuyển giao thông tin bên ngoài Châu Âu và khu vực kinh tế Châu Âu
%p
  Thông tin có thể được lưu trữ vào một máy chủ nằm bên ngoài Châu Âu và khu vực kinh tế châu Âu
%h3 
  Các nguyên lý bảo vệ đăng ký
%p 
  Thông tin được lưu trữ trên các máy tính. Việc truy cập vào các thông tin bị giới hạn bằng mật khẩu và các truy cập vật lý với các máy tính bị hạn chế bởi công ty máy chủ.