%h3  
  Registrar 
%p  
  Servicio de #{service_name}: Sharetribe Ltd
  %br
  = link_to "www.sharetribe.com", "http://www.sharetribe.com/es"
  %br
  info (at) sharetribe.com
 
%h3 
  Contacto 
%p 
  Antti Virolainen 
  %br  
  Kirjurinkuja 3 F 46 02600 Espoo 
  %br  
  +358-50-5311793 
  %br 
  antti.virolainen (at) sharetribe.com
 
%h3  
  Nombre del registro 
%p  
  Registro de usuario del servicio de #{service_name} 
%h3 
  Uso de datos personales (propósito del registro) 
%p  
  Los datos personales son almacenados para mejorar la comunicación y hacer posible el uso del servicio. Los datos pueden ser usados para la comunicación entre los proveedores del servicio y los usuarios, y además para la directa comunicación entre los usuarios. Algunos datos personales son visibles en la página del perfil del usuario, pero éstos son voluntarios (excepto el nombre).  
%p 
  La manipulación de los datos personales no son externalizados, pero los datos registrados son almacenados en un servidor que es rentado a una compañía externa. 
%h3  
  Información contenida en el registro 
%p  
  La siguiente información podrá ser almacenada en el registro: 
  %ul 
    %li  
      Datos personales: nombre, dirección de correo electrónico, número telefónico, domicilio 
    %li 
      Datos de la cuenta: nombre de usuario, contraseña (almacenada en un formato encriptado) 
    %li 
      El texto descriptivo que el usuario puede escribir con respecto a él mismo 
    %li 
      Las ofertas y solicitudes que el usuario ha publicado en el servicio 
    %li 
      El feedback y las medallas dadas y recibidas 
    %li 
      Información estadística con respecto al uso del servicio, por ejemplo número de veces que el usuario ha iniciado sesión 
%h3 
  Fuentes regulares de información 
%p  
  Los datos personales son entregados por el usuario en el registro para el uso del servicio o cuando lo use posteriormente.  
%h3  
  Traspasos regulares de la información 
%p  
  La información podrá ser entregada para propósitos de investigación como fue descrito en el 
  = link_to t('layouts.infos.terms'), terms_infos_path 
  que el usuario acepta antes de comenzar a usar el servicio. Los investigadores no pueden publicar ningún resultado de la investigación a fin de que la información identificada podría ser revelada o que un usuario específico pudiera ser detectado. 
%p 
  Considerando la información de los usuarios de una sola comunidad #{service_name}, ésta puede ser entregada al cliente que ha fundado esa comunidad o en su defecto, a los administradores de esa comunidad determinados por ese cliente. 
%h3  
  Las transferencias de la información fuera de la Unión Europea y de la Área Económica Europea 
%p 
  La información podría ser almacenada en un servidor que podría estar ubicado dentro o fuera de la Unión Europea y la Área Económica Europea 
%h3  
  Principios de protección de los registros 
%p  
  La información es almacenada en computadores. El acceso a la información está restringido con contraseñas y el acceso físico a los computadores está restringido por la compañía que mantiene los servidores.