%h3 
  Στοιχεία
%p 
  Υπηρεσία #{service_name}:
  %br
  = link_to "www.sharetribe.com", "http://www.sharetribe.com/el"
  %br
  info (παπάκι) sharetribe.com

%h3
  Υπεύθυνος
%p
  Antti Virolainen 
  %br  
  Kirjurinkuja 3 F 46 02600 Espoo 
  %br  
  +358-50-5311793 
  %br 
  antti.virolainen (παπάκι) sharetribe.com 

%h3  
  Ονομασία του μητρώου
%p  
  Μητρώο χρηστών της υπηρεσίας #{service_name}
%h3
  Χρήση προσωπικών δεδομένων (σκοπός εγγραφής)
%p 
  Τα προσωπικά στοιχεία συλλέγονται για να επιτυγχάνεται η επικοινωνία και η χρήση της υπηρεσίας. Τα προσωπικά στοιχεία μπορεί να χρησιμοποιηθούν για την επικοινωνία μεταξύ των παρόχων της υπηρεσίας και των χρηστών της καθώς επίσης και για την άμεση επικοινωνία μεταξύ των χρηστών. Κάποια προσωπικά στοιχεία είναι ορατά από την προσωπική σελίδα του χρήστη αλλά αυτές οι πληροφορίες παρέχονται εθελοντικά από τους χρήστες (εκτός από το όνομα).
%p
  Τα προσωπικά στοιχεία δεν παρέχονται σε τρίτους όμως όλα τα στοιχεία της εγγραφής είναι καταχωρημένα σε ένα εξυπηρετητή (server) ο οποίος είναι νοικιασμένος από κάποια τρίτη εταιρία.
%h3 
  Περιεχόμενο εγγραφής
%p 
  Οι παρακάτω πληροφορίες μπορεί να αποθηκευτούν στο μητρώο της υπηρεσίας:
  %ul
    %li
      Προσωπικά στοιχεία: Όνομα, ηλεκτρονική διεύθυνση, αριθμός τηλεφώνου, ταχυδρομική διεύθυνση
    %li 
      Στοιχεία λογαριασμού: όνομα χρήστη, κωδικός (αποθηκευμένος σε κωδικοποιημένη μορφή) 
    %li 
      Η περιγραφή που ο χρήστης μπορεί να γράψει για τον εαυτό του.
    %li 
      Οι προσφορές και τα αιτήματα που ο χρήστης έχει καταχωρήσει στην υπηρεσία
    %li 
      Η κριτική που έχει λάβει ο χρήστης από άλλους χρήστες και οι κονκάρδες του
    %li 
      Στατιστικά δεδομένα για τη χρήστη της υπηρεσίας, πχ. πόσες φορές έχει συνδεθεί ο χρήστης στην υπηρεσία
%h3 
  Πηγές πληροφοριών
%p  
  Τα προσωπικά στοιχεία δίνονται από το χρήστη κατά την εγγραφή του στην υπηρεσία ή κατά τη χρήση της αργότερα.
%h3  
  Τυπικοί χρήστες των πληροφοριών 
%p  
  Οι πληροφορίες μπορεί να παραχωρηθούν για ερευνητικούς σκοπούς, όπως περιγράφεται στους
  = link_to t('layouts.infos.terms'), terms_infos_path
  τους οποίους ο χρήστης αποδέχεται πριν αρχίσει να χρησιμοποιεί την υπηρεσία. Οι ερευνητές δεν μπορούν να δημοσιεύσουν αποτελέσματα από την έρευνα με πληροφορίες που θα μπορούσαν να ταυτοποιήσουν τους χρήστες, έτσι ώστε κανένας χρήστης της υπηρεσίας να μην μπορεί να αναγνωριστεί.
%p 
  Οι πληροφορίες που αφορούν τους χρήστες μίας μεμονομένης κοινότητας #{service_name} μπορεί να παραχωρηθούν στον πελάτη που έχει ιδρύσει αυτή την κοινότητα ή στους διαχειριστές αυτής της κοινότητας που έχουν οριστεί από τον πελάτη.
%h3  
  Μεταφορές των πληροφοριών εκτός της E.E. και του Ευρωπαϊκού Οικονομικού Χώρου
%p
  Πληροφορίες μπορεί να αποθηκευτούν σε εξυπηρετητή (server) που μπορεί να βρίσκεται εντός ή εκτός της Ε.Ε. και του Ε.Ο.Χ.
%h3  
  Αρχές προστασίας εγγραφών
%p  
  Οι πληροφορίες είναι καταχωρημένες σε υπολογιστές. Η πρόσβαση στις πληροφορίες περιορίζεται από κωδικούς και η φυσική πρόσβαση στους υπολογιστές περιορίζεται από την εταιρία που παρέχει τους εξυπηρετητές.