- if seller_account && seller_account.managed && seller_account.verification.fields_needed.present?
  = form_tag send_verification_person_stripe_account_path(@current_user), method: :put, multipart: true do
    .row
      .col-4
        = label_tag :personal_id_number, t(".personal_id_number")
      .col-8
        = text_field_tag :personal_id_number
    .row
      .col-4
        = label_tag :document, t(".document")
      .col-8
        = file_field_tag :document

    .row
      .col-12
        = submit_tag t(".send_verification")
- elsif seller_account && (!seller_account.managed || seller_account.verification.fields_needed.empty?)
  %br
  %h2
    %span.icon-ok-circle.color-green
    %span.color-green= t("stripe_accounts.show.verified")
