- content_for :extra_javascript do
  :javascript
    $(function(){window.ST.initStripeBankForm();});
= form_for stripe_bank_form, url: person_stripe_account_path(@current_user), method: :put do |form|
  .row
    = form.error_messages

  .row
    .col-3
      = form.label :bank_country, t(".bank_country")
    .col-3
      = form.select :bank_country, available_countries, {}, disabled: disabled
    .col-3
      = form.label :bank_currency, t(".bank_currency")
    .col-3
      = form.select :bank_currency, MarketplaceService::AvailableCurrencies::CURRENCIES, {}, disabled: disabled


  .row
    .col-3
      = form.label :bank_routing_number, t(".bank_routing_number")
    .col-9
      = form.text_field :bank_routing_number, class: 'required', disabled: disabled
  .row
    .col-3
      = form.label :bank_account_number, t(".bank_account_number")
    .col-9
      = form.text_field :bank_account_number, class: 'required', disabled: disabled
  .row
    .col-3
      = form.label :bank_account_holder_name, t(".bank_account_holder_name")
    .col-9
      = form.text_field :bank_account_holder_name, class: 'required', disabled: disabled

  - if !disabled
    .row
      .col-12
        = form.button t(".create_bank_account")

- content_for :extra_javascript do
  :javascript
    $(function() {
      $("#new_stripe_bank_account_form").validate();
    })
