%h4 News
.welcome_text
  
  %p
    %b
      Invite your colleague to #{service_name}
    %br
    9.2.2011
  
  %p
    Invite your colleagues to #{service_name} and win movie tickets! The more people we have using #{service_name} the better it works for everyone. So invite as many colleagues as you want by using the "invite your friends" box above (you need to log in to see it). All the people who have managed to get at least one colleague to join #{service_name} before February 29th will have a chance to win movie tickets.
    
  .event_spacer
  
  %p
    %b
      Car pooling campaign
    %br
    13.12.2011
  
  %p
    Would you like to save up to thousands of euros every year? What if you could at the same time meet other people working in Keilaniemi and do good for the environment?
  %p
    HTC Keilaniemi wants to encourage the employees of its companies to share rides when going to work. HTC #{service_name} is launching a car pooling campaign starting from Monday December 12th and lasting until Wednesday December 21th. Everyone who will add at least one ridesharing offer or request to #{service_name} during the time of the campaign will participate in a raffle, with four product packages from Lejos and three Angry Birds plush toys from Rovio as prizes! In addition to all the added offers and requests, all accepted rides will affect your chances of winning, so go ahead and try to find people living near you who you could share a ride with.
  %p
    If you have so far travelled to work in your own car, now is the perfect moment to try this new social trend. You can offer a ride 
    = link_to "here", new_listing_path(:type => "offer", :category => "rideshare")  
    and request one here 
    = link_to("here", new_listing_path(:type => "request", :category => "rideshare")) + "."
    Also remember to check what others are offering and requesting. All the ride offers can be seen on the map 
    = link_to "here", offers_on_map_path 
    and all the requests 
    = link_to("here", requests_on_map_path) + "."
  %p
    Happy ridesharing!
    
  .event_spacer
  
  %p
    %b
      HTC Keilaniemi recycling contest
    %br
    9.11.2011
  
  %p
    Get rid of useless sfuff! There's a recycling competition going on in HTC Keilaniemi #{service_name} web marketplace. Sell, lend or give away your unused stuff to other HTC folks and win great prizes!
  %p
    The rules are as follows: each item offer added to #{service_name} between November 9th and November 22th counts. The three people with most item offers (but at least three) will get a free lunch in Sodexo Keilaniemi. In addition, everyone who has added at least three item offers participates in a raffle where three people get 25% off from a haircut in our local hairdresser Snazzy.
  %p
    So go ahead and 
    = link_to "add your stuff.", new_listing_path(:listing_type => :offer)
    
  .event_spacer
  
  %p
    This is the notice board of HTC Keilaniemi. It helps the HTC companies to collaborate and is place to seek and offer help and additional services to the companies and employees.
  %p
    Check what others already offer and need, and think what you would need or would like to offer as an individual or as a company.
  %p
    %b
      Links:
    %br
    = link_to "Intranet", "http://intra.htckeilaniemi.com/"
    %br
    = link_to "HTC Keilaniemi", "http://htckeilaniemi.com/"