%h4 Uutiset
.welcome_text

  %p
    %b
      Kutsu työkaverisi #{service_name(:illative)}
    %br
    9.2.2011
  
  %p
    Kutsu työkaverisi #{service_name(:illative)} ja voita elokuvalippuja! Mitä enemmän ihmisiä käyttää HTC:n #{service_name(:partitive)}, sitä paremmin palvelu toimii kaikkien kannalta. Kutsu siis ylläolevan lomakkeen kautta (sinun on kirjauduttava sisään nähdäksesi lomakkeen) mahdollisimman monta työkaveriasi #{service_name(:illative)} 29.2. mennessä, ja sinulla on mahdollisuus voittaa elokuvalippuja.
    
  .event_spacer

  %p
    %b
      Kimppakyytikampanja
    %br
    13.12.2011
  
  %p
    Haluaisitko säästää jopa tuhansia euroja vuodessa? Entä jos voisit samalla tutustua muihin Keilaniemessä työskenteleviin ihmisiin ja siinä sivussa tehdä merkittävän ympäristöteon?
  %p
    HTC Keilaniemi haluaa rohkaista yritystensä työntekijöitä käyttämään kimppakyytejä työmatkoilla. HTC:n #{service_name}-verkkotorilla on 12.-21.12. käynnissä kimppakyytikampanja. Kaikkien kampanjan aikana vähintään yhden kimppakyytitarjouksen tai -pyynnön #{service_name(:illative)} lisänneiden kesken arvotaan HTC Keilaniemen yritysten sponsoroimia tuotepalkintoja: 4 Lejoksen tuotepakettia sekä 3 Rovion Angry Birds -pehmolelua. Lisättyjen pyyntöjen ja tarjousten lisäksi myös jokainen toteutunut kimppakyyti on yksi "arpalipuke" ja lisää siten voitonmahdollisuuksiasi. Kannattaa siis aktiivisesti etsiä lähialueillasi asuvia ihmisiä, joiden kanssa voisit perustaa kimppakyytiringin.
  %p
    Jos olet tähän asti ajanut työmatkasi yksin omalla autollasi, nyt on juuri oikea hetki kokeilla yhteisöllistä kimppakyytikulttuuria! Voit tarjota kyytiä muille 
    = link_to "täällä", new_listing_path(:type => "offer", :category => "rideshare")  
    ja ilmoittautua halukkaaksi kyytiläiseksi
    = link_to("täällä", new_listing_path(:type => "request", :category => "rideshare")) + "."
    Muista myös katsoa, mitä muut tarjoavat. Tarjotut kyydit voi nähdä kartalla
    = link_to "täällä", offers_on_map_path 
    ja pyydetyt kyydit
    = link_to("täällä", requests_on_map_path) + "."
  %p
    Hauskaa kimppakyyteilyä!
    
  .event_spacer

  %p
    %b
      HTC Keilaniemen kierrätyskilpailu
    %br
    9.11.2011
  
  %p
    Laita turha tavara kiertoon! HTC Keilaniemen #{service_name}-verkkotorilla on nyt käynnissä kierrätyskilpailu. Myy, anna tai lainaa käyttämättömät tavarasi muille HTC:n ihmisille ja voita hienoja palkintoja!
  %p
    Kilpailun säännöt ovat seuraavat: jokainen #{service_name(:illative)} aikavälillä 9.-22.11. lisätty tavaratarjous lasketaan mukaan, oli kyseessä sitten tavaran myynti, lainaaminen, vuokraaminen tai antaminen pois ilmaiseksi. Kolmelle eniten tavaratarjouksia (kuitenkin vähintään kolme tavaraa) palveluun tänä aikana lisänneelle on luvassa ilmainen lounas HTC Keilaniemen Sodexossa. Lisäksi kaikkien vähintään kolme tavaraa lisänneiden kesken arvotaan kolme lahjakorttia, jotka oikeuttavat 25 prosentin alennukseen hiustenleikkuusta HTC:n omassa parturi-kampaamossa Snazzyssa.
  %p
    = link_to "Lisää siis heti tavarasi tarjolle!", new_listing_path(:listing_type => :offer)
    
  .event_spacer

  %p
    Tämä on HTC Keilaniemen sähköinen ilmoitustaulu, jonka avulla parannetaan HTC Keilaniemen yritysten välistä yhteistoimintaa, tarjotaan lisäpalveluja ja apua yrityksille ja työntekijöille.
  %p
    Katso mitä muut tarjoavat ja tarvitsevat ja mieti mitä itse tarvitset tai voisit tarjota, joko yksityishenkilönä tai yrityksenä.
  %p
    %b
      Linkit:
    %br
    = link_to "Intranet", "http://intra.htckeilaniemi.com/"
    %br
    = link_to "HTC Keilaniemi", "http://htckeilaniemi.com/"
