<h1><%= t(:edit_group_mode) %> <%= @group.title %></h1>

<div id="basic_content">

<% form_for @group, :method => :put do |f| -%>
  <%= display_errors(@group, :group_could_not_be_edited) %>
  <div class="form_header">
    <%= t(:group_title) %>:
  </div>
  <div class="form_field">  
    <%= f.text_field :title, :size => 89 %>
  </div>  
  <div class="form_header">
    <%= t(:group_description) %>:
  </div>
  <div class="form_field">
    <%= f.text_area :description, :size => "90x5" %>
  </div>
  <div class="form_field">
    <%= submit_tag t(:edit_group_button), :onclick => "this.disabled=true,this.form.submit();" %>
  </div>
  <%= f.hidden_field :type, :value => "open" %>  
<% end %>

</div>
