<h1><%= t(:new_group) %></h1>

<div id="basic_content">

<% form_for @group do |f| -%>
  <div class="form_header">
    <%= t(:group_title) %>:
  </div>
  <div class="form_field">  
    <%= f.text_field :title, :size => 89 %>
  </div>  
  <div class="form_header">
    <%= t(:group_description) %>:
  </div>
  <div class="form_field">
    <%= f.text_area :description, :size => "90x5" %>
  </div>
  <div class="form_field">
    <%= submit_tag t(:create_group), :onclick => "this.disabled=true,this.form.submit();" %>
  </div>
  <%= f.hidden_field :type, :value => "open" %>  
<% end %>

</div>
