- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.getting_started.getting_started")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }
.left-navi-section
  - react_component_cache(name: "onboarding_guide", props: props) do
    = react_component("OnboardingGuideApp", props: props)

= render layout: "layouts/lightbox", locals: { id: "payment_choose_popup_content"} do
  - text_with_line_breaks_html_safe do
    = t("admin.payment_preferences.choose_popup_text")
  - help_url = "#{APP_CONFIG[:knowledge_base_url]}/differences-between-stripe-and-paypal"
  = link_to t("admin.payment_preferences.read_more_about_paypal_and_stripe"), help_url,  target: "_blank"

- content_for :extra_javascript do
  :javascript
    $(document).on("click", '#not_sure_link', function() { $('#payment_choose_popup_content').lightbox_me({centered: true, zIndex: 1000000}); return false;});


