- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.getting_started.getting_started")

%article.page-content
  .row
    .col-3
      = render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }
    .col-9
      = react_component("OnboardingGuideApp", props: @app_props_server_render, prerender: true, raise_on_prerender_error: true)
