#{service_name} is a sharing site for Karisto residents. Here you can help each other out in various ways: 
= link_to("lend", new_listing_path(:type => :offer, :category => :item)) + ", "
= link_to("sell", new_listing_path(:type => :offer, :category => :item)) + ", "
= link_to("rent", new_listing_path(:type => :offer, :category => :item))
and
= link_to("swap", new_listing_path(:type => :offer, :category => :item))
stuff,
= link_to("sharing rides", new_listing_path(:type => :offer, :category => :item))
and
= link_to("offering", new_listing_path(:type => :offer, :category => :item)) + " and "
= link_to("asking for help", new_listing_path(:type => :offer, :category => :item))
in different situations.