- content_for :title do
  = t('admin2.sidebar.users.manage_users')

= render 'admin2/users/manage_users/filter'

.content-card-section-container{style: 'padding: 0; max-width: none;'}
  .table-responsive
    %table.table.table-hover.manageusers#admin_members_list
      %thead
        %tr
          %th{scope: :col}
            = render 'sort_link', column: 'name', direction: sort_link_direction('name'), title: t('admin2.manage_users.name')
          %th{scope: :col}
            = render 'sort_link', column: 'email', direction: sort_link_direction('email'), title: t('admin2.manage_users.email')
          %th{scope: :col}
            = render 'sort_link', column: 'join_date', direction: sort_link_direction('join_date'), title: t('admin2.manage_users.join_date')
          - if @presenter.require_verification_to_post_listings
            %th{scope: :col}
              = t('admin2.manage_users.posting')
          %th{scope: :col}
            = t('admin2.manage_users.admin')
          %th{scope: :col}
            = t('admin2.manage_users.disable')
          %th{scope: :col}
            = t('admin2.manage_users.actions')
      %tbody
        = render partial: 'admin2/users/manage_users/membership', collection: @presenter.memberships

  .table-bottom#admin_members_count
    %p= AdminCommunityMembershipsViewUtils.community_members_entries_info(@presenter.community.id, @presenter.memberships).html_safe
    = will_paginate @presenter.memberships, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, next_label: t('admin2.next_step'), previous_label: t('admin2.prev_step'), list_classes: %w[pagination justify-content-end]

= render 'admin2/users/manage_users/confirm_popup'
= render 'admin2/users/manage_users/delete_popup'
