= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user, @current_community) }

.left-navi-section.settings-section

  %h2= t(".add_payout_details")

  - status = @braintree_account.status
  - if status
    %h3= "Account status: #{status}"

    - if status == "pending"
      %p
        = "Your account is pending for approval. This shouldn't take more than couple minutes. We'll email you when your payment account is ready to be used."
    - elsif status == "suspended"
      %p
        = "Your account was declined during the activation process. Please contact the administrators for more information."
    - elsif status == "active"
      %p
        = "Your payment account is approved and ready to be used"
    - else
      %p
        = "Something went wrong. Please contact administrators."
      %p
        = "Error: Unknown account status '#{status}'"

  = form_for @braintree_account, :url => form_action do |form|

    = form.label :first_name, t(".first_name"), :class => "input"
    = form.text_field :first_name, :class => :text_field
    
    = form.label :last_name, t(".last_name"), :class => "input"
    = form.text_field :last_name, :class => :text_field
    
    = form.label :email, t(".email"), :class => "input"
    = form.text_field :email, :class => :text_field
    
    = form.label :phone, t(".phone"), :class => "input"
    = form.text_field :phone, :class => :text_field
    
    = form.label :address_street_address, t(".address_street_address"), :class => "input"
    = form.text_field :address_street_address, :class => :text_field
    
    = form.label :address_postal_code, t(".address_postal_code"), :class => "input"
    = form.text_field :address_postal_code, :class => :text_field
    
    = form.label :address_locality, t(".address_locality"), :class => "input"
    = form.text_field :address_locality, :class => :text_field
    
    = form.label :address_region, t(".address_region"), :class => "input"
    = form.text_field :address_region, :class => :text_field
    
    = form.label :date_of_birth, t(".date_of_birth"), :class => "input"
    = form.text_field :date_of_birth, :class => :text_field
    
    = form.label :ssn, t(".ssn"), :class => "input"
    = form.text_field :ssn, :class => :text_field
    
    = form.label :routing_number, t(".routing_number"), :class => "input"
    = form.text_field :routing_number, :class => :text_field
    
    = form.label :account_number, t(".account_number"), :class => "input"
    = form.text_field :account_number, :class => :text_field
    
    = form.button t(".save"), :class => "send_button"