<!DOCTYPE html>
<html>
<head>
  <title>Donalo payments</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "donalo_payments/application", media: "all" %>
  <%= javascript_include_tag "donalo_payments/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
