- content_for :javascript do
  initialize_update_account_info_form("#{I18n.locale}","#{t(".change")}","#{t("common.cancel")}","#{t("people.new.email_is_in_use")}");

- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")
  
= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user, @current_community) }

#person_settings_form.left-navi-section.settings-section.account-settings
  -# Username
  .account-settings-row
    .ss-key.account-settings-icon
    .account-settings-text
      %b
        = username_label + ":"
      = @person.username
  
  -# Email
  .account-settings-row
    .ss-mail.account-settings-icon
    .account-settings-text#account_email_content
      %b
        = t(".email")
      = @person.notification_email_address
      = link_to t(".change"), "#", :id => "account_email_link", :class => "change-link"
    #account_email_form.email-form
      = form_for @person, :html => {:id => 'email_form'} do |form|
        = form.text_field :notification_email_address, :class => "text_field_account", :maxlenght => "255", :placeholder => t(".new_email")
        = form.button t(".save"), :class => "send_button_account", :id => "email_submit"
  
  -# Password
  .account-settings-row
    .ss-lock.account-settings-icon
    .account-settings-text#account_password_content
      = t("common.password") + ":"
      = "********"
      = link_to t(".change"), "#", :id => "account_password_link", :class => "change-link"
    #account_password_form.password-form
      = form_for @person, :html => {:id => 'password_form'} do |form|
        = form.password_field :password, :class => :text_field_account, :maxlength => "255", :placeholder => t(".new_password")
        = form.password_field :password2, :class => :text_field_account, :maxlength => "255", :placeholder => t(".confirm_new_password")
        = form.button t(".save"), :class => "send_button_account", :id => "password_submit"
  
  -# Account removal
  .account-settings-row
    .ss-deleteuser.account-settings-icon
    .account-settings-text
      %b
        = t(".delete_account")
    %p
      = t(".instructions_to_delete_account", :contact_admin_link => link_to(t(".contact_admin"), new_user_feedback_path)).html_safe
    = form_tag url_for(:controller => :people, :action => :destroy, :id => @current_user.id), :method => :delete do
      = button_tag t('.delete_account_button'), :id => "delete_account_button", :data => {:confirm => t('.delete_account_confirmation_popup')}
    