- content_for :javascript do
  initialize_update_avatar_form("#{t('listings.form.images.no_file_selected')}", "#{t('listings.form.images.select_file')}","#{I18n.locale}");

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user) }

#person_settings_form.left-navi-section.settings-section
  %h2= t(".update_profile_picture")
  :javascript
    function handleResponse() { location = "#{@return_url}%>"}

  = form_tag({ :controller => "people", :action => "update_avatar", :id => @person.id }, :method => "put",  :multipart => true, :id => "avatar_form") do
    = file_field_tag "person[image]", :size => 30, :id => "avatar_file"
    = button_tag t(".add_avatar_submit"), :onclick => "this.disabled=true,this.form.submit();", :class => "send_button_notifications"
  = large_avatar_thumb(@person)

%iframe{:id => "upload_frame", :name => "upload_frame", :style => "display: none"}
  