- content_for :javascript do
  initialize_update_profile_info_form('#{I18n.locale}','#{@person.id.to_s}');

#person_settings_form
  #settings_form_description
    = t(".these_fields_are_shown_in_your")
    = link_to(t(".profile_page"), @person) + "."
    = t("common.fields_that_are_mandatory")