- content_for :javascript do
  initialize_update_notification_settings_form('#{I18n.locale}','#{@person.id.to_s}');

#person_settings_form.left-navi-section.settings-section.notification-settings
  = form_for @person do |form|
    %h2= t(".newsletters")
    = render :partial => "notification_checkbox", :collection => ["email_about_weekly_events", "email_newsletters"], :as => :notification_type
    %h2.lower= t(".i_want_to_get_email_notification_when")
    = render :partial => "notification_checkbox", :collection => Person::EMAIL_NOTIFICATION_TYPES, :as => :notification_type
    = form.hidden_field "preferences[temp]", :value => "temp"
    = form.button t("settings.save_information"), :class => "send_button_notifications"
      