- content_for :javascript do
  initialize_update_profile_info_form('#{I18n.locale}','#{@person.id.to_s}');

#person_settings_form
  #settings_form_description
    = t(".these_fields_are_shown_in_your")
    = link_to(t(".profile_page"), @person) + "."
    = t("common.fields_that_are_mandatory")

  = form_for @person do |form|
    .form_field_container
      = form.label :given_name, t(".given_name"), :class => "input"
      = form.text_field :given_name, :class => "text_field", :maxlength => "30"
    .form_field_container
      = form.label :family_name, t(".family_name"), :class => "input"
      = form.text_field :family_name, :class => "text_field", :maxlength => "30"
    .form_field_container  
      = form.label :street_address, t(".street_address"), :class => "input"
      = form.text_field :street_address, :class => "text_field", :maxlength => "50"
    .form_field_container  
      = form.label :postal_code, t(".postal_code"), :class => "input"
      = form.text_field :postal_code, :class => "text_field", :maxlength => "8"
    .form_field_container  
      = form.label :locality, t(".city"), :class => "input"
      = form.text_field :locality, :class => "text_field", :maxlength => "50"
    .form_field_container  
      = form.label :phone_number, t(".phone_number"), :class => "input"
      = form.text_field :phone_number, :class => "text_field", :maxlength => "25"
    .form_field_container  
      = form.label :description, t(".about_you"), :class => "input"
      = form.text_area :description
    = form.submit t("settings.save_information"), :class => "send_button"