- content_for :javascript do
  initialize_update_profile_info_form('#{I18n.locale}','#{@person.id.to_s}', '#{t('address_validator')}', #{@current_community.real_name_required?});

- content_for :extra_javascript do
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"

#person_settings_form
  #settings_form_description
    = t(".these_fields_are_shown_in_your")
    = link_to(t(".profile_page"), @person) + "."

  = form_for @person do |form|
    .form_field_container
      = form.label :given_name, t(".given_name"), :class => "input"
      = form.text_field :given_name, :class => "text_field", :maxlength => "30"
      %span.profile_settings_visibility_info
        = t('.visible_to_everybody')
    .form_field_container
      = form.label :family_name, t(".family_name"), :class => "input"
      = form.text_field :family_name, :class => "text_field", :maxlength => "30"
      %span.profile_settings_visibility_info
        = t('.visible_to_everybody')
    .form_field_container
      = form.label :street_address, t(".street_address"), :class => "input"
      = form.text_field :street_address, :class => "text_field", :onkeyup => "timed_input(this)"
      %span.profile_settings_visibility_info
        = t('.visible_to_registered_users')
    .form_field_container
      #settings_map_canvas.map
        :javascript
          source = document.getElementById("person_street_address");
          $(document).ready(function(){
            googlemapMarkerInit("settings_map_canvas","person_location","person_street_address", true);
            });
    .form_field_container  
      = form.label :phone_number, t(".phone_number"), :class => "input"
      = form.text_field :phone_number, :class => "text_field", :maxlength => "25"
      %span.profile_settings_visibility_info
        = t('.visible_to_registered_users')
    .form_field_container  
      = form.label :description, t(".about_you"), :class => "input"
      = form.text_area :description
    .form_field_container 
      = form.fields_for :location do |loc|
        = loc.hidden_field :address, :value => @person.location.address
        = loc.hidden_field :google_address, :value => @person.location.google_address
        = loc.hidden_field :latitude, :value => @person.location.latitude
        = loc.hidden_field :longitude, :value => @person.location.longitude
        = loc.hidden_field :location_type, :value => "person"
      = form.submit t("settings.save_information"), :class => "send_button"
