- content_for :javascript do
  initialize_update_profile_info_form("#{I18n.locale}","#{@person.id.to_s}", #{@current_community.real_name_required?});

- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"

- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user, @current_community) }

#person_settings_form.left-navi-section.settings-section
  %p
    = t(".these_fields_are_shown_in_your")
    = link_to(t(".profile_page"), @person) + "."

  = form_for @person do |form|
    - unless @person.is_organization
      = form.label :given_name, t(".given_name")
      = form.text_field :given_name, :class => "text_field", :maxlength => "30"
      .inline-label-container
        = form.label :family_name, t(".family_name"), :class => "inline"
        %small
          - if ["first_name_with_initial", "first_name_only"].include? @current_community.name_display_type
            = t(".#{@current_community.name_display_type}")
      = form.text_field :family_name, :class => "text_field", :maxlength => "30"

    -# Location
    .inline-label-container
      = form.label :street_address, t(".street_address"), :class => "inline"
      %small
        = t('.default_in_listing')
    = form.text_field :street_address, :class => "text_field", :onkeyup => "timed_input(this)"
    %small
      = t(".location_description")
    #settings_map_canvas.map
      - content_for :extra_javascript do
        :javascript
          source = document.getElementById("person_street_address");
          $(document).ready(function(){
            googlemapMarkerInit("settings_map_canvas","person_location","person_street_address", true, #{tribe_latitude}, #{tribe_longitude});
            });

    -# Phone number
    .inline-label-container
      = form.label :phone_number, t(".phone_number"), :class => "inline"
      %small
        = t('.invisible')
    = form.text_field :phone_number, :class => "text_field", :maxlength => "25"

    -# Profile picture
    = form.label :image, t(".profile_picture")
    = form.file_field :image, :size => 30, :id => "avatar_file"

    -# About text
    = form.label :description, t(".about_you"), :class => "input"
    = form.text_area :description, :class => "update_profile_description_text_area"
    = form.fields_for :location do |loc|
      = loc.hidden_field :address, :value => @person.location.address
      = loc.hidden_field :google_address, :value => @person.location.google_address
      = loc.hidden_field :latitude, :value => @person.location.latitude
      = loc.hidden_field :longitude, :value => @person.location.longitude
      = loc.hidden_field :location_type, :value => "person"
    = form.button t("settings.save_information"), :class => "send_button"
