<h1><%= t(:settings) %></h1>

  <% form_for @person, :url => change_email_person_settings_path(@person), :method => :put do |f| %>
    <fieldset>
      <legend>
        <%= t(:change_email) %>:
      </legend>
      <div class="form_extra_padding">
      <div class="form_container">
        <div class="form_left">
          <%= t(:email) %>:
        </div>
        <div class="form_right">
          <%= f.text_field :email, :size => 30, :value => @person.email(session[:cookie]) %>
        </div>
      </div>  
      <div class="form_container">
        <div class="form_right">
          <%= submit_tag t(:save), :onclick => "this.disabled=true,this.form.submit();" %>
        </div>
      </div>
      </div>
    </fieldset>
  <% end %>
  <% form_for @person, :url => change_password_person_settings_path(@person), :method => :put do |f| %>
    <fieldset>  
      <legend>
        <%= t(:change_password) %>:
      </legend>
      <div class="form_extra_padding">
      <div class="form_container">
        <div class="form_left">
          <%= t(:password) %>:
        </div>
        <div class="form_right">
          <%= f.password_field :password, :size => 30 %>
        </div>
      </div>
      <div class="form_container">    
        <div class="form_left">
          <%= t(:password_again) %>:
        </div>    
        <div class="form_right">  
          <%= f.password_field :password2, :size => 30 %>
        </div>
      </div>  
      <div class="form_container">
        <div class="form_right">
          <%= submit_tag t(:save), :onclick => "this.disabled=true,this.form.submit();" %>
        </div>
      </div>
      </div>  
    </fieldset>
  <% end %>
  <% form_for @person, :url => change_language_person_settings_path(@person), :method => :put do |f| %>
    <fieldset>  
      <legend>
        <%= t(:change_language) %>:
      </legend>
      <div class="form_extra_padding">
      <div class="form_container">
        <div class="form_left">
          <%= t(:person_language) %>:
        </div>
        <div class="form_right">
          <%= radio_button_tag :person_locale, "fi", @current_user.locale.eql?("fi") %>
          &nbsp;
          Suomi
          &nbsp;&nbsp;&nbsp;
          <%= radio_button_tag :person_locale, "en", @current_user.locale.eql?("en") %>
          &nbsp;
          Englanti
        </div>
      </div>
      <div class="form_container">
        <div class="form_right">
          <%= submit_tag t(:save), :onclick => "this.disabled=true,this.form.submit();" %>
        </div>
      </div>
      </div>  
    </fieldset>
  <% end %>
  <% form_for @person.settings, :url => person_settings_path(@person), :method => :put do |f| %>
    <fieldset>  
      <legend>
        <%= t(:send_email_notifications) %>:
      </legend>
      <div class="form_extra_padding">
      <div class="form_container">
        <div class="form_right">
          <%= f.check_box :email_when_new_message %>
          &nbsp;
          <%= t(:email_when_new_message) %>
        </div>
      </div>
      <div class="form_container">    
        <div class="form_right">
          <%= f.check_box :email_when_new_comment %>
          &nbsp;
          <%= t(:email_when_new_comment) %>
        </div>
      </div>
      <div class="form_container">    
        <div class="form_right">
          <%= f.check_box :email_when_new_friend_request %>
          &nbsp;
          <%= t(:email_when_new_friend_request) %>
        </div>
      </div>
      <div class="form_container">    
        <div class="form_right">
          <%= f.check_box :email_when_new_kassi_event %>
          &nbsp;
          <%= t(:email_when_new_kassi_event) %>
        </div>
      </div>
      <div class="form_container">    
        <div class="form_right">
          <%= f.check_box :email_when_new_comment_to_kassi_event %>
          &nbsp;
          <%= t(:email_when_new_comment_to_kassi_event) %>
        </div>
      </div>
      <div class="form_container">    
        <div class="form_right">
          <%= f.check_box :email_when_new_listing_from_friend %>
          &nbsp;
          <%= t(:email_when_new_listing_from_friend) %>
        </div>
      </div>  
      <div class="form_container">
        <div class="form_right">
          <%= submit_tag t(:save), :onclick => "this.disabled=true,this.form.submit();" %>
        </div>
      </div>
      </div>  
    </fieldset>
  <% end %>
