<h1><%= t(:settings) %></h1>

  <% form_for @person, :url => change_email_person_settings_path(@person), :method => :put do |f| %>
    <fieldset>
      <legend>
        <%= t(:change_email) %>:
      </legend>
      <div class="form_extra_padding">
      <div class="form_container">
        <div class="form_left">
          <%= t(:email) %>:
        </div>
        <div class="form_right">
          <%= f.text_field :email, :size => 30, :value => @person.email(session[:cookie]) %>
        </div>
      </div>  
      <div class="form_container">
        <div class="form_right">
          <%= submit_tag t(:save), :onclick => "this.disabled=true,this.form.submit();" %>
        </div>
      </div>
      </div>
    </fieldset>
  <% end %>
  <% form_for @person, :url => change_password_person_settings_path(@person), :method => :put do |f| %>
    <fieldset>  
      <legend>
        <%= t(:change_password) %>:
      </legend>
      <div class="form_extra_padding">
      <div class="form_container">
        <div class="form_left">
          <%= t(:password) %>:
        </div>
        <div class="form_right">
          <%= f.password_field :password, :size => 30 %>
        </div>
      </div>
      <div class="form_container">    
        <div class="form_left">
          <%= t(:password_again) %>:
        </div>    
        <div class="form_right">  
          <%= f.password_field :password2, :size => 30 %>
        </div>
      </div>  
      <div class="form_container">
        <div class="form_right">
          <%= submit_tag t(:save), :onclick => "this.disabled=true,this.form.submit();" %>
        </div>
      </div>
      </div>  
    </fieldset>
  <% end %>
