<div class="listed_object">
  <div class="listed_object_person_image">
    <%= small_avatar_thumb(requester) %>
  </div>
  <div class="listed_request_right">
    <div class="listed_object_title">
      <%= t(:friend_request_from_user) %> <%= link_to requester.name(session[:cookie]), requester %>
    </div>
    <div class="listed_object_date">
      <div class="listed_request_button">
        <% form_for :request, :url => accept_person_request_path(@person, requester) do |f| %>
          <%= submit_tag t(:accept_request), :onclick => "this.disabled=true,this.form.submit();" %>
        <% end %>
      </div>
      <div class="listed_request_button">  
        <% form_for :request, :url => reject_person_request_path(@person, requester) do |f| %>
          <%= submit_tag t(:reject_request), :onclick => "this.disabled=true,this.form.submit();" %>
        <% end %>
      </div>  
    </div>   
  </div>
</div>