<div class="browse_objects_header">
<div class="browse_objects_title">
  <%= t(:requests) %> <span class="page_entries_info">(<%= page_entries_info @requesters %>)</span>
</div>
<div class="pagination_padding">
  <%= will_paginate @requesters, :prev_label => t(:previous), :next_label => t(:next) %>
</div>  
</div>

<% if (@requesters.size > 0)%>
  <%= render :partial => "request", :collection => @requesters, :as => :requester, :spacer_template => "layouts/dashed_line" %>
  <div class="solid_line">
  </div>  
  <div id="browse_objects_footer_left">
    <div class="links_panel_text">
      <%= t(:show_requests_on_page) %>:
    </div>  
  </div>
  <div id="browse_objects_footer_left">
    <%= create_footer_pagination_links(["10", "30", "50", "all"], "requests") %>
  </div>
  <div class="pagination_more_padding">
    <%= will_paginate @requesters, :prev_label => t(:previous), :next_label => t(:next) %>
  </div>  
  <br />
<% else %>
  <p><%= t(:no_requests) %></p>
<% end %>

