- content_for :body_javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v1/braintree.js"

- content_for :body_javascript do
  :javascript

    $(document).ready(function() {
      var braintreePaymentForm = $("#braintree-payment-form");
      initialize_braintree_payment_form(function beforeSubmit(next) {
        var braintree = Braintree.create("#{@braintree_client_side_encryption_key}");
        braintree.encryptForm(braintreePaymentForm);
        next();
      });

      braintreePaymentForm.show();
    });

.centered-section-wide.payment-form
  = render :partial => "layouts/payment_header", :locals => { :payment_receiver => @conversation.other_party(@current_user) }

  %p
    = "#{t("payments.form.product")}"
    = "#{@conversation.listing.title}"
  %p
    = "#{t("payments.form.price")}"
    = "#{@braintree_payment.sum} #{@braintree_payment.currency}"

  = form_for @braintree_payment, 
    :url => person_message_braintree_payment_path(@current_user.id, 
      @conversation.id, 
      @braintree_payment.id), 
      :html => { :id => "braintree-payment-form", :class => "hidden" } do |form|

    .row.overflow-visible
      .col-12
        = form.label :cardholder_name, t(".cardholder_name", :class => "input")
        = form.text_field :cardholder_name, :class => :text_field, :data => { :'encrypted-name' => "braintree_payment[cardholder_name]" }

    .row.overflow-visible
      .col-9
        = form.label :credit_card_number, t(".credit_card_number", :class => "input")
        = form.text_field :credit_card_number, :class => :text_field, :data => { :'encrypted-name' => "braintree_payment[credit_card_number]"}

      .col-3
        = form.label :cvv, t(".cvv", :class => "input")
        = form.text_field :cvv, :class => :text_field, :maxlength => 4, :data => { :'encrypted-name' => "braintree_payment[cvv]"}

    .row.overflow-visible
      .col-12
        = form.label :credit_card_expiration_month, t(".credit_card_expiration_date", :class => "input")
        = select_tag :credit_card_expiration_month, options_for_select(credit_card_expiration_month_options), :data => { :'encrypted-name' => "braintree_payment[credit_card_expiration_month]" }
        = " / "
        = select_tag :credit_card_expiration_month, options_for_select(credit_card_expiration_year_options), :data => { :'encrypted-name' => "braintree_payment[credit_card_expiration_year]" }
    
    .row.overflow-visible
      .col-12
        = form.button t(".save"), :class => "send_button"

  %noscript
    = "For security reasons JavaScript has to be enabled"