- content_for :body_javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v1/braintree.js"

- content_for :body_javascript do
  :javascript
    var braintree = Braintree.create("#{@braintree_client_side_encryption_key}");
    var braintreePaymentForm = $("#braintree-payment-form");
    braintree.onSubmitEncryptForm(braintreePaymentForm);
    $(document).ready(function() {
      braintreePaymentForm.show();
    });

.centered-section-wide.payment-form
  = render :partial => "layouts/payment_header", :locals => { :payment_receiver => @conversation.other_party(@current_user) }

  .left-navi-section.settings-section

    = form_for @braintree_payment, 
      :url => person_message_braintree_payment_path(@current_user.id, 
        @conversation.id, 
        @braintree_payment.id), 
        :html => { :id => "braintree-payment-form", :class => "hidden" } do |form|

      = form.label :credit_card_number, t(".credit_card_number", :class => "input")
      = form.text_field :credit_card_number, with_braintree_field_name("braintree_payment[credit_card_number]", :class => :text_field )

      = form.label :credit_card_expiration_date, t(".credit_card_expiration_date", :class => "input")
      = form.text_field :credit_card_expiration_date, with_braintree_field_name("braintree_payment[credit_card_expiration_date]", :class => :text_field )

      = form.button t(".save"), :class => "send_button"

    %noscript
      = "For security reasons JavaScript has to be enabled"