%h4 News
.welcome_text

  %p
    %b
      Map functionality and 3000 users
    %br
    4.8.2011
  
  %p
    New features in Kassi! Now you can add a location to offers and requests and easily see, what kind of items and services are offered nearby.
    = link_to "This link shows all the offers on a map", offers_on_map_path
    and
    = link_to "this link all the requests.", requests_on_map_path
    By a quick look it seems clear that Otaniemi is the number one zone with more than half of all offers and requests located there. However, there's also quite a bit of activity elsewhere!
    
  %p
    The map functionality is still in an experimentational stage, so again we encourage you to give us
    = link_to "feedback", "#", :id => "give_feedback_link"
    if you have development suggestions or notice bugs in the map.
  
  %p
    In other news, our Aalto community just passed 3000 registered members, awesome! Moreover, the school starts soon so we'll be expecting a ton of new users as the new freshmen arrive.
  

  %p
    %b
      Kassi moved to a faster server
    %br
    3.5.2011
  
  %p
    Kassi was moved today to a new server. This caused a few hours break in the service, and there might still be small glitches today (e.g. with profile pictures), but on the new server Kassi should be working faster and the occasional jamming should be history now. Please leave us 
    = link_to "feedback", "#", :id => "give_feedback_link"
    if you notice something broken on the site.
  
  .event_spacer

  %p
    %b
      Treasure Market 7.5. - Kassi is participating again
    %br
    17.4.2011

  %p
    = link_to "Art goes Aalto", "http://www.facebook.com/pages/Art-Goes-Aalto/140191219366073"
    organizes AYY's Treasure Market (Aarremarkkinat) at KY's alakertsi 7th of May. The
    = link_to "Facebook event", "http://www.facebook.com/event.php?eid=185279331517794"
    gives you more details and instructions about reserving a flea market table.
  %p
    Kassi is again giving Aalto people an easy way to sell stuff at Treasure Market. Even if you couldn't attend the event, you can tag your selling, trading or giving offer in Kassi with 
    %b
      Aarremarkkinat
    tag and you can get the items for sale in Kassi's table. The items will be collected 6th of May at every main campus, and we'll send the details to all who use the Aarremarkkinat tag in their offers.
  %p
    If your items won't be sold, you can pick them up from the campus after the market, or alternatively you can donate the stuff to charity via AYY-Kehy.
  %p 
    This is a great opportunity to do some spring clean up and give a new life to less used stuff in your storages.
    = link_to "Invite your friends", "http://www.facebook.com/event.php?eid=185279331517794"
    and come yourself to sell and find treasures at the AYY Treasure Market.
    
  .event_spacer

  %p
    %b
      Badges, feedback and a new domain
    %br/
    1.12.2010

  %p
    You can now achieve badges in Kassi as a recognition of your activeness in using the service. Badges are earned from receiving good feedback in events, listing new offers and requests, commenting others' content and just overall active use of the service. You can see the badges you have achieved in the left hand side of your profile page, right below the profile picture.

  %p
    In the same location you can also see an average of the feedback you have received from the other users. Feedback helps others to assess your trustworthiness, so it's good to always give accurate feedback to others after participating in events and also remind them to give good feedback to you.

  %p
    The kassi community of Aalto University has also officially moved to a new domain. From now on it can be found from 
    = link_to("http://aalto.kassi.eu", "http://aalto.kassi.eu") + "." 
    However, the old
    = link_to("http://kassi.sizl.org", "http://kassi.sizl.org")
    domain is still also in use and points to the same location.

  