- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t(".title")

- if local_assigns[:show_onboarding_popup]
  = render :layout => "layouts/lightbox", :partial => "layouts/onboarding_popup", locals: {title: t(popup_title_key), body: t(popup_body_key), action_label: t(popup_button_key), action_link: popup_action_link, image: asset_path(popup_image), id: "onboarding-popup" }

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section.payment-settings

  %h1= t("admin.payment_preferences.title")

  = render partial: 'info_header_text', locals: {display_knowledge_base_articles: display_knowledge_base_articles, stripe_enabled: stripe_enabled, paypal_enabled: paypal_enabled}
  
  .row.paypal-wizard
    .col-12
      - if stripe_enabled
        - if !stripe_account[:api_verified]
          = render partial: 'stripe_form', locals: {stripe_account: stripe_account, stripe_api_form: stripe_api_form}
          .paypal-wizard-divider
        - else
          = render partial: 'stripe_connected', locals: {stripe_account: stripe_account}
          .paypal-wizard-divider

      - if paypal_enabled
       
        - if !paypal_account.present?
          = render partial: 'paypal_connect_account', locals: {order_permission_action: order_permission_action}

        - else 
          = render partial: 'paypal_connected', locals: {paypal_account: paypal_account, order_permission_action: order_permission_action} 

          = render partial: 'paypal_connect_own_notice'
 
      - if stripe_account[:api_verified] || paypal_account.present?
        .paypal-wizard-divider
        = render partial: 'prefs_form', locals: {payment_prefs_form: payment_prefs_form, payment_prefs_valid: payment_prefs_valid, currency: currency, available_currencies: available_currencies, support_email: support_email}
