- content_for :extra_javascript do
  :javascript
    $(document).ready(function() { initialize_invitation_form("#{I18n.locale}", "#{t('homepage.invitation_form.errors_in_emails')}", "#{invitation_limit}"); })

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.edit_details.invite_people")

- if local_assigns[:show_onboarding_popup]
  = render :layout => "layouts/lightbox", :partial => "layouts/onboarding_popup", locals: {title: t(popup_title_key), body: t(popup_body_key), action_label: t(popup_button_key), action_link: popup_action_link, image: asset_path(popup_image), id: "onboarding-popup" }

#invitation_form.centered-section
  - support_link = link_to(t("homepage.invitation_form.this_article_link"), "http://support.sharetribe.com/knowledgebase/articles/675040", target: "_blank")
  %p= t("homepage.invitation_form.add_email_addresses_description")
  - if has_admin_rights
    %p= t("homepage.invitation_form.add_lots_of_email_addresses", this_article_link: support_link).html_safe
  = form_for Invitation.new, :url => invitations_path do |f|
    = f.label :email, t("homepage.invitation_form.email")
    = f.text_area :email, :class => "text_field", :placeholder => t("homepage.invitation_form.invitation_emails_field_placeholder")
    = f.label :message, t("homepage.invitation_form.message")
    = f.text_area :message, :class => "invitation_message_text", :placeholder => t("homepage.invitation_form.invitation_message_field_placeholder")
    = f.button t("homepage.invitation_form.send_invitation")
