- content_for :extra_javascript do
  :javascript
    $(document).ready(function() { initialize_invitation_form("#{I18n.locale}", "#{t('homepage.invitation_form.errors_in_emails')}"); })

- content_for :title_header do
  %h1= @current_community.category.eql?("neighborhood") ? t("homepage.invitation_form.invite_your_neighbors") : t("homepage.invitation_form.invite_your_friends")

#invitation_form.centered-section
  %p= t("homepage.invitation_form.add_as_many_emails_as_you_want")
  = form_for Invitation.new, :url => invitations_path do |f|
    = f.label :email, t("homepage.invitation_form.email")
    = f.text_area :email, :class => "text_field", :placeholder => t("homepage.invitation_form.invitation_emails_field_placeholder")
    = f.label :message, t("homepage.invitation_form.message")
    = f.text_area :message, :class => "invitation_message_text", :placeholder => t("homepage.invitation_form.invitation_message_field_placeholder")
    = f.hidden_field :community_id, :value => @current_community.id.to_s
    = f.hidden_field :inviter_id, :value => @current_user.id
    = f.button t("homepage.invitation_form.send_invitation")
