- content_for :extra_javascript do
  :javascript
    $(document).ready(function() { initialize_invitation_form("#{I18n.locale}", "#{t('homepage.invitation_form.errors_in_emails')}", "#{invitation_limit}"); })

- content_for :title_header do
  %h1
    = t("admin.communities.edit_details.invite_people")


= render partial: 'layouts/onboarding_popup_wrapper'
#invitation_form.centered-section
  - support_link = link_to(t("homepage.invitation_form.this_article_link"), "https://help.sharetribe.com/configuration-and-how-to/how-to-send-mass-emails-and-invitations", target: "_blank")
  %p= t("homepage.invitation_form.add_email_addresses_description")
  - if has_admin_rights
    %p= t("homepage.invitation_form.add_lots_of_email_addresses", this_article_link: support_link).html_safe
  = form_for Invitation.new, :url => invitations_path do |f|
    = f.label :email, t("homepage.invitation_form.email")
    = f.text_area :email, :class => "text_field", :placeholder => t("homepage.invitation_form.invitation_emails_field_placeholder")
    = f.label :message, t("homepage.invitation_form.message")
    = f.text_area :message, :class => "invitation_message_text", :placeholder => t("homepage.invitation_form.invitation_message_field_placeholder")
    = f.button t("homepage.invitation_form.send_invitation")
