.categories-list.field-data{id: f.index, data: {"field-id": f.index, new: f.object.new_record? ? '1' : nil}}
  = f.hidden_field :id
  = f.hidden_field :sort_priority, class: 'sort-priority'
  = f.hidden_field :_destroy, class: 'destroy-record'
  = f.hidden_field :asset_id
  = hidden_field_tag 'item_counter'

  .col.field-data-image.col.field-data-image-wrapper
    - if presenter.location_image(f.index).present?
      %img{src: presenter.location_image_url(f.index)}
    - else
      %img
  .col.location-name-lp
    = f.object.title
  .col.data-overflow.location-url-lp
    = f.object.url
  .actions.col
    %span.handle-move{"aria-hidden" => "true"}
    = link_to '#', class: 'remove-dropdown-list-option-trigger' do
      %span.remove{"aria-hidden" => "true"}
    %span.edit-dropdown-list-option-trigger.edit{"aria-hidden" => "true"}

.edit-category-content
  %h2 Edit location
  .form-group
    %label Location label
    = f.text_field :title, class: 'form-control location-title-render'
  .form-group
    %label Search URL
    = f.text_field :url, class: 'form-control location-url-render', url: true
  .form-group
    %label Location Background image
    .custom-file
      = f.file_field :image, accept: 'image/*', class: %i[category-image-render] << ('required' unless presenter.location_image(f.index).present?)
    %small#newCategoryBackgroundImage-help.form-text Recommended image size for location background images is 1000 x 667 pixels.

    - if presenter.location_image(f.index).present?
      %small#newCategoryBackgroundImage-filename.form-text
        The current location background image filename is
        = succeed "." do
          %code= presenter.location_image_filename(f.index)

.remove-category-content
  %h2 Remove "City bikes"
  %p
    Are you sure you want to remove the location
    %strong "California"
    from the landing page?
  .remove-category-actions
    %button.btn.remove-category-btn.btn-negative{type: :button} Remove
    %a.remove-category-cancel.cancel-action{href: '#'} Cancel
