%div
  = f.hidden_field :id
  = f.hidden_field :sort_priority, class: 'sort-priority-social'
  = f.hidden_field :provider
  - social_link = f.object
  %label
    = social_link_name(social_link.provider)
  = f.text_field :url, maxlength: 255, url: true, placeholder: social_link_placeholder(social_link.provider), provider: social_link.provider, class: 'form-control'
  .actions
    %span.handle-move
