.news_item_infos_view
  .news_item_infos_view_header
    %h3= news_item.title
    %span.news_item_created_at
      = link_to news_item.author.given_name_or_username, news_item.author
      = l(news_item.created_at, :format => :short)
  .news_item_infos_view_content
    %p
      - text_with_line_breaks do
        = news_item.content
    - if @current_user && (@current_user.has_admin_rights_in?(@current_community) || current_user?(news_item.author))
      %p
        = link_to t(".delete_news_item"), news_item_path(:id => news_item.id, :type => "news"), :method => :delete
