- if @current_community.all_users_can_add_news? && params[:news_form]
  %br/
  = render :partial => "admin/news_items/new", :locals => { :info_view => true }
- else
  .infos_news_header_container
    .infos_news_title
      %h2= t(".news_from_community", :community => @current_community.name_with_separator(I18n.locale))
    - if @current_community.all_users_can_add_news?
      .infos_news_create_link
        .add_news_item_button
          = link_to t("homepage.index.add_news_item"), news_items_path(:news_form => true), :class => "big_link"
  .listing_spacer
  #infos_news_items
    - if @news_items.size > 0
      = render :partial => @news_items, :spacer_template => "listings/listing_spacer"
      = will_paginate(@news_items)
      = pageless(@news_items.total_pages, '#infos_news_items', news_items_path, t('admin.news_items.index.loading_more_news'))
    - else
      #no_news_found
        = t("admin.news_items.index.no_news")
