<div id="login_box">
  <div class="home_content_right_box_top"></div>
  <div class="home_content_right_box_content">
    <h3 class="home_event_box_title"><%=t(:welcome_to_kassi)%></h3>
    <div class="solid_line_white"></div>
    <p>
      <%= t(:consent_info) %>
    </p>
    <% form_tag accept_consent_path do -%>
      <div class="login_padding">
        <div class="consent_checkbox">
          <div class="left_float consent_label">  
            <%= link_to_function(t(:show_consent), "new Effect.toggle('consent', 'blind')") %>
          </div>
        </div>     
      </div>
      <div class="login_form_br"></div>
      <div id="consent" class="consent" style="display:none;">
        <%= render :partial => "consents/consent" %>
      </div>
      <div class="login_padding">  
        <%= submit_tag t(:accept_consent), :class => "home_button home_button_wider" %> 
      </div>     
    <% end -%>
  </div>
  <div class="home_content_right_box_bottom"></div>
</div>

