%label
  = t('admin2.cover_photos.cover_photo')
.custom-file
  = form.file_field :cover_photo, accept: 'image/*', class: %i[change-file], disabled: @clp_enabled
%small#coverphoto-help.form-text
  - if @clp_enabled
    = t('admin2.cover_photos.cover_photo_info_text_disabled', href: admin2_design_landing_page_versions_path).html_safe
  - else
    = t('admin2.cover_photos.cover_photo_info_text')

- unless @clp_enabled
  = render 'admin2/filename', type: :cover_photo, original_filename: form.object&.cover_photo&.original_filename, field_name: t('admin2.cover_photos.cover_photo')
