<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head>  
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>  
  <body> 
<style>
<!--

* {  font-size:  9pt;  font-family:  verdana, helvetica, arial, sans-serif; line-height: 1.7em; }
p { margin: 0 }
-->
</style>
<h2>Error report from <%= Time.now %></h2>

<table border="0">
<tr><td>Message</td><td><%= @exception.message %></td></tr>
<tr><td>Location</td><td><%= @request.request_uri %></td></tr>
<tr><td>Action</td><td><%= @params.delete('action') %></td></tr>
<tr><td>Controller</td><td><%= @params.delete('controller') %></td></tr>
<tr><td>Params </td><td><%= @params.inspect %></td></tr>

<tr><td>Query</td><td><%= @request.query_string %></td></tr>
<tr><td>Method</td><td><%= @request.request_method %></td></tr>
<tr><td>SSL</td><td><%= @request.server_port.to_i == 443 ? "true" : "false" %></td></tr>
<tr><td>Agent</td><td><%= @request.env['HTTP_USER_AGENT'] %></td></tr>

<% if @current_user -%>
<tr><td>User id</td><td><%= @current_user.id %></td></tr>
<tr><td>User name</td><td><%= @current_user.name %></td></tr>
<tr><td>User email</td><td><%= @current_user.email %></td></tr>
<tr><td>Registered to Kassi</td><td><%= @current_user.created_at %></td></tr>
<% end -%>
</table>

<h3>Backtrace</h3>
<div><%= @trace.to_a.join("</p>\n<p>") -%></div>

<h3>Params</h3>
<hr/>
<% for key, val in @params -%>
<p><b><%= key %></b></p>
<p><%= val.to_yaml.to_a.join("</p>\n<p>  ") %></p>
<% end if @params -%>

<h3>Session</h3>
<hr/>
<% for key, val in @session -%>
<p><b><%= key %></b></p>
<p><%= val.to_yaml.to_a.join("</p>\n<p>  ") %></p>
<% end if @session -%>

<h3>Environment</h3>
<hr/>
<table border="0">
<% if @request.env %>
  <% for key, val in @request.env -%>
  <tr>
   <td>
    <small><b><%= key %></b></small>

   </td>
   <td>
    <small><%= val %></small>
   </td>
  </tr>
  <% end if @request.env -%>
<% end %>
</table>

  </body>
</html>