<% returning_time = "getDatetimeFromDatetimeSelect('conversation', 'return_time')" %>
<% picking_up_time = "getDatetimeFromDatetimeSelect('conversation', 'pick_up_time')" %>
<% items = @items.collect { |item| "items[]=#{item.id.to_s}" }.join("&") %>
<% items_for_javascript = @items.collect { |item| item.id.to_s }.sort { |a,b| a <=> b }.join("','") %>
<% item_amounts = "getItemAmountsFromTextfields(new Array('#{items_for_javascript}'))" %>
<% logger.info "Item amounts: " + item_amounts %>

<fieldset>
  <legend>
    <%= t(:reservation_details) %>:
  </legend>
  <div class="form_extra_padding">
    <div class="reservation_items_no_margin">
      <div class="reservation_item">
        <div class="reservation_item_left">
          <%= t(:pick_up_time) %>:
        </div>
        <% availability_url = "reservation_item_plim"%>
        <div class="reservation_item_right">
          <% with_all = "'#{items}&returning_time='+#{returning_time}+'&picking_up_time='+#{picking_up_time}+'&'+#{item_amounts}" %>
          <%= datetime_select "conversation", "pick_up_time", {},
                    :onchange => "#{remote_function(:url => { :controller => :items, :action => :availability_of_all_items },
                                                    :with => with_all) }" %>
        </div>
        <div id="reservation_item_plim"></div>  
      </div>
      <div class="reservation_item">
        <div class="reservation_item_left">
          <%= t(:return_time) %>:
        </div>
        <div class="reservation_item_right">
          <%= datetime_select "conversation", "return_time", {},
                    :onchange => "#{remote_function(:url => { :controller => :items, :action => :availability_of_all_items },
                                                    :with => with_all) }" %>
        </div>  
      </div>
    </div>
  </div>  
  <div class="form_extra_padding">
    <div class="reservation_items">   
    <h4><%= t(:items_to_be_borrowed) %></h4>
    <div class="reservation_items">
      <% prefix = @person_conversations ? "existing_" : "" %>
      <% @items.each do |item| %>
        <% availability_url = "reservation_item_#{item.id.to_s}"%>
        <div class="reservation_item">
          <div class="reservation_item_left">
            <div class="small_padding">
              <%= h(item.title) %>
            </div>
          </div>
          <div class="reservation_item_right">
            <% if item.amount > 1 %>
              <%= t(:item_amount)%>: &nbsp;&nbsp;&nbsp;
              <% with = "'amount='+value+'&item=#{item.id.to_s}&returning_time='+#{returning_time}+'&picking_up_time='+#{picking_up_time}" %>
              <%= text_field_tag "conversation[#{prefix}reserved_items][#{item.id}]", get_amount_value(item, @conversation), :size => 3, 
                  :onchange => "#{remote_function(:url => { :controller => :items, :action => :availability },
                                                  :with => with,
                                                  :update => availability_url) }" %> 
              &nbsp;(max: <%= item.amount.to_s %>)
            <% else %>
              <%= t(:item_amount) + ": &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + item.amount.to_s %>
              <%= hidden_field_tag "conversation[#{prefix}reserved_items][#{item.id}]", 1 %> 
            <% end %>
          </div>
          <div id="<%= availability_url %>"></div> 
        </div>
      <% end %>
    </div>
    </div>          
  </div>
  <div class="form_extra_padding">
    <div class="reservation_items">
      <div class="solid_line"></div>
    </div>
    <br />
    <div class="form_container">
    <% fields_for "conversation[message_attributes]", Message.new do |message_form| -%>
      <div class="form_header">
        <%= t(:free_message) %>:
      </div>
      <div class="form_field">
        <%= message_form.text_area :content, :class => "message", :value => params[:conversation] ? params[:conversation][:message_attributes][:content] : t(:hi_i_would_like_to_borrow_these_items) %>
      </div>
      <%= message_form.hidden_field :sender_id, :value => @current_user.id %>
    <% end %>
    </div>
    <div class="form_container">
      <div class="form_right">
        <% if @person_conversations %> 
          <%= submit_tag t(:edit_reservation_request), :onclick => "this.disabled=true,this.form.submit();" %>
        <% else %>  
          <%= submit_tag t(:make_reservation_request), :onclick => "this.disabled=true,this.form.submit();" %>
        <% end %>  
      </div>
    </div>
  </div>
</fieldset>
