<fieldset>
  <legend>
    <%= t(:reservation_details) %>:
  </legend>
  <div class="form_extra_padding">
    <span class="green_text">
      <%= t(get_reservation_status(@conversation)) %>
    </span>
  </div>
  <br />      
  <div class="form_extra_padding">
    <div class="reservation_items_no_margin">
      <div class="reservation_item">
        <div class="reservation_item_left">
          <%= t(:pick_up_time) %>:
        </div>
        <div class="reservation_item_right">
          <%= @conversation.pick_up_time.to_formatted_s(:basic_date_format_minutes) %>
        </div>  
      </div>
      <div class="reservation_item">
        <div class="reservation_item_left">
          <%= t(:return_time) %>:
        </div>
        <div class="reservation_item_right">
          <%= @conversation.return_time.to_formatted_s(:basic_date_format_minutes) %>
        </div>  
      </div>
    </div>
  </div>
  <div class="form_extra_padding">
    <div class="reservation_items">   
    <h4><%= t(:items_to_be_borrowed) %></h4>
    <div class="reservation_items">
      <% @conversation.items.each do |item| %>
        <div class="reservation_item">
          <div class="reservation_item_left">
            <%= h(item.title) %>
          </div>
          <div class="reservation_item_right">
            <%= t(:item_amount) + ": &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + get_amount_value(item, @conversation).to_s %>
          </div>  
        </div>
      <% end %>
    </div>
    </div>        
  </div>
  <% form_for @conversation, :url => person_inbox_path(@current_user, @conversation), :method => :put do |f| %>
  <div class="form_extra_padding">
    <div class="reservation_items">
      <div class="solid_line"></div>
    </div>
    <br />
    <div class="form_container">
    <% fields_for "conversation[message_attributes]", Message.new do |message_form| -%>
      <div class="form_header">
        <%= t(:free_message) %>:
      </div>
      <div class="form_field">
          <% if get_reservation_status(@conversation).eql?("awaiting_acceptance_from_you") %>
            <% message_content = t(:borrow_request_accepted) + "."%>
          <% else %>
            <% message_content = "" %>
          <% end %>  
        <%= message_form.text_area :content, :class => "message", :value => params[:conversation] ? params[:conversation][:message_attributes][:content] : message_content %>
      </div>
      <%= message_form.hidden_field :sender_id, :value => @current_user.id %>
    <% end %>
    </div>
  </div>
  <div class="form_extra_padding">  
    <div class="reservation_items_buttons">
      <div class="reservation_item">
        <% if get_reservation_status(@conversation).eql?("awaiting_acceptance_from_you") %>
          <%= hidden_field :kassi_event, :eventable_id, :value => @conversation.id %>
          <%= hidden_field :kassi_event, :eventable_type, :value => "Reservation" %>
          <%= hidden_field :kassi_event, :realizer_id, :value => @conversation.item_owner.id %>
          <%= hidden_field :kassi_event, :receiver_id, :value => @conversation.item_requester.id %>
          <%= hidden_field_tag "kassi_event[people_attributes][]", @conversation.item_owner.id %>
          <%= hidden_field_tag "kassi_event[people_attributes][]", @conversation.item_requester.id %>
        <div class="reservation_item_right">
          <%= submit_tag t(:accept_reservation_request), :name => "accepted" %>
        </div>
        <div class="reservation_item_right">
          &nbsp;&nbsp;&nbsp;
        </div>  
        <div class="reservation_item_right">
          <%= submit_tag t(:reject_reservation_request), :name => "rejected" %>
          &nbsp;&nbsp;&nbsp;
        </div>
        <div class="reservation_item_right">
          <div class="small_padding">    
            <%= link_to t(:edit_reservation_details), edit_person_inbox_path(@current_user, @conversation) %>
          </div>  
        </div>
        <% else %>
          <div class="reservation_item_right">
            <%= submit_tag t(:send_message), :onclick => "this.disabled=true,this.form.submit();" %>
          </div>
        <% end %>  
      </div>
    </div>
  </div>
  
  <% end %>
</fieldset>

