- content_for :javascript do
  window.ST.initializeBcc();

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.background_check_container.background_check_container")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h1 New Background Check Containers
  = render 'form', url: admin_community_background_check_containers_path, method: 'post'
  = link_to 'Back', admin_community_background_check_containers_path