- content_for :javascript do
  initialize_admin_news_item("#{news_item.id}");

.news_item_admin_view
  .news_item_admin_view_header
    %h4= link_to news_item.title, "#", :id => "news_item_#{news_item.id.to_s}_content_link"
    %span.news_item_author
      = link_to news_item.author.given_name_or_username, news_item.author
      = l(news_item.created_at, :format => :short)
    %span.news_item_admin_links
      = link_to t(".edit_news_item"), edit_admin_news_item_path(:id => news_item.id, :type => "news")
      |
      = link_to t(".delete_news_item"), admin_news_item_path(:id => news_item.id, :type => "news"), :method => :delete
  .news_item_admin_view_content{:id => "news_item_#{news_item.id.to_s}_content"}
    %p
      - text_with_line_breaks do
        = news_item.content
