- content_for :javascript do
  initialize_admin_new_news_item_form("#{I18n.locale}");

#new_news_item_form
  %h2= t(".#{controller.action_name}_news_item")
  = form_for @news_item, :url => @path do |form|
    .form_field_container
      = form.label :title, t('.title'), :class => "input"
      = form.text_field :title, :class => "text_field", :maxlength => "200"
    .form_field_container
      = form.label :content, t('.content'), :class => "input"
      = form.text_area :content, :maxlength => "5000", :class => "new_news_item_text_area"
    .new_listing_form_field_container
      = form.hidden_field(:author_id, :value => @current_user.id)
      = form.hidden_field(:community_id, :value => @current_community.id)
      - if info_view
        = hidden_field_tag :info_view, :value => true
      = form.submit t(".save_news_item"), :class => "send_button"