#news_items_admin_view_title.grid_12.alpha
  %h3= t(".news_items")
.grid_6.omega
  #create_news_item_link
    = link_to t(".create_news_item"), new_admin_news_item_path(:type => "news")
.clear

#news_items_admin_view_list
  - if @news_items.size > 0
    = render :partial => @news_items, :spacer_template => "listings/listing_spacer"
    = will_paginate(@news_items)
    = pageless(@news_items.total_pages, '#news_items_admin_view_list', admin_news_items_path, t('admin.news_items.index.loading_more_news'))
  - else
    #no_news_found
      = t(".no_news")
