%h4 Tervetuloa #{service_name(:illative)}!
.welcome_text
  %p
    Pitskun #{service_name} on tarkoitettu kaikille Pitäjänmäen alueella asuville: Reimarlan kerrostaloalueen, Marttilan omakotialueen, Strömbergin alueen, Taimiston alueen ja Pitäjänmäen teollisuusaluen Piimäen ihmisille. Rekisteröidy #{service_name(:illative)} ja kerro mitä tarvitset sekä miten voisit auttaa muita esimerkiksi lainaamalla tai vuokraamalla tavaroitasi tai tarjoamalla apuasi.
  %p
    Kun #{service_name(:elative)} löytyy yhteys tarvitsijan ja auttajan välille, on useimmiten tarpeen sopia tapaaminen esimerkiksi tavaran lainaamista varten. Hyviä julkisia paikkoja tähän on mm. Valintatalon, Kirkon, Kirjaston tai  S -marketin edustalla. Käyttäjien tulee aina arvioida vastapuolen luotettavuus ennen tapaamista, ja entuudestaan tuntemattoman kanssa taaminen julisella paikalla voi olla molempien kannalta huoleton vaihtoehto. Muistakaa myös antaa tapaamisen jälkeen palautetta toisillenne, niin erotutte #{service_name(:inessive)} eduksenne luotettuina henkilöinä.
  %p
    Pitskun #{service_name} on osa "Kaupunginosista kyläyhteisöjä" -hanketta, jolla pyritään elävöittämään kaupunginosia ja tarjoamaan asukkaille osallistumisen mahdollisuuksia. Hanke on osa World Design Capital Helsinki 2012 ja Helsinki 200 vuotta pääkaupunkina -juhlavuosia Hankkeen toteutuksesta vastaa Sharetribe Oy ja sen ovat rahoittaneet Helsingin kaupungin viestintä, Helsinki 200 vuotta pääkaupunkina -juhlavuosi ja Forum Virium Helsinki. Palvelu jää Pitäjänmäen asukkaiden käyttöön myös juhlavuoden jälkeen.
  %p
    = image_tag "/assets/community_images/WDC2012_logo.png", :alt => "World Design Capital Helsinki 2012"
  %p
    = link_to image_tag("community_images/Helsinki200v_logo.png", :alt => "Helsinki 200 vuotta pääkaupunkina 2012"), "http://www.helsinki200.fi/"
  