.row.without-margin.menu-link-container{:data => {:"field-id" => "#{menu_link_id}"}}
  - show_locales = available_locales.size > 1

  .col-10
    - available_locales.each do |locale_name, locale_value|
      .row
        .col-2
          = locale_name
        .col-5
          = text_field_tag "menu_links[menu_link_attributes][#{menu_link_id}][translation_attributes][#{locale_value}][title]", menu_link.title(locale_value)
        .col-5
          = text_field_tag "menu_links[menu_link_attributes][#{menu_link_id}][translation_attributes][#{locale_value}][url]", menu_link.url(locale_value)
  .col-2.menu-links-actions
    - link_class = "menu-link-#{(show_locales ? "with" : "without")}-locale-remove"

    = link_to "#", :class => "menu-link-remove #{link_class}", :tabindex => "-1", :id => "menu-link-remove-#{menu_link_id}" do
      = icon_tag("cross", ["icon-fix"])
    = link_to '#', :class => "menu-link-action-up admin-sort-button", :tabindex => "-1" do
      = icon_tag("directup", ["icon-fix"])
    = link_to '#', :class => "menu-link-action-down admin-sort-button", :tabindex => "-1" do
      = icon_tag("directdown", ["icon-fix"])

  = hidden_field_tag "menu_links[menu_link_attributes][#{menu_link_id}][sort_priority]", menu_link.sort_priority, :class => "menu-links-hidden-sort-priority"