%h3
  = t("emails.welcome_email_marketplace_creator.welcome_to_marketplace_creator", :name => PersonViewUtils.person_display_name_for_type(@recipient, "first_name_only"))

%p
  = t("emails.welcome_email_marketplace_creator.journey_begins")

%p
  %br/
  %b
    = t("emails.welcome_email_marketplace_creator.marketplace_information")
  %br/
  %b
    = t("emails.welcome_email_marketplace_creator.your_email_address")
  = @recipient.confirmed_notification_emails_to
  %br/
  %b
    = t("emails.welcome_email_marketplace_creator.your_marketplace_address")
  = link_to @current_community.full_url, @current_community.full_url
  %br/
  = t("emails.welcome_email_marketplace_creator.share_your_marketplace_address")
  %br/
  %b
    = t("emails.welcome_email_marketplace_creator.your_marketplace_admin_panel")
  = link_to @current_community.full_url + "/admin", @current_community.full_url + "/admin"
  %br/
  = t("emails.welcome_email_marketplace_creator.follow_suggested_steps")
  %br/

%p
  %br/
  %b
    = t("emails.welcome_email_marketplace_creator.not_alone")
  %br/
  = t("emails.welcome_email_marketplace_creator.support_team", :knowledge_base_link => link_to("Help Center", "#{APP_CONFIG.knowledge_base_url}")).html_safe

%p
  %b
    = t("emails.welcome_email_marketplace_creator.helping_you")
  %br/
  = t("emails.welcome_email_marketplace_creator.drip_emails_academy", :marketplace_academy_link => link_to(t("emails.welcome_email_marketplace_creator.marketplace_academy_link_text"), "https://www.sharetribe.com/academy/?utm_source=welcomeemail&utm_medium=email&utm_campaign=welcome")).html_safe

%p
  = t("emails.welcome_email_marketplace_creator.cheers")
  %br/
  %i
    = t("emails.welcome_email_marketplace_creator.sharetribe_team")
