%h3
  = t("emails.welcome_email_marketplace_creator.welcome_to_marketplace_creator", :name => @recipient.given_name_or_username)

%p
  = t("emails.welcome_email_marketplace_creator.journey_begins")

%p
  %b
    = t("emails.welcome_email_marketplace_creator.marketplace_information")
  %br/
  = t("emails.welcome_email_marketplace_creator.your_email_address")
  = @recipient.confirmed_notification_emails_to
  %br/
  = t("emails.welcome_email_marketplace_creator.your_marketplace_address")
  = link_to @current_community.full_url, @current_community.full_url
  = t("emails.welcome_email_marketplace_creator.share_your_marketplace_address")
  %br/
  = t("emails.welcome_email_marketplace_creator.your_marketplace_admin_panel")
  = link_to @current_community.full_url + "/admin", @current_community.full_url + "/admin"
  = t("emails.welcome_email_marketplace_creator.follow_suggested_steps")

%p
  %b
    = t("emails.welcome_email_marketplace_creator.not_alone")
  %br/
  = t("emails.welcome_email_marketplace_creator.support_team_and_book_call", :knowledge_base_link => link_to(t("emails.welcome_email_marketplace_creator.knowledge_base_link_text"), "#{APP_CONFIG.knowledge_base_url}"), :book_a_call_link => link_to(t("emails.welcome_email_marketplace_creator.book_a_call_link_text"), "https://www.sharetribe.com/book-a-call/")).html_safe

%p
  %b
    = t("emails.welcome_email_marketplace_creator.helping_you")
  %br/
    = t("emails.welcome_email_marketplace_creator.announce_drip_emails")

%p
  = t("emails.welcome_email_marketplace_creator.cheers")
  %br/
  %i
    = t("emails.welcome_email_marketplace_creator.sharetribe_team")