= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

- content_for :title_header do
  %h1= t("layouts.admin.admin")

.left-navi-section
  %h2= t(".welcome_email_content", :community_name => @community.name(I18n.locale))
  %p= t(".welcome_email_content_description", :send_test_message_link => t(".send_test_message"))
  %a{:id => "edit_link", :href => "/editor" + request.path, :data => { :save_url => mercury_update_path }}
    .icon-with-text-container
      = icon_tag("edit", ["icon-part"])
      .text-part= t(".edit_message")

  %a{:href => test_welcome_email_admin_community_path(@community)}
    .icon-with-text-container
      = icon_tag("mail", ["icon-part"])
      .text-part= t(".send_test_message")
  %p ***
  .welcome-email-editor-background
    %p= t("emails.common.hey", :name => @recipient.given_name_or_username)
    #welcome_email_content{:data => {:mercury => "full"}}
      - if @community_customization && @community_customization.welcome_email_content
        = @community_customization.welcome_email_content.html_safe
      - else
        = render :partial => "admin/communities/default_welcome_email"
