- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.getting_started.getting_started")

-# Links for the description
- live_site_link = link_to t("admin.communities.getting_started.live_site_link_text"), "/"
- logo_link = link_to t("admin.communities.getting_started.logo_link_text"), edit_look_and_feel_admin_community_path(@current_community)
- contact_team_link = link_to t("admin.communities.getting_started.contact_team_link_text"), "mailto:#{APP_CONFIG.sales_email}"
- categories_link = link_to t("admin.communities.getting_started.categories_link_text"), admin_categories_path
- custom_fields_link = link_to t("admin.communities.getting_started.custom_fields_link_text"), admin_custom_fields_path
- filters_link = link_to t("admin.communities.getting_started.filters_link_text"), admin_custom_fields_path
- payments_link = link_to t("admin.communities.getting_started.payments_link_text"), admin_community_paypal_preferences_path(@current_community)
- about_page_link = link_to t("admin.communities.getting_started.about_page_link_text"), about_infos_path
- terms_of_use_link = link_to t("admin.communities.getting_started.terms_of_use_link_text"), terms_infos_path
- privacy_policy_link = link_to t("admin.communities.getting_started.privacy_policy_link_text"), privacy_infos_path
- welcome_email_link = link_to t("admin.communities.getting_started.welcome_email_link_text"), edit_welcome_email_admin_community_path(@current_community)
- instruction_texts_link = link_to t("admin.communities.getting_started.instruction_texts_link_text"), edit_text_instructions_admin_community_path(@current_community)
- facebook_link = link_to t("admin.communities.getting_started.facebook_link_text"), social_media_admin_community_path(@current_community)
- twitter_link = link_to t("admin.communities.getting_started.twitter_link_text"), social_media_admin_community_path(@current_community)
- analytics_link = link_to t("admin.communities.getting_started.analytics_link_text"), analytics_admin_community_path(@current_community)
- settings_link = link_to t("admin.communities.getting_started.settings_link_text"), settings_admin_community_path(@current_community)
- invite_link = link_to t("admin.communities.getting_started.invite_link_text"), new_invitation_path
- view_users_link = link_to t("admin.communities.getting_started.view_users_link_text"), admin_community_community_memberships_path(@current_community, sort: "join_date", direction: "desc")
- view_transactions_link = link_to t("admin.communities.getting_started.view_transactions_link_text"), admin_community_transactions_path(@current_community, sort: "last_activity", direction: "desc")
- contact_support_link = link_to t("admin.communities.getting_started.contact_support_link_text"), "mailto:#{APP_CONFIG.support_email}"

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

#new_news_item_form.left-navi-section
  %h2= t("admin.communities.getting_started.welcome_to_your_marketplace", :name => @current_user.given_name_or_username)
  %p= t("admin.communities.getting_started.intro", :live_site_link => live_site_link).html_safe
  %p= t("admin.communities.getting_started.look_and_feel", :logo_link => logo_link).html_safe
  %p= t("admin.communities.getting_started.custom_domain", :contact_team_link => contact_team_link).html_safe
  %p= t("admin.communities.getting_started.categories_and_custom_fields", :categories_link => categories_link, :custom_fields_link => custom_fields_link, :filters_link => filters_link).html_safe
  - if @current_community.paypal_enabled?
    %p= t("admin.communities.getting_started.payments", :payments_link => payments_link).html_safe
  %p= t("admin.communities.getting_started.info_texts", :about_page_link => about_page_link, :terms_of_use_link => terms_of_use_link, :privacy_policy_link => privacy_policy_link, :welcome_email_link => welcome_email_link, :instruction_texts_link => instruction_texts_link).html_safe
  %p= t("admin.communities.getting_started.social_media", :facebook_link => facebook_link, :twitter_link => twitter_link).html_safe
  %p= t("admin.communities.getting_started.analytics", :analytics_link => analytics_link).html_safe
  %p= t("admin.communities.getting_started.settings", :settings_link => settings_link).html_safe
  %p= t("admin.communities.getting_started.final_words", :invite_link => invite_link, :view_users_link => view_users_link, :view_transactions_link => view_transactions_link, :contact_support_link => contact_support_link).html_safe
