- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.settings.settings")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  = form_for @current_community, url: admin_update_settings_path, method: :patch do |form|
    %h2= t(".settings")

    .row
      .col-12
        %h3= t(".access")
        .checkbox-container
          = form.check_box :join_with_invite_only
          = form.label :join_with_invite_only, t(".join_with_invite_only"), :class => "settings-checkbox-label"
        .checkbox-container
          = form.check_box :users_can_invite_new_users
          = form.label :users_can_invite_new_users, t(".users_can_invite_new_users"), :class => "settings-checkbox-label"
        .checkbox-container
          = form.check_box :private
          = form.label :private, t(".private"), :class => "settings-checkbox-label"
        .checkbox-container
          = form.check_box :require_verification_to_post_listings
          = form.label :require_verification_to_post_listings, t(".require_verification_to_post_listings"), :class => "settings-checkbox-label"

    - if(FeatureFlagHelper.location_search_available)
      .row
        .col-12
          %h3= t("admin.communities.settings.search_preferences")
          .checkbox-container
            .settings-checkbox-label.label
            - select_search_type = select_tag 'main_search', options_for_select(main_search_select_options, main_search), class: 'inline-select'
            = t("admin.communities.settings.default_search_type", select_search_type: select_search_type).html_safe
          .checkbox-container
            .settings-checkbox-label.label
            - select_distance_unit = select_tag 'distance_unit', options_for_select(distance_unit_select_options, distance_unit), class: 'inline-select'
            = t("admin.communities.settings.select_distance_unit", distance_units_selector: select_distance_unit).html_safe
          .checkbox-container
            = check_box_tag :limit_distance, true, limit_distance
            = label_tag("limit_distance", t(".show_only_nearby"), {class: "settings-checkbox-label"})

    .row
      .col-12
        %h3= t(".listing_preferences")
        .checkbox-container
          = form.check_box :show_category_in_listing_list
          = form.label :show_category_in_listing_list, t(".show_category_in_listing_list"), :class => "settings-checkbox-label"
        .checkbox-container
          = form.check_box :show_listing_publishing_date
          = form.label :show_listing_publishing_date, t(".show_listing_publishing_date"), :class => "settings-checkbox-label"
        .checkbox-container
          = form.check_box :listing_comments_in_use
          = form.label :listing_comments_in_use, t(".listing_comments_in_use"), :class => "settings-checkbox-label"

    - if @current_community.payments_in_use?
      .row
        .col-12
          %h3= t(".transaction_preferences")
          .checkbox-container
            .settings-checkbox-label.label
              - max_days = StripeHelper.stripe_active?(@current_community.id) ? 90 : 100
              - day_dropdown = form.select :automatic_confirmation_after_days, (1..100), {}, :class => "inline-select"
              = t(".automatically_confirmed_no_escrow", :days_dropdown => day_dropdown).html_safe

    .row
      .col-12
        %h3= t(".email_preferences")
        .checkbox-container
          = form.check_box :automatic_newsletters
          = form.label :automatic_newsletters, t(".automatic_newsletters"), :class => "settings-checkbox-label"
        .checkbox-container
          .settings-checkbox-label.label
            - frequence_dropdown = form.select :default_min_days_between_community_updates, [[t(".newsletter_daily"), 1], [t(".newsletter_weekly"), 7]], {}, :class => "inline-select"
            = t(".automatic_newsletter_frequency", :frequency_dropdown => frequence_dropdown).html_safe
        .checkbox-container
          = form.check_box :email_admins_about_new_members
          = form.label :email_admins_about_new_members, t(".email_admins_about_new_members"), :class => "settings-checkbox-label"

    .row
      .col-12
        = form.button t(".update_settings")

  - content_for :extra_javascript do
    :javascript
      window.ST.initializeDeleteMarketplace('#{delete_confirmation}');

  - if can_delete_marketplace
    .row.without-margin
      .col-12
        .alert-box-danger

          %p
            %span.alert-box-icon<>
              = icon_tag("alert", ["icon-fix"])
            %span<
              %strong
                = t("admin.communities.settings.delete_marketplace_title")
          %p
            = t("admin.communities.settings.once_you_delete")

          = button_tag t("admin.communities.settings.delete_this_marketplace"), class: "delete-button js-delete-marketplace-button"

          = form_tag delete_marketplace_admin_community_path(@current_community), method: :delete, class: "hidden js-delete-marketplace-confirmation-form" do

            %strong
              = t("admin.communities.settings.are_you_sure")

            - if delete_redirect_url
              %p
                = t("admin.communities.settings.you_will_be_redirected_to", destination: delete_redirect_url)

            %p
              = t("admin.communities.settings.last_community_updates")

            %p
              = t("admin.communities.settings.type_marketplace_domain", domain: delete_confirmation)

            = text_field_tag :delete_confirmation, nil, placeholder: t("admin.communities.settings.type_marketplace_domain_placeholder"), class: "js-delete-marketplace-confirmation-domain"

            = button_tag t("admin.communities.settings.i_understand_button"), class: "delete-button js-confirmation-button"
