- content_for :javascript do
  initialize_admin_social_media_form("#{I18n.locale}", "#{@community.id}", "#{t('.invalid_twitter_handle')}", "#{t('.invalid_facebook_connect_id')}", "#{t('.invalid_facebook_connect_secret')}" );

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.social_media.social_media")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h2= t(".social_media")
  = form_for @community, :url => social_media_admin_community_path(@community), :method => :put do |form|
    .row
      %h3= t(".twitter_handle")
    .row
      .col-6
        - if display_knowledge_base_articles
          - twitter_instructions_link = link_to(t("admin.communities.social_media.twitter_instructions_link_text"), "#{knowledge_base_url}/articles/437993-how-to-configure-twitter-mention" )
          = render :partial => "layouts/info_text", :locals => { :text => t(".twitter_handle_info_text_with_instructions", :instructions_link => twitter_instructions_link).html_safe }
        - else
          = render :partial => "layouts/info_text", :locals => { :text => t(".twitter_handle_info_text") }
      .col-6
        = form.text_field :twitter_handle, :maxlength => "15", :class => "text_field", :placeholder => t(".twitter_handle_placeholder")
        -if @community.errors.any?
          %ul
            -@community.errors.full_messages.each do |msg|
              %li=msg
    .row
      %h3= t('.facebook_connect')
      - if display_knowledge_base_articles
        - facebook_instructions_link = link_to(t("admin.communities.social_media.facebook_instructions_link_text"), "#{knowledge_base_url}/articles/412490-how-to-configure-facebook-connect" )
        = render :partial => "layouts/info_text", :locals => { :text => t(".facebook_connect_info_text_with_instructions", :instructions_link => facebook_instructions_link).html_safe}
      - else
        = render :partial => "layouts/info_text", :locals => { :text => t(".facebook_connect_info_text").html_safe }
    .row
      .col-6
        = form.label :facebook_connect_id, t(".facebook_connect_id"), :class => "input"
        = form.text_field :facebook_connect_id, :maxlength => "16", :class => "text_field", :placeholder => "1234567890123456"
      .col-6
        = form.label :facebook_connect_secret, t(".facebook_connect_secret"), :class => "input"
        = form.text_field :facebook_connect_secret, :maxlength => "32", :class => "text_field", :placeholder => "#{Digest::MD5.hexdigest('1')}"

    .row
      = form.button t("admin.communities.social_media.save")
