= form.hidden_field :previous_id
= form.hidden_field :kind

.row
  .col-12
    = form.label :id
    = form.text_field :id, disabled: presenter.section.persisted?, required: true, class: 'presence', 'data-msg-presence': I18n.t("errors.messages.presence")
    - if presenter.id_error?
      %label.error= t("errors.messages.section_with_this_id_already_exists")
