- content_for :javascript do
  ST.LandingPageSectionEditor.initForm();

= render partial: 'id_field', locals: {presenter: presenter, form: form}

= render 'content'
.row
  .col-12
    = form.label :title
    = form.text_field :title
.row
  .col-12
    = form.label :paragraph
    = form.text_area :paragraph

= render partial: 'cta_button', locals: {form: form, presenter: presenter}

.row
  .col-12
    %h3= t('.listings_to_feature')
    = render partial: 'layouts/info_text', locals: {text: t('.you_need_to_add_the_listing_ids')}

.row
  .col-6
    = form.label :listing_1_id
  .col-6
    = form.text_field :listing_1_id

.row
  .col-6
    = form.label :listing_2_id
  .col-6
    = form.text_field :listing_2_id

.row
  .col-6
    = form.label :listing_3_id
  .col-6
    = form.text_field :listing_3_id

