- social_link = f.object
.row.without-margin.menu-link-sortable.footer-social-container{id: f.index, data: {"field-id": f.index}}
  .col-10
    = f.hidden_field :id
    = f.hidden_field :sort_priority, class: 'sort-priority'
    = f.hidden_field :provider
    .row
      .col-6
        = f.check_box :enabled, { data: { provider: social_link.provider }, class: 'social-link-check-box' }
        %span.provider
          = social_link_name(social_link.provider)

      .col-6
        %span.hidden-tablet
          = t("admin.communities.footer.social.url")
        = f.text_field :url, maxlength: 255, url: true,
          placeholder: social_link_placeholder(social_link.provider),
          provider: social_link.provider, required: true,
          class: "social-link-required #{social_link.enabled? ? '' : 'ignore-validation'}"

  .col-2.menu-links-actions
    = link_to '#', class: "menu-link-action-up admin-sort-button", tabindex: "-1" do
      = icon_tag("directup", ["icon-fix"])
    = link_to '#', class: "menu-link-action-down admin-sort-button", tabindex: "-1" do
      = icon_tag("directdown", ["icon-fix"])
