<%
  background_image_modifiers = {
    "light" => "background-image--light",
    "dark" => "background-image--dark",
    "transparent" => "background"
  }
  background_image_modifiers.default = "background-image--dark"

  background_image_enabled  = !s["background_image"].nil?
  background_image_style    = background_image_enabled ? "background-image: url('#{s["background_image"]["src"]}');" : ""
  background_color_enabled  = !s["background_color"].nil?
  background_color_style    = background_color_enabled ? "background-color: rgb(#{s["background_color"].join(",")});" : "";
  section_style_modifier =
    if background_image_enabled
      background_image_modifiers[s["background_image_variation"]]
    elsif background_color_enabled
      "background-color"
    elsif second_wo_background
      "zebra"
    else
      "blank"
    end
%>

<% content_for :categories_css do %>
  <% if s["button_color"] %>

    .<%= section_id %>__categories__button--ghost {
      color: rgb(<%= s["button_color"]["value"].join(",") %>);
      border-color: rgb(<%= s["button_color"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["button_color_hover"] %>
    .<%= section_id %>__categories__button--ghost:hover {
      background-color: rgb(<%= s["button_color_hover"]["value"].join(",") %>);
      border-color: rgb(<%= s["button_color_hover"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["category_color_hover"] %>
    .<%= section_id %>__categories__category-content:hover {
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 999999px rgba(<%= s["category_color_hover"]["value"].join(",") %>, 0.9); /* big enough number to cover the whole area */
    }
  <% end %>

  <% if s["paragraph_link_color"] %>
    .categories__paragraph--markdown a {
      color: rgb(<%= s["paragraph_link_color"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["paragraph_link_color_hover"] %>
    .categories__paragraph--markdown a:hover {
      color: rgb(<%= s["paragraph_link_color_hover"]["value"].join(",") %>);
    }
  <% end %>

<% end %>

<section id="<%= section_id %>" class="categories__section categories__section--<%= section_style_modifier %>" style="<%= background_image_style %> <%= background_color_style %>">
  <div class="categories__content">
    <h1 class="categories__title"><%= s["title"] %></h1>
    <div class="categories__paragraph--markdown">
      <%= render_markdown(s["paragraph"]) %>
    </div>

    <div class="categories__categories">
      <% num_of_categories = s["categories"].length %>
      <% s["categories"].each do |category| %>
        <% c = category["category"] || {} # Make template tolerant to nil values %>
        <div class="categories__category--<%= num_of_categories %>">
          <a href="<%= c["path"] %>">
            <div class="<%= section_id %>__categories__category-content categories__category-content" style="background-image: url(<%= category["background_image"]["src"] %>)">
              <h3 class="categories__category-title"><%= c["title"] %></h3>
            </div>
          </a>
        </div>
      <% end %>
    </div>

    <% if s["button_title"] %>
      <a class="<%= section_id%>__categories__button--ghost categories__button--ghost" href="<%= s['button_path']['value'] %>"><%= s["button_title"]%></a>
    <% end %>
  </div>
</section>
