<section id="<%= section_id %>" class="info__section" style="background-image: url('<%= s["background_image"]["src"] %>')">
  <div class="info__content">
    <h1 class="info__title"><%= s["title"] %></h1>
    <p class="info__paragraph"><%= s["paragraph"] %></p>
    <a class="info__button" href="<%= s["button_path"]["path"] %>" style="background-color: <%= s["button_color"]["value"] %>"><%= s["button_title"] %></a>
  </div>
</section>
