<%
  variation_modifiers = {
    "single_column" => "single-column",
    "multi_column"  => "multi-column",
  }

  background_enabled     = !s["background_image"].nil?
  background_image_style = background_enabled ? "url('#{s["background_image"]["src"]}')" : "none"
  section_style_modifier = background_enabled ? "background" : "blank"
  variation_modifier     = variation_modifiers[s["variation"]]
%>

<% content_for :info_css do %>
    <% if s["button_color"] %>
      .<%= section_id %>__info__button {
        background-color: rgb(<%= s["button_color"]["value"].join(",") %>);
      }

      .<%= section_id %>__info__button--ghost {
        color: rgb(<%= s["button_color"]["value"].join(",") %>);
        border-color: rgb(<%= s["button_color"]["value"].join(",") %>);
      }
    <% end %>

    <% if s["button_color_hover"] %>
      .<%= section_id %>__info__button--ghost:hover,
      .<%= section_id %>__info__button:hover {
        background-color: rgb(<%= s["button_color_hover"]["value"].join(",") %>);
        border-color: rgb(<%= s["button_color_hover"]["value"].join(",") %>);
      }
    <% end %>

    <% if s["variation"] == "multi_column" && s["icon_color"] %>
      .<%= section_id %>__info__column-icon > svg > g {
        stroke: rgb(<%= s["icon_color"]["value"].join(",") %>);
      }
    <% end %>
<% end %>

<section id="<%= section_id %>" class="info__section--<%= section_style_modifier %>" style="background-image: <%= background_image_style %>">
  <div class="info__content--<%= variation_modifier %>">
    <h1 class="info__title--<%= variation_modifier %>"><%= s["title"] %></h1>
    <% case s["variation"] %>
    <% when "single_column" %>

      <p class="info__paragraph"><%= s["paragraph"] %></p>

      <% if s["button_title"] %>
        <% button_modifier = background_enabled ? "" : "--ghost" %>
        <a class="info__button<%= button_modifier %> <%= section_id %>__info__button<%= button_modifier %>" href="<%= s["button_path"]["value"] %>"><%= s["button_title"] %></a>
      <% end %>

    <% when "multi_column" %>

      <%
        multi_column_modifiers = {
          2 => "two-columns",
          3 => "three-columns"
        }

        multi_column_modifier = multi_column_modifiers[s["columns"].length]
      %>

      <div class="info__columns">
        <% s["columns"].each do |c| %>
          <div class="info__column--<%= multi_column_modifier %>">
            <% if c["icon"] %>
              <div class="info__column-icon <%= section_id %>__info__column-icon">
                <%= render partial: "icon", locals: { icon: c["icon"] } %>
              </div>
            <% end %>
            <h2 class="info__column-title"><%= c["title"] %></h2>
            <p class="info__column-paragraph"><%= c["paragraph"] %></p>

            <% if c["button_title"] %>
              <a class="info__button--ghost <%= section_id %>__info__button--ghost" href="<%= c['button_path']['value'] %>"><%= c["button_title"]%></a>
            <% end %>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</section>
