<%
  variation_modifiers = {
    "one_column"    => "one-column",
    "two_columns"   => "two-columns",
    "three_columns" => "three-columns"
  }

  background_enabled     = !s["background_image"].nil?
  background_image_style = background_enabled ? "url('#{s["background_image"]["src"]}')" : "none"
  section_style_modifier = background_enabled ? "background" : "blank"
  button_enabled         = !s["button"].nil?
  variation_modifier     = variation_modifiers[s["variation"]]
%>

<% content_for :info_css, flush: true do %>
  <% if button_enabled %>
    .info__button {
      background-color: <%= s["button"]["color"]["value"] %>;
    }

    .info__button--ghost {
      color: <%= s["button"]["color"]["value"] %>;
      border-color: <%= s["button"]["color"]["value"] %>;
    }

    .info__button--ghost:hover,
    .info__button:hover {
      background-color: <%= s["button"]["color_hover"]["value"] %>;
      border-color: <%= s["button"]["color_hover"]["value"] %>;
    }
  <% end %>
<% end %>

<section id="<%= section_id %>" class="info__section--<%= section_style_modifier %>" style="background-image: <%= background_image_style %>">
  <div class="info__content--<%= variation_modifier %>">
    <% case s["variation"] %>
    <% when "one_column" %>
      <h1 class="info__title"><%= s["title"] %></h1>

      <p class="info__paragraph"><%= s["paragraph"] %></p>

      <% if button_enabled %>
        <% modifier = background_enabled ? "" : "--ghost" %>
        <a class="info__button<%= modifier %>" href="<%= s["button"]["path"]["path"] %>"><%= s["button"]["title"] %></a>
      <% end %>

    <% when "three_columns" %>

      <div class="info__columns--<%= variation_modifier %>">
        <% s["columns"].each do |c| %>
          <div class="info__column">
            <h2 class="info__column-title"><%= c["title"] %></h2>
            <p class="info__column-paragraph"><%= c["paragraph"] %></p>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</section>
