<% content_for :listings_css do %>

  <% if s["button_color"] %>
    .<%= section_id %>__listings__button--ghost {
      color: rgb(<%= s["button_color"]["value"].join(",") %>);
      border-color: rgb(<%= s["button_color"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["button_color_hover"] %>
    .<%= section_id %>__listings__button--ghost:hover {
      background-color: rgb(<%= s["button_color_hover"]["value"].join(",") %>);
      border-color: rgb(<%= s["button_color_hover"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["price_color"] %>
    .<%= section_id %>__listings__price-container {
      color: rgb(<%= s["price_color"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["no_listing_image_background_color"] %>
    .<%= section_id %>__listings__listing-image--empty {
      background-color: rgba(<%= s["no_listing_image_background_color"]["value"].join(",") %>, 0.2);
    }
  <% end %>
<% end %>

<section id="<%= section_id %>" class="listings__section">
  <div class="listings__content">
    <h1 class="listings__title"><%= s["title"] %></h1>
    <p class="listings__paragraph"><%= s["paragraph"] %></p>

    <div class="listings__listings">
      <% s["listings"].each do |listing| %>
        <% l = listing["listing"] %>
        <div class="listings__listing">
          <div class="listings__listing-content">
            <% if l["listing_image"].present? %>
              <div class="listings__listing-image" style="background-image: url(<%= l["listing_image"] %>)"></div>
            <% else %>
              <div class="<%= section_id %>__listings__listing-image--empty listings__listing-image--empty">
                <div class="listings__no-listing-image-svg-container">
                  <svg class="listings__no-listing-image-svg" width="60" height="59" viewBox="269 433 60 59" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path id="a" d="M0 59h60V0H0z"/><g transform="translate(269 433)" fill="none" fill-rule="evenodd"><path stroke-width="2" stroke-linejoin="round" d="M17 12L30 1l13 11z"/><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path fill="none" stroke-width="2" mask="url(#b)" d="M1 58h58V12H1z"/><path fill="none" stroke-width="2" mask="url(#b)" d="M7 52h46V18H7z"/><path d="M24.997 39.545L26.04 38.5c.947-.945 2.23-1.477 3.567-1.477h.867c1.337 0 2.62.532 3.566 1.478l1.044 1.045" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" mask="url(#b)"/><path class="listings__no-listing-image-svg--eyes" d="M26.998 29.98c-.696 0-1.26.563-1.26 1.26 0 .696.564 1.26 1.26 1.26.696 0 1.26-.564 1.26-1.26 0-.697-.564-1.26-1.26-1.26M33.002 29.98c-.696 0-1.26.563-1.26 1.26 0 .696.564 1.26 1.26 1.26.696 0 1.26-.564 1.26-1.26 0-.697-.564-1.26-1.26-1.26" mask="url(#b)"/></g></svg>
                  <span class="listings__no-listing-image-text">No picture</span>
                </div>
              </div>
            <% end %>
            <h3 class="listings__listing-title"><%= l["title"] %></h3>
            <div class="listings__listing-info">
              <div class="<%= section_id%>__listings__price-container listings__price-container">
                <span class="listings__price-amount"><%= l["price"] %></span>

                <% if l["price_unit"] %>
                  <span class="listings__price-unit">/ <%= l["price_unit"] %></span>
                <% end %>
              </div>
              <div class="listings__author-container">
                <div class="listings__author-avatar" style="background-image: url(<%= l["author_avatar"] %>)"></div>
                <span class="listings__author-name"><%= l["author_name"] %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if s["button_title"] %>
      <a class="<%= section_id%>__listings__button--ghost listings__button--ghost" href="<%= s['button_path']['value'] %>"><%= s["button_title"]%></a>
    <% end %>
  </div>
</section>
