<% content_for :listings_css do %>

  <% if s["button_color"] %>
    .<%= section_id %>__listings__button--ghost {
      color: rgb(<%= s["button_color"]["value"].join(",") %>);
      border-color: rgb(<%= s["button_color"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["button_color_hover"] %>
    .<%= section_id %>__listings__button--ghost:hover {
      background-color: rgb(<%= s["button_color_hover"]["value"].join(",") %>);
      border-color: rgb(<%= s["button_color_hover"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["price_color"] %>
    .<%= section_id %>__listings__price-container {
      color: rgb(<%= s["price_color"]["value"].join(",") %>);
    }
  <% end %>
<% end %>

<section id="<%= section_id %>" class="listings__section">
  <div class="listings__content">
    <h1 class="listings__title"><%= s["title"] %></h1>
    <p class="listings__paragraph"><%= s["paragraph"] %></p>

    <div class="listings__listings">
      <% s["listings"].each do |listing| %>
        <% l = listing["value"] %>
        <div class="listings__listing">
          <div class="listings__listing-content">
            <div class="listings__listing-image" style="background-image: url(<%= l["listing_image"] %>)"></div>
            <h3 class="listings__listing-title"><%= l["title"] %></h3>
            <div class="listings__listing-info">
              <div class="<%= section_id%>__listings__price-container listings__price-container">
                <span class="listings__price-amount"><%= l["currency_symbol"] %><%= l["price_cents"] %></span>

                <% if l["price_unit"] %>
                  <span class="listings__price-unit">/ <%= l["price_unit"] %></span>
                <% end %>
              </div>
              <div class="listings__author-container">
                <div class="listings__author-avatar" style="background-image: url(<%= l["author_avatar"] %>)"></div>
                <span class="listings__author-name"><%= l["author_name"] %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if s["button_title"] %>
      <a class="<%= section_id%>__listings__button--ghost listings__button--ghost" href="<%= s['button_path']['value'] %>"><%= s["button_title"]%></a>
    <% end %>
  </div>
</section>
