<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Custom Landing Page</title>

  <!-- SEO Meta -->
  <!--
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  -->

  <style type="text/css">
   /**
    * The fonts included are copyrighted by the vendor listed below.
    *
    * Vendor:      Mark Simonson Studio
    * License URL: https://www.fontspring.com/licenses/mark-simonson-studio/webfont
    *
    *
    */

   @font-face {
     font-family: 'ProximaNovaSoft-Bold';
     src: url('<%= font_path %>/proximanovasoft-bold-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.svg#proxima_nova_softbold') format('svg');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'ProximaNovaSoft-Medium';
     src: url('<%= font_path %>/proximanovasoft-medium-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-medium-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.svg#proxima_nova_softmedium') format('svg');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'ProximaNovaSoft-Regular';
     src: url('<%= font_path %>/proximanovasoft-regular-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.svg#proxima_nova_softregular') format('svg');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'ProximaNovaSoft-Semibold';
     src: url('<%= font_path %>/proximanovasoft-semibold-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-semibold-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.svg#proxima_nova_softsemibold') format('svg');
     font-weight: normal;
     font-style: normal;
   }
  </style>

  <style type="text/css">
    <%= styles %>
  </style>

</head>

<% enabled_sections = sections.reject { |section| section["disabled"] } %>

<% enabled_sections.each do |section| %>

  <% s = section["section"] %>
  <% section_id = "#{s['kind']}__#{s['id']}" %>

  <% case s["kind"] %>
  <% when "hero" %>
  <%= render partial: "hero", locals: {section_id: section_id, s: s} %>
  <% when "footer" %>
  <%= render partial: "footer", locals: {section_id: section_id, s: s} %>
  <% end %>

<% end # enabled_sections#each %>

<%= yield :javascript %>

</html>
