<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Custom Landing Page</title>

  <!-- SEO Meta -->
  <!--
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  -->

  <style type="text/css">

   /* ************************************************************************************ */
   /* Border-box                                                                           */
   /* ************************************************************************************ */
   html {
     box-sizing: border-box;
   }
   *, *:before, *:after {
     box-sizing: inherit;
   }

   /* ************************************************************************************ */
   /* Normalize                                                                            */
   /* ************************************************************************************ */

   /*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

   /**
    * 1. Change the default font family in all browsers (opinionated).
    * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
    */

   html {
     font-family: sans-serif; /* 1 */
     -ms-text-size-adjust: 100%; /* 2 */
     -webkit-text-size-adjust: 100%; /* 2 */
   }

   /**
    * Remove the margin in all browsers (opinionated).
    */

   body {
     margin: 0;
   }

   /* HTML5 display definitions
      ========================================================================== */

   /**
    * Add the correct display in IE 9-.
    * 1. Add the correct display in Edge, IE, and Firefox.
    * 2. Add the correct display in IE.
    */

   article,
   aside,
   details, /* 1 */
   figcaption,
   figure,
   footer,
   header,
   main, /* 2 */
   menu,
   nav,
   section,
   summary { /* 1 */
     display: block;
   }

   /**
    * Add the correct display in IE 9-.
    */

   audio,
   canvas,
   progress,
   video {
     display: inline-block;
   }

   /**
    * Add the correct display in iOS 4-7.
    */

   audio:not([controls]) {
     display: none;
     height: 0;
   }

   /**
    * Add the correct vertical alignment in Chrome, Firefox, and Opera.
    */

   progress {
     vertical-align: baseline;
   }

   /**
    * Add the correct display in IE 10-.
    * 1. Add the correct display in IE.
    */

   template, /* 1 */
   [hidden] {
     display: none;
   }

   /* Links
      ========================================================================== */

   /**
    * 1. Remove the gray background on active links in IE 10.
    * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
    */

   a {
     background-color: transparent; /* 1 */
     -webkit-text-decoration-skip: objects; /* 2 */
   }

   /**
    * Remove the outline on focused links when they are also active or hovered
    * in all browsers (opinionated).
    */

   a:active,
   a:hover {
     outline-width: 0;
   }

   /* Text-level semantics
      ========================================================================== */

   /**
    * 1. Remove the bottom border in Firefox 39-.
    * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
    */

   abbr[title] {
     border-bottom: none; /* 1 */
     text-decoration: underline; /* 2 */
     text-decoration: underline dotted; /* 2 */
   }

   /**
    * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
    */

   b,
   strong {
     font-weight: inherit;
   }

   /**
    * Add the correct font weight in Chrome, Edge, and Safari.
    */

   b,
   strong {
     font-weight: bolder;
   }

   /**
    * Add the correct font style in Android 4.3-.
    */

   dfn {
     font-style: italic;
   }

   /**
    * Correct the font size and margin on `h1` elements within `section` and
    * `article` contexts in Chrome, Firefox, and Safari.
    */

   h1 {
     font-size: 2em;
     margin: 0.67em 0;
   }

   /**
    * Add the correct background and color in IE 9-.
    */

   mark {
     background-color: #ff0;
     color: #000;
   }

   /**
    * Add the correct font size in all browsers.
    */

   small {
     font-size: 80%;
   }

   /**
    * Prevent `sub` and `sup` elements from affecting the line height in
    * all browsers.
    */

   sub,
   sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
     vertical-align: baseline;
   }

   sub {
     bottom: -0.25em;
   }

   sup {
     top: -0.5em;
   }

   /* Embedded content
      ========================================================================== */

   /**
    * Remove the border on images inside links in IE 10-.
    */

   img {
     border-style: none;
   }

   /**
    * Hide the overflow in IE.
    */

   svg:not(:root) {
     overflow: hidden;
   }

   /* Grouping content
      ========================================================================== */

   /**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */

   code,
   kbd,
   pre,
   samp {
     font-family: monospace, monospace; /* 1 */
     font-size: 1em; /* 2 */
   }

   /**
    * Add the correct margin in IE 8.
    */

   figure {
     margin: 1em 40px;
   }

   /**
    * 1. Add the correct box sizing in Firefox.
    * 2. Show the overflow in Edge and IE.
    */

   hr {
     box-sizing: content-box; /* 1 */
     height: 0; /* 1 */
     overflow: visible; /* 2 */
   }

   /* Forms
      ========================================================================== */

   /**
    * 1. Change font properties to `inherit` in all browsers (opinionated).
    * 2. Remove the margin in Firefox and Safari.
    */

   button,
   input,
   select,
   textarea {
     font: inherit; /* 1 */
     margin: 0; /* 2 */
   }

   /**
    * Restore the font weight unset by the previous rule.
    */

   optgroup {
     font-weight: bold;
   }

   /**
    * Show the overflow in IE.
    * 1. Show the overflow in Edge.
    */

   button,
   input { /* 1 */
     overflow: visible;
   }

   /**
    * Remove the inheritance of text transform in Edge, Firefox, and IE.
    * 1. Remove the inheritance of text transform in Firefox.
    */

   button,
   select { /* 1 */
     text-transform: none;
   }

   /**
    * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
    *    controls in Android 4.
    * 2. Correct the inability to style clickable types in iOS and Safari.
    */

   button,
   html [type="button"], /* 1 */
   [type="reset"],
   [type="submit"] {
     -webkit-appearance: button; /* 2 */
   }

   /**
    * Remove the inner border and padding in Firefox.
    */

   button::-moz-focus-inner,
   [type="button"]::-moz-focus-inner,
   [type="reset"]::-moz-focus-inner,
   [type="submit"]::-moz-focus-inner {
     border-style: none;
     padding: 0;
   }

   /**
    * Restore the focus styles unset by the previous rule.
    */

   button:-moz-focusring,
   [type="button"]:-moz-focusring,
   [type="reset"]:-moz-focusring,
   [type="submit"]:-moz-focusring {
     outline: 1px dotted ButtonText;
   }

   /**
    * Change the border, margin, and padding in all browsers (opinionated).
    */

   fieldset {
     border: 1px solid #c0c0c0;
     margin: 0 2px;
     padding: 0.35em 0.625em 0.75em;
   }

   /**
    * 1. Correct the text wrapping in Edge and IE.
    * 2. Correct the color inheritance from `fieldset` elements in IE.
    * 3. Remove the padding so developers are not caught out when they zero out
    *    `fieldset` elements in all browsers.
    */

   legend {
     box-sizing: border-box; /* 1 */
     color: inherit; /* 2 */
     display: table; /* 1 */
     max-width: 100%; /* 1 */
     padding: 0; /* 3 */
     white-space: normal; /* 1 */
   }

   /**
    * Remove the default vertical scrollbar in IE.
    */

   textarea {
     overflow: auto;
   }

   /**
    * 1. Add the correct box sizing in IE 10-.
    * 2. Remove the padding in IE 10-.
    */

   [type="checkbox"],
   [type="radio"] {
     box-sizing: border-box; /* 1 */
     padding: 0; /* 2 */
   }

   /**
    * Correct the cursor style of increment and decrement buttons in Chrome.
    */

   [type="number"]::-webkit-inner-spin-button,
   [type="number"]::-webkit-outer-spin-button {
     height: auto;
   }

   /**
    * 1. Correct the odd appearance in Chrome and Safari.
    * 2. Correct the outline style in Safari.
    */

   [type="search"] {
     -webkit-appearance: textfield; /* 1 */
     outline-offset: -2px; /* 2 */
   }

   /**
    * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
    */

   [type="search"]::-webkit-search-cancel-button,
   [type="search"]::-webkit-search-decoration {
     -webkit-appearance: none;
   }

   /**
    * Correct the text style of placeholders in Chrome, Edge, and Safari.
    */

   ::-webkit-input-placeholder {
     color: inherit;
     opacity: 0.54;
   }

   /**
    * 1. Correct the inability to style clickable types in iOS and Safari.
    * 2. Change font properties to `inherit` in Safari.
    */

   ::-webkit-file-upload-button {
     -webkit-appearance: button; /* 1 */
     font: inherit; /* 2 */
   }

   /* ************************************************************************************ */
   /* Own resets                                                                           */
   /* ************************************************************************************ */

   h1, h2, h3, h4, h5, h6, p {
     margin: 0;
     padding: 0;
     font-weight: normal;
   }

   /* Turn off iOS border radius */
   input {
     border-radius: 0;
   }

   [type="search"] {
     -webkit-appearance: none;
   }

   a {
     text-decoration: none;
   }

   /* ************************************************************************************ */
   /* Fonts                                                                                */
   /* ************************************************************************************ */

   /**
    * The fonts included are copyrighted by the vendor listed below.
    *
    * Vendor:      Mark Simonson Studio
    * License URL: https://www.fontspring.com/licenses/mark-simonson-studio/webfont
    *
    *
    */

   @font-face {
       font-family: 'ProximaNovaSoft-Bold';
       src: url('landing_page/fonts/proximanovasoft-bold-webfont.eot');
       src: url('landing_page/fonts/proximanovasoft-bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('landing_page/fonts/proximanovasoft-bold-webfont.woff2') format('woff2'),
            url('landing_page/fonts/proximanovasoft-bold-webfont.woff') format('woff'),
            url('landing_page/fonts/proximanovasoft-bold-webfont.ttf') format('truetype'),
            url('landing_page/fonts/proximanovasoft-bold-webfont.svg#proxima_nova_softbold') format('svg');
       font-weight: normal;
       font-style: normal;
   }

   @font-face {
       font-family: 'ProximaNovaSoft-Medium';
       src: url('landing_page/fonts/proximanovasoft-medium-webfont.eot');
       src: url('landing_page/fonts/proximanovasoft-medium-webfont.eot?#iefix') format('embedded-opentype'),
            url('landing_page/fonts/proximanovasoft-medium-webfont.woff2') format('woff2'),
            url('landing_page/fonts/proximanovasoft-medium-webfont.woff') format('woff'),
            url('landing_page/fonts/proximanovasoft-medium-webfont.ttf') format('truetype'),
            url('landing_page/fonts/proximanovasoft-medium-webfont.svg#proxima_nova_softmedium') format('svg');
       font-weight: normal;
       font-style: normal;
   }

   @font-face {
       font-family: 'ProximaNovaSoft-Regular';
       src: url('landing_page/fonts/proximanovasoft-regular-webfont.eot');
       src: url('landing_page/fonts/proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('landing_page/fonts/proximanovasoft-regular-webfont.woff2') format('woff2'),
            url('landing_page/fonts/proximanovasoft-regular-webfont.woff') format('woff'),
            url('landing_page/fonts/proximanovasoft-regular-webfont.ttf') format('truetype'),
            url('landing_page/fonts/proximanovasoft-regular-webfont.svg#proxima_nova_softregular') format('svg');
       font-weight: normal;
       font-style: normal;
   }

   @font-face {
       font-family: 'ProximaNovaSoft-Semibold';
       src: url('landing_page/fonts/proximanovasoft-semibold-webfont.eot');
       src: url('landing_page/fonts/proximanovasoft-semibold-webfont.eot?#iefix') format('embedded-opentype'),
            url('landing_page/fonts/proximanovasoft-semibold-webfont.woff2') format('woff2'),
            url('landing_page/fonts/proximanovasoft-semibold-webfont.woff') format('woff'),
            url('landing_page/fonts/proximanovasoft-semibold-webfont.ttf') format('truetype'),
            url('landing_page/fonts/proximanovasoft-semibold-webfont.svg#proxima_nova_softsemibold') format('svg');
       font-weight: normal;
       font-style: normal;
   }

   /* ************************************************************************************ */
   /* Hero section                                                                         */
   /* ************************************************************************************ */
   .hero__section {
     width: 100%;
     min-height: 80vh;
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     box-shadow: inset 0 0 0 999999px rgba(0, 0, 0, 0.5); /* is there any cleaner way? */
   }

   .hero__content-container {
     text-align: center;
   }

   /* tablet 768 */
   @media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
     .hero__content-container {
       max-width: 561px;
     }
   }

   /* desktop 1366 */
   @media (min-width: 1025px) {
     .hero__content-container {
       max-width: 871px;
     }
   }

   .hero__title {
     /* Your marketplace tit: */
     font-family: ProximaNovaSoft-Regular;
     color: #FFFFFF;

     /* (max-width: 767px) and (orientation: portrait) */
     font-size: 36px;
     letter-spacing: -1.23px;
     line-height: 42px;
     margin-bottom: 24px;
   }

   /* tablet 768 */
   @media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
     .hero__title {
       font-size: 62px;
       letter-spacing: -1.23px;
       line-height: 68px;
       margin-bottom: 28px;
     }
   }

   /* desktop 1366 */
   @media (min-width: 1025px) {
     .hero__title {
       font-size: 64px;
       letter-spacing: -1.5px;
       line-height: 76px;
       margin-bottom: 28px;
     }
   }

   .hero__subtitle {
     /* Paragraph. Etiam por: */
     font-family: ProximaNovaSoft-Medium;
     color: #FFFFFF;
     letter-spacing: 0px;

     /* mobile 375 */
     /* (max-width: 767px) and (orientation: portrait) */
     /* Paragraph. Etiam por: */
     font-size: 18px;
     line-height: 24px;
     margin-bottom: 36px;
   }

   /* tablet 768 */
   @media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
     .hero__subtitle {
       font-size: 21px;
       line-height: 32px;
       margin-bottom: 48px;
     }
   }

   /* desktop 1366 */
   @media (min-width: 1025px) {
     .hero__subtitle {
       font-size: 24px;
       line-height: 32px;
       margin-bottom: 48px;
     }
   }

   .hero__content {
     max-width: 1366px;
     margin: 0 auto;
     padding: 24px;
     margin-top: -4.44vh; /* -50px, when content height is 900px, 80vh */
   }

   .hero__search-bar {
     max-width: 532px;
     display: flex;
     margin: 0 auto;
     padding: 0 12px;

     /* mobile 375 */
     /* (max-width: 767px) and (orientation: portrait) */
     flex-direction: row-reverse;
   }

   /* tablet 768 */
   @media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
     .hero__search-bar {
       flex-direction: row;
     }
   }

   /* desktop 1366 */
   @media (min-width: 1025px) {
     .hero__search-bar {
       flex-direction: row;
     }
   }

   .hero__search-input {
     font-family: ProximaNovaSoft-Medium;
     margin: 0;
     border: 0;
     width: 100%;
     color: #525961;

     /* mobile 375 */
     /* (max-width: 767px) and (orientation: portrait) */
     border-top-left-radius: 29.5px;
     border-bottom-left-radius: 29.5px;

     font-size: 16px;
     letter-spacing: 0px;
     line-height: 32px;
     padding: 8px 12px 8px 24px;
   }

   .hero__search-input:focus {
     outline: none;
   }

   /* tablet 768 */
   @media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
     .hero__search-input {
       border-top-left-radius: inherit;
       border-bottom-left-radius: inherit;

       font-size: 18px;
       letter-spacing: 0px;
       line-height: 32px;

       padding: 14px 24px 14px 12px;
     }
   }

   /* desktop 1366 */
   @media (min-width: 1025px) {
     .hero__search-input {
       border-top-left-radius: inherit;
       border-bottom-left-radius: inherit;

       font-size: 18px;
       letter-spacing: 0px;
       line-height: 32px;

       padding: 14px 24px 14px 18px;
     }
   }

   .hero__search-button {
     border: 0;
     padding: 0;

     padding: 14px 28px;

     line-height: 32px;
     border-top-right-radius: 29.5px;
     border-bottom-right-radius: 29.5px;

     background: #347F9D;

     /* Search: */
     font-family: ProximaNovaSoft-Medium;
     font-size: 18px;
     color: #FFFFFF;
     letter-spacing: 0px;

     /* mobile 375 */
     /* (max-width: 767px) and (orientation: portrait) */
     display: none;
   }

   /* tablet 768 */
   @media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
     .hero__search-button {
       display: block;
     }
   }

   /* desktop 1366 */
   @media (min-width: 1025px) {
     .hero__search-button {
       display: block;
     }
   }

   .hero__search-icon-svg {
     display: block;
     /* mobile 375 */
     /* (max-width: 767px) and (orientation: portrait) */
     width: 18px;
     height: 18px;
   }

   /* tablet 768 */
   @media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
     .hero__search-icon-svg {
       width: 22px;
       height: 22px;
     }
   }

   /* desktop 1366 */
   @media (min-width: 1025px) {
     .hero__search-icon-svg {
       width: 22px;
       height: 22px;
     }
   }

   .hero__search-icon {
     background: #FFF;

     /* mobile 375 */
     /* (max-width: 767px) and (orientation: portrait) */
     border-top-right-radius: 29.5px;
     border-bottom-right-radius: 29.5px;
     padding: 15px 24px 15px 0px;
   }

   /* tablet 768 */
   @media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
     .hero__search-icon {
       border-top-left-radius: 29.5px;
       border-bottom-left-radius: 29.5px;
       border-top-right-radius: inherit;
       border-bottom-right-radius: inherit;
       padding: 19px 0px 19px 24px;
     }
   }

   /* desktop 1366 */
   @media (min-width: 1025px) {
     .hero__search-icon {
       border-top-left-radius: 29.5px;
       border-bottom-left-radius: 29.5px;
       border-top-right-radius: inherit;
       border-bottom-right-radius: inherit;
       padding: 19px 0px 19px 28px;
     }
   }

   .hero__signup-button {
     color: #FFFFFF;

     background: #347F9D;
     border-radius: 100px;
     font-family: ProximaNovaSoft-Bold;

     /* mobile 375 */
     /* (max-width: 767px) and (orientation: portrait) */
     font-size: 18px;
     letter-spacing: 0px;

     padding: 18px 36px;
   }


   /* tablet 768 */
   @media (min-width: 768px) and (max-width: 1024px), (min-width: 401px) and (max-width: 767px) and (orientation: landscape) {
     .hero__signup-button {
       font-size: 21px;
       letter-spacing: 0px;

       padding: 21px 63px;
     }
   }

   /* desktop 1366 */
   @media (min-width: 1025px) {
     .hero__signup-button {
       font-size: 21px;
       letter-spacing: 0px;

       padding: 21px 63px;
     }
   }

  </style>

</head>

<% sections.reject { |section| section["disabled"] }.each do |section| %>

  <% s = section["section"] %>

  <% case s["kind"] %>
  <% when "hero" # Hero section %>

    <section class="hero__section" style="background-image: url('<%= s["background_image"]["src"] %>')">
      <div class="hero__content">
        <div class="hero__content-container">
          <h1 class="hero__title"><%= s["title"] %></h1>
          <h3 class="hero__subtitle"><%= s["subtitle"] %></h3>

          <% case s["variation"] %>
          <% when "keyword_search" %>

            <form method="get" class="hero__search-bar" action="<%= paths[:search_path] %>">
              <div class="hero__search-icon">

                <svg class="hero__search-icon-svg" viewBox="27 19 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="icon_search" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(38.000000, 30.000000) scale(-1, 1) translate(-38.000000, -30.000000) translate(28.000000, 20.000000)" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M14.6666667,14.6666667 L19.3254458,19.3254458" id="line" stroke="#525961" stroke-width="2"></path>
                    <circle id="Oval" stroke="#525961" stroke-width="2" cx="8" cy="8" r="8"></circle>
                  </g>
                </svg>
              </div>
              <input type="search" name="q" class="hero__search-input" placeholder="<%= s["search_placeholder"] %>"/>
              <button type="submit" class="hero__search-button"><%= s["search_button"] %></button>
            </form>

          <% when "private" %>

            <a class="hero__signup-button" href="<%= paths[:signup_path] %>"><%= s["signup_button"] %></a>

          <% end %>
        </div>
      </div>
    </section>

  <% end # case section["type"] %>

<% end # sections.each %>

</html>
