<!doctype html>

<%
  # We need to render and capture the sections already here, before the <head> element
  # because we want to add the section specific styles to the <head> element.
  # If we'd render the sections after the <head> elements, the section specific
  # styles would be empty
%>
<% content_for :sections do %>
  <% sections.each do |section| %>

    <% s = section["section"] %>
    <% section_id = "#{s['kind']}__#{s['id']}" %>

    <% case s["kind"] %>
    <% when "hero" %>
      <%= render partial: "hero", locals: {section_id: section_id, s: s} %>
    <% when "footer" %>
      <%= render partial: "footer", locals: {section_id: section_id, s: s} %>
    <% when "info" %>
      <%= render partial: "info", locals: {section_id: section_id, s: s} %>
    <% when "categories" %>
      <%= render partial: "categories", locals: {section_id: section_id, s: s} %>
    <% when "listings" %>
      <%= render partial: "listings", locals: {section_id: section_id, s: s} %>
    <% when "video" %>
      <%= render partial: "video", locals: {section_id: section_id, s: s} %>
    <% end %>

  <% end # sections#each %>
<% end # capture %>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% unless local_assigns.has_key?(:skip_analytics) && skip_analytics %>
    <%= render partial: "layouts/google_analytics_script" %>
  <% end %>

  <title><%= page["title"]["value"] %></title>

  <%= favicon_link_tag community_context[:favicon] %>
  <%= favicon_link_tag community_context[:apple_touch_icon], rel: 'apple-touch-icon-precomposed', type: 'image/png' %>

  <%= stylesheet_link_tag 'app-bundle' %>

  <!-- SEO Meta -->
  <!--
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  -->

  <style type="text/css">
   /**
    * The fonts included are copyrighted by the vendor listed below.
    *
    * Vendor:      Mark Simonson Studio
    * License URL: https://www.fontspring.com/licenses/mark-simonson-studio/webfont
    *
    *
    */

   @font-face {
     font-family: 'ProximaNovaSoft-Bold';
     src: url('<%= font_path %>/proximanovasoft-bold-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.svg#proxima_nova_softbold') format('svg');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'ProximaNovaSoft-Medium';
     src: url('<%= font_path %>/proximanovasoft-medium-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-medium-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.svg#proxima_nova_softmedium') format('svg');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'ProximaNovaSoft-Regular';
     src: url('<%= font_path %>/proximanovasoft-regular-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.svg#proxima_nova_softregular') format('svg');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'ProximaNovaSoft-Semibold';
     src: url('<%= font_path %>/proximanovasoft-semibold-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-semibold-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.svg#proxima_nova_softsemibold') format('svg');
     font-weight: normal;
     font-style: normal;
   }
  </style>

  <style type="text/css">
    <% # Basic styling %>
    <%= styles %>

    <% # Styles from section partials. E.g. styles that need marketplace color %>
    <%= yield :hero_css %>
    <%= yield :footer_css %>
    <%= yield :info_css %>
    <%= yield :categories_css %>
    <%= yield :listings_css %>
    <%= yield :video_css %>
  </style>

</head>
<body>

  <% if topbar_enabled %>
  <div id="topbar-placeholder" class="topbar-placeholder"> </div>
  <% end %>

  <%= yield :sections %>

  <% # Add javascript libraries and external javascript code %>

  <% if sections.any? { |s| s["section"]["kind"] == "hero" && s["section"]["variation"]["value"] == "location_search" } %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script>
      <%= javascripts[:location_search] %>
    </script>
  <% end %>

  <% if sections.any? { |s| s["section"]["kind"] == "video" && s["section"]["variation"] == "youtube" } %>
    <script type="text/javascript">
     var tag = document.createElement('script');
     tag.id = 'youtube-player-script';
     tag.src = 'https://www.youtube.com/iframe_api';
     var firstScriptTag = document.getElementsByTagName('script')[0];
     firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

     function onYouTubeIframeAPIReady() {
       <%= yield :youtube_ready_js %>
     }
    </script>
  <% end %>

  <% # Add javascript from sections %>

  <%= yield :javascript %>

  <% if topbar_enabled %>
  <script>
    window.I18n = {};
    <%= javascripts[:translations] %>
  </script>

  <%= javascript_include_tag 'vendor-bundle' %>
  <%= javascript_include_tag 'app-bundle' %>

  <script>
    var renderTopBar = function renderTopBar(props, marketplaceCtx) {
      componentFn = function (props) {
        return window.ReactOnRails.getComponent('TopbarApp').component(props, marketplaceCtx)
      }
      ReactDOM.render(React.createElement(componentFn, props), document.getElementById('topbar-placeholder'));
    };

    static_props = <%= topbar_props.to_json.html_safe %>
    marketplaceContext = <%= marketplace_context.to_json.html_safe %>

    renderTopBar(static_props, marketplaceContext);

    window.fetch("<%= topbar_props_path %>", { credentials: 'same-origin' })
      .then(function (res) { return res.json(); })
      .then(function (props) { renderTopBar(Object.assign({}, static_props, props), marketplaceContext); });
  </script>
  <% end %>

</body>
</html>
