<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Custom Landing Page</title>

  <!-- SEO Meta -->
  <!--
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  -->

  <style type="text/css">
   /**
    * The fonts included are copyrighted by the vendor listed below.
    *
    * Vendor:      Mark Simonson Studio
    * License URL: https://www.fontspring.com/licenses/mark-simonson-studio/webfont
    *
    *
    */

   @font-face {
     font-family: 'ProximaNovaSoft-Bold';
     src: url('<%= font_path %>/proximanovasoft-bold-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-bold-webfont.svg#proxima_nova_softbold') format('svg');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'ProximaNovaSoft-Medium';
     src: url('<%= font_path %>/proximanovasoft-medium-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-medium-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-medium-webfont.svg#proxima_nova_softmedium') format('svg');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'ProximaNovaSoft-Regular';
     src: url('<%= font_path %>/proximanovasoft-regular-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-regular-webfont.svg#proxima_nova_softregular') format('svg');
     font-weight: normal;
     font-style: normal;
   }

   @font-face {
     font-family: 'ProximaNovaSoft-Semibold';
     src: url('<%= font_path %>/proximanovasoft-semibold-webfont.eot');
     src: url('<%= font_path %>/proximanovasoft-semibold-webfont.eot?#iefix') format('embedded-opentype'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.woff2') format('woff2'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.woff') format('woff'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.ttf') format('truetype'),
     url('<%= font_path %>/proximanovasoft-semibold-webfont.svg#proxima_nova_softsemibold') format('svg');
     font-weight: normal;
     font-style: normal;
   }
  </style>

  <style type="text/css">
    <%= styles %>
  </style>

</head>

<% sections.reject { |section| section["disabled"] }.each do |section| %>

  <% s = section["section"] %>

  <% case s["kind"] %>
  <% when "hero" # Hero section %>

    <section class="hero__section" style="background-image: url('<%= s["background_image"]["src"] %>')">
      <div class="hero__content">
        <div class="hero__content-container">
          <h1 class="hero__title"><%= s["title"] %></h1>
          <h3 class="hero__subtitle"><%= s["subtitle"] %></h3>

          <% case s["variation"] %>
          <% when "keyword_search" %>

            <form method="get" class="hero__search-bar" action="<%= s["search_path"] %>">
              <div class="hero__search-icon">

                <svg class="hero__search-icon-svg" viewBox="27 19 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="icon_search" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(38.000000, 30.000000) scale(-1, 1) translate(-38.000000, -30.000000) translate(28.000000, 20.000000)" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M14.6666667,14.6666667 L19.3254458,19.3254458" id="line" stroke="#525961" stroke-width="2"></path>
                    <circle id="Oval" stroke="#525961" stroke-width="2" cx="8" cy="8" r="8"></circle>
                  </g>
                </svg>
              </div>
              <input type="search" name="q" class="hero__search-input" placeholder="<%= s["search_placeholder"] %>"/>
              <button type="submit" class="hero__search-button"><%= s["search_button"] %></button>
            </form>

          <% when "private" %>

            <a class="hero__signup-button" href="<%= s["signup_path"] %>"><%= s["signup_button"] %></a>

          <% end %>
        </div>
      </div>
    </section>

  <% end # case section["type"] %>

<% end # sections.each %>

</html>
