.new_listing_form_field_container
  = fields_for :destination_loc do |destination_form|
    = destination_form.label :address, t('.destination') + ":", :class => "input"
    = destination_form.text_field(:address, :class => "title_text_field", :maxlength => "48", :onchange => "geocoder.geocode({address: this.value}, showDestinationAddress); return false")
    = destination_form.hidden_field(:latitude)
    = destination_form.hidden_field(:longitude)

  #destination-map-canvas{:class => "map_canvas"}

  = form.hidden_field(:destination)
