= form.fields_for :listing_images do |builder|
  = builder.label :image, t('.image'), :class => "input"
  - if builder.object.new_record?
    = builder.file_field(:image, :class => "file_field")
  - else
    %div{:id => "listing_image_#{@listing.listing_images.first.id.to_s}"}
      = image_tag @listing.listing_images.first.image.url(:thumb)
      .remove_image_link
        = link_to t(".remove_image"), listing_image_path(@listing, @listing.listing_images.first), :method => :delete, :remote => true
    %div{:id => "listing_image_#{@listing.listing_images.first.id.to_s}_file_field", :style => "display: none;"}
      = builder.file_field(:image, :class => "file_field", :disabled => true)
        