= form.label :image, t('.image'), :class => "input"

.listing-images#image-uploader-container
  %script{type: "text/template", class: "template", id: "new-image-tmpl"}
    #fileupload.fileinput-button.upload-image-placeholder
      .fileupload-text-container
        .fileupload-centered-text
          .fileupload-text
          .fileupload-small-text
      %input.fileupload{type: "file", multiple: "multiple"}
      %img.fileupload-preview-image
      .fileupload-preview-remove-image
        = icon_tag("cross", ["icon-fix"])
      %input.listing-image-id{type: "hidden", name: "listing_images[][id]"}

= js_t ["listings.form.images.processing", "listings.form.images.this_may_take_a_while", "listings.form.images.percentage_loaded", "listings.form.images.uploading_failed", "listings.form.images.file_too_large", "listings.form.images.accepted_formats", "listings.form.images.loading_image", "listings.form.images.select_file", "listings.form.images.removing"], run_js_immediately

- content_for :image_uploader_js do
  :javascript
    $(function() {
      var opts = #{ListingImageS3OptionsJSAdapter.new(@listing).to_json}
      var listingsImages = #{ @listing.listing_images.map { |image| ListingImageJSAdapter.new(image) }.to_json }

      ST.imageUploader(listingsImages, opts);
    });

- if run_js_immediately
  = yield :image_uploader_js
- else
  - content_for :extra_javascript do
    = yield :image_uploader_js
