- if !rideshare
  = form.label :origin, t(".location"), :class => "input"
  = form.text_field :origin, :class => "text_field", :onkeyup => "timed_input(this)", :value => origin_loc.address
- else
  = form.label :origin, t(".origin") + "*", :class => "input"
  = form.text_field(:origin, :class => "title_text_field", :maxlength => "48",
                  :onkeyup => "timed_input_on_route()")
= form.fields_for :origin_loc do |loc|
  = loc.hidden_field :address, :value => origin_loc.address
  = loc.hidden_field :google_address, :value => origin_loc.google_address
  = loc.hidden_field :latitude, :value => origin_loc.latitude
  = loc.hidden_field :longitude, :value => origin_loc.longitude
  = loc.hidden_field :location_type, :value => origin_loc.location_type
  
