.price-container
  - if shape[:price_enabled]
    = form.label :price, t(".price")
    = form.text_field :price, :class => "price-field", :maxlength => "10", :placeholder => "0", :value => (@listing.price ? @listing.price.to_s: 0)
    = render partial: "listings/form/currency_selector", locals: {form: form}

    - if Maybe(shape)[:units][0][:type].or_else(nil) == :day
      .quantity-description= t(".per_day")

    - elsif @listing.transaction_type.price_quantity_placeholder?
      .quantity-description= t(".per")
      = form.text_field :quantity, :class => "quantity-field", :placeholder => t(".#{@listing.transaction_type.price_quantity_placeholder}")

    %small
      - paypal_fee_info_link = "<a href=# id='paypal_fee_info_link'>#{t(".paypal_fee_info_link_text")}</a>"
      = t(".price_excludes_vat", :vat => @current_community.vat) if @current_community.vat
      - if !seller_commission_in_use && payment_gateway == :paypal
        = t(".no_service_fee_you_will_get_paypal_text", :paypal_fee_info_link => paypal_fee_info_link).html_safe
      - elsif seller_commission_in_use
        - content_for :seller_commission_js do
          :javascript
            $(function() {
              updateSellerGetsValue(
                "#listing_price",
                "#fee_display",
                "#listing_currency",
                #{commission_from_seller},
                #{minimum_commission.format(decimal_mark: ".", symbol: false)},
                #{payment_gateway == :paypal});
            });
        - if run_js_immediately
          = yield :seller_commission_js
        - else
          - content_for :extra_javascript do
            = yield :seller_commission_js

        - if payment_gateway == :paypal
          = t(".after_service_fee_you_will_get_paypal_text", :sum_with_currency => '<span id="fee_display"></span>', :paypal_fee_info_link => paypal_fee_info_link).html_safe
        - elsif @current_community.vat
          = t(".after_service_fee_you_will_get_vat", :sum_with_currency => '<span id="fee_display"></span>').html_safe
        - else
          = t(".after_service_fee_you_will_get", :sum_with_currency => '<span id="fee_display"></span>').html_safe

- if payment_gateway == :paypal
  = render layout: "layouts/lightbox", locals: { id: "paypal_fee_info_content"} do
    %h2= t("common.paypal_fee_info.title")
    - text_with_line_breaks_html_safe do
      - link_to_paypal = link_to(t("common.paypal_fee_info.link_to_paypal_text"), "https://www.paypal.com/cgi-bin/marketingweb?cmd=_display-xborder-fees-outside")
      - if shape[:shipping_enabled]
        = t("common.paypal_fee_info.body_with_shipping_text", link_to_paypal: link_to_paypal).html_safe
      - else
        = t("common.paypal_fee_info.body_text", link_to_paypal: link_to_paypal).html_safe

  - if run_js_immediately
    :javascript
      $('#paypal_fee_info_link').click(function() { $('#paypal_fee_info_content').lightbox_me({centered: true, zIndex: 1000000}); });
  - else
    - content_for :extra_javascript do
      :javascript
        $('#paypal_fee_info_link').click(function() { $('#paypal_fee_info_content').lightbox_me({centered: true, zIndex: 1000000}); });

- if shape[:shipping_enabled]
  .delivery-options-container
    = field_set_tag t(".delivery"), class: "delivery-title" do
      .delivery-row-low
        .delivery-checkbox
          = check_box_tag "listing[delivery_methods][]", "shipping", @listing.require_shipping_address?, id: "shipping-checkbox", class: "delivery-method-checkbox required"
        .delivery-left-field
          = label_tag "shipping-checkbox", t(".shipping"), class: "shipping-options-label"
      .delivery-row-tall
        .delivery-left-field.shipping-price-container{class: @listing.require_shipping_address? ? "" : "hidden" }
          = form.label :shipping_price, t(".shipping_price"), class: "shipping-options-label"
          = form.text_field :shipping_price, class: "price-field", maxlength: 10, placeholder: 0, value: (@listing.shipping_price ? @listing.shipping_price.to_s: 0)
          = render partial: "listings/form/currency_selector", locals: {form: form}
      .delivery-row-low
        .delivery-checkbox
          = check_box_tag "listing[delivery_methods][]", "pickup", @listing.pickup_enabled?, id: "pickup-checkbox", class: "delivery-method-checkbox required"
        .delivery-left-field
          = label_tag "pickup-checkbox", t(".pickup"), class: "shipping-options-label"
