.price-container
  - if @listing.transaction_type.price_field?
    = form.label :price, t(".price") + "*"
    = form.text_field :price, :class => "price-field", :maxlength => "10", :placeholder => "0", :value => (@listing.price_cents ? @listing.price_cents.to_f / 100.to_f : 0)
    .currency-selector
      - if @current_community.available_currencies
        - currencies = @current_community.available_currencies.gsub(" ","").split(",")
        - if currencies.size > 1
          = form.select :currency, currencies, { :selected => (@listing.currency || currencies.first) }
        - else
          = Money.new(1, currencies[0]).symbol
          = form.hidden_field :currency, :value => currencies[0]
      - else
        = form.select :currency, major_currencies(Money::Currency.table), { :selected => (@listing.currency || "EUR") }

    - if @listing.transaction_type.price_per
      .quantity-description= t(".per_#{@listing.transaction_type.price_per}")

    - elsif @listing.transaction_type.price_quantity_placeholder?
      .quantity-description= t(".per")
      = form.text_field :quantity, :class => "quantity-field", :placeholder => t(".#{@listing.transaction_type.price_quantity_placeholder}")

    %small
      = t(".price_excludes_vat", :vat => @current_community.vat) if @current_community.vat
      - if seller_commission_in_use
        - content_for :seller_commission_js do
          :javascript
            $(function() {
              updateSellerGetsValue(
                "#listing_price",
                "#you-will-get",
                "#listing_currency",
                #{Maybe(@current_community).commission_from_seller.or_else(0)},
                #{minimum_commission});
            });
        - if run_js_immediately
          = yield :seller_commission_js
        - else
          - content_for :extra_javascript do
            = yield :seller_commission_js

        - if @current_community.vat
          = t(".after_service_fee_you_will_get_vat", :sum_with_currency => '<span id="you-will-get"></span>').html_safe
        - else
          = t(".after_service_fee_you_will_get", :sum_with_currency => '<span id="you-will-get"></span>').html_safe
