.price-container
  - if @community_category.price?
    = form.label :price, t(".price") + "*"
    = form.text_field :price, :class => "price-field", :maxlength => "10", :placeholder => "0", :value => (money_without_cents @listing.price || 0)
    .currency-selector
      - if @current_community.available_currencies
        - currencies = @current_community.available_currencies.split(",")
        - if currencies.size > 1
          = form.select :currency, currencies, { :selected => (@listing.currency || currencies.first) }
        - else
          = Money.new(1, currencies[0]).symbol
      - else
        = form.select :currency, major_currencies(Money::Currency.table), { :selected => (@listing.currency || "EUR") }
    - if @community_category.price_quantity_placeholder?
      .quantity-description= t(".per")
      = form.text_field :quantity, :class => "quantity-field", :placeholder => t(".#{@community_category.price_quantity_placeholder}")
    %small
      = t(".price_excludes_vat", :vat => @current_community.vat) if @current_community.vat
      = t(".service_fee_will_be_added", :fee => @current_community.commission_percentage) if @current_community.commission_percentage
  
