= form.hidden_field(:listing_type, :value => @listing.listing_type)
= form.hidden_field(:category, :value => @listing.category.name)
- if @listing.share_type && !@listing.share_type.name.blank?
  = form.hidden_field(:share_type, :value => @listing.share_type.name)
= form.button t(".save_#{@listing.listing_type}"), :class => "send_button"
  