= form.hidden_field(:category_id, :value => @listing.category_id)
= form.hidden_field(:listing_shape_id, :value => @listing.listing_shape_id)
- key = @listing_presenter.show_submit_for_review? ? t(".submit_for_review") : t(".save_listing")
= form.button key, :class => "send_button"

- if @listing_presenter.approval_in_use?
  - if @listing_presenter.show_submit_for_review?
    = render "layouts/info_text", text: t('.will_be_reviewed')
  - else
    = render "layouts/info_text", text: t('.we_noticed_youre_an_admin')

