<h2>Sign in</h2>

<% if person_signed_in? %>
  You are signed in as <%= current_person.email %>. <%= link_to "Sign out", people_sign_out_path, :method => :delete %>.
<% end %>

<%= form_for(resource, :as => resource_name, :url => "/fi/people/sign_in") do |f| %>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <!-- <div><%= f.label :email %><br />
  <%= f.email_field :email %></div> -->

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
