- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.listings.listings")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h2= t("admin.communities.listings.listings")

  %span#admin_listings_count= page_entries_info(@listings, :model => "Listing").html_safe

  %table#admin_listings
    %thead
      %tr
        %th= t("admin.communities.listings.headers.title")
        %th= t("admin.communities.listings.headers.author")
        %th
          = render partial: "layouts/sort_link", locals: { column: "started",
            direction: sort_link_direction("started"),
            title: t("admin.communities.listings.headers.created") }
        %th
          = render partial: "layouts/sort_link", locals: { column: "updated",
            direction: sort_link_direction("updated"),
            title: t("admin.communities.listings.headers.updated") }
        %th= t("admin.communities.listings.headers.category")
        %th= t("admin.communities.listings.headers.status")
        %th

    %tbody
      - @listings.each do |listing|
        %tr
          %td
            = link_to listing.title, listing_path(listing)
          %td
            - p = listing.author
            - if p.deleted
              = ''
            - else
              = link_to PersonViewUtils.person_display_name(p, @current_community), person_path(p.username)
          %td= l(listing.created_at, format: :short)
          %td= l(listing.updated_at, format: :short)
          %td
            - category = listing.category
            = link_to category.display_name(I18n.locale), search_path(category: category.url)
          %td
            - expired = listing.valid_until && listing.valid_until < DateTime.current
            - key = expired ? 'expired' : (listing.open? ? 'open' : 'closed')
            = t("admin.communities.listings.#{key}")
          %td
            = link_to edit_listing_path(listing) do
              = icon_tag("edit")

  .row
    .col-12
      = will_paginate @listings
