%h4 Tervetuloa Savonian #{service_name(:illative)}!
.welcome_text
  %p
    Tämä on Savonian oma #{service_name}, jossa opiskelijat ja henkilökunta voivat laittaa tarpeettomaksi käyneet tavarat kiertoon myymällä, lainaamalla, vuokraamalla tai antamalla. #{service_name(:inessive)} voi myös tarjota ja pyytää pieniä palveluksia ja järjestää kimppakyytejä, tai vaikka vuokrata opiskelija-asunnon.

  %p
    #{service_name(:partitive)} kehitetään jatkuvasti, joten jaa mieleentulevat parannusehdotukset ja muut palautteet palvelun kehittäjille antamalla
    = link_to("palautetta!", "#", :id => "give_feedback_link")