#{service_name} 是一个为各种不同群体提供便利的买卖，交换，互相帮助的网上平台。

在#{service_name}里你可以共享你的物品，或者请求好心人的帮助。资源共享不仅节约时间和金钱，利于环保，还能让你在你的群中更好的结识朋友。

您正在浏览#{@current_community.name}的sharetribe。您想建立自己的群吗？免费一分钟建立自己的群， = link_to("click here", "http://www.sharetribe.com/?ref=about") + "." 

 #{service_name}的源代码是开源的， 你可以把它安装到你的服务器上，如果感兴趣的话，欢迎参与开发。源代码链接 = link_to("here", "https://github.com/sharetribe/sharetribe") + "."  

 #{service_name}的创业团队

  #{service_name} 是由Sharetribe有限责任公司开发并维护的。该公司起始于2011年，三个创始人分别为 Juho Makkonen, Antti Virolainen 和 Niklas Begley。 如果您有任何一位，可以通过电子邮件联系我们，邮箱为 info@sharetribe.com 或者 名.姓@sharetribe.com.