%h3 Τι είναι το #{service_name}; 
 
%p  
  Το #{service_name} είναι μια υπηρεσία για να μοιράζεστε πόρους με άλλα άτομα στην κοινότητά σας. Με το #{service_name} είναι πολύ εύκολο να πουλάτε, να αγοράζετε, να δανείζετε ή να δανείζεστε αντικείμενα, να προσφέρετε βοήθεια, να βρίσκετε συγκάτοικους ή συνταξιδιώτες, στα πλαίσια της κοινότητάς σας: στο πανεπιστήμιο, το σχολείο, την εταιρία σας, το σύλλογό σας κλπ.
 
%p   
  Στο #{service_name} μπορείτε να καταχωρήσετε οτιδήποτε μπορείτε να μοιραστείτε ή οτιδήποτε χρειάζεστε και να βρείτε άτομα που μπορούν να σας βοηθήσουν. Με το να μοιραζόμαστε πόρους γλιτώνουμε χρόνο και χρήματα ενώ ταυτόχρονα ωφελούμε το περιβάλλον και γνωρίζουμε άλλα άτομα από την κοινότητά μας.

%p
  Αυτό είναι το sharetribe της κοινότητας #{@current_community.name}. Αν θέλετε να χρησιμοποιήσετε το sharetribe και στη δική σας κοινότητα μπορείτε να ξεκινήσετε 
  = link_to("εδώ", "http://www.sharetribe.gr") + ". Είναι δωρεάν και θα είστε έτοιμοι σε 1 λεπτό!"

%p
  Λατρεύουμε να μοιραζόμαστε! Το #{service_name} είναι λογισμικό ανοιχτού κώδικα και αυτό σημαίνει ότι οποιοσδήποτε μπορεί να κατεβάσει ελεύθερα τον κώδικα στον υπολογιστή του και να εγκαταστήσει το sharetribe, να τροποποιήσει τον κώδικα ή να συνεισφέρει στην ανάπτυξή του αν το επιθυμεί. Ο κώδικας είναι διαθέσιμος στο Github και μπορείτε να τον 
  = link_to("εδώ", "https://github.com/sharetribe/sharetribe") + "."

%h3 Ποιος είναι πίσω από το #{service_name};

%p
  Το #{service_name} το αναπτύσσει και το διαχειρίζεται η εταιρία Sharetribe Ltd. που ιδρύθηκε το 2011 από τρεις τύπους από τη Φινλανδία: το Juho Makkonen, τον Antti Virolainen και το Niklas Begley. Για οποιεσδήποτε απορίες μπορείτε να επικοινωνήσετε μαζί μας μέσω email στο team@sharetribe.com ή στο προσωπικό μας email της μορφής όνομα.επώνυμο@sharetribe.com.