%h3 Was ist #{service_name}? 
 
%p  
  #{service_name} ist ein Marktplatz der es Leuten ermöglicht Waren zu verleihen, zu vermieten, zu kaufen und zu verkaufen, Dienste auszutauschen, Mitfahrgelegenheiten und Unterkünfte zu organisieren, und dass alles mit Mitgliedern Ihrer lokalen Community - zum Beispiel  Universitätsgelände, Nachbarschaft, Unternehmen, Verbände oder Gemeinden.
   
%p   
  In #{service_name} können Sie anderen Leuten mitteilen was Sie mit Ihnen teilen möchten und Sie können nach Hilfe fragen wenn Sie es benötigen. Teilen spart Ihnen Zeit, Geld und hilft der Umwelt und ausserdem lernen Sie die Leute aus Ihrer Gesellschaft besser kennen.
   
%p   
  Zurzeit browsen Sie den sharetribe von  #{@current_community.name}. Möchten Sie einen Stamm für Ihre eigene Community erstellen? Es ist kostenlos und dauert nur eine Minute! Falls Sie mehr dazu wissen möchten, klicken Sie hier 
  = link_to("click here", "http://www.sharetribe.com/?ref=about") + "." 
 
%p 
  #{service_name} code ist open source, womit Sie es auf Ihrem eigenen Server installieren können und können so bei der Entwicklung mithelfen sofern Sie möchten. Sie finden den Code hier
  = link_to("here", "https://github.com/sharetribe/sharetribe") + "."  
 
%h3 Wer steckt hinter #{service_name}? 
 
%p 
  #{service_name} wird entwickelt und instand gehalten von Sharetribe Ltd, ein Unternehmen dass in 2011 von 3 Männern aus Finnland gegründet wurde: Juho Makkonen, Antti Virolainen und Niklas Begley. Falls Sie irgendwelche Fragen haben, so kontaktieren Sie uns per Email an: team@sharetribe.com oderr firstname.lastname@sharetribe.com.