%h3 What is #{service_name}?

%p 
  #{service_name} is a marketplace that makes it easy for people to lend, rent, buy and sell goods, exchange services and share rides and spaces with the members of their local community - university campus, neighborhood, company, association, congregation, you name it. 
  
%p  
  In #{service_name} you can let others know what you could share with them, and ask for help when you need it. Sharing saves your time and money and helps the environment, and you also get to know the people from your community better.
  
%p  
  You are currently browsing the sharetribe of #{@current_community.name}. Would you like to set up a tribe for your own community? It's free and only takes a minute! If you'd like to know more,  
  = link_to("click here", "http://www.sharetribe.com/?ref=about") + "."

%p
  #{service_name} code is open source, so you can also install it on your own server, and participate in the development if you wish. You can find the code
  = link_to("here", "https://github.com/sharetribe/sharetribe") + "." 

%h3 Who's behind #{service_name}?

%p
  #{service_name} is developed and maintained by Sharetribe Ltd, a company founded in 2011 by three guys from Finland: Juho Makkonen, Antti Virolainen and Niklas Begley. If you have any questions, you can contact us by email: team@sharetribe.com or firstname.lastname@sharetribe.com.