%h3 Τι είναι το #{service_name}; 
 
%p  
  Χάρη στο #{service_name} είναι πολύ εύκολο να πουλάς, να αγοράζεις και να δανείζεις αντικείμενα, να προσφέρεις βοήθεια σε άλλους, να βρίσκεις συνταξιδιώτες και γενικά να μοιράζεσαι καθημερινά πόρους μέσα σε μια κοινότητα. Οι χρήστες του #{service_name} μπορούν να προσφέρουν ο ένας στον άλλο αντικείμενα, βοήθεια, το όχημά τους ή διαμονή. 
 
%p   
  Σκοπός του #{service_name} είναι να δημιουργήσει για κάθε κοινότητα ένα κατάλογο από αντικείμενα και υπηρεσίες που μπορούν να προσφέρουν τα μέλη της έτσι ώστε να μειωθεί η ανάγκη τους να αγοράσουν αγαθά και υπηρεσίες εκτός αυτής. Έτσι, οι χρήστες του #{service_name} εκτός του ότι κάνουν οικονομία, κάνουν ταυτόχρονα καλό στο περιβάλλον. Επίσης, είναι ένας πολύ καλός τρόπος να γνωρίσετε άτομα στη γειτονιά σας ή την κοινότητά σας.

%h3 Για ποιον είναι το #{service_name};

%p
  Το #{service_name} είναι μια υπηρεσία για κοινότητες: σχολεία, πανεπιστήμια, πόλεις, εταιρίες, σύλλογοι κλπ. Αυτή τη στιγμή βλέπετε το #{service_name} της κοινότητας "#{@current_community.name.capitalize}".

%p
  Θα θέλατε να χρησιμοποιήσετε το #{service_name} με τα άτομα από το σχολείο, την πόλη, την εταιρία ή το σύλλογό σας; Διαβάστε περισσότερα στο
  = link_to "http://www.sharetribe.com", "http://www.sharetribe.com" 
  και αν θέλετε περισσότερες πληροφορίες για την υπηρεσία δώστε μας την ηλεκτρονική σας διεύθυνση χρησιμοποιώντας τη φόρμα στην ιστοσελίδα.

%h3 Ποιος είναι πίσω από το #{service_name};

%p
  Το #{service_name} έχει αναπτυχθεί στα πλαίσια του ερευνητικού προγράμματος
  = link_to("OtaSizzle", "http://sizl.org")
του Πανεπιστημίου του Aalto, στη Φινλανδία. Οι ερευνητές Antti Virolainen και Juho Makkonen είναι υπεύθυνοι για την ανάπτυξη της υπηρεσίας. Αν έχετε ερωτήσεις, σχόλια ή προτάσεις για το Κassi, παρακαλούμε να τις στείλετε στην ηλεκτρονική διεύθυνση info(παπάκι)sharetribe.com ή κατευθείαν στις ηλεκτρονικές διευθύνσεις του Antti ή του Juho, δηλαδή στο όνομα.επώνυμο@sharetribe.com.