%h3 Sharetribe  %

%p 
  #{service_name} est une place de marché qui permet facilement de prêter, emprunter, acheter et vendre des biens, échanger des services, organiser des covoiturages ou partager des lieux entre les membres d'une communauté locale - université ou campus, voisinage, entreprise, association... Tout est possible. 
  
%p  
  Sur #{service_name} vous proposez aux autres ce que vous pouvez partager avec eux et demandez de l'aide quand vous en avez besoin. Partager permet de faire des économies de temps, d'argent et de ressources naturelles. C'est aussi un très bon moyen pour faire la connaissance de nouvelles personnes.
  
%p  
  Vous êtes actuellement connecté à la tribu #{@current_community.name}. Voulez-vous créer une tribu pour une autre de vos communauté ? C'est gratuit et cela ne prend qu'un instant ! Si vous voulez en savoir plus,  
  = link_to("cliquez ici", "http://www.sharetribe.com/?ref=about") + "."

%p
  #{service_name} est open source et son code est accessible librement. Vous pouvez donc l'installer sur votre propre serveur ou participer au développement si vous le souhaitez. Vous pouvez voir le code
  = link_to("ici", "https://github.com/sharetribe/sharetribe") + "." 

%h3 Qui est derrière #{service_name} ?

%p
  #{service_name} est développé et maintenu par Sharetribe Ltd, une entreprise fondée en 2011 par trois finlandais : Juho Makkonen, Antti Virolainen et Niklas Begley. Si vous avez des questions, vous pouvez nous joindre par email : info@sharetribe.com ou en utilisant prenom.nom@sharetribe.com.