%h3 Что такое #{service_name}?

%p
  #{service_name} позволяет с лёгкостью продавать, покупать или одалживать на время вещи, оказывать услуги, организовывать совместное использование автомобилей — другими словами, совместно использовать ресурсы внутри местного сообщества - университета, компании, ассоциации, конгрегации, и т.п.
  
%p  
  Целью #{service_name} является создание местного каталога вещей и услуг для каждого сообщества, и, таким образом, снижение потребности в покупке товаров и услуг вне этого сообщества. Использование этого сервиса позволяет сохранить вам время и деньги, сохранить нашу планету, и, вместе с этим, это отличный способ познакомиться с другими людьми, живущими по соседству.

%p   
  Сейчас вы находитесь в сообществе #{@current_community.name}. Не хотели бы вы создать собственный сайт для своего собственного сообщества? Это бесплатно и займёт всего пару минут! Если вы хотите узнать больше,   
  = link_to("нажмите здесь", "http://www.sharetribe.com/?ref=about") + "." 
 
%p 
  Код #{service_name} является открытым, таким образом, вы можете установить его на свой собственный сервер и, если хотите, участвовать в разработке сервиса. Вы можете найти код проекта 
  = link_to("здесь", "https://github.com/sharetribe/sharetribe") + "."  
 

%h3 Кто стоит за #{service_name}?

%p
  #{service_name} был разработан и поддерживается компанией Sharetribe Ltd., основанной в 2011 году тремя парнями из Финляндии: Antti Virolainen (Антти Виролайнен), Juho Makkonen (Юхо Макконен) и Niklas Begley (Никлас Бегли). Если у вас имеются дополнительные вопросы, комментарии или отзывы относительно сервиса, направьте их на адрес team@sharetribe.com или на личные ящики разработчиков (имя.фамилия@sharetribe.com).