%h3 #{service_name} là gì?

%p 
  #{service_name} là nơi mà dễ dàng cho mọi người cho mượn, thuê, mua và bán hàng hóa, trao đổi các dịch vụ và cho đi nhờ xe và không gian với các thành viên trong cộng đồng họ sinh hoạt - trường đại học, hàng xóm, công ty,  
hiệp hội, tổ chức, bạn đặt tên. 
  
%p  
  Trong #{service_name} bạn có thể cho phép những người khác biết những gì bạn có thể chia sẻ với họ, và yêu cầu giúp đỡ khi bạn cần. Chia sẻ sẽ tiết kiệm thời gian và tiền bạc, và bạn cũng hiểu rõ hơn về cộng đồng của bạn.
  
%p  
  Hiện tại bạn đang viếng thăm sharetribe của #{@current_community.name}. Bạn có muốn thiết lập một cộng đồng của riêng bạn không? Sẽ miễn phí và bạn chỉ mất vài phút làm điều đó! Nếu bạn thích tìm hiểu thêm,  
  = link_to("click ở đây", "http://www.sharetribe.com/?ref=about") + "."

%p
  Mã nguồn #{service_name} là mã nguồn mở, do đó bạn cũng có thể cài đặt nó trên server của riêng bạn, và tham gia vào phát triển nếu bạn muốn. Bạn có thể tìm mã nguồn
  = link_to("ở đây", "https://github.com/sharetribe/sharetribe") + "." 

%h3 Ai đằng sau #{service_name}?

%p
  #{service_name} được phát triển và duy trì bởi công ty trách nhiệm hữu hạn Sharetribe, công ty này được thành lập vào năm 2011 bởi các thành viên đến từ Phần Lan: Juho Makkonen, Antti Virolainen and Niklas Begley. Nếu bạn có bất kỳ câu hỏi nào, bạn có thể liên lạc với chúng tôi thông qua địa chỉ email: team@sharetribe.com hoặc firstname.lastname@sharetribe.com.