.centered-section-wide.payment-form
  - payment_receiver = @conversation.other_party(@current_user)
  %h2= t(".new_payment")
  %p
    = t(".payment_receiver")

    = "#{link_to payment_receiver.name, payment_receiver}".html_safe

  = render :partial => @current_community.payment_gateway.form_template_dir + "/show"
