.centered-section.payment-form
  %h2= t(".new_payment", )
  %p 
    .payment-form-field-container
      .payment-form-label
        = t(".payment_receiver")
      .payment-form-field
        = link_to @conversation.other_party(@current_user).name, @conversation.other_party(@current_user)
  = form_tag({ :action => :choose_method, :controller => :payments}, :method => "get", :id => "payment_form") do
    .payment-form-field-container
      .payment-form-label
        = label_tag "sum", t(".sum"), :class => "inline"
      .payment-form-field
        = text_field_tag "sum", "", :value => money_without_cents(@conversation.listing.price), :class => "price-field"
        = @conversation.listing.price.symbol
    %small
      = t(".commission_will_be_added")
    .send-button
      = button_tag t(".continue")
    