.centered-section.payment-form
  %h2= t(".new_payment", )
  %p 
    .payment-form-field-container
      .payment-form-label
        = t(".payment_receiver")
      .payment-form-field
        = @payment.recipient_organization.name
        
        = "(#{link_to @conversation.other_party(@current_user).name, @conversation.other_party(@current_user)})".html_safe
        
    .payment-form-field-container
      .payment-form-label
        = t(".sum")
      .payment-form-field
        = money_without_cents(@payment.sum)
        = @conversation.listing.price_symbol
  = form_tag("https://payment.checkout.fi/", :method => "post", :id => "payment_form") do
    .payment-form-field-container
    
      -# Include payment data as hidden fields. The MAC takes care people can't modify values before POST
      - @payment_data.each do |key, value|
        = hidden_field_tag key, value
    %small
      = t(".commission_will_be_added")
    .send-button
      = button_tag t(".continue"), :id => "continue_payment"
    