.centered-section-wide.payment-form
  %h2= t(".new_payment", )
  %p 
    = t(".payment_receiver")
    
    = @payment.recipient_organization.name if @payment.recipient_organization
        
    = "(#{link_to @conversation.other_party(@current_user).name, @conversation.other_party(@current_user)})".html_safe
    
  = render :partial => @current_community.payment_gateways.first.form_template_dir + "/show"
  
  - if @current_community.payment_gateways.include?(Mangopay.first)
    %br
    %br
    = image_tag("/assets/payments/Mango-Frise1.png")


    