- content_for :javascript do
  initialize_user_feedback_form("#{I18n.locale}");

- content_for :title_header do
  %h1= t("layouts.no_tribe.feedback")

- if has_admin_rights
  %p= render :partial => "layouts/info_text", :locals => { :text => t("layouts.application.dont_use_to_contact_support") }

.new-feedback-form.centered-section
  = form_for feedback_form, :url => user_feedbacks_path do |form|
    - unless email_present
      = form.label :email, t("layouts.application.your_email_address")
      = form.text_field :email
    = form.label :title, "You should not see this field, if CSS is working.", :class => "unwanted_text_field"
    = form.text_field :title, :class => "unwanted_text_field", :id => "error_feedback_unwanted_title"
    = form.label :content, t("layouts.application.feedback")
    = form.text_area :content
    = form.hidden_field :url, :value => request.headers["HTTP_REFERER"] || request.original_url
    = form.button t("layouts.application.send_feedback_to_admin")
