<div class="search_header">
  <div class="left_float">
    <%= t(:favors) %> (<%= @favors.total_hits %>)
  </div>
  <div class="right_float">
    <%= link_to t(:show_all), search_favors_path(:q => params[:qa]) %>
  </div>    
</div>

<% if @favors && @favors.size > 0 %>
  <%= render :partial => "favors/searched_favor", :collection => @favors, :as => :favor, :spacer_template => "layouts/dashed_line" %>
<% else %>
 <p><%= t(:no_favors) %></p>
<% end %>