<div class="search_header">
  <div class="left_float">
    <%= t(:groups_title) %> (<%= @group_amount %>)
  </div>
  <div class="right_float">
    <%= link_to t(:show_all), search_groups_path(:q => params[:qa]) %>
  </div>    
</div>

<% if (@groups.size > 0)%>
  <% collection = (@groups.size > 2) ? @groups.values_at(0,1) : @groups %>
  <%= render :partial => "groups/group", 
             :collection => collection, 
             :as => :group, 
             :spacer_template => "layouts/dashed_line" %>
<% else %>
  <p><%= t(:no_groups) %></p>
<% end %>