<div class="search_header">
  <div class="left_float">
    <%= t(:listings) %> (<%= @listing_amount %>)
  </div>
  <div class="right_float">
    <%= link_to t(:show_all), search_listings_path(:q => params[:qa], :only_open => "true") %>
  </div>    
</div>

<% if @listings && @listings.size > 0 %>
<table class="listing"> 
<%= render :partial => "listings/listing", :collection => @listings, :spacer_template => "layouts/dashed_line" %>
</table>
<% else %>
 <p><%= t(:no_listings) %></p>
<% end %>