<div class="search_results_header">
<div class="search_results_title">
  <%= t(:listings) %> (<%= @listings.total_hits %>)
</div>
<div class="search_results_header_right">
  <%= link_to t(:show_all), search_listings_path(:q => params[:qa]) %>
</div >
</div>

<% if @listings && @listings.size > 0 %>
<table class="listing"> 
<%= render :partial => "listings/listing", :collection => @listings %>
</table>

<% else %>
 <p><%= t(:search_returned_no_hits) %></p>
<% end %>
<br />
<br />