<h1><%= t(:search_results_for_search_term) + " " + params[:qa] %></h1>

<br />

<%= render :partial => "listings" %>

<br />

<%= render :partial => "items" %>

<br />

<%= render :partial => "favors" %>

<br />

<%= render :partial => "people"%>



