%h3= t("homepage.blank_slate.examples_of_what_you_could_#{slate_type}_to_others")
%p
  %b= t("homepage.blank_slate.items_to_#{slate_type}")
  = t("homepage.blank_slate.item_#{slate_type}_list")
%p
  %b= t("homepage.blank_slate.favors_to_#{slate_type}")
  = t("homepage.blank_slate.favor_#{slate_type}_list")
%p
  %b= t("homepage.blank_slate.ride_#{slate_type}")