<a name="<%= comment.id.to_s %>"></a>
<div class="listed_object">
  <div class="listed_object_person_image">
    <%= small_avatar_thumb(comment.author) %>
  </div>
  <div class="listed_comment_center">
    <div class="listed_comment_paragraph">
      <b><%= link_to comment.author.name(session[:cookie]), comment.author %></b>
    </div>
    <div class="listed_comment_paragraph">
      <%= comment.created_at.to_formatted_s(:basic_date_format_minutes) %>
    </div>    
  </div>
  <div class="listed_comment_right">
    <div class="listed_comment_paragraph">
      <%= text_with_line_breaks(comment.content) %>
    </div>  
  </div>     
</div>