<a name="<%= item_title.downcase %>"></a>
<% if params[:id] && params[:id].downcase.eql?(item_title.downcase) %>
  <div class="item_owners">
    <div class="selected_item_title">
      <div class="left_float">
        <b>
          <%= link_to h(item_title), items_path %> - 
          <%= pluralize @items.size, t(:owner), t(:owner_partitive) %>
        </b>
      </div>
      <div class="right_float"></div>    
    </div>  
    <div class="solid_line"></div>
    <%= render :partial => "item_owner", :collection => @items, :as => :item, :spacer_template => "layouts/dashed_line" %>
  </div>
<% else %>
  <div class="item_title">
    <b><%= link_to h(item_title), item_path(item_title.downcase) + "#" + item_title.downcase %></b>
  </div>
<% end %>  