<div class="listed_object">
  <div class="listed_object_person_image">
    <%= small_avatar_thumb(item.owner) %>
  </div>
  <div class="listed_item_owner_center">
    <div class="listed_object_title">
      <%= link_to item.owner.name(session[:cookie]), item.owner %>
    </div>
    <div class="item_description">
      <div class="item_description_field_item">
        <b><%= t(:item_amount) %></b>: <%= item.amount.to_s %>
      </div>
      <div class="item_description_field_item">
        <% if item.description && !item.description.eql?("") %>
          <%= text_with_line_breaks(item.description) %>
        <% else %>
          <%=  t(:no_description) %>
        <% end %>
      </div>
    </div>     
  </div>
  <div class="listed_item_owner_right">
    <% unless is_current_user?(item.owner) %>
      <% if has_address?(item.owner) %>
        <div class="listed_item_owner_right_link">
          <%= link_to t(:show_on_map), map_item_path(item) %>
        </div>
      <% end %>  
      <div class="listed_item_owner_right_link">
        <%= link_to t(:borrow) + " " + item.title.downcase, borrow_person_item_path(item.owner, item) %>
      </div>  
      <div class="listed_item_owner_right_link">
        <%= link_to t(:i_have_borrowed_this_item), thank_for_person_item_path(item.owner, item) %>
      </div>
    <% end %>
  </div>
</div>