<% remote_form_for @item, :url => @form_path, :method => @method do |f| %>
  <%= f.hidden_field :owner_id, :value => @current_user.id %>
  <div class="profile_add_item_form_container">
    <div class="profile_add_item_form_left">
      <%= t(:title) %>:
    </div>
    <div class="profile_add_item_form_right">  
      <%= text_field_with_auto_complete :item, 
                                        :title, 
                                        { :class => "add_item_form" }, 
                                        { 
                                          :url => formatted_search_by_title_items_path(:js), 
                                          :method => :get, 
                                          :with => "'search=' + element.value" 
                                        } %>
    </div>
  </div>
  <div class="profile_add_item_form_container">
    <div class="profile_add_item_form_left">
      <%= t(:description) %>:
    </div>  
    <div class="profile_add_item_form_right">
      <%= f.text_area :description, :class => "add_item_form" %>
    </div>
  </div>
  <div class="profile_add_item_form_container">
    <div class="profile_add_item_form_left">
      <%= t(:item_amount) %>:
    </div>  
    <div class="profile_add_item_form_right">
      <%= f.text_field :amount, :class => "add_item_form" %>
    </div>
  </div>
  <%= render :partial => "layouts/visibility_form", :locals => { :form_type => "item", :object => @item } %>
  <div class="profile_add_item_form_container">
    <div class="profile_add_item_form_right">
      <%= submit_tag t(:save) %> &nbsp;
      <%= submit_to_remote 'cancel_button', t(:cancel), :url => @cancel_path, :method => :get %>
    </div>
  </div>
<% end %>