<% if @items.size > 1 %>
  <h1><%= t(:borrow) + " " + t(:items_partitive) + " " + t(:from_user) + " " + @person.name %></h1>
<% else %>
  <h1><%= t(:borrow) + " " + h(@items.first.title).downcase + " " + t(:from_user) + " " + @person.name %></h1>
<% end %>

<p>
  <%= link_to t(:view_other_items_from_this_user), person_path(@person) + "#items" %> | 
  <%= link_to t(:view_this_users_kassi_events), person_kassi_events_path(@person) %>
</p>  

<% item_string = @items.collect { |item| h(item.title) }.join(", ") %>  

<% form_for @conversation, :url => person_inbox_index_path(@current_user) do |f| %>
  <% if @conversation.errors.size > 0 %>
    <br />
    <%= f.error_messages %>
  <% end %>  
  <%= hidden_field_tag  "conversation[title]", t(:i_want_to_borrow_this_item) + ": " + truncate(item_string, :omission => "...", :length => 80) %>
  <%= hidden_field_tag "conversation[type]", "Reservation" %>
  <%= hidden_field_tag "conversation[status]", "pending_owner" %>
  <%= hidden_field_tag "conversation[conversation_participants][]", @person.id %>
  <%= hidden_field_tag "conversation[conversation_participants][]", @current_user.id %>
  <%= hidden_field_tag "receiver", params[:receiver] %>
  <%= hidden_field_tag "return_to", params[:return_to] %>

  <%= render :partial => "reservations/edit_reservation_details" %>



<% end %>