<h1><%= t(:items_to_borrow) %></h1>

<div class="links_panel">
  <div class="left_float">
    <% @letters.each do |letter| %>
  	 <b><%= link_to letter, "##{letter}" %></b>
  	 <%= " | " unless letter.equal?(@letters[-1]) %>
    <% end %>
  </div>
</div>

<div id="item_content">	
  <% if @item_titles.size > 0 %>
  <% @letters.each do |key| %>
	<%if !@item_title_hash[key].empty?%>
		<div class="letter_header">
	  	<a name = "<%=key%>"></a>
	  	<%= key.upcase %>
		</div>
  	<%= render :partial => "item_title", :collection => @item_title_hash[key], :as => :item_title%>
		<%end%>
	<%end%>
  <% else %>
  	<h3><%= t(:no_items) %></h3>
  <% end %>
</div>