<h1><%= @title %></h1>

<br />

<% if @map %>
  <% content_for :head do %>
    <%= GMap.header %>
    <%= @map.to_html %>  
  <% end %>
  <%= link_to t(:to_item_view), items_path %>
  <br /> <br />
  <% if params[:size] %>
    <%= @map.div(:width => 960, :height => 600) %>
  <% else %>  
    <%= @map.div(:width => 720, :height => 500) %>
  <% end %>  
<% else %>
  <%= link_to t(:to_item_view), items_path %>
<% end %>  
  
  


