.row.top-level-category-row
  .col-10.listed-category-col
    .row{:id => "top-level-category-#{category.display_name(I18n.locale).squish.downcase.tr(" ","_")}"}
      .col-12.listed-category-col
        = category.display_name(I18n.locale)
    - unless category.children.empty?
      = render :partial => "listed_subcategory", :collection => category.children, :as => :subcategory
  .col-2.listed-category-col
    = link_to edit_admin_category_path(category), :class => "custom-fields-action-edit", :id => "edit_category_#{category.id}" do
      = icon_tag("edit", ["icon-fix"])
