- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t(".listing_categories")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  #categories-list
    = render :partial => "listed_top_level_category", :collection => @categories, :as => :category
  .row
    = link_to t(".create_a_new_category"), new_admin_category_path