- content_for :javascript do
  initialize_admin_category_form_view("#{I18n.locale}", "#new_category");

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t(".new_listing_category")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  = form_for [:admin, @category] do |form|
    = render :partial => "admin/categories/form/category_name", :locals => { :form => form }
    = render :partial => "admin/categories/form/category_parent", :locals => { :form => form }
    = render :partial => "admin/categories/form/category_transaction_types", :locals => { :form => form }
    = render :partial => "admin/categories/form/buttons", :locals => { :form => form }
