- content_for :javascript do
  ST.CustomFields.initForm({
  locale: '#{I18n.locale}',
  option_count: #{presenter.custom_field.options.size},
  min_count: #{presenter.min_option_count}
  });

- custom_field = presenter.custom_field
- path = presenter.edit? ? admin_person_custom_field_path(custom_field) : admin_person_custom_fields_path(:field_type => custom_field.type)
= form_for custom_field, as: :custom_field, url: path, html: {id: 'custom_field_form'} do |form|
  = render 'admin/person_custom_fields/form/field_name', form: form, presenter: presenter
  = render 'admin/person_custom_fields/form/field_required', form: form, presenter: presenter
  - custom_field.with(:numeric) do
    = render 'admin/person_custom_fields/form/field_min_max', form: form, presenter: presenter
  - custom_field.with(:dropdown) do
    = render 'admin/person_custom_fields/form/field_options', form: form, presenter: presenter
  - custom_field.with(:checkbox) do
    = render 'admin/person_custom_fields/form/field_options', form: form, presenter: presenter
  = render 'admin/person_custom_fields/form/buttons', form: form, presenter: presenter
