- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t(".edit_user_field", :field_name => @service.custom_field.name(I18n.locale))

= render "admin/left_hand_navigation", links: admin_links_for(@current_community)

.left-navi-section
  = render 'form', service: @service

