= link_to notification.notifiable.author.given_name_or_username, notification.notifiable.author
= t(".has_commented")
= link_to t(".your_#{notification.notifiable.listing.listing_type}"), listing_path(notification.notifiable.listing) + "#comment#{notification.notifiable.id.to_s}"