= link_to notification.testimonial.author.name, notification.testimonial.author
= t(".has_given_you_feedback_on_event")
= link_to(notification.testimonial.participation.conversation.title, person_message_path(:person_id => @current_user.id, :id => notification.testimonial.participation.conversation.id)) + "."
- if notification.testimonial.receiver.can_give_feedback_on?(notification.testimonial.participation.conversation)
  = link_to(t(".give_feedback_to", :name => notification.testimonial.author.given_name_or_username), new_person_message_feedback_path(:person_id => @current_user.id, :message_id => notification.testimonial.participation.conversation.id.to_s))
  = t("common.or")
  = link_to(t(".see_all_the_feedback_you_have_received"), person_testimonials_path(:person_id => @current_user.id)) + "."
- else
  = link_to(t(".see_all_the_feedback_you_have_received").capitalize, person_testimonials_path(:person_id => @current_user.id)) + "."