= javascript_include_tag "https://js.stripe.com/v3/"

- if stripe_shipping_required
  %h4= t(".address")
  .row
    .col-4
      %label= t(".address_country")
    .col-8
      = select_tag 'shipping_address[country_code]', options_for_select(StripeService::Store::StripeAccount::COUNTRY_NAMES), {}
  .row
    .col-4
      %label= t(".address_state")
    .col-8
      = text_field_tag 'shipping_address[state]', '', class: 'required'
  .row
    .col-4
      %label= t(".address_city")
    .col-8
      = text_field_tag 'shipping_address[city]', '', class: 'required'
  .row
    .col-4
      %label= t(".address_postal_code")
    .col-8
      = text_field_tag 'shipping_address[postal_code]', '', class: 'required'
  .row
    .col-4
      %label= t(".address_street1")
    .col-8
      = text_field_tag 'shipping_address[street1]', '', class: 'required'
  .row
    .col-4
      %label= t(".address_name")
    .col-4
      = text_field_tag 'shipping_address[name]', '', class: 'required'
  .row
    .col-4
      %label= t(".address_phone")
    .col-8
      = text_field_tag 'shipping_address[phone]', '', class: 'required'

- if stripe_customer && stripe_customer[:stripe_source_info].present? && !stripe_hide_stored_cards
  = image_tag 'stripe_logo.png'
  = button_tag t("stripe_accounts.pay_with_stripe", card: stripe_customer[:stripe_source_info]), id: "stripe-checkout-button", class: 'checkout-with-stripe-button'


.form-row
  .row
    .col-12
      #card-element
      #card-errors{role: "alert"}
    .col-12
      = button_tag t("stripe_accounts.add_and_pay"), id: "send-add-card", class: 'checkout-with-stripe-button'


- content_for :extra_javascript do
  :javascript
    var stripe = Stripe("#{publishable_key}");
    var elements = stripe.elements();
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '24px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };
    var card = elements.create('card', {style: style});
    card.mount('#card-element');
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    $("#send-add-card").on('click', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          var input = $("<input/>", {type: "hidden", name: "stripe_token", value: result.token.id});
          $("#transaction-form").append(input);
          $("#transaction-form").submit();
        }
      });
    });
