.row
  .col-12
    .checkbox-container
      = check_box_tag :contract_agreed, "1", false, class: "required"
      %label
        = @community_customization.transaction_agreement_label
        = link_to(t(".read_more"), "#", id: "transaction-agreement-read-more").html_safe

= render layout: "layouts/lightbox", locals: { id: "transaction-agreement-content"} do
  - text_with_line_breaks do
    = @community_customization.transaction_agreement_content.html_safe
