- content_for :javascript do
  initialize_send_message_form('#{I18n.locale}');

#new_message_form.centered-section

  %h2
    = t("conversations.new.send_message_to_user", :person => link_to(PersonViewUtils.person_display_name_for_type(@listing.author, "first_name_only"), @listing.author)).html_safe

  = form_for contact_form, :url => create_contact do |form|

    = form.label :content, t("conversations.new.message")
    = form.text_area :content, :class => "text_area"
    = form.hidden_field :sender_id, :value => @current_user.id

    = form.hidden_field :listing_id, :value => @listing.id
    = form.hidden_field :community_id, :value => @current_community.id
    = form.button t("conversations.new.send_message"), :class => "send_button"
