- content_for :javascript do
  initialize_send_message_form('#{I18n.locale}', '#{Listing.opposite_type(@listing.direction)}');

#new_message_form.centered-section

  %h2
    - if contact || @listing.transaction_type.is_inquiry?
      = t("conversations.new.send_message_to_user", :person => link_to(@listing.author.given_name_or_username, @listing.author)).html_safe
    - else
      = @listing.transaction_type.action_button_label(I18n.locale)
      = link_to(@listing.title, @listing)

  = form_for contact_form, :url => create_contact do |form|

    = form.label :content, t("conversations.new.message")
    = form.text_area :content, :class => "text_area"
    = form.hidden_field :sender_id, :value => @current_user.id

    = form.hidden_field :listing_id, :value => @listing.id
    = form.hidden_field :community_id, :value => @current_community.id
    = form.button t("conversations.new.send_message"), :class => "send_button"
