- content_for :javascript do
  initialize_send_message_form('#{I18n.locale}');
  ST.transaction.initializePayPalBuyForm("transaction-form");

- content_for :extra_javascript do
  :javascript
    $('#transaction-agreement-read-more').click(function() { $('#transaction-agreement-content').lightbox_me({centered: true, zIndex: 1000000}); });

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing[:title], listing_path(listing[:id]))

#new_message_form.centered-section

  - author_link = link_to(author[:display_name], person_path(id: author[:username]))

  .preauthorize-section
    %h2.preauthorize-details-title
      = t("listing_conversations.preauthorize.details")

    %ul.no-bullets
      %li
        %div
          = t("listing_conversations.preauthorize.by", listing: link_to("#{listing[:title]}", listing_path(listing[:id])), author: author_link).html_safe

      -# TODO Fix this, no respond_to?
      - if preauthorize_form.respond_to?(:start_on) && preauthorize_form.respond_to?(:end_on)
        %li
          %div
            = l preauthorize_form.start_on, format: :long_with_abbr_day_name
            = "-"
            = l preauthorize_form.end_on, format: :long_with_abbr_day_name
            = "(#{pluralize(duration, t("listing_conversations.preauthorize.day"), t("listing_conversations.preauthorize.days"))})"

        %li
          %div
            = t("listing_conversations.preauthorize.price_per_day", price: humanized_money_with_symbol(listing[:price]))

      %li
        - if delivery_method == :shipping
          .initiate-transaction-totals
            .initiate-transaction-sum-wrapper
              %span.initiate-transaction-sum-label
                = t("transactions.initiate.subtotal")
              %span.initiate-transaction-sum-value
                = humanized_money_with_symbol(subtotal)
            .initiate-transaction-shipping-price-wrapper
              %span.initiate-transaction-shipping-price-label
                = t("transactions.initiate.shipping-price")
              %span.initiate-transaction-shipping-price-value
                = humanized_money_with_symbol(listing[:shipping_price])
            .initiate-transaction-total-wrapper
              %span.initiate-transaction-total-label
                = t("transactions.initiate.total")
              %span.initiate-transaction-total-value
                = humanized_money_with_symbol(sum)
        - else
          %div
            %strong
              = t("conversations.show.total", total: humanized_money_with_symbol(sum))

  = form_for preauthorize_form,
    :url => form_action,
      :method => "post",
      :html => { :id => "transaction-form" } do |form|

    -# TODO Fix this, no respond_to?
    - if preauthorize_form.respond_to?(:start_on) && preauthorize_form.respond_to?(:end_on)
      = form.date_select :start_on, discard_day: true, discard_month: true, discard_year: true, default: preauthorize_form.start_on
      = form.date_select :end_on, discard_day: true, discard_month: true, discard_year: true, default: preauthorize_form.end_on

    .preauthorize-section
      %h2
        = t("conversations.new.optional_message_to", author_name: author_link).html_safe

      .row
        .col-12
          = form.text_area :content, :class => "text_area"
          = form.hidden_field :sender_id, :value => @current_user.id

      - if @current_community.transaction_agreement_in_use
        = render :partial => "listing_conversations/transaction_agreement_checkbox", locals: { form: form }

      - if delivery_method
        = form.hidden_field :delivery_method, value: delivery_method

      .row
        .col-12.paypal-button-wrapper
          = form.button t("paypal.pay_with_paypal"), class: "checkout-with-paypal-button"

      .row
        .col-12
          = render :partial => "listing_conversations/paypal_payment_methods", locals: { country_code: @current_community.country }

      .row
        .col-12
          %p
            = t("listing_conversations.preauthorize.you_will_be_charged", author: author_link, expiration_period: expiration_period).html_safe

  %noscript
    = "For security reasons JavaScript has to be enabled"
