- content_for :extra_javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v1/braintree.js"

- content_for :extra_javascript do
  :javascript

    $(document).ready(function() {
      debugger;
      var braintreePaymentForm = $("#braintree-payment-form");
      initialize_braintree_payment_form("#{I18n.locale}", function beforeSubmit(next) {
        debugger;
        var braintree = Braintree.create("#{@braintree_client_side_encryption_key}");
        braintree.encryptForm(braintreePaymentForm);
        next();
      });

      braintreePaymentForm.show();
    });

- listing = @listing_conversation.listing

- content_for :javascript do
  initialize_send_message_form('#{I18n.locale}', '#{Listing.opposite_type(listing.direction)}');

- action_button_label = listing.transaction_type.action_button_label(I18n.locale)

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing.title, listing)

#new_message_form.centered-section

  - author_link = link_to(@listing_conversation.author.name, @listing_conversation.author)

  .preauthorize-section
    %h2.preauthorize-details-title
      = t(".details")

    %ul.no-bullets
      %li
        %div
          = t(".by", listing: link_to("#{@listing_conversation.listing.title}", @listing_conversation.listing), author: author_link).html_safe

      %li
        %div
          %strong
            - price = @listing_conversation.listing.price
            = t("conversations.show.total", total: humanized_money_with_symbol(price))

  = form_for @listing_conversation,
    :url => preauthorized_person_listing_listing_conversations_path(@current_user.id,
      @listing_conversation.listing.id),
      :method => "post",
      :html => { :id => "braintree-payment-form", :class => "hidden" } do |form|

    .preauthorize-section
      %h2
        = t(".payment")

      = fields_for :braintree_payment do |payment_form|
        .row
          .col-12
            = payment_form.text_field :cardholder_name, :class => :text_field, :placeholder => t("braintree_payments.edit.cardholder_name"), :data => { :'encrypted-name' => "braintree_payment[cardholder_name]" }

        .row
          .col-9
            = payment_form.text_field :credit_card_number, :class => :text_field, :placeholder => t("braintree_payments.edit.credit_card_number"), :data => { :'encrypted-name' => "braintree_payment[credit_card_number]"}

          .col-3
            = payment_form.text_field :cvv, :class => :text_field, :maxlength => 4, :placeholder => t("braintree_payments.edit.cvv"), :data => { :'encrypted-name' => "braintree_payment[cvv]"}

        .row
          .col-12
            = payment_form.label :credit_card_expiration_month, t(".exp"), :class => "preauthorize-exp"
            = select_tag :credit_card_expiration_month, options_for_select(credit_card_expiration_month_options), :data => { :'encrypted-name' => "braintree_payment[credit_card_expiration_month]" }
            = " / "
            = select_tag :credit_card_expiration_month, options_for_select(credit_card_expiration_year_options), :data => { :'encrypted-name' => "braintree_payment[credit_card_expiration_year]" }

    .preauthorize-section
      %h2
        = t("conversations.new.optional_message_to", author_name: link_to(listing.author.name, listing.author)).html_safe

      = fields_for "listing_conversation[message_attributes]", Message.new do |message_form|
        .row
          .col-12
            = message_form.text_area :content, :class => "text_area"
            = message_form.hidden_field :sender_id, :value => @current_user.id

        .row
          .col-12
            = form.button t("braintree_payments.edit.confirm_payment"), :class => "send_button"

      .row
        .col-12
          - automatic_confirmation = @current_community.automatic_confirmation_after_days
          %p
            = t(".you_will_be_charged", author: author_link).html_safe

  %noscript
    = "For security reasons JavaScript has to be enabled"
