<h1><%= @person.name(session[:cookie]) %></h1>

<div class="links_panel">
  <div class="left_float">
    <%= get_profile_navi_items(params[:person_id]) %>
  </div>
  <div class="right_float">
    <% unless @person.id == @current_user.id %>
      <%= link_to t(:send_message_to_user), send_message_person_path(@person) %> |
      <%= get_friend_status_link(@person) %>
    <% end %>  
  </div>  
</div>

<script type="text/javascript">
        function handleResponse() {
               alert("Hola!");
        }
</script>
<form  target="upload_frame" action="<%= COS_URL %>/people/<%= @person.id %>/@avatar" method="post" enctype="multipart/form-data" name="avatar_form" id="avatar_form">
  <fieldset>
    <legend>
      <%= t(:upload_avatar) %>
    </legend>
    <div class="form_extra_padding">
    <div class="form_container">
      <div class="form_left">
        <%= t(:image_file) %>:
      </div>
      <div class="form_right">
        <input name="_method" class="upload_pic" value="PUT" type="hidden">                    
        <input name="file" id="avatar_file" type="file">
      </div>
    </div>  
    <div class="form_container">
      <div class="form_right">
        <%= submit_tag t(:add_avatar_submit), :onclick => "this.disabled=true,this.form.submit();" %>  
      </div>
    </div>
  </fieldset>
</form>
<!--
<% form_for :avatar, :url => person_avatar_path(@person) do |f| %>
  <%= submit_tag t(:cancel), :name => "avatar[cancel]" %>
<% end %>
-->
<iframe id="upload_frame" name="upload_frame" style="display: none"></iframe>
