- content_for :javascript do
  ST.FooterSocial.init();

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.footer.footer")

= render "admin/left_hand_navigation", links: admin_links_for(@current_community)

.left-navi-section
  %h2= t("admin.communities.footer.footer")
  = form_for @service.community, url: admin_footer_social_path, method: :patch,
    html: {id: "footer-social-form"} do |form|
    %h3= t("admin.communities.footer_social.social_links")
    #menu-links-table
      .row.topbar-menu-container-padding.visible-tablet
        .col-10
          .col-6
            = label_tag do
              = t("admin.communities.footer_social.title")
          .col-6
            = label_tag do
              = t("admin.communities.footer_social.url")

    .row#menu-links
      - @service.social_links.each do |social_link|
        = form.fields_for :social_links, social_link do |fields|
          = render "social_link", f: fields

    .row
      .col-12
        = form.button t("admin.communities.footer_social.save")
