%h3= t("homepage.blank_slate.examples_of_what_you_could_#{slate_type}_to_others")
- if slate_type == "request"
  %p
    %b= t("homepage.blank_slate.items_to_#{slate_type}")
    tools, sports equipment, computer accessories, travel gear
  %p
    %b= t("homepage.blank_slate.favors_to_#{slate_type}")
    translations, local contacts, travel tips
  %p
    %b Ask for apartments or travel company to explore Chile
- else
  %p
    %b= t("homepage.blank_slate.items_to_#{slate_type}")
    books, tools, travel guides, backpacks, household items
  %p
    %b= t("homepage.blank_slate.favors_to_#{slate_type}")
    computer assistance, clothes repair, bike fixing, city touring
  %p
    %b Share a ride if you rent a car and post tips about apartments before leaving