.conversation-price.accept-price{:class => (@action.eql?("accept") ? "" : "hidden")}
  %h3 Laskutus
  %p Painaessasi "lähetä" alla oleva lasku lähetetään ostajalle. Ostaja voi maksaa laskun suoraan järjestelmän kautta.
  = fields_for "listing_conversation[payment_attributes]", @payment do |payment_form|
    = payment_form.hidden_field :community_id, :value => @current_community.id
    - @payment.initialize_rows(@current_community)
    .payment-row-headings.bottom-border
      .payment-row-heading.payment-row-title-heading
        Tuote
      .payment-row-heading.payment-row-sum-heading
        Hinta (alv 0)
      .payment-row-heading.payment-row-vat-heading
        Alv
      .payment-row-heading.payment-row-total-heading
        Hinta yhteensä
    - @payment.rows.each_with_index do |row, index|
      = render :partial => "payments/complex_form/payment_row", :locals => { :row => row, :index => index, :values => ((index == 0) ? {:title => @listing_conversation.listing.title, :sum => @listing_conversation.listing.price} : {:title => "", :sum => 0})}

    .payment-row.payment-text-row.bottom-border
      .payment-row-title-text.payment-row-text
        Palvelumaksu (#{@current_community.name('fi')})

      #service-fee-sum.payment-row-sum-text.payment-row-text

      #service-fee-vat.payment-row-vat-text.payment-row-text
        = APP_CONFIG.service_fee_tax_percentage if @current_community.vat
        = "%"

      #service-fee-total.payment-row-total-text.payment-row-text

    .payment-row.payment-text-row.payment-sum-row
      .payment-row-title-text.payment-row-text
        Saat yhteensä

      .payment-row-sum-text.payment-row-text

      .payment-row-vat-text.payment-row-text

      #total.payment-row-total-text.payment-row-text
