.payment-row-headings.bottom-border
  .payment-row-heading.payment-row-title-heading
    Tuote
  .payment-row-heading.payment-row-sum-heading
    Hinta (alv 0)
  .payment-row-heading.payment-row-vat-heading
    Alv
  .payment-row-heading.payment-row-total-heading
    Hinta yhteensä

= render :partial => "payments/complex_form/payment_row_static", :collection => @payment.rows, :as => :row

.payment-row.payment-text-row.bottom-border

.payment-row.payment-text-row.payment-sum-row
  .payment-row-title-text.payment-row-text
    Yhteensä

  .payment-row-sum-text.payment-row-text

  .payment-row-vat-text.payment-row-text

  #total.payment-row-total-text.payment-row-text
    = @payment.total_sum.to_s + @payment.transaction.listing.price_symbol

= form_tag(@payment_data[:payment_url], :method => "post", :id => "payment_form") do
  .payment-form-field-container

    -# Include payment data as hidden fields. The MAC takes care people can't modify values before POST
    - @payment_data[:hidden_fields].each do |key, value|
      = hidden_field_tag key, value

  .send-button
    = button_tag t("payments.new.continue"), :id => "continue_payment"
