
.left-navi-section.settings-section
  = form_for @BraintreeAccount do |form|

    = form.label :first_name, t(".first_name"), :class => "input"
    = form.text_field :first_name, :class => :text_field
    
    = form.label :last_name, t(".last_name"), :class => "input"
    = form.text_field :last_name, :class => :text_field
    
    = form.label :email, t(".email_address"), :class => "input"
    = form.text_field :last_name, :class => :text_field
    
    
    
    
    email: "Email address"
    phone: "Phone number"
    street_address: "123 Credibility St."
    postal_code: "60606"
    locality: "City"
    region: "State"
    date_of_birth: "Date of birth"
    ssn: "SSN"
    routing_number: "Routing number"
    account_number: "Account number"