- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t(".title")

- if local_assigns[:show_onboarding_popup]
  = render :layout => "layouts/lightbox", :partial => "layouts/onboarding_popup", locals: {title: t(popup_title_key), body: t(popup_body_key), action_label: t(popup_button_key), action_link: popup_action_link, image: asset_path(popup_image), id: "onboarding-popup" }

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section.payment-settings
  %h1= t(".header")

  .row
    .col-12

    - if @payment_settings[:api_verified]
      .row
        .col-6
          %span.icon-ok-circle.color-green
          = t(".api_verified")
        .col-6
          = t(".private_key")
          %strong= @payment_settings[:api_visible_private_key]
      = render partial: 'stripe_accounts/balance', locals: {stripe_balance: stripe_balance}

    - else
      =t(".info").html_safe
      %div
        %span.icon-ban-circle.color-red
        = t(".api_not_verified")

    = form_for stripe_prefs_form, url: admin_stripe_preferences_path, method: :post do |form|
      - if !@payment_settings[:api_verified]
        %h3= t(".api_settings")
        .row
          .col-6
            = form.label :api_client_id, t(".client_id")
          .col-6
            = form.text_field :api_client_id

        .row
          .col-6
            = form.label :api_private_key, t(".private_key")
          .col-6
            = form.text_field :api_private_key

        .row
          .col-6
            = form.label :api_publishable_key, t(".publishable_key")
          .col-6
            = form.text_field :api_publishable_key

      %h3= t(".payment_settings")
      .row
        .col-12
          %p.paypal-currency-information
            %span.paypal-currency-info-icon
            = icon_tag("information")
            = t("admin.paypal_accounts.supported_currencies_information_text",
                contact_support_link: link_to(t("admin.paypal_accounts.contact_support_link_text"), "mailto:#{support_email}", "data-uv-trigger" => "contact")).html_safe

      .row
        .col-6
          = form.label :marketplace_currency, t("admin.paypal_accounts.marketplace_currency_label"), class: "paypal-horizontal-input-label"
        .col-6
          = form.select :marketplace_currency, options_for_select(available_currencies, currency)

      .row.paypal-currency-change-warning-text
        .col-12
          .alert-box-warning
            %p
              %span.alert-box-icon
                = icon_tag("alert", ["icon-fix"])
              %span
                = t("admin.paypal_accounts.currency_change_warning_text")

      .row
        .col-6
          = form.label :minimum_listing_price, t("admin.paypal_accounts.minimum_listing_price_label"), class: "paypal-horizontal-input-label"
        .col-6
          = form.text_field :minimum_listing_price, class: "paypal-preferences-input"
          %label.paypal-horizontal-input-label-unit.paypal-preferences-currency-label
            = currency
      .row
        .col-6
          = form.label :commission_from_seller, t("admin.paypal_accounts.transaction_fee_label"), class: "paypal-horizontal-input-label"
        .col-6
          = form.text_field :commission_from_seller, class: "paypal-preferences-input"
          %label.paypal-horizontal-input-label-unit
            = "%"
      .row
        .col-6
          = form.label :minimum_transaction_fee, t("admin.paypal_accounts.minimum_transaction_fee_label"), class: "paypal-horizontal-input-label"
        .col-6
          = form.text_field :minimum_transaction_fee, class: "paypal-preferences-input"
          %label.paypal-horizontal-input-label-unit.paypal-preferences-currency-label
            = currency
      .row
        .col-12
          = form.button t("admin.paypal_accounts.save_settings")
