%h3 Ofrece artículos y servicios a otros 
 
%p 
  ¿Tienes tus propias herramientas, equipamiento deportivo, materiales para prototipos u otros artículos que no usas a menudo y que podrías prestar, vender o hasta regalar a otros? ¿Eres bueno reparando bicicletas, arreglando ropa o paseando perros? ¿Estarías dispuesto de llevar a alguien a su trabajo en tu auto, con tal de compartir el gasto en bencina? ¿Tienes algún departamento que esté esperando a alguien para ser arrendado?  
  = link_to "Añade información sobre todo esto en #{service_name}", new_request_path(:type => "offer") 
  ¡y experimenta el placer de ayudar a tus cercanos! 
 
%p 
  También recuerda que  
  = link_to("puedes ver qué necesita la gente en estos momentos", requests_path) + "." 
  Quizás tú puedas ofrecer algo que alguien lo esté necesitando. 
 
%p 
  #{service_name} ayuda a reunir a las personas que necesita algo con la que puede ofrecer ese algo. Ellos pueden discutir libremente los términos del intercambio. Esto significa que tú puedes vender, arrendar, intercambiar o regalar, gratuitamente.  

%h3 ¡Hazle saber a las personas de tu comunidad qué es lo que necesitas! 
 
%p 
  Ya sea que necesites un artículo, servicio, traslado o arrendar un departamento, todo eso lo puedes encontrar usando 
  = link_to("el buscador de #{service_name}", search_path) + "." 
  También puedes 
  = link_to("buscar ofertas disponibles", offers_path) + "." 
 
%p 
  Si alguien está ofreciendo algo que tú necesitas en #{service_name}, puedes hacer click en el link de "Solicitud" o "Respuesta"de esa oferta y enviarle un mensaje gratis a la persona que creó la oferta usando el formulario que se abrirá. Después de eso, sólo necesitas esperar a que el "ofertante" acepte tu solicitud. Tú puedes acordar los detalles del intercambio por medio del servicio de mensajes de #{service_name}. Automáticamente recibirás un e-mail que te notificará de los nuevos mensajes y las ofertas o solicitudes aceptadas. Además, no hay necesidad de que reveles tu dirección de correo electrónico a tu contraparte, a menos que lo desees. Puedes ver todos tus mensajes recibidos y enviados, más las solicitudes que aún no tienen respuesta o fueron rechazadas, en el 
  - if logged_in? 
    = link_to("buzón de mensajes", person_messages_path(:person_id => @current_user.id)) + "," 
  - else  
    messages view, 
  al que siempre podrás acceder haciendo click en el ícono del sobre que aparece al tope de cada página, luego de haberte registrado en #{service_name}. 
 
%p 
  Si no pudiste encontrar lo que buscabas, puedes 
  = link_to("crear una solicitud", new_request_path(:type => "request")) + "," 
  donde describes qué es lo que necesitas. Esta solicitud se mostrará a los otros usuarios de #{service_name}. Es muy probable que alguien ofrezca justo lo que tú necesitas. 
   
%h3 Consejos 
 
%p 
  Mientras más fidedigno te muestres a las personas, más entusiasmados se manifestarán ellos para ofrecerte las cosas que necesitas. La manera más fácil de incrementar tu credibilidad es 
  - if logged_in? 
    = link_to("fill out your profile information carefully", profile_person_settings_path(:person_id => @current_user.id)) + "."  
  - else 
    Completa la información de tu perfil cuidadosamente. 
  Debes llenar por lo menos con tu nombre completando y 
  - if logged_in? 
    = link_to("add a recognizable profile picture of yourself", avatar_person_settings_path(:person_id => @current_user.id)) + "."  
  - else 
    agregar una foto de perfil que sea reconocible. 
 
%p 
  Cuando estás ofreciendo algo a otros usuarios, o ellos te ofrecen algo a ti, siempre es bueno entregar algún feedback a la contraparte, después que se haya hecho la transacción. Una buena evaluación hará a la gente feliz y si, en el caso contrario, alguien no se maneja de la manera que tú piensas que lo debiera hacer, también es bueno que la comunidad lo sepa. Todo feedback es público y es mostrado en el perfil de la persona que lo recibió, esto como un medio para evaluar la credibilidad de esa persona. Por esta razón, tú también deberías recordarles a los demás que no se olviden de entregarte feedback, ya que una positiva evaluación te ayudará a construir una importante credibilidad frente a los demás, lo que te favorecerá en futuras transacciones. Puedes dar feedback haciendo click en el link "Dar Feedback" de las ofertas o solicitudes aceptadas en tu lista de mensajes. 
   
