- content_for :extra_javascript do
  :javascript
    initIntercom();

- content_for :title do
  = t('admin2.sidebar.advanced.delete_marketplace')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.sidebar.advanced.delete_marketplace')

- if @presenter.can_delete_marketplace
  .content-card-section-container
    = form_tag admin2_advanced_delete_marketplace_path(@presenter.community), method: :delete, html: { class: %i[content-card-section-form] } do
      %section.content-card-section
        %h2= t('admin2.delete_marketplace.info_text_1')
        %p.ingress= t('admin2.delete_marketplace.info_text_2')
        %p.ingress
          %b= t('admin2.delete_marketplace.info_text_3')
        %p.ingress= t('admin2.delete_marketplace.info_text_4')
        %p.ingress= t('admin2.delete_marketplace.info_text_5', domain: @current_community.ident)
        .form-group
          = text_field_tag :delete_confirmation, '', placeholder: t('admin2.delete_marketplace.delete_confirmation_placeholder'), class: %i[form-control]
        %p.ingress= t('admin2.delete_marketplace.info_text_6').html_safe
      %section.content-card-terminal
        = button_tag t('admin2.delete_marketplace.delete'), class: %i[btn btn-primary]
- else
  .content-card-section-container
    %section.content-card-section
      %h2= t('admin2.delete_marketplace.info_text_1')
      %p.ingress
        = t('admin2.delete_marketplace.delete_info_text').html_safe
