- content_for :title do
  = t('admin2.sidebar.payment_system.transaction_size')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.transaction_size.info_header')

.content-card-section-container
  = form_tag save_admin2_payment_system_transaction_size_index_path, method: :patch, remote: true, class: %i[content-card-section-form transaction-size] do
    %section.content-card-section
      %h2= t('admin2.transaction_size.info_header')
      %p.ingress
        = t('admin2.transaction_size.info_text', url: "#{APP_CONFIG.knowledge_base_url}/en/articles/666101").html_safe
      .form-group
        %label= t('admin2.transaction_size.minimum_transaction_size')
        .input-group.minimum-listing-price-holder
          = number_field_tag :minimum_listing_price, @current_min_price.amount, class: %i[form-control], min: @current_fee || 0
          .input-group-append
            %span.input-group-text= @current_community.currency
        - if @current_fee.positive?
          %small.form-text= t('admin2.transaction_size.transaction_fee', fee: "#{@current_fee} #{@current_community.currency}")
    %section.content-card-terminal
      = render 'admin2/submit_button', caption: t('admin2.save_changes')

:javascript
  $(function() {
    validateTransactionSize();
  });
