- content_for :title do
  = t('admin2.sidebar.seo.google_console')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.sidebar.seo.google_console')

.content-card-section-container
  %section.content-card-section
    %h2= t('admin2.sidebar.seo.google_console')
    %p.ingress
      = t('admin2.google_console.info_text')
    %p.ingress
      = t('admin2.google_console.info_text_2', url: 'https://help.sharetribe.com/en/articles/674140').html_safe
