- content_for :javascript do
  initialize_new_organization_form(#{@organization.merchant_registration.eql?("true")})
  
= form_for @organization do |form|
  = form.label :name, t(".name"), :class => "input"
  = form.text_field :name, :class => :text_field, :maxlenght => "255"
  = form.label :allowed_emails, t(".allowed_emails"), :class => "input"
  %p= t(".allowed_emails_instructions")
  = form.text_field :allowed_emails, :class => :text_field, :maxlenght => "255", :placeholder => t(".allowed_emails_example")
  
  = form.label :logo, t(".logo"), :class => "input"
  = form.file_field(:logo, :class => "file_field")
  
  
  = form.label :merhcant_registration, t(".merhcant_registration")
  %p= t(".merhcant_registration_instructions")
  - if @organization.merchant_id.present?
    %p
      %b= t(".merhcant_registration_done")
  - else

    .merchant-registration-radio-buttons
      .checkbox-container
        = form.radio_button :merchant_registration, "false", :checked => !@organization.merchant_registration.eql?("true"), :id => :skip_merchant_registration
        = form.label :skip_merchant_registration, t(".skip_merchant_registration"), :class => "radio"
      .checkbox-container
        = form.radio_button :merchant_registration, "true", :checked => @organization.merchant_registration.eql?("true"), :id => :register_as_merchant
        = form.label :register_as_merchant, t(".register_as_merchant"), :class => "radio"
    
    #merchant_details
      %p= t(".merhcant_registration_detailed_instructions")
      = form.label :company_id, t(".company_id"), :class => "input"
      = form.text_field :company_id, :class => :text_field, :maxlenght => "9"
      = form.label :email, t(".email"), :class => "input"
      = form.text_field :email, :class => :text_field
      = form.label :phone_number, t(".phone_number"), :class => "input"
      = form.text_field :phone_number, :class => :text_field, :maxlenght => "25"
      = form.label :address, t(".organization_address"), :class => "input"
      = form.text_field :address, :class => :text_field
      = form.label :website, t(".organization_website"), :class => "input"
      = form.text_field :website, :class => :text_field
      
            
       

  = form.button t(".#{function}_organization_button_text"), :class => "send_button"
