- link = confirmation_url(:confirmation_token => @confirmation_token, :host => @host, :locale => I18n.locale)

%tr
  %td{:align => "left", :style => "padding-bottom: 15px;"}
    %font{body_font}
      = t("emails.common.hey", :name => PersonViewUtils.person_display_name_for_type(@resource, "first_name_only"))

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.confirmation_instructions.need_to_confirm")

= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.confirmation_instructions.confirmation_link_text"), :url => link }

%tr
  %td{:align => "left", :style => "padding-bottom: 15px;"}
    %font{body_font}
      = t("emails.confirmation_instructions.or_paste_link")

%tr
  %td{:align => "left", :style => "padding-bottom: 15px;"}
    %font{body_font}
      = link

%tr
  %td{:align => "left", :style => "padding-bottom: 25px;"}
    %font{body_font}
      = t("emails.common.thanks")
      %br/
      = t("emails.common.kassi_team")
