.message-avatar-padding
  .row
    .col-12

      %h2
        = link_to_unless listing[:deleted], listing[:title], listing_path(id: listing[:id])

      - booking = !!tx[:booking]
      - start_on = booking ? tx[:booking][:start_on] : nil
      - end_on = booking ? tx[:booking][:end_on] : nil
      - duration = booking ? tx[:booking][:duration] : nil
      = render partial: "transactions/price_break_down", locals: { booking: booking, start_on: start_on, end_on: end_on, duration: duration, listing: listing, listing_price: tx[:listing_price], quantity: tx[:listing_quantity], subtotal: tx[:listing_price] * tx[:listing_quantity], sum: tx[:checkout_total], price: tx[:payment_total], shipping_price: tx[:shipping_price] }

      - if @current_community.vat.present?
        .message-price-vat
          = t("conversations.show.price_excludes_vat")

      = render partial: "transactions/shipping_address", locals: { shipping_address: tx[:shipping_address] }

      %div{:id => "transaction_status"}
        = render :partial => "transactions/status/status", :locals => { :__transaction_model => transaction_model, is_author: is_author }
