<ul>
  <li>
    <%= link_to "Hello World Component Client Rendered", styleguide_client_side_hello_world_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Client Rendered",
                styleguide_client_side_hello_world_shared_store_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Client Rendered Controller",
                styleguide_client_side_hello_world_shared_store_controller_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Client Rendered Defer",
                styleguide_client_side_hello_world_shared_store_defer_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Server Rendered",
                styleguide_server_side_hello_world_shared_store_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Server Rendered Controller",
                styleguide_server_side_hello_world_shared_store_controller_path %>
  </li>
  <li>
    <%= link_to "Hello World Shared Redux Components Server Rendered Defer",
                styleguide_server_side_hello_world_shared_store_defer_path %>
  </li>
  <li>
    <%= link_to "Hello World Component Server Rendered", styleguide_server_side_hello_world_path %>
  </li>
  <li>
    <%= link_to "Hello World Component Server Rendered, with extra options", styleguide_server_side_hello_world_with_options_path %>
  </li>
  <li>
    <%= link_to "Hello World Component Server Rendered ES5", styleguide_server_side_hello_world_es5_path %>
  </li>
  <li>
    <%= link_to "Redux App Server Rendered (Generator Function)", styleguide_server_side_redux_app_path %>
  </li>
  <li>
    <%= link_to "Redux App Server Rendered (Generator Function) With Fragment Caching", styleguide_server_side_redux_app_cached_path %>
  </li>
  <li>
    <%= link_to "Client Logging and Throw Error Handling", styleguide_client_side_log_throw_path %>
  </li>
  <li>
    <%= link_to "Server Logging and Throw Error Handling", styleguide_server_side_log_throw_path %>
  </li>
  <li>
    <%= link_to "Server Logging and Throw Error Handling, raise on server error", styleguide_server_side_log_throw_raise_path %>
  </li>
  <li>
    <%= link_to "render_js only example", styleguide_render_js_path %>
  </li>
  <li>
    <%= link_to "One Page with Many Examples at Once", styleguide_path %>
  </li>
  <li>
    <%= link_to "React Router", styleguide_react_router_path %>
  </li>
  <li>
    <%= link_to "Pure Component", styleguide_pure_component_path %>
  </li>
</ul>
<hr/>
