= form.hidden_field :previous_id
= form.hidden_field :kind, value: presenter.section.kind

%p.modal-text Custom Landing Footer will override footer settings in the Footer page.
.form-group
  %label Footer style
  = form.select :theme, options_from_collection_for_select(presenter.footer_themes, :key, :value), {}, class: %i[form-control]

.form-group
  %label Footer copyright
  = form.text_area :copyright, class: %i[form-control]

%h3.modal-subtitle Footer links
#footerLinksList.list-group

  #footerlinks
    - @service.section.links.each do |footer_menu_link|
      = form.fields_for :links, footer_menu_link do |fields|
        = render 'admin2/design/landing_page_versions/sections/footer_menu_link', f: fields, disabled: false

  - new_footer_menu_link = @service.section.new_footer_menu_link
  = form.fields_for :links, new_footer_menu_link, child_index: new_footer_menu_link.object_id do |fields|
    %script{type: "text/template", id: "new-footer-menu-link-tmpl"}
      = render "admin2/design/landing_page_versions/sections/footer_menu_link", f: fields, disabled: false

  %p.add-new-footerLink-trigger
    = link_to '+ Add a link', '#', data: {id: new_footer_menu_link.object_id, template_id: "#new-footer-menu-link-tmpl"}, id: 'new-footerLink-trigger'

%h3.modal-subtitle Footer social links
.form-group
  #footerSocialList.list-group
    - @service.section.social.each do |social_link|
      = form.fields_for :social, social_link do |f|
        = render 'admin2/design/landing_page_versions/sections/social', f: f
