%p.modal-text
  Set the background image for the Hero section. The slogan and description for the Hero are set from the
  %a{:href => "/pages/essentials.php"} "Essentials"
  page.

= render 'admin2/design/landing_page_versions/sections/section_id', form: form, presenter: presenter
= render 'admin2/design/landing_page_versions/sections/background_image', form: form, presenter: presenter

.form-group
  %label Hero call-to-action
  .form-radiobutton-wrapper
    .form-radiobutton.form-check-inline
      = form.radio_button :cta_button_type, LandingPageVersion::Section::Hero::BUTTON_TYPE_DEFAULT, cta_button_type_radio: true, class: %i[form-check-input landing-page-section]
      = form.label :cta_button_type_default, 'Default action', class: %i[form-check-label]
      %br
    .form-radiobutton.form-check-inline
      = form.radio_button :cta_button_type, LandingPageVersion::Section::Hero::BUTTON_TYPE_BUTTON, cta_button_type_radio: true, class: %i[form-check-input landing-page-section]
      = form.label :cta_button_type_button, 'Button', class: %i[form-check-label]
    .form-radiobutton.form-check-inline
      = form.radio_button :cta_button_type, LandingPageVersion::Section::Hero::BUTTON_TYPE_NONE, cta_button_type_radio: true, class: %i[form-check-input landing-page-section]
      = form.label :cta_button_type_none, 'None', class: %i[form-check-label]

#heroCTAButtonLabelURLWrapper
  .form-group
    %label.default-text-label Text
    %label#buttonTextLabel Call-to-action button label
    = form.text_field :cta_button_text, required: form.object.cta_button_type_button? ? true : nil, class: %i[form-control]
    %small.default-text-label.form-text By default the text and action is "Search" for public marketplaces and "Sign up" for private marketplaces. You don't need to change the texts for the default actions. You can leave this field empty.
  .form-group#heroCTADefaultTextWrapper
    %label Call-to-action target URL
    = form.text_field :cta_button_url, url: true, required: form.object.cta_button_type_button?, class: %i[form-control]
