%p.modal-text
  = t('admin2.landing_page.sections.hero.info', url: (link_to "#{t('admin2.sidebar.general.essentials')}", admin2_general_essentials_path)).html_safe

= render 'admin2/design/landing_page_versions/sections/section_id', form: form, presenter: presenter
= render 'admin2/design/landing_page_versions/sections/background_image', form: form, presenter: presenter, title: t('admin2.landing_page.sections.hero.background_image')

.form-group
  %label Hero call-to-action
  .form-radiobutton-wrapper
    .form-radiobutton.form-check-inline
      = form.radio_button :cta_button_type, LandingPageVersions::Section::Hero::BUTTON_TYPE_DEFAULT, cta_button_type_radio: true, class: %i[form-check-input landing-page-section]
      = form.label :cta_button_type_default, t('admin2.landing_page.sections.hero.button_default'), class: %i[form-check-label]
      %br
    .form-radiobutton.form-check-inline
      = form.radio_button :cta_button_type, LandingPageVersions::Section::Hero::BUTTON_TYPE_BUTTON, cta_button_type_radio: true, class: %i[form-check-input landing-page-section]
      = form.label :cta_button_type_button, t('admin2.landing_page.sections.hero.button_button'), class: %i[form-check-label]
    .form-radiobutton.form-check-inline
      = form.radio_button :cta_button_type, LandingPageVersions::Section::Hero::BUTTON_TYPE_NONE, cta_button_type_radio: true, class: %i[form-check-input landing-page-section]
      = form.label :cta_button_type_none, t('admin2.landing_page.sections.hero.button_none'), class: %i[form-check-label]

#heroCTAButtonLabelURLWrapper
  .form-group
    %label.default-text-label= t('admin2.landing_page.sections.hero.button_text')
    %label#buttonTextLabel= t('admin2.landing_page.sections.hero.cta_button_text')
    = form.text_field :cta_button_text, required: form.object.cta_button_type_button? ? true : nil, class: %i[form-control], placeholder: t('admin2.landing_page.sections.hero.button_placeholder')
    %small.default-text-label.form-text= t('admin2.landing_page.sections.hero.cta_button_info')
  .form-group#heroCTADefaultTextWrapper
    %label= t('admin2.landing_page.sections.hero.cta_button_url')
    = form.text_field :cta_button_url, url: true, required: form.object.cta_button_type_button?, class: %i[form-control], placeholder: t('admin2.landing_page.sections.hero.url_placeholder')
