.content-card-header
  %h1.content-card-header-title Landing Page

.content-card-section-container
  = form_for [:admin, @presenter.landing_page_version], class: %i[content-card-section-form] do |form|
    %section.content-card-section
      %h2 Landing Page Editor
      %p.ingress
        Define the layout of your landing page from a set of building blocks. These ready-made sections are the result of combining the best practices of the the most successful online marketplaces. For now, the Landing Page Editor only supports one language.
        %br
        %br
        Learn everything you need to know about the Landing Page Editor
        = succeed "." do
          %a.external-link{:href => "https://help.sharetribe.com/en/collections/2142373", :target => "_blank"} in the Go Help Center
      .form-group
        #sectionList.field-titles.field-data
          .col.col-lg-6 Section ID
          .col.col-lg-4 Section type
          .col

        #landingSection.list-group
          = form.fields_for :section_positions do |position_form|
            - position = position_form.object
            - allow_move = position.removable?
            .field-data{class: "allow_edit_#{allow_move}"}
              .col.col-lg-6= position.id
              .col.col-lg-4= position.kind
              .actions.col
                %span.handle-move{class: ("disabled" unless allow_move),  "aria-hidden" => "true"}
                = link_to '#', class: 'remove-landing-page', data: { url: admin2_design_landing_page_version_section_path(@presenter.landing_page_version.id, position.id), caption: 'Are you sure you want to remove the section #visionCLP and all its data?' } do
                  %span.remove{class: ("disabled" unless allow_move), "aria-hidden" => "true", "data-target" => "#landingPageDeleteModal", "data-toggle" => "modal"}
                = link_to edit_admin2_design_landing_page_version_section_path(@presenter.landing_page_version.id, position.id), remote: true do
                  %span.edit{"aria-hidden" => "true", "data-target" => "#landingPageEditInfo1ColModal", "data-toggle" => "modal"}

      %p.add-new-link
        %a{"data-target" => "#landingPageAddModal", "data-toggle" => "modal", :href => "#"} + Add a new section
    %section.content-card-terminal
      %button.btn.btn-primary{:href => "#"} Publish changes
      %button.btn.btn-ghost{:href => "#"} Preview landing page

- content_for :popup_layout do
  = render 'admin2/design/landing_page_versions/new_popup', presenter: @presenter
  = render 'admin2/design/landing_page_versions/delete_popup'
