- content_for :javascript do
  ST.initializePayPalAccountForm("paypal_account_form");

- content_for :title_header do
  %h1= t("layouts.admin.admin")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section.payment-settings
  %h2= t("admin.paypal_accounts.marketplace_paypal_integration")

  .row
    = t("admin.paypal_accounts.new.integration_info_text").html_safe

  %br/

  = form_for paypal_account_form, url: form_action, html: { :id => "paypal_account_form"} do |form|

    - title = t("admin.paypal_accounts.new.paypal_account_email")
    = render :partial => "paypal_accounts/ask_paypal_permissions", locals: {form: form, title: title}

