- content_for :title_header do
  %h1= t("layouts.admin.admin")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section.payment-settings
  %h2= t("admin.paypal_accounts.marketplace_paypal_integration")

  .row
    = t("admin.paypal_accounts.show.integration_info_text").html_safe

  %br/

  .row.paypal-connected-email-row
    %h3.paypal-account-connected
      = t("admin.paypal_accounts.show.paypal_account_email_connected").html_safe
    .paypal-connected-email.paypal-account-connected
      = t("paypal_accounts.connected_account", :email => paypal_account_email)


