- content_for :title_header do
  %h1= t("layouts.admin.admin")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h2= t(".marketplace_paypal_integration")

  .row
    .col-6
      = t(".username_or_email_help_text")
    .col-6
      = paypal_account[:email]

  .row
    .col-6
      = t(".api_password_help_text")
    .col-6
      = paypal_account[:api_password]

  .row
    .col-6
      = t(".api_signature_help_text")
    .col-6
      = paypal_account[:api_signature]
