.form-group
  %label
    = t('admin2.landing_pages.meta_title')
  %small.form-text-above
    = t('admin2.landing_pages.meta_title_info_text')
  - customizations.each do |customization|
    = form.fields_for :community_customizations, customization do |cc|
      .d-flex.multiple-languages
        %span.language
          = t("admin.communities.available_languages.#{cc.object.locale}")
        = cc.text_field :meta_title, class: %i[form-control], maxlength: 255, placeholder: t('admin2.landing_pages.meta_title_placeholder')

.form-group
  %label
    = t('admin2.landing_pages.meta_description')
  %small.form-text-above
    = t('admin2.landing_pages.meta_description_info_text')
  - customizations.each do |customization|
    = form.fields_for :community_customizations, customization do |cc|
      .d-flex.multiple-languages
        %span.language
          = t("admin.communities.available_languages.#{cc.object.locale}")
        = cc.text_area :meta_description, class: %i[form-control], maxlength: 65535, placeholder: t('admin2.landing_pages.meta_description_placeholder')
