= form.fields_for :community_customizations, customization do |cc|
  .form-group
    = cc.label :meta_title, t('admin2.landing_pages.meta_title')
    = cc.text_field :meta_title, class: %i[form-control], maxlength: 255, placeholder: t('admin2.landing_pages.meta_title_placeholder', locale: cc.object.locale)
    %small.form-text
      = t('admin2.landing_pages.meta_title_info_text')
  .form-group
    = cc.label :meta_description, t('admin2.landing_pages.meta_description')
    = cc.text_area :meta_description, class: %i[form-control], maxlength: 65535, placeholder: t('admin2.landing_pages.meta_description_placeholder', locale: cc.object.locale)
    %small.form-text
      = t('admin2.landing_pages.meta_description_info_text')
