 %%h3 Anderen Leuten Gegenstände oder Gefallen anbieten 
 
%p 
  Besitzen Sie Werkzeuge, Sportausrüstung, lustige Kostüme oder andere Gegenstände die Sie nicht so oft nutzen und die Sie einfach ausleihen, oder sogar verkaufen oder verschenken könnten? Sind Sie gut beim reparieren von Fahrrädern, können Sie nähen oder haben Sie lust mit Hunden Gassi zu gehen? Können Sie jemandem auf dem Weg zur Arbeit eine Mitfahrgelegenheit bieten für ein wenig Spritgeld? Haben Sie eine Wohnung zu vermieten?  
  = link_to "Fügen Sie Informationen über  #{service_name}" hinzu, new_request_path(:type => "offer") 
  und erleben Sie wie viel Spaß es bringt Ihren Mitmenschen zu helfen! 
 
%p   Denken Sie daran    = link_to("zu überprüfen was andere Leute zurzeit brauchen", requests_path) + "."   Vielleicht können Sie etwas anbieten das im Moment gebraucht wird..  %
 
%p 
  #{service_name} versucht Leute die etwas brauchen und Leute die etwas anzubieten haben zusammenzubringen. Sie können den Austausch dann ganz frei diskutieren. Dies bedeutet dass Sie anderen umsonst helfen können, etwas verkaufen, vermieten, etwas tauschen oder etwas verleihen können.
 
%h3 Falls Sie etwas brauchen, dann fragen Sie danach
 
%p 
  Ob Sie einen Gegenstand, einen Gefallen, eine Mitfahrgelegenheit oder eine Wohnung brauchen, dann können Sie dies mit der Hilfe von   #{service_name} 
  = link_to("Suche", search_path) + "."  finden.
  Ausserdem können Sie
  = link_to("Angebote durchstöbern", offers_path) + "." 
 
%p 
  Falls jemand in #{service_name} schon das anbietet was Sie brauchen dann brauchen Sie es von der Seite des Angebots nur anzufordern. zum Beispiel, falls jemand etwas verkauft, können Sie auf den "Gegenstand kaufen" Knopf klicken, oder wenn Sie es ausleihen möchten, dann den "Gegenstand ausleihen" Knopf.  Dies öffnet ein Feld womit Sie dem Anbieter eine Nachricht senden können.  Der Anbieter erhält im Posteingang dann eine Benachrichtigung und muss dann entscheiden ob er das Angebot annehmen möchte. Sie bekommen eine Email Benachrichtigung sofern der Anbieter sich entschieden hat Ihr Angebot anzunehmen. Sie können sich dann über die Details über kostenlose Nachrichten unterhalten.  Falls Sie mehr Informationen über den Gegenstand oder Dienstleistung brauchen bevor sie diese anfordern, können Sie dem Anbieter eine persönliche Nachricht schicken, oder einen öffentlichen Kommentar hinterlassen den jeder sehen kann. 
   
%p 
  Sie können alle Ihre empfangenen und versendeten Nachrichten, sowie akzeptierte, abgelehnte und ausstehenden Anfragen und Angebote in der 
  - if logged_in? 
    = link_to("Nachrichtenansicht", person_messages_path(:person_id => @current_user.id)) + "," sehen
  - else  
    messages view, 
  und per Klick auf das Icon mit dem Briefumschlag ganz oben auf jeder Seite wenn Sie sich in  #{service_name} angemeldet haben. 
 
%p 
  Falls Sie nicht gefunden haben wonach Sie gesucht haben können Sie einen
  = link_to("offenen Anfrageeintrag erstellen", new_request_path(:type => "request")) + "," 
  wo Sie alles beschreiben was Sie brauchen. Die Anfrage wird für alle anderen  #{service_name} Benutzer sichtbar. Es ist durchaus möglich dass jemand genau das anbietet was Sie brauchen. Falls jemand einen Antrag zu  #{service_name} gestellt hat, zum Beispiel weil sie etwas ausleihen möchten, so können Sie zur Anfrageseite gehen und genau das anbieten was der Nutzer braucht, indem Sie auf den "Diesen Gegenstand ausleihen" Knopf klicken. 
   
%p 
 Sharetribe arbeitet mit dem Prinzip der generalisierten Gegenseitigkeit. Dies bedeutet dass Sie sich nicht schuldig fühlen müssen wenn Sie sich nicht sofort revanchieren können. Stattdessen, können Sie jemand anderes in der Community helfen!
   
%h3 Tipps 
 
%p 
  Umso zuverlässiger Sie sind, desto bereitwilliger sind andere Leute Ihnen Dinge anzubieten die Sie brauchen könnten. Ihre Glaubwürdigkeit können Sie ganz einfach aufbauen indem Sie 
  - if logged_in? 
    = link_to("sorgfältig Ihre Profilinformationen ausfüllen", profile_person_settings_path(:person_id => @current_user.id)) + "."  
  - else 
    sorgfältig Ihre Profilinformationen ausfüllen.
  Sie sollten wenigstens Ihren vollen Namen und 
  - if logged_in? 
    = link_to("ein erkennbares Profilfoto von Ihnen hinzufügen", avatar_person_settings_path(:person_id => @current_user.id)) + "."  
  - else 
    ein erkennbares Profilfoto von Ihnen hinzufügen. 
 
%p 
  Falls Sie jemandem etwas anbieten oder jemand anderes Ihnen etwas anbietet, so ist es immer gut Feedback nach einer Transaktion zu hinterlassen. Gutes Feedback macht Leute glücklich, und falls jemand nicht Ihren Erwartungen entspricht, so sollten Sie ein Feedback darüber hinterlassen. Jedes Feedback ist öffentlich und wird im Profil des Benutzers der das Feedback erhalten hat angezeigt, und hilft demnach anderen Leuten bei der Beurteilung der Vertrauenwürdigkeit. Deswegen sollten Sie andere Benutzer daran errinnern, Feedback für Sie zu hinterlassen, da positives Feedback Ihnen bei Ihrer Glaubwürdigkeit hilft und Ihnen zu zukünftigen Transaktionen verhilft. Sie können Feedback mit Klick auf den "Feedback geben" Link auf akzeptierte Anfragen oder Angebote in der Nachrichtenansicht vergeben.
   
-if APP_CONFIG.use_sms 
  %h3 Mitfahrgelegenheiten per SMS
   
  %p Mitfahrgelegenheits-Angebote und Anfragen können auch per SMS hinzugefügt werden. Dies kann nützlich sein um künftige Fahrten anzukündigen wenn Sie unterwegs sind, oder auf dem Weg zu Ihrem Auto sind.  #{service_name} wird den Anbieter per SMS informieren sofern die Nummer in seinem Profil die internationale Form hat (e.g. +358501234567), und passende Angebote in  #{service_name} gefunden wurden.
 
  %p 
    Bevor Sie Angebote oder Anfragen per SMS eintragen, müssen Sie Ihre Mobiltelefonnummer
    - if logged_in? 
      = link_to("in Ihr Profil hinzufügen.", profile_person_settings_path(:person_id => @current_user.id)) + "."  
    - else 
     in Ihr Profil hinzufügen. 
   
  %p Nachrichten sollten an +358400312821 versendet werden und sollten wie folgend formatiert sein: "kassi Fahrt Angebot/Anfrage Herkunft Ziel Uhrzeit (beliebige Beschreibung)". Zum Beispiel: 
  %ul 
    %li kassi Mitfahrgelegenheit Angebot einestraße20 Helsinki 18:30 noch Platz für zwei
    %li kassi Mitfahrgelegenheit Anfrage Bahnhof,h채meenlinna Tampere 14:00 
   
  %p Zurzeit teilt #{service_name}alle Teile mit Leerzeichen, desshalb sollten Sie alle Adressen oder andere Erklärungen ohne Leerzeichen schreiben um korrekte Ergebnisse zu erhalten. #{service_name} sucht dann basierend auf dem Standort nach Angeboten die zum Angebot oder zur Anfrage passen.
   
  %p Es wird erwartet dass die Zeit innerhalb der nächsten 24 Stunden liegt, aber Sie können auch das genaue Datum hinzufügen, z.b. 24.11.2010-17:30. 
   
  %p  
   SMS Funktionen befinden sich zurzeit noch in der Entwickling, desshalb könnte es sein dass es hier und dort ein paar Pannen gibt. Bitte senden Sie
    = link_to "feedback", "#", :id => "give_feedback_link" 
   falls Sie irgendwelche Probleme finden oder Ideen dazu haben wie man diese Funktion verbessern könnte.