%h3 Πρόσφερε αντικείμενα και βοήθεια

%p
  Έχεις εργαλεία, βιβλία, αθλητικό εξοπλισμό ή άλλα αντικείμενα τα οποία δεν χρησιμοποιείς συχνά και θα μπορούσες να δανείσεις σε άλλους, να τα πουλήσεις ή ακόμα και να τα χαρίσεις; Είσαι καλός στο να επισκευάζεις ποδήλατα, να ράβεις ή είσαι διατεθιμένος να βγάλεις ένα σκύλο βόλτα; Θα μοιραζόσουν με κάποιον το αυτοκίνητό σου πηγαίνοντας στη δουλειά για να γλιτώσεις χρήματα από τη βενζίνη; Έχεις ένα διαμέρισμα που περιμένει να νοικιαστεί;
  = link_to "Καταχώρησέ τα όλα αυτά στο #{service_name}", new_request_path(:type => "offer")
  και νιώσε τη χαρά της προσφοράς!

%p
  Επίσης να θυμάσαι να κοιτάς
  = link_to("τι χρειάζονται οι άλλοι αυτή τη στιγμή", requests_path) + "."
  Ίσως να μπορείς να προσφέρεις κάτι που ζητάει κάποιος άλλος.

%p
  Το #{service_name} έχει σκοπό να φέρει σε επαφή ανθρώπους που χρειάζονται κάτι και ανθρώπους που μπορούν να προσφέρουν. Αυτοί μετά μπορούν ελεύθερα να συνεννοηθούν για τις λεπτομέρειες της συναλλαγής. Αυτό σημαίνει ότι μπορείς να πουλάς, να ενοικιάζεις, να ανταλλάζεις, να χαρίζεις, να βοηθάς άλλους, χωρίς κανένα κόστος.

%h3 Πες τι χρειάζεσαι

%p
  Είτε πρόκειται για αντικείμενα, χάρες, βοήθεια, διαμονή ή ακόμα και να σε πετάξουν κάπου, μπορείς να χρησιμοποιήσεις την πολύ χρήσιμη
  = link_to("αναζήτηση στο #{service_name}", search_path) + "."
  Μπορείς επίσης να
  = link_to("δεις τις ανοιχτές προσφορές", offers_path) + "."

%p
  Αν κάποιος προσφέρει ήδη στο #{service_name} αυτό που χρειάζεσαι, μπορείς πατήσεις το κουμπί που γράφει "ζήτα το" ή "απάντησε" στην προσφορά που σε ενδιαφέρει και να στείλεις μήνυμα στο άτομο που την καταχώρησε χρησιμοποιώντας την φόρμα που θα εμφανιστεί. Στη συνέχεια, απλώς περιμένεις από τον παραλήπτη του μηνύματος να αποδεχτεί το αίτημά σου. Μέσω των μηνυμάτων στο #{service_name} μπορείτε να συννενοηθείτε για τις λεπτομέρειες της συναλλαγής. Αυτόματα θα λαμβάνεις ειδοποίηση μέσω email για όλα τα νέα μηνύματα και όσες προσφορές και αιτήματά σου έχουν γίνει δεκτά. Έτσι, δεν υπάρχει λόγος να αποκαλύψεις την ηλεκτρονική σου διεύθυνση σε κανένα, εκτός αν θέλεις. Μπορείς να δεις όλα τα μηνύματα που έχεις λάβει και στείλει και όλες τις προσφορές και αιτήματα που εκκρεμούν ή έχουν απορριφθεί στην
  - if logged_in?
    = link_to("προβολή των μηνυμάτων σου", person_messages_path(:person_id => @current_user.id)) + ","
  - else 
    προβολή των μηνυμάτων σου,
  την οποία μπορείς να τη δεις οποιαδήποτε στιγμή κάνοντας κλικ στο εικονίδιο με το φάκελο στην κορυφή κάθε σελίδας, όταν είσαι συνδεδεμένος στο #{service_name}.

%p
  Αν δεν βρήκες αυτό που έψαχνες, μπορείς να
  = link_to("δημιουργήσεις ένα νέο αίτημα", new_request_path(:type => "request")) + ","
  όπου θα περιγράψεις τι χρειάζεσαι. Αυτό το αίτημα θα φαίνεται σε όλους τους άλλους χρήστες του #{service_name}. Είναι πολύ πιθανό κάποιος να προσφέρει αυτό ακριβώς που χρειάζεσαι.
  
%h3 Συμβουλές

%p
  Όσο πιο έμπιστος/έμπιστη φαίνεσαι στους άλλους τόσο πιο πρόθυμοι θα είναι να σου προσφέρουν ότι χρειάζεσαι. Ο ευκολότερος τρόπος για να το πετύχεις αυτό είναι να
  - if logged_in?
    = link_to("συμπληρώσεις προσεκτικά τις πληροφορίες στο προφίλ σου", profile_person_settings_path(:person_id => @current_user.id)) + "." 
  - else
    συμπληρώσεις προσεκτικά τις πληροφορίες στο προφίλ σου.
  Θα πρέπει τουλάχιστον να συμπληρώσεις το πλήρες όνομά σου και
  - if logged_in?
    = link_to("να βάλεις μια καλή φωτογραφία στο προφίλ σου", avatar_person_settings_path(:person_id => @current_user.id)) + "." 
  - else
    να βάλεις μια καλή φωτογραφία στο προφίλ σου.

%p
  Όταν προσφέρεις κάτι σε άλλους χρήστες ή προσφέρουν αυτοί σε σένα, καλό είναι πάντα να κάνεις κριτική στο άλλο μέλος της συναλλαγής όταν ολοκληρωθεί. Η καλή κριτική κάνει τους ανθρώπους να χαίρονται και αν κάποιος δεν σου φαίνεται ότι είναι εντάξει τότε καλό είναι να πεις κάτι γι' αυτό. Όλη η κριτική που λαμβάνει κάποιος είναι δημόσια και φαίνεται στο προφίλ του χρήστη που τη λαμβάνει, βοηθώντας έτσι τους άλλους χρήστες να κρίνουν αν μπορούν να τον/την εμπιστευτούν. Γι' αυτό το λόγο πρέπει επίσης να υπενθυμίζεις στους άλλους να κάνουν κριτική για σένα γιατί η καλή κριτική σε κάνει να μοιάζεις πιο έμπιστος/έμπιστη και κάνει πιο εύκολες τις μελλοντικές συναλλαγές. Μπορείς να κάνεις κριτική πατώντας το κουμπί "Κάνε κριτική" σε μία προσφορά ή αίτημα που έχεις αποδεχτεί, στην προβολή των μηνυμάτων σου.
  
-if APP_CONFIG.use_sms
  %h3 Βρες συνταξιδιώτες με SMS
  
  %p Προσφορές και αιτήματα για βρεις συνταξιδιώτες μπορούν επίσης να προστεθούν με sms. Αυτός είναι ένας εύκολος τρόπος να βλέπεις αν υπάρχουν διαθέσιμες διαδρομές όταν είσαι ήδη έξω ή να ανακοινώνεις το που σκοπεύεις πας περπατώντας προς το αυτοκίνητό σου. Το #{service_name} θα ενημερώσει τον συγγραφέα της καταχώρησης με sms αν ο αριθμός του κινητού τους είναι καταχωρημένος στο προφίλ τους στη διεθνή μορφή (πχ. +30697123456), αν βρεθούν προσφορές ή αιτήματα που ταιριάζουν.

  %p
    Πριν μπορέσεις να καταχωρήσεις προσφορές ή αιτήματα με sms θα πρέπει να προσθέσεις τον αριθμό του κινητού τηλεφώνου σου
    - if logged_in? 
      = link_to("στο προφίλ σου.", profile_person_settings_path(:person_id => @current_user.id)) + "."  
    - else 
      στο προφίλ σου. 
  
  %p Τα μηνύματα θα πρέπει να στέλνονται στο +358400312821 και να έχουν τη μορφή: "kassi ride offer/request origin destination time (περιγραφή - όχι απαραίτητη)". Για παράδειγμα:
  %ul 
    %li kassi ride offer Κορίνθου153 Πανεπιστήμιο 11:30 Έχουμε χώρο για 3 άτομα ακόμα 
    %li kassi ride request ΟΣΕ,Πάτρα Ρίο 14:00
  
  %p Η ώρα πρέπει να είναι μέσα σε 24 ώρες από την τρέχουσα αλλά γίνεται επίσης να καθορίσεις ακριβή ημερομηνία αν θέλεις, πχ. 24.11.2011-17:30.
  
  %p 
    Οι δυνατότητες χρήσης του #{service_name} με sms είναι ακόμα υπό εξέλιξη, γι' αυτό μπορεί να υπάρχουν προβληματάκια εδώ κι εκεί. Παρακαλούμε στείλε μας  
    = link_to "ανατροφοδότηση", "#", :id => "give_feedback_link"
    αν παρατηρήσεις προβλήματα ή έχεις ιδέες για τη βελτίωση αυτών των υπηρεσιών.