%h3 提供物品和帮助给他人

您有不常用的工具，运动器材，演出服装或者其他的物品可以借给或者出售给他人吗？您善于修车，缝纫或者愿意帮忙遛狗吗？您愿意收取一点油费提供顺风车给他人上班吗？您有房要出租吗？
= link_to "Add information about all these to #{service_name}", new_request_path(:type => "offer") 
体验帮助他人的乐趣吧！

%p 
记得= link_to("check what other people need at the moment", requests_path) + "." 
或许您所提供的物品正好有人需要。

%p 
  #{service_name}力图把人们的需求和供给连接起来。人们可以自由的讨论交换的方式。这意味着在这个平台一切都是免费的。

%h3 当你需要的时候，求购求帮助吧！
%p 
不管你是需要一个物品，善意的帮助，顺风车或者想租房，都可以通过 #{service_name}的搜索= link_to("search", search_path) + "." 
你同样也能
  = link_to("browse open offers", offers_path) + "." 
%p 
如果有人已经在#{service_name}提供了你需要的，你在他发送的信息页面发送请求。举个例子，如果某个人正在卖某样东西，你可以点击"购买此物品"的按钮。在租借信息中，可以点击“借得此物品”的按钮。随后会弹出一个表格，在其中你可以填写发送给对方的信息。对方的收件箱会收到一个提示信息，并可以决定是否与你交易。如果对方同意，那么你会收到一个确认交易的提示信息。之后你们可以商讨交易细节。如果你想在做决定之前就了解更多详情。您可以通过发私人信息或者给予评论来和物主交流。

%p 
登陆 #{service_name}后，你可以通过点击页面上的信封按钮，在 - if logged_in? 
    = link_to("messages view", person_messages_path(:person_id => @current_user.id)) + "," 
  - else  
    查看你所有发出和接受到的信息。
%p 
如果你没发现想要的，你可以
= link_to("create an open request listing", new_request_path(:type => "request")) + "," 
描述你需要的。这个需求列表可以被其他 #{service_name}用户看到。他们很可能提供你需要的。如果某人发布了 #{service_name}需求列表，例如借物品的列表，你就可以浏览该列表并点击“出借物品”的按钮。

%p 
Sharetribe的原则是互惠互利，互相帮助。这意味着您不必因为不能马上回报对方而感到亏欠。你可以帮助群里的其他人。

%h3 小贴士
%p 
你的信用越好，别人越容易信任你并给与你需要的东西。增加信用的最好方式是 - if logged_in? 
    = link_to("fill out your profile information carefully", profile_person_settings_path(:person_id => @current_user.id)) + "."  
  - else 
仔细填写你的个人档案信息。
至少包括你的全名
 - if logged_in? 
    = link_to("add a recognizable profile picture of yourself", avatar_person_settings_path(:person_id => @current_user.id)) + "."  
  - else 
和一张清晰可辨的头像照片。

%p 

当你交易完成时，请及时给与评价。 好评使人开心，而如果有什么意见也可以写下来。所有的评价都是在个人档案中公开的，这会方便其他用户了解某人的信用。 因此你也应该提醒他人给你评价，这样会增加你的信用。你可以通过点击“给与评价”的链接进入评价页面。

-if APP_CONFIG.use_sms 
  %h3 Ridesharing with SMS 
   
  %p 顺风车的信息同样可以通过短信的方式来添加。这使得用户在户外查找顺风车时更加的方便。 当 #{service_name}找到匹配的搭乘者时，#{service_name}将通过短信的方式发送到顺风车的司机档案中的手机号上（请使用国际标准号码，例如+358501234567）。

  %p 
   在用短信发布需求贴或者提供贴之前，请添加您的手机号码
    - if logged_in? 
      = link_to("in your profile.", profile_person_settings_path(:person_id => @current_user.id)) + "."  
    - else 
到您的档案中。
   
  %p 短信会被发送到 +358400312821 格式如下: "kassi ride offer/request origin destination time (optional description)". 例如: 
  %ul 
    %li kassi ride offer somestreet20 Helsinki 18:30 still place for two in the car 
    %li kassi ride request railwaystation,h채meenlinna Tampere 14:00 
   
  %p 当前 #{service_name} 用空格做分隔符, 请在地址号码是不要用空格。#{service_name} 将根据地点来搜索结果。
   
  %p 时间一般在24小时内，但是准确日期同样有效。例如 24.11.2010-17:30. 
   
  %p  
   短信功能仍在研发中，如果问题或者建议，请填写反馈意见
    = link_to "feedback", "#", :id => "give_feedback_link"