%h3 Hỗ trợ các trợ giúp và mặt hàng cho người khác

%p
  Bạn sở hữu một số dụng cụ, thiết bị thể thao, quần áo dễ thương hoặc một thứ gì đó mà bạn không thường xuyên sử dụng và có thể dễ dàng cho người khác mượn, hoặc thậm chí bán hoặc cho chúng đi? Bạn là người sửa xe, khâu vá giỏi hoặc thích dắt chó đi dạo bộ? Bạn sẵn lòng cho một người nào đó quá giang xe chỉ nhận tiền xăng? Bạn có một căn hộ đang chờ cho thuê? 
  = link_to "Thêm thông tin về tất cả những thứ này tại #{service_name}", new_request_path(:type => "hỗ trợ")
  và cảm thấy thích thú về việc hỗ trợ những người bạn!

%p
  Cũng nhớ đến 
  = link_to("kiểm tra những gì người khác cần vào lúc này", requests_path) + "."
  Có lẽ bạn có thể hỗ trợ thứ gì đó mà người khác đang cần.

%p
  #{service_name} có mục đích cùng đem lại cho những người cần thứ gì đó và có thể hỗ trợ thứ gì đó. Sau đó học có thể tự do thảo luận về các phương thức trao đổi. Điều này có nghĩa là bạn bán, cho thuê và giao thương hoặc cho, cho mượn và giúp đỡ miễn phí.

%h3 Khi bạn cần thư gì đó, hỏi để được giúp đỡ

%p
  Nếu bạn cần một mặt hàng, môt sự giúp đỡ, một cuốc xe hoặc một căn hộ, tất cả có thể tim thấy khi sử dụng hữu ích #{service_name}
  = link_to("search", search_path) + "."
  Bạn cũng có thể
  = link_to("duyệt các hỗ trợ mở", offers_path) + "."

%p
  Nếu một người nào đó vừa hỗ trợ những gì bạn cần tại #{service_name}, bạn có thể yêu cầu nó từ trang hỗ trợ. Chẳng hạn, nếu một người nào đó đang bán thứ gì đó, bạn có thể chọ (click) nút "Bán mặt hàng này", hoặc nếu đang cho mượn, thì chọn nút "Mượn mặt hàng này". Lúc này sẽ mở một mẫu để bạn có thể gửi một thông điệp đến người hỗ trợ. Người hỗ trợ sẽ nhận thông điệp tại hộp thư đến và sau đó sẽ phải quyết định là họ có chấp nhận hỗ trợ tại thời điểm này hay không. Bạn sẽ nhận môt email thông báo nếu người hỗ trợ chọn đồng ý hỗ trợ. Sau đó bạn có thể đồng ý về các chi tiết bằng các thông điệp miễn phí. Nếu bạn muốn nhận nhiều thông tin hơn về mặt hàng hoặc dịch vụ bạn cần trước khi yêu cầu nó, bạn có thể gửi một tin thông điệp riêng đến người hỗ trợ, hoặc thêm một nhận xét công khai cho mọi người thấy và trả lời. 
  
%p
  Bạn có thể hiển thị toàn bộ thông điệp bạn nhận hoặc gửi và các yêu câu và hỗ trợ được chấp nhận hoặc bị từ chối tại
  - if logged_in?
    = link_to("thông điệp hiển thị", person_messages_path(:person_id => @current_user.id)) + ","
  - else 
    thông điệp hiển thị,
  cái mà bạn có thể luôn truy cập bằng cách chọn (click) biểu tượng bao thư trên đầu mỗi trang, khi bạn đã đăng nhập vào #{service_name}.

%p
  Nếu bạn không tìm thấy những gì bạn tìm, bạn có thể
  = link_to("tạo một danh sách yêu cầu mở", new_request_path(:type => "request")) + ","
  nơi bạn mô tả những gì bạn cần. Danh sách yêu cầu này sẽ được hiển thị cho tất cả những người dùng  #{service_name} khác. Rất thích hợp để một người nào đó có thể chỉ hỗ trợ thứ bạn cần. Nếu một người nào đó khác đã đưa lên danh sách yêu cầu tại #{service_name}, chẳng hạn vì họ đang tìm mượn thứ gì đó, bạn có thể đến trang danh sách và hỗ trợ cho mượn những gì đang yêu cầu bằng cách chọn (click) nút "Cho mượn mặt hàng này".
  
%p
  Sharetribe làm việc với nguyên lý có đi có lại nói chung. Có nghĩa là bạn không phải cảm thấy chịu ơn nếu một người nào đó giúp bạn và bạn không thể đền đáp ngay. Thay vì vậy, bạn có thể giúp một người nào đó khác trong cộng đồng!
  
%h3 Các gợi ý

%p
  Tin cậy hơn bạn xuất hiện đối với người khác, thiết tha hơn họ có thể hỗ trợ bạn những thứ bạn cần. Cách dễ nhất để xây dựng uy tín của bạn là 
  - if logged_in?
    = link_to("điền đầy đủ thông tin một cách cẩn thận", profile_person_settings_path(:person_id => @current_user.id)) + "." 
  - else
    điền đầy đủ thông tin một cách cẩn thận.
  Ít nhất bạn nên điền tên đầy đủ của bạn và
  - if logged_in?
    = link_to("thêm một hình ảnh nhận diện tiểu sử của chính bạn", avatar_person_settings_path(:person_id => @current_user.id)) + "." 
  - else
    thêm một hình ảnh nhận diện tiểu sử của chính bạn.

%p
  Khi bạn hỗ trợ thứ gì đó cho các người dùng khác hoặc họ hỗ trợ thứ gì đó cho bạn, thật là tốt để đưa ra phản hồn đối với nhóm khác sau khi giao dịch. Thông tin phản hồi tốt sẽ làm người ta vui, và nếu một người nào đó không làm theo cách bạn nghĩ, nõ cũng tốt để bỏ một ghi chú về điều đó. Tất cả các phản hồ đều công khai và được trình bày trong tiêu sử của người nhận phản hồi, và do đó giúp đỡ người khác đánh giá mức độ tin cậy của người đó. Với lý do này bạn cũng nên nhắc nhở những người khác cho bạn phản hồi, vì phản hồi tích cực sẽ xây dựng uy tín của bạn trong mắt người khác, và sẽ thuận lợ hơn với các giao dịch sau này. Bạn có thể đưa ra thông thin phản hồi bằng cách chọn (click) liên kết "Cho phản hồi" về một yêu cầu hoặc hỗ trợ trong vùng hiển thị thông điệp.
  
-if APP_CONFIG.use_sms
  %h3 Chia sẻ cuốc xe bằng SMS
  
  %p Cuốc xe chia sẻ hỗ trợ và yêu cầu có thể cũng được thêm vào tin nhắn -sms. Đó có thể là cách thủ công để kiểm tra các cuốc xe sẵn có để di hoặc thông báo kế hoạch đi của bạn khi đi bộ về hướng xe. #{service_name} sẽ thông báo người hỗ trợ bằng sms nếu số trong tiểu sử dưới hình thức quốc tế (ví dụ, +358501234567), khi đó hỗ trợ kết hợp được tìm thấy tại #{service_name}.

  %p
    Trước khi đưa lên các hỗ trợ và yêu cầu bằng sms bạn phải thêm vào số điện thoại di động của bạn
    - if logged_in?
      = link_to("trong tiểu sử của bạn.", profile_person_settings_path(:person_id => @current_user.id)) + "."  
    - else
      trong tiểu sử của bạn.
  
  %p Các thông điệp nên được gửi đến +358400312821 và được hình thành như: "kassi ride offer/request origin destination time (mô tả không bắt buộc)". Chẳng hạn:
  %ul
    %li kassi ride offer somestreet20 Helsinki 18:30 still place for two in the car 
    %li kassi ride request railwaystation,h채meenlinna Tampere 14:00
  
  %p Hiện tại #{service_name} tách tất cả các phần bởi khoảng trống, do đó viết địa chỉ số hoặc các sự gạn lọc khác không khoảng trống. #{service_name} sẽ tìm để kết hợp yêu cầu và hỗ trợ dựa trên vị trí đã cho.
  
  %p Thời gian được mong đợi là trong vòng 24 giờ tới, nhưng có thể viết chính xác ngày nếu bạn muốn, ví dụ, 24.11.2010-17:30.
  
  %p
    Các đặc tính của Sms vẫn còn đang trong quá trình thực hiện, vì có thể có sự lêch lạc nhỏ ở đâu đó. Xin vui lòng gửi  
    = link_to "phản hồi", "#", :id => "give_feedback_link"
    Nếu bạn nhận xét bất kỳ vấn đề nào hoặc có ý tưởng làm thế nào để phát triển nét đặc trưng.