- content_for :javascript do
  initialize_enter_organization_email_form("#{I18n.locale}","#{new_community_email_label}","#{t("communities.signup_form.email_in_use_message", :log_in_link => link_to(t("communities.signup_form.log_in_here").html_safe, dashboard_login_path))}", "#{t("communities.signup_form.invalid_email_ending_message", :community_category => t("communities.select_tribe_category_form.#{session[:community_category]}"))}","#{community_email_restricted?}","#{session[:community_category]}");

.grid_12.alpha.omega
  %h1.new_tribe= t(".enter_your_organization_email", :community_category => t("communities.select_tribe_category_form.#{session[:community_category]}").downcase)
  %h2.new_tribe= t(".only_people_with_verified_email_address_can_join_your_tribe", :community_category => t("communities.select_tribe_category_form.#{session[:community_category]}").downcase)
.grid_8.prefix_2.suffix_2.alpha.omega
  #organization_email_form
    = form_tag({ :action => :set_organization_email, :controller => :communities }, :id => "org_email_form") do
      .form_field_container
        = text_field_tag "email", "", :class => "organization_email"
        = submit_tag t(".continue"), :class => "send_button", :maxlenght => "255", :id => "submit_organizational_email"
