%h1.new_tribe= t(".create_an_account")
%h2.new_tribe
  = t(".to_create_a_tribe_you_must_first_create_sharetribe_account")
  = link_to t(".log_in_with_your_existing_account"), dashboard_login_path, :class => "green_part_link"
.grid_6.prefix_3.suffix_3
  #signup_form
    = form_for @person, :url => APP_CONFIG.login_domain.to_s + people_path do |form|
      .form_field_container
        = form.label :email, t('people.new.email')
        = form.text_field :email, :class => :text_field, :maxlenght => "255"
        - # Honey pot: hidden field to detect spammers
        = form.label :email_confirmation, "You should not see this field, if CSS is working. If you see this, please send feedback on left!", :class => "unwanted_text_field" 
        = form.text_field :email_confirmation, :class => "unwanted_text_field", :id => "error_regristration_unwanted_email2"