= render :partial => "dashboard/header"

- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"
  -#= javascript_include_tag "https://code.google.com/apis/gears/gears_init.js"
  -#= javascript_include_tag 'markerclusterer.js'

- content_for :extra_javascript do
  :javascript
    $(document).ready(function() { initialize_communities_map(); });

#browse_tribes_main
  .container_12
    .grid_12.alpha.omega
      %h1.browse= t(".find_your_local_tribe")
      #map-canvas
      %h2.browse= t(".or_start_your_own", :start_your_own_tribe_link => link_to(t(".start_your_own_tribe_link"), new_tribe_path, :class => "green_part_link")).html_safe

= render :partial => "dashboard/footer"
