.form-group.verified_email{style: hidden ? 'display:none' : '' }
  = label_tag :name, t('admin2.outgoing_address.name')
  = text_field_tag :name, user_defined_address.try(:[], :name), placeholder: t('admin2.outgoing_address.sender_name_placeholder'), class: %i[form-control verified-class], disabled: disable
  %small#senderName-help.form-text
    = t('admin2.outgoing_address.name_info')
.form-group.verified_email{style: hidden ? 'display:none' : '' }
  - verified = user_defined_address.try(:[], :verification_status) == :verified
  = label_tag :email, style: verified ? '' : 'display:none', class: %i[verified-label-class] do
    = t('admin2.outgoing_address.email_verified')
    = image_tag 'svg/checkmark-green.svg', style: verified ? '' : 'display:none', class: %i[verified-label-class]
  %span.success.verified-label-class{style: verified ? '' : 'display:none'}= t('admin2.outgoing_address.verified')
  = label_tag :email, t('admin2.outgoing_address.email'), style: verified ? 'display:none' : '', class: %i[unverified-label-class]
  = text_field_tag :email, user_defined_address.try(:[], :email), placeholder: t('admin2.outgoing_address.sender_email_placeholder'), class: %i[form-control verified-class], disabled: disable
  %small#senderEmail-help.form-text
    = t('admin2.outgoing_address.verified_info')
