- content_for :title do
  = t('admin2.sidebar.emails.custom_outgoing_address')

.content-card-header
  %h1.content-card-header-title
    = t('admin2.sidebar.emails.custom_outgoing_address')

- disable = show_branding_info || !can_set_sender_address
.content-card-section-container
  = form_tag post_sender_address_url, method: :post, class: %i[content-card-section-form], remote: true, id: :outgoing_email_form do
    %section.content-card-section
      %h2= t('admin2.outgoing_address.outgoing_email_settings')
      - if user_defined_address.present?
        = render 'expired_notice', resend_url: resend_url, user_defined_address: user_defined_address
        = render 'unverified_notice', resend_url: resend_url, user_defined_address: user_defined_address
        = render 'sent_notice', user_defined_address: user_defined_address
      - if disable
        .statusbar.business
          %span
            ✨
            = t('admin2.outgoing_address.upgrading', url: admin_plan_path).html_safe
      %p.ingress
        = t('admin2.outgoing_address.info', url: 'https://help.sharetribe.com/en/articles/666096').html_safe
      - waiting = user_defined_address && %i[none requested expired].include?(user_defined_address[:verification_status])
      - if waiting
        = render 'waiting', status_check_url: status_check_url, user_defined_address: user_defined_address
      = render 'verified', user_defined_address: user_defined_address, disable: disable, hidden: waiting
      = render 'expired', user_defined_address: user_defined_address
      = render 'unverified', user_defined_address: user_defined_address

    %section.content-card-terminal#save_changes_button{style: ('display:none' if waiting)}
      = render 'admin2/submit_button', caption: t('admin2.save_changes')
