.feedback_type_description
  .feedback_type_description_image
    %div{:class => "profile_feedback_average_image_#{grade_amount[2]}_small"}
      &nbsp;  
  .feedback_type_description_text
    = t("people.profile_feedback.#{grade_amount[0]}")
  .feedback_type_description_grade{:id => "feedback_grade_#{grade_amount[2]}"}
    = grade_amount[1]