- content_for :javascript do
  initialize_give_feedback_form("#{I18n.locale}","#{t('error_messages.testimonials.you_must_select_a_grade')}","#{t('error_messages.testimonials.you_must_explain_not_neutral_feedback')}");
.centered-section.testimonial-form
  %h2= t(".give_feedback_to", :person => transaction.other_party(@current_user).name(@current_community))
  %p= t(".this_will_be_shown_in_profile", :person => transaction.other_party(@current_user).given_name_or_username)
  = form_for testimonial, :url => person_message_feedbacks_path(:person_id => @current_user.id, :message_id => transaction.id) do |form|
    = form.error_messages
    = form.label :text, t('.textual_feedback')
    = form.text_area :text, :placeholder => t(".default_textual_feedback")
    = form.label :grade, t(".grade")
    .feedback-grade
      %label{:for => "grade-5", :class => "radio hidden"}
        = radio_button_tag "testimonial[grade]", 1, false, :id => "grade-5"
      %a.grade.hidden{:id => "positive", :name => "grade-5"}
        = icon_tag("like", ["link-icon"])
        .link-text{:id => "positive-grade-link"}= t(".positive")

      %label{:for => "grade-1", :class => "radio hidden"}
        = radio_button_tag "testimonial[grade]", 0, false, :id => "grade-1"
      %a.grade.hidden{:id => "negative", :name => "grade-1"}
        = icon_tag("dislike", ["link-icon"])
        .link-text{:id => "negative-grade-link"}= t(".negative")

    = form.button t(".send_feedback"), :class => "send_button", :id => "send_testimonial_button"
