.form-group
  %label
    = t('admin2.search.search_placeholder')
  .multiple-languages-container
    - customizations.each do |customization|
      = form.fields_for :community_customizations, customization do |cc|
        .multiple-languages-language
          %span.language
            = local_name(cc.object.locale)
        .multiple-languages-input
          = cc.text_field :search_placeholder, class: %i[form-control search-placeholder], placeholder: t('admin2.search.search_for', locale: cc.object.locale)
    %small.form-text
      = t('admin2.search.search_placeholder_info_text')
