- if @current_community.payment_gateways.include?(Mangopay.first)
  - content_for :javascript do
    initialize_mangopay_terms_lightbox();
  %b
    = t('payments.mangopay.terms.mangopay_terms_also_included', :mangopay_terms_link_text => link_to(t("payments.mangopay.terms.mangopay_terms_link_text"), "#", :tabindex => "-1", :id => "mangopay_terms_link")).html_safe
  
  = render :partial => "payments/mangopay/mangopay_terms_lightbox"
  %br
  %br
  

- if @community_customization && @community_customization.terms_page_content
  = @community_customization.terms_page_content.html_safe
- elsif File.exists?("infos/localized_terms/terms.#{I18n.locale}")
  = render :file => "infos/localized/terms/terms.#{I18n.locale}"
- else
  = render :file => "infos/localized/terms/terms.en}"