<h1><%= t(:about_title)%></h1>
<br><br>
<h2><%= t(:about_title_what_is_kassi)%></h2>
<p><%= t(:about_text_what_is_kassi)%></p><br>
<h2><%= t(:about_title_why_is_kassi)%></h2>
<p><%= t(:about_text_why_is_kassi)%></p><br>
<h2><%= t(:about_title_who_is_kassi_for)%></h2>
<p><%= t(:about_text_who_is_kassi_for)%></p>