<h1><%= t(:help_title)%></h1>
<br><br>
<h2><%= t(:help_title_concepts)%></h2><br>

<p><b><%= t(:help_title_concept_listing )%></b> = <%= t(:help_text_concept_listing)%></p>

<p><b><%= t(:help_title_concept_reply_to_listing )%></b> = <%= t(:help_text_concept_reply_to_listing)%></p>

<p><b><%= t(:help_title_concept_comment_listing )%></b> = <%= t(:help_text_concept_comment_listing)%></p>

<p><b><%= t(:help_title_concept_close_listing )%></b> = <%= t(:help_text_concept_close_listing)%></p>

<p><b><%= t(:help_title_concept_kassi_event )%></b> = <%= t(:help_text_concept_kassi_event)%></p>

<p><b><%= t(:help_title_concept_category )%> </b> = <%= t(:help_text_concept_category)%></p>

<p><b><%= t(:help_title_concept_favor )%></b> = <%= t(:help_text_concept_favor)%></p>

<p><b><%= t(:help_title_concept_inbox )%></b> = <%= t(:help_text_concept_inbox)%></p>

<p><b><%= t(:help_title_concept_profile )%></b> =<%= t(:help_text_concept_profile)%></p>

<p><b><%= t(:help_title_concept_item )%></b> = <%= t(:help_text_concept_item)%></p>

<p><b><%= t(:help_title_concept_thank_you )%></b> = <%= t(:help_text_concept_thank_you)%></p>

<h2><%= t(:help_title_categories)%></h2><br><br>

<h4><%= t(:help_title_categories_market_place)%></h4>
<p><%= t(:help_text_categories_market_place)%><p>
<p><b><%= t(:help_title_examples)%></b></p>
<p><%= t(:help_examples_categories_market_place)%></p>

<h4><%= t(:help_title_categories_borrow_items)%></h4>
<p><%= t(:help_text_categories_borrow_items)%><p>
<p><b><%= t(:help_title_examples)%></b></p>
<p><%= t(:help_examples_categories_borrow_items)%></p>

<h4><%= t(:help_title_categories_favors)%></h4>
<p><%= t(:help_text_categories_favors)%><p>
<p><b><%= t(:help_title_examples)%></b></p>
<p><%= t(:help_examples_categories_favors)%></p>

<h4><%= t(:help_title_categories_groups)%></h4>
<p><%= t(:help_text_categories_groups)%><p>
<p><b><%= t(:help_title_examples)%></b></p>
<p><%= t(:help_examples_categories_groups)%></p>

<h4><%= t(:help_title_categories_rides)%></h4>
<p><%= t(:help_text_categories_rides)%><p>
<p><b><%= t(:help_title_examples)%></b></p>
<p><%= t(:help_examples_categories_rides)%></p>

<h4><%= t(:help_title_categories_lost_property)%></h4>
<p><%= t(:help_text_categories_lost_property)%><p>
<p><b><%= t(:help_title_examples)%></b></p>
<p><%= t(:help_examples_categories_lost_property)%></p>

<h4><%= t(:help_title_categories_other)%></h4>
<p><%= t(:help_text_categories_other)%><p>
<p><b><%= t(:help_title_examples)%></b></p>
<p><%= t(:help_examples_categories_other)%></p>




