%h3 Предложения товаров и услуг

%p
  У вас есть инструменты, спортивный инвентарь, смешные костюмы или другие вещи, которыми вы не пользуетесь, или пользуетесь очень редко и можете одолжить другим, или даже продать или просто отдать? Вы умеете ремонтировать велосипеды, шить или вам нравится выгуливать собак? Хотите кого-нибудь подвезти утром, по пути на работу? Или может быть у вас есть комната, которую вы можете сдать кому-либо? 
  = link_to "Разместите информацию об этом на Kassi", new_request_path(:type => "offer")
  и получите удовольствие помогая другим людям!

%p
  Кроме того, обратите внимание на 
  = link_to("то, что требуется сейчас другим", requests_path) + "."
  Может быть, у вас есть именно то, что они ищут.

%p
  Целью Kassi является помощь во встрече людям, которые ищут что-нибудь и тем, у которых есть что предложить другим. Они могут свободно договориться о способах обмена. Это означает, что вы можете продавать, покупать, сдавать, отдавать, и помогать другим людям. Бесплатно.

%h3 Узнайте, что необходимо другим

%p
  Нужна ли вам какая-либо вещь, услуга, поездка или жилище, всё это может быть легко найдено с помощью полезной функции
  = link_to("поиска", search_path) + "."
  Также вы можете
  = link_to("просмотреть открытые предложения", offers_path) + "."

%p
  Если кто-то уже предлагает то, что требуется вам, вы можете нажать ссылку «Запросить» или «Комментарий» в этом предложении и отправить сообщение пользователю, который создал это предложение, используя  форму. После этого вам останется только подождать, пока получатель сообщения ответит на него, либо примет ваш запрос. О деталях сделки можно договориться используя функции обмена сообщениями Kassi. Вы будете получать автоматические оповещения обо всех новых сообщениях, адресованных вам, а также о принятых предложениях или запросах. Таким образом не требуется раскрывать ваш адрес электронной почты кому-либо, за исключением случаев, когда вы сами этого хотите. Все полученные и отправленные сообщения, отвергнутые или находящиеся в процессе подтверждения предложения и запросы можно просмотреть в
  - if logged_in?
    = link_to("разделе «Cообщения»", person_messages_path(:person_id => @current_user.id)) + ","
  - else 
    разделе «Сообщения»,
  куда вы можете быстро перейти нажав значок с конвертом, расопложенный вверху каждой страницы, после того, как вы авторизуетесь.

%p
  Если вы не нашли то, что искали, вы можете
  = link_to("создать запрос", new_request_path(:type => "request")) + ","
  где можете описать всё, что вам необходимо. Этот запрос будет доступен всем другим пользователям Kassi. Очень может быть, что кто-нибудь сможет предложить именно то, что нужно вам.
  
%h3 Советы

%p
  Чем больше люди будут вам доверять, тем больше вероятность того, что кто-нибудь поможет вам отыскать необходимую вещь. Самый простой способ повысить уровень доверия к себе, это
  - if logged_in?
    = link_to("как можно более полное представление информации о себе", profile_person_settings_path(:person_id => @current_user.id)) + "." 
  - else
    как можно более полное представление информации о себе.
  По крайней мере вы должны указать своё имя и
  - if logged_in?
    = link_to("добавить разборчивое фото или картинку для учётной записи", avatar_person_settings_path(:person_id => @current_user.id)) + "." 
  - else
    добавить разборчивое фото или картинку для учётной записи.

%p
  Когда вы предлагаете что-нибудь другим пользователям, либо, если они предлагают что-либо вам, всегда приветствуется оставлять отзыв о каждой сделке. Хорошие отзывы сделают людей счастливее, а если кто-то поступил не так, как вы ожидали, об этом тоже следует рассказать. Все отзывы являются общедоступными и отображаются в профиле учётной записи пользователя, таким образом помогая другим пользователям составить представление об этом человеке. По этой же причине вам следует напоминать другим оставлять отзывы о вас, поскольку положительные отзывы будут влиять на уровень доверия к вам со стороны других пользователей и упростят дальнейшие сделки. Оставить отзыв можно нажав ссылку «Оставить отзыв» на странице принятого запроса или предложения в списке сообщений.
  
-if APP_CONFIG.use_sms
  %h3 Осуществляйте поездки с помощью SMS
  
  %p Предложения и запросы на своместное использование транспортных средств могут быть кроме того добавлены с помощью SMS. Это может быть удобным способом проверить список доступных поездок, либо поделиться с другими вашими планами, в то время, когда вы едете на своей машине. Kassi проинформирует автора предложения по sms, если телефон, указанный в его профиле имеет международный формат(н-р +7xxxxxxxxxx), если Kassi обнаружит совпадающие заявки.

  %p
    До того, как размещать запросы или предложения с помощью sms, вы должны добавить свой номер телефона
    - if logged_in?
      = link_to("в свой профиль.", profile_person_settings_path(:person_id => @current_user.id)) + "." 
    - else
      в свой профиль.
  
  %p Сообщения должны быть отправлены на номер +358400312821 и иметь следующий формат: «kassi ride offer/request origin destination time (необязательное описание)», где «offer/request» - «предложение/запрос», «origin» - «откуда», «destination» - «куда», «time» - «время». Например:
  %ul
    %li kassi ride offer улица_1 улица_2 18:30 едут двое
    %li kassi ride request вокзал_Брянск1 старый_аэропорт 14:00
  
  %p В настоящее время все части SMS разделяются с помощью пробелов, таким образом, для корректной обработки, пишите адреса без пробелов. Kassi будет осуществлять поиск по базе предложений и запросов руководствуясь местоположениями.
  
  %p Как правило, время подразумевается в пределах суток, но можно написать и точную дату, в соответствии со следующим форматом: 24.11.2011-17:30.
  
  %p 
    SMS-функционал всё ещё находится в разработке, поэтому могут возникать ошибки в его работе. Отправьте  
    = link_to "сообщение об ошибке", "#", :id => "give_feedback_link"
    если вы столкнулись с неправильной работой сервиса или у вас есть идеи по улучшению качества его работы.