= render :partial => "layouts/left_hand_navigation", :locals => { :links => about_links }

- content_for :title, t('layouts.infos.register_details')

- content_for :title_header do
  %h1= t("layouts.infos.info_about_kassi")

.left-navi-section.about-section
  = render :layout => "layouts/mercury_editable_page", :locals => { :content_type => "privacy_page_content" } do
    - if @community_customization && @community_customization.privacy_page_content
      - content = @community_customization.privacy_page_content.html_safe
    - elsif File.exists?("app/views/infos/localized_privacy_policy/privacy_policy.#{I18n.locale}.haml")
      - content = render :file => "infos/localized_privacy_policy/privacy_policy.#{I18n.locale}"
    - else
      - content = render :file => "infos/localized_privacy_policy/privacy_policy.en"

    - content_for :meta_description, StringUtils.first_words(strip_tags(content.html_safe))
    - content_for :keywords, StringUtils.keywords(strip_tags(content.html_safe))

    = content
