<% content_for :javascript do %>
  window.ST.initializeExpirationNotice('expiration-notice');
<% end %>
<div class="expiration-lightbox lightbox" id="expiration-notice" >
  <div class="expiration-content">
    <div class="expiration-head-panel">
      <h1 class="expiration-title"><%= t("expiration.title") %></h1>
      <h2 class="expiration-subtitle" >
        <%= t("expiration.sub_title_new") %>
      </h2>
      <div class="expiration-plan-external">
        <a href="<%= external_plan_service_login_url %>">
          <div class="expiration-plan-biannual">
            <p class="expiration-subscribe-title"><%= t("expiration.link_to_external_service") %></p>
          </div>
        </a>
      </div>
    </div>
    <p class="expiration-footer"><%= t("expiration.need_more_info") %> <a href="mailto:sales@sharetribe.com"><%= t("expiration.contact_us") %></a></p>
  </div>
</div>
