<div id="announcement_div">
  <% [:notice, :warning, :error].each do |announcement| %>
    <% unless flash[announcement].blank? %>
      <div class="announcement <%= announcement.to_s %>">
        <% if flash[announcement].is_a?(Array) %>
          <% if flash[announcement].size == 2 %>
            <%= t(flash[announcement][0]) + " " + flash[announcement][1] %>
          <% elsif flash[announcement].size == 3 %>
            <%= t(flash[announcement][0]) + " " +  link_to(flash[announcement][1], flash[announcement][2]) %>
          <% else %>
            <%= t(flash[announcement][0]) + ": " + flash[announcement][1] + ". " + link_to(t(flash[announcement][2]), flash[announcement][3]) %>
          <% end %>  
        <% else %>  
          <%= t(flash[announcement]) %>
        <% end %>
      </div>
    <% end %>    
  <% end %>
</div>