<% content_for :javascript do %>
  window.ST.initializeExpirationNotice('expiration-notice');
<% end %>
<div class="expiration-lightbox lightbox" id="expiration-notice" >
  <div class="expiration-content">
    <div class="expiration-head-panel">
      <h1 class="expiration-title"><%= t("expiration.title") %></h1>
      <h2 class="expiration-subtitle" >
        <% if feature_enabled?(:new_plan_page) %><%= t("expiration.sub_title_new") %>
        <% else %><%= t("expiration.sub_title") %>
        <% end %>
      </h2>
      <% if feature_enabled?(:new_plan_page) %>
      <div class="expiration-plan-external">
        <a href="<%= external_plan_service_login_url %>">
          <div class="expiration-plan-biannual">
            <p class="expiration-subscribe-title"><%= t("expiration.link_to_external_service") %></p>
          </div>
        </a>
      </div>
      <% end %>
    </div>
    <% if !feature_enabled?(:new_plan_page) %>
    <div class="expiration-plans-panel">
      <div class="expiration-plans-wrapper">
        <h1 class="expiration-plan-title"><%= t("expiration.plans_feature_title") %></h1>
        <p class="expiration-plan-desc"><%= t("expiration.plans_feature_domain") %></p>
        <p class="expiration-plan-desc"><%= t("expiration.plans_feature_size") %></p>
        <p class="expiration-plan-desc"><%= t("expiration.plans_feature_popular") %></p>
        <div class="expiration-plan-select">
          <a href="<%= @pro_biannual_link %>" class="expiration-plan-wrapper-right">
            <div class="expiration-plan-biannual">
              <p class="expiration-subscribe-title"><%= t("expiration.subscribe") %></p>
              <p class="expiration-subscribe-price-per"><span class="expiration-subscribe-price"><%= @pro_biannual_price %></span><br />
                <span class="expiration-subscribe-per"><%= t("expiration.per_month") %>&nbsp;<span class="plan-price-disclaimer">*</span></span></p>
            </div>
              <p class="plan-price-disclaimer-desc">*&nbsp;<%= t("expiration.commitment_required") %></p>
          </a>

          <a href="<%= @pro_monthly_link %>" class="expiration-plan-wrapper-left">
            <div class="expiration-plan-monthly">
              <p class="expiration-subscribe-title"><%= t("expiration.subscribe") %></p>
              <p class="expiration-subscribe-price-per"><span class="expiration-subscribe-price"><%= @pro_monthly_price %></span><br />
              <span class="expiration-subscribe-per"><%= t("expiration.per_month") %></span></p>
            </div>
          </a>
        </div>

      </div>
    </div>
    <% end %>
    <% if feature_enabled?(:new_plan_page) %>
    <p class="expiration-footer-thin"><%= t("expiration.need_more_info") %> <a href="mailto:sales@sharetribe.com"><%= t("expiration.contact_us") %></a></p>
    <% else %>
    <p class="expiration-footer"><%= t("expiration.alternative_plans") %> <a href="mailto:sales@sharetribe.com"><%= t("expiration.contact_us") %></a></p>
    <% end %>
  </div>
</div>