- join = ->(*parts) { File.join(parts.select(&:present?)) }
:scss
  @font-face {
    font-family: 'proxima_soft';
    src: url("#{join.call(path_font, 'proximasoft-regular-webfont.eot')}");
    src: url("#{join.call(path_font, 'proximasoft-regular-webfont.eot?#iefix')}") format('embedded-opentype'),
      url("#{join.call(path_font, 'proximasoft-regular-webfont.woff2')}") format('woff2'),
      url("#{join.call(path_font, 'proximasoft-regular-webfont.woff')}") format('woff'),
      url("#{join.call(path_font, 'proximasoft-regular-webfont.ttf')}") format('truetype'),
      url("#{join.call(path_font, 'proximasoft-regular-webfont.svg#proxima_softregular')}") format('svg');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'proxima_soft';
    src: url("#{join.call(path_font, 'proximasoft-medium-webfont.eot')}");
    src: url("#{join.call(path_font, 'proximasoft-medium-webfont.eot?#iefix')}") format('embedded-opentype'),
      url("#{join.call(path_font, 'proximasoft-medium-webfont.woff2')}") format('woff2'),
      url("#{join.call(path_font, 'proximasoft-medium-webfont.woff')}") format('woff'),
      url("#{join.call(path_font, 'proximasoft-medium-webfont.ttf')}") format('truetype'),
      url("#{join.call(path_font, 'proximasoft-medium-webfont.svg#proxima_softmedium')}") format('svg');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'proxima_soft';
    src: url("#{join.call(path_font, 'proximasoft-semibold-webfont.eot')}");
    src: url("#{join.call(path_font, 'proximasoft-semibold-webfont.eot?#iefix')}") format('embedded-opentype'),
      url("#{join.call(path_font, 'proximasoft-semibold-webfont.woff2')}") format('woff2'),
      url("#{join.call(path_font, 'proximasoft-semibold-webfont.woff')}") format('woff'),
      url("#{join.call(path_font, 'proximasoft-semibold-webfont.ttf')}") format('truetype'),
      url("#{join.call(path_font, 'proximasoft-semibold-webfont.svg#proxima_softsemibold')}") format('svg');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'proxima_soft';
    src: url("#{join.call(path_font, 'proximasoft-bold-webfont.eot')}");
    src: url("#{join.call(path_font, 'proximasoft-bold-webfont.eot?#iefix')}") format('embedded-opentype'),
      url("#{join.call(path_font, 'proximasoft-bold-webfont.woff2')}") format('woff2'),
      url("#{join.call(path_font, 'proximasoft-bold-webfont.woff')}") format('woff'),
      url("#{join.call(path_font, 'proximasoft-bold-webfont.ttf')}") format('truetype'),
      url("#{join.call(path_font, 'proximasoft-bold-webfont.svg#proxima_softbold')}") format('svg');
    font-weight: 700;
    font-style: normal;
  }
