%header.global-header
  .wrapper
      
    .select-tribe.toggle{data: {toggle: '.tribe-menu'}}
      .current-tribe
        Lauttasaari
      %i.icon-dropdown.ss-dropdown
    
    - if @current_user  
      
      .notifications-toggle.toggle
        %i.icon.ss-earth
        -# if single digit:
        .badge 5

        -# if two digits:
        -#.badge.big-badge 50 

        -# if three digits:
        -#.badge.huge-badge 500

      %a.inbox-toggle.toggle{href: received_person_messages_path(:person_id => @current_user.id.to_s)}
        %i.icon.ss-mail
        -# if single digit:
        .badge 5

        -# if two digits:
        -#.badge.big-badge 50 

        -# if three digits:
        -#.badge.huge-badge 500
      
    
      .user-menu-toggle.toggle{data: {toggle: '.user-menu'}}
        = image_tag @current_user.image.url(:thumb), alt: '', class: 'user-avatar'
        .user-name= @current_user.name_or_username

        %i.icon-dropdown.ss-dropdown

        -# if single digit:
        -#.badge 5

        -# if two digits:
        -#.badge.big-badge 50 

        -# if three digits:
        .badge.huge-badge 500
    
    - else  
    
      .login-menu-toggle.toggle{data: {toggle: '.login-menu'}}
        .login-icon.ss-login
        .login-text Log in
        
      %a.feedback-menu-toggle.toggle{href: new_user_feedback_path}
        .feedback-icon.ss-megaphone
        .feedback-text Contact us
      
      
    %nav.tribe-menu.toggle-menu
      %a{href: '/'}
        Sharetribe Lauttasaari
      %a{href: '#'}
        Omakotitori
      %a{href: '#'}
        Create a new marketplace
    
    - if @current_user
      %nav.user-menu.toggle-menu
        %a.profile-menu-button{href: person_path(@current_user)}
          .ss-user.icon-with-text
          .text-with-icon
            Profile
        %a.inbox-menu-button{href: received_person_messages_path(:person_id => @current_user.id.to_s)}
          .ss-mail.icon-with-text
          .text-with-icon
            Messages 
            .badge.big-badge 50 
        %a.notifications-menu-button{href: '#'}
          .ss-earth.icon-with-text
          .text-with-icon
            Notifications
            .badge.huge-badge 500
        %a.feedback-menu-button{href: new_user_feedback_path}
          .ss-megaphone.icon-with-text
          .text-with-icon
            Contact us
        %a{href: '#'}
          .ss-settings.icon-with-text
          .text-with-icon
            Settings
        %a{href: logout_path}
          .ss-logout.icon-with-text
          .text-with-icon
            Log out
    
    %nav.login-menu.toggle-menu
      = form_tag("#{APP_CONFIG.login_domain}#{sessions_path}",:action => "create") do
        - if @current_community
          = hidden_field_tag :community, @current_community.domain
        = text_field_tag "person[login]", nil, :value => session[:form_login], :placeholder => "Email or username"
        = password_field_tag "person[password]", nil, :placeholder => "Password"
        = button_tag t('sessions.new.login')
        = link_to t('sessions.new.create_new_account'), sign_up_path, :class => "login-menu-link"
        = link_to t('sessions.new.i_forgot_my_password'), "#", :class => "login-menu-link"
        
          