%header.global-header.marketplace-header
  .wrapper
    .logo-side
      = image_tag @current_community.logo.url(:header), :class => "global-header-logo"
      .marketplace-name= @current_community.name

    .right-side
      %ul.network-navi
        %li= link_to "home", "#", :class => "global-navi"
        %li= link_to "about", about_infos_path, :class => "global-navi"
      .new-listing-link
        = link_to "Post new listing", new_listing_path, :class => "action-button"