%header.global-header
  .wrapper
    - unless @current_community.settings["hide_header_dropdown"]
      .select-tribe.toggle.hidden{data: {toggle: '.tribe-menu', logo_class: "toggled-#{@current_community.service_logo_style}"}, class: @current_community.service_logo_style }
        .current-tribe
          = @current_community.name
        = icon_tag("dropdown", ["icon-dropdown"])
    
    - if @current_user  
      
      %a.notifications-toggle.toggle.hidden#notifications_link{href: notifications_person_messages_path(:person_id => @current_user.id.to_s), title: t("layouts.conversations.notifications")}
        = icon_tag("notifications", ["icon"])
        = render :partial => "layouts/notifications_badge"

      %a.inbox-toggle.toggle.hidden#inbox-link{href: received_person_messages_path(:person_id => @current_user.id.to_s), title: t("layouts.conversations.messages")}
        = icon_tag("mail", ["icon"])
        = render :partial => "layouts/messages_badge"
    
      .user-menu-toggle.toggle.hidden{data: {toggle: '.user-menu'}}
        = image_tag @current_user.image.url(:thumb), alt: '', class: 'user-avatar'
        .user-name= @current_user.name_or_username

        = icon_tag("dropdown", ["icon-dropdown"])
        = render :partial => "layouts/user_badge"
    
    - else  
    
      .login-menu-toggle.toggle.hidden#login-toggle-button{data: {toggle: '.login-menu'}}
        = icon_tag("login", ["login-icon"])
        .login-text= t("layouts.logged_in.login")
        
      %a.feedback-menu-toggle.toggle.hidden{href: new_user_feedback_path}
        = icon_tag("feedback", ["feedback-icon"])
        .feedback-text= t("header.contact_us")
      
      
    %nav.tribe-menu.toggle-menu.hidden
      %a{href: "#{@current_community.full_url}"}= @current_community.full_name
      - if @current_user && @current_user.communities.present?
        - @current_user.communities.each do |community|
          - unless community == @current_community
            %a{href: "#{community.full_url}", on_click: "_gaq.push(['_link', '#{community.full_url}']); return false;"}
              = community.full_name
      %a{href: dashboard_link(:locale => I18n.locale, :ref => "gh"), on_click: "_gaq.push(['_link', '#{dashboard_link(:locale => I18n.locale, :ref => "gh")}']); return false;"}
        = t("header.create_new_marketplace")
    
    - if @current_user
      %nav.user-menu.toggle-menu.hidden
        %a.profile-menu-button{href: person_path(@current_user)}
          = icon_tag("user", ["icon-with-text"])
          .text-with-icon
            = t("header.profile")
        %a.inbox-menu-button{href: received_person_messages_path(:person_id => @current_user.id.to_s)}
          = icon_tag("mail", ["icon-with-text"])
          .text-with-icon
            = t("layouts.conversations.messages") 
            = render :partial => "layouts/messages_badge"
        %a.notifications-menu-button{href: notifications_person_messages_path(:person_id => @current_user.id.to_s)}
          = icon_tag("notifications", ["icon-with-text"])
          .text-with-icon
            = t("layouts.conversations.notifications")
            = render :partial => "layouts/notifications_badge"
        %a.feedback-menu-button{href: new_user_feedback_path}
          = icon_tag("feedback", ["icon-with-text"])
          .text-with-icon
            = t("header.contact_us")
        %a{href: person_settings_path(@current_user)}
          = icon_tag("settings", ["icon-with-text"])
          .text-with-icon
            = t("layouts.logged_in.settings")
        %a{href: logout_path}
          = icon_tag("logout", ["icon-with-text"])
          .text-with-icon
            = t("layouts.logged_in.logout")
    
    %nav.login-menu.toggle-menu.hidden
      = form_tag("#{APP_CONFIG.login_domain}#{sessions_path}",:action => "create") do
        - if @current_community
          = hidden_field_tag :community, @current_community.domain
        - if facebook_connect_in_use?
          %a.fb-connect{:href => person_omniauth_authorize_path(:facebook)}
            = icon_tag("facebook", ["fb-icon"])
            .fb-text= t("sessions.new.log_in_with_your_facebook_account")
          %p.login-form= t("sessions.new.or_sign_up_with_your_username")
        = text_field_tag "person[login]", nil, :value => session[:form_login], :placeholder => t("common.username_or_email"), :id => :upper_person_login
        = password_field_tag "person[password]", nil, :placeholder => t("common.password"), :id => :upper_person_password
        = button_tag t('sessions.new.login')
        = link_to t('sessions.new.create_new_account'), sign_up_path, :class => "login-form"
        = link_to t('sessions.new.i_forgot_my_password'), login_path(:password_forgotten => true), :class => "login-form"
        
          