- if (APP_CONFIG.use_google_analytics)
  <script type="text/javascript">

  - if feature_enabled?(:universal_analytics)
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    = "var ga_key = '#{APP_CONFIG.google_analytics_key}';"
    = "var cookie_domain = '#{PublicSuffix.parse(request.host).domain}';"
    ga('create', ga_key, 'auto', {'legacyCookieDomain': cookie_domain, 'allowLinker': true});
    ga('send', 'pageview');
  - else
    var _gaq = _gaq || [];
    = "_gaq.push(['_setAccount', '#{APP_CONFIG.google_analytics_key}']);"
    = "_gaq.push(['_setDomainName', '.#{PublicSuffix.parse(request.host).domain}']);"
    _gaq.push(
    ['_addIgnoredOrganic', 'sharetribe'],
    ['_addIgnoredOrganic', 'sharetribe.com'],
    ['_addIgnoredOrganic', 'www.sharetribe.com'],
    ['_addIgnoredOrganic', 'kassi'],
    ['_addIgnoredOrganic', 'share tribe'],
    ['_addIgnoredOrganic', 'kassi.eu'],
    ['_setAllowLinker', true],
    ['_trackPageview'],
    ['_trackPageLoadTime']
    );


  - if @current_community && @current_community.google_analytics_key
    - if feature_enabled?(:universal_analytics) && feature_enabled?(:customer_universal_analytics)
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga_customer');

      = "var community_ga_key = '#{@current_community.google_analytics_key}';"
      = "var community_cookie_domain = '#{PublicSuffix.parse(request.host).domain}';"
      ga_customer('create', community_ga_key, 'auto', {'legacyCookieDomain': community_cookie_domain, 'allowLinker': true});
      ga_customer('send', 'pageview');
    - else
      var _gaq = _gaq || [];
      = "_gaq.push(['b._setAccount', '#{@current_community.google_analytics_key}']);"
      = "_gaq.push(['b._setDomainName', '.#{PublicSuffix.parse(request.host).domain}']);"
      = "_gaq.push(['b._addIgnoredOrganic', '#{Maybe(@current_community.name(I18n.locale)).gsub("'","").or_else("")}']);"
      = "_gaq.push(['b._addIgnoredOrganic', '#{@current_community.domain || @current_community.ident}']);"
      _gaq.push(
      ['b._setAllowLinker', true],
      ['b._trackPageview'],
      ['b._trackPageLoadTime']
      );

    var secondary_analytics_in_use = true;

  - unless(feature_enabled?(:universal_analytics) && feature_enabled?(:customer_universal_analytics))
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  function report_analytics_event(category, action, opt_label) {
  - if feature_enabled?(:universal_analytics)
    :plain
      if (typeof ga === 'function'){
        ga('send', 'event', category, action, opt_label)
      }
  - else
    :plain
      var params_array = [category, action, opt_label]
      if (typeof _gaq != 'undefined') {
        _gaq.push(['_trackEvent'].concat(params_array));
      }
  - if feature_enabled?(:universal_analytics) && feature_enabled?(:customer_universal_analytics)
    :plain
      if (typeof ga_customer === 'function'){
        ga_customer('send', 'event', category, action, opt_label)
      }
  - else
    :plain
      var params_array = [category, action, opt_label]
      if (typeof _gaq != 'undefined') {
        if (typeof secondary_analytics_in_use != 'undefined' && secondary_analytics_in_use) {
          _gaq.push(['b._trackEvent'].concat(params_array));
        }
      }
  }

  </script>
