!!! 5
/[if lt IE 7] <html lang="en" class="no-js oldie ie6">
/[if IE 7 ]   <html lang="en" class="no-js oldie ie7">
/[if IE 8 ]   <html lang="en" class="no-js oldie ie8">
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="#{I18n.locale}" class="no-js"> <!--<![endif]-->

%head
  %meta{charset: "utf-8"}
  - if Rails.env == 'test'
    = render 'layouts/test/timecop_js'

  = render :partial => 'analytics/head_scripts', locals: { community: @current_community, user: @current_user, plan: @current_plan }

  :css
    @import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=latin-ext);

  - font_path = APP_CONFIG[:font_proximanovasoft_url]
  - if font_path.present? && FeatureFlagHelper.feature_enabled?(:topbar_v1)
    = render partial: "layouts/fonts", locals: { font_path: font_path }

  %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}
  %meta{ :property => "og:type", :content =>"website"}
  %meta{:"http-equiv" => "content-language", content: "#{I18n.locale}"}
  %meta{name: "twitter:card", content: "summary"}

  / Additional meta tags for SEO, etc.
  = content_for :head
  = render :partial => "layouts/marketplace_head"

  -# A tag for google webmaster site verification
  %meta{ name: "google-site-verification", content: "JUqB3tYmezYEJNAkw8MUdmIocAGztY85eaoNKBD5j0Q"}
