!!! 5
/[if lt IE 7] <html lang="en" class="no-js oldie ie6">
/[if IE 7 ]   <html lang="en" class="no-js oldie ie7">
/[if IE 8 ]   <html lang="en" class="no-js oldie ie8">
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="#{I18n.locale}" class="no-js"> <!--<![endif]-->

%head
  %meta{charset: "utf-8"}

  = render :partial => "layouts/kissmetrics"
  :css
    @import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
  %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}
  %meta{ :property => "og:type", :content =>"website"}
  %meta{ :property => "fb:admins", :content =>"Gnomet,juhomakkonen"}
  %meta{:"http-equiv" => "content-language", content: "#{I18n.locale}"}
  %meta{name: "twitter:card", content: "summary"}

  / Additional meta tags for SEO, etc.
  = content_for :head

  - if @current_community
    = render :partial => "layouts/marketplace_head"
  - else
    = render :partial => "layouts/network_head"

  -# A tag for google webmaster site verification
  %meta{ name: "google-site-verification", content: "JUqB3tYmezYEJNAkw8MUdmIocAGztY85eaoNKBD5j0Q"}

  - if on_dashboard?
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M8T5JR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M8T5JR');</script>
    <!-- End Google Tag Manager -->
