!!! 5
/[if lt IE 7] <html lang="en" class="no-js oldie ie6">
/[if IE 7 ]   <html lang="en" class="no-js oldie ie7">
/[if IE 8 ]   <html lang="en" class="no-js oldie ie8">
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="#{I18n.locale}" class="no-js"> <!--<![endif]-->

%head
  = render :partial => "layouts/kissmetrics"
  
  %meta{charset: "utf-8" }
  %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
  %meta{ :name => "keywords", :content => t(".keywords") }
  %meta{ :property => "og:type", :content =>"website"}
  %meta{ :property => "fb:admins", :content =>"Gnomet,juhomakkonen"}
  = yield :head
  
  - if @current_community
    = render :partial => "layouts/marketplace_head"
  - else
<<<<<<< HEAD
    = stylesheet_link_tag 'application'
  
  /[if lt IE 9]
    = stylesheet_link_tag 'old_ie'
  
  - if APP_CONFIG.typekit_url
    = javascript_include_tag APP_CONFIG.typekit_url
    :javascript
      try{Typekit.load();}catch(e){
        // in case of error, just ignore. Default fonts will be used.
      }
    
  = javascript_include_tag 'application'
  = yield(:extra_javascript)
  = csrf_meta_tag
  :javascript
    $(document).ready(function() { initialize_defaults("#{I18n.locale}"); #{yield :javascript} });

  %link{:rel => "image_src", :href => "https://s3.amazonaws.com/sharetribe/assets/dashboard/sharetribe_logo.png"}
  
  %link{:rel => "shortcut icon", :href => @current_community.favicon_url || "https://s3.amazonaws.com/sharetribe/assets/images/favicon.ico"}
  
  %link{:rel => "apple-touch-icon-precomposed",:href => @current_community.settings["apple-touch-icon-precomposed"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_57.png"}
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72",:href => @current_community.settings["apple-touch-icon-precomposed-72"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_72.png"}
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114",:href => @current_community.settings["apple-touch-icon-precomposed-114"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_114.png"}
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144",:href => @current_community.settings["apple-touch-icon-precomposed-144"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_144.png"}  
  
  = auto_discovery_link_tag(:atom, atom_feed_url )
  
  - if @community_customization && @community_customization.custom_head_script
    = @community_customization.custom_head_script.html_safe
=======
    = render :partial => "layouts/network_head"
  
  
>>>>>>> Basic version of new network main page ready
