!!! 5
/[if lt IE 7] <html lang="en" class="no-js oldie ie6">
/[if IE 7 ]   <html lang="en" class="no-js oldie ie7">
/[if IE 8 ]   <html lang="en" class="no-js oldie ie8">
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

%head
  = render :partial => "layouts/kissmetrics"
  
  %meta{charset: "utf-8" }
  %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
  %meta{ :name => "keywords", :content => t(".keywords") }
  = yield :head
  
  %title 
    #{service_name}
    - if @listing && action_name.eql?("show")
      = "- #{listed_listing_title(@listing)}"
    - else
      = "- #{@current_community.name}"
  
  
  %meta{ :property => "og:url", :content =>"#{@current_community.full_url}#{request.fullpath}"}
  %meta{ :property => "og:type", :content =>"website"}
  %meta{ :property => "og:image", :content => fb_image}
  %meta{ :property => "fb:admins", :content =>"Gnomet,juhomakkonen"}
  - if @listing && action_name.eql?("show")
    %meta{ :property => "og:title", :content => "#{@listing.title} - #{@current_community.full_name}"} 
    %meta{ :property => "og:site_name", :content =>"#{@current_community.full_name}: "}
    %meta{ :property => "og:description", :content => @listing.description}
  - else
    %meta{ :property => "og:title", :content => "#{@current_community.full_name} - #{community_slogan}"}
    %meta{ :property => "og:site_name", :content =>"#{@current_community.full_name}"}
    %meta{ :property => "og:description", :content => community_description(false)}
  
  /[if lt IE 9]
    = javascript_include_tag "html5shiv-printshiv"
    
  / CSS
  - if @current_community.has_customizations?
    = stylesheet_link_tag @current_community.stylesheet_url
  - else
    = stylesheet_link_tag 'application'
  
  /[if lt IE 9]
    = stylesheet_link_tag 'old_ie'
  
  - if APP_CONFIG.typekit_url
    = javascript_include_tag APP_CONFIG.typekit_url
    :javascript
      try{Typekit.load();}catch(e){
        // in case of error, just ignore. Default fonts will be used.
      }
    
  = javascript_include_tag 'application'
  = yield(:extra_javascript)
  = csrf_meta_tag
  :javascript
    $(document).ready(function() { initialize_defaults("#{I18n.locale}"); #{yield :javascript} });

  %link{:rel => "image_src", :href => "#{@current_community.full_url}/assets/dashboard/sharetribe_logo.png"}
  
  = auto_discovery_link_tag(:atom, atom_feed_url )
  
  -# load Facebook SDK for the whole page
  = render :partial => "layouts/facebook_sdk"