- if APP_CONFIG.use_kissmetrics
  <script type="text/javascript">
  var _kmq = _kmq || [];
  function _kms(u){
  setTimeout(function(){
  var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
  s.src = u; f.parentNode.insertBefore(s, f);
  }, 1);
  }
  = "_kms('//i.kissmetrics.com/i.js');_kms('#{APP_CONFIG.kissmetrics_url}');"
  </script>
  - if @current_user
    <script type="text/javascript">
    = "_kmq.push(['identify', '#{@current_user.id}']);"
    // = "_kmq.push(['set', {'Registered User' : 'true'}]);"
    </script>
  - if @current_community
    <script type="text/javascript">
    = "_kmq.push(['set', {'SiteName' : '#{@current_community.domain}'}]);"
    </script>
  - else
    <script type="text/javascript">
    = "_kmq.push(['set', {'SiteName' : 'dashboard'}]);"
    </script>
