- if logged_in?
  #logged_in_icon_container.grid_3.alpha
    #logged_in_icons
      #logged_in_messages_icon
        = render :partial => "layouts/logged_in_messages_icon"
      #logged_in_notifications_icon
        = render :partial => "layouts/logged_in_notifications_icon"
      .logged_in_icon_settings
        %a{:href => person_settings_path(:person_id => @current_user.id), :title => t('.settings') }
          %span{:class => "not_visible"}
            a
  .grid_9.omega
    #logged_in_links
      %span
        = t('.hi')
      = link_to @current_user.given_name_or_username, @current_user, :class => "left", :id => "profile", :title => t(".go_to_your_profile_page")
      - if @current_user.has_admin_rights_in? @current_community
        = link_to t(".admin"), admin_path(:type => "news")
        |
      = link_to t('.logout'), logout_path
- else
  .grid_12.alpha
    .login_tabs
      .login_tab.float_right
        = link_to t('.sign_up'), sign_up_path, :title => t('.sign_up')
      .login_tab.float_right
        = link_to t('.login'), login_path, :title => t('.login')
      - if APP_CONFIG.fb_connect_id && @current_community && ! @current_community.label.eql?("okl")
        .facebook_connect.float_right
          -# <div class="fb-login-button" data-show-faces="false" data-width="200" data-max-rows="1"></div>
          = link_to(image_tag("icons/facebook-login.png", {:alt => "Facebook Connect", :class => "facebook_connect"}), person_omniauth_authorize_path(:facebook), :id => "facebook_connect")#, :class => "popup", :"data-width" => 600, :"data-height" => 400)
