<%if !@current_user.nil?%>
  	<%= t(:logged_in) %>
		<%= link_to @current_user.name_or_username(session[:cookie]), @current_user %>.
  	&nbsp;&nbsp;
  	<%= link_to t(:account), person_settings_path(@current_user) %> | 
  	<%= link_to t(:logout), session_path, :method => :delete %>
<% else %>
  	<%= t(:not_logged_in) %> &nbsp;<a href="/session/new"><%= t(:login) %></a>
  	| <a href="/cas_session/new">CAS-login(test)</a>
  	<% if RAILS_ENV != "production"  %>
  	  | <a href="/people/new"><%= t(:register) %></a>
  	<% end %>
<% end %>
