<% if !@current_user.nil? %>
	<%= link_to @current_user.name_or_username(session[:cookie]), @current_user %> |
  <%= link_to t(:account), person_settings_path(@current_user) %> | 
  <% if @current_user.is_admin? %>
    <% if @new_feedback_item_amount > 0 %>
      <%= link_to t(:admin) + " (#{@new_feedback_item_amount})" , admin_feedbacks_path %>
    <% else %>
      <%= link_to t(:admin), admin_feedbacks_path %>
    <% end %> 
    |  
  <% end %>
  <%= link_to t(:logout), session_path, :method => :delete %>
<% else %>
  	<%= link_to t(:login), new_session_path %>
  	<%  if PRODUCTION_SERVER != "beta" %>
  	  | <a href="/cas_session/new">CAS-login(test)</a>
  	<%  end %>
  	| <%= link_to t(:register), new_person_path %> 
<% end %>