- if logged_in?
  .grid_4.prefix_1.alpha
    #logged_in_icons
      .logged_in_icon_inbox
        = link_to "#", received_person_messages_path(:person_id => @current_user.id), :title => t('.messages')
      .logged_in_icon_requests
        = link_to "#", "#", :title => t('.requests')
      .logged_in_icon_notifications
        = link_to "#", "#", :title => t('.notifications')
      .logged_in_icon_settings
        = link_to "#", "#", :title => t('.settings')  
  #logged_in_links.grid_5.omega
    %span
      = t('.hi')
    = link_to @current_user.given_name, @current_user, :class => "left"
    = link_to t('.logout'), logout_path
- else
  .login_tab.float_right
    = link_to t('.sign_up'), "#"
  .login_tab.float_right
    = link_to t('.login'), login_path