- if service_name.casecmp(@current_community.name(I18n.locale)) != 0
  - title_service_name = "#{service_name} - #{@current_community.name(I18n.locale)}"
- else
  - title_service_name = service_name

- if content_for?(:title)
  %title
    = "#{content_for(:title)} - #{title_service_name}"
  %meta{ :property => "og:title", :content => "#{content_for(:title)} - #{title_service_name}"}
  %meta{ :name => "twitter:title", :content => "#{content_for(:title)} - #{title_service_name}"}
- else
  %title
    = "#{title_service_name} - #{community_slogan}"
  %meta{ :property => "og:title", :content => "#{title_service_name} - #{community_slogan}"}
  %meta{ :name => "twitter:title", :content => "#{title_service_name} - #{community_slogan}"}

- if content_for?(:keywords)
  %meta{ :name => "keywords", :content => content_for(:keywords) }
- else
  %meta{ :name => "keywords", :content => Util::StringUtils.keywords(community_slogan) }

- full_url = "#{@current_community.full_url}#{request.fullpath}"

%meta{ :property => "og:url", :content => full_url}
%meta{ :property => "og:locale", :content => "#{I18n.locale}" }
%meta{ :name => "identifier-url", :content => "#{@current_community.full_domain(with_protocol: true)}"}
%meta{ :name => "copyright", :content => "#{@current_community.name}"}
- if @current_community.twitter_handle.present?
  %meta{ :name => "twitter:site", :content => "@#{@current_community.twitter_handle}"}
%meta{ :name => "twitter:url", :content => full_url}
%meta{ :property => "og:site_name", :content =>"#{@current_community.full_name(locale)}"}

- if content_for?(:meta_author)
  %meta{ :name => "author", :content=> "#{content_for(:meta_author)}"}
- else
  %meta{ :name => "author", :content=> "#{@current_community.name}"}

- if content_for?(:meta_description)
  %meta{ :name => "description", :content => "#{@current_community.name} - #{content_for(:meta_description)}"}
  %meta{ :property => "og:description", :content => "#{@current_community.name} - #{content_for(:meta_description)}"}
  %meta{ :name => "twitter:description", :content => "#{@current_community.name} - #{content_for(:meta_description)}"}
- else
  %meta{ :name => "description", :content=> "#{@current_community.name} - #{community_slogan}"}
  %meta{ :property => "og:description", :content => "#{@current_community.name} - #{community_slogan}"}
  %meta{ :name => "twitter:description", :content => "#{@current_community.name} - #{community_slogan}"}

- if content_for?(:meta_image)
  %meta{ :property => "og:image", :content => "#{content_for(:meta_image)}"}
  %meta{ :name => "twitter:image", :content => "#{content_for(:meta_image)}"}
- else
  - if @current_community.logo?
    %meta{ :property => "og:image", :content => "#{@current_community.logo.url(:original)}"}
    %meta{ :name => "twitter:image", :content => "#{@current_community.logo.url(:original)}"}
  - else
    %meta{ :property => "og:image", :content => "https://s3.amazonaws.com/sharetribe/assets/sharetribe_icon.png"}
    %meta{ :name => "twitter:image", :content => "https://s3.amazonaws.com/sharetribe/assets/sharetribe_icon.png"}

%link{:rel => "canonical", :href => full_url}

- if @current_community.facebook_connect_id
  %meta{ :property => "fb:app_id", :content => "#{@current_community.facebook_connect_id}" }

/ CSS
- with_stylesheet_url(@current_community) do |stylesheet_url|
  = stylesheet_link_tag stylesheet_url

/ Modernizr, in the head tag, right after stylesheets, for best performance:
= javascript_include_tag "modernizr.min"

/ Android pre Jellybean has an ugly bug, which prevents font-size 0 technique from
/ removing the spaces between inline-blocks. Remove this piece of code when pre Jellybean becomes unsupported
:javascript
  Modernizr.addTest('androidPreJellybean', function(){
    var ua = navigator.userAgent;
    if( ua.indexOf("Android") >= 0 ) {
      var androidversion = parseFloat(ua.slice(ua.indexOf("Android")+8));
      return androidversion < 4.1
    }
  });

= csrf_meta_tag

%link{:rel => "image_src", :href => "https://s3.amazonaws.com/sharetribe/assets/dashboard/sharetribe_logo.png"}

%link{:rel => "shortcut icon", :href => @current_community.favicon_url || "https://s3.amazonaws.com/sharetribe/assets/images/favicon.ico"}

%link{:rel => "apple-touch-icon-precomposed",:href => @current_community.settings["apple-touch-icon-precomposed"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_57.png"}
%link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72",:href => @current_community.settings["apple-touch-icon-precomposed-72"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_72.png"}
%link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114",:href => @current_community.settings["apple-touch-icon-precomposed-114"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_114.png"}
%link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144",:href => @current_community.settings["apple-touch-icon-precomposed-144"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_144.png"}

= auto_discovery_link_tag(:atom, atom_feed_url )

-# load Facebook SDK for the whole page
= render :partial => "layouts/facebook_sdk"

- if @community_customization && @community_customization.custom_head_script
  = @community_customization.custom_head_script.html_safe
