%title
  #{service_name}
  - if @listing && action_name.eql?("show")
    = "- #{listed_listing_title(@listing)}"
  - elsif service_name.casecmp(@current_community.name(I18n.locale)) != 0
    = "- #{@current_community.name(I18n.locale)}"

%meta{ :name => "keywords", :content => t(".keywords") }
%meta{ :property => "og:url", :content =>"#{@current_community.full_url}#{request.fullpath}"}
%meta{ :property => "og:image", :content => fb_image}

- if @listing && action_name.eql?("show")
  %meta{ :property => "og:title", :content => "#{@listing.title} - #{@current_community.full_name(locale)}"}
  %meta{ :property => "og:site_name", :content =>"#{@current_community.full_name(locale)}: "}
  %meta{ :property => "og:description", :content => @listing.description}
- else
  %meta{ :property => "og:title", :content => "#{@current_community.full_name(locale)} - #{community_slogan}"}
  %meta{ :property => "og:site_name", :content =>"#{@current_community.full_name(locale)}"}
  %meta{ :property => "og:description", :content => community_description(false)}

/ CSS
- with_stylesheet_url(@current_community) do |stylesheet_url|
  = stylesheet_link_tag stylesheet_url

/ Modernizr, in the head tag, right after stylesheets, for best performance:
= javascript_include_tag "modernizr.min"

= csrf_meta_tag

%link{:rel => "image_src", :href => "https://s3.amazonaws.com/sharetribe/assets/dashboard/sharetribe_logo.png"}

%link{:rel => "shortcut icon", :href => @current_community.favicon_url || "https://s3.amazonaws.com/sharetribe/assets/images/favicon.ico"}

%link{:rel => "apple-touch-icon-precomposed",:href => @current_community.settings["apple-touch-icon-precomposed"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_57.png"}
%link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72",:href => @current_community.settings["apple-touch-icon-precomposed-72"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_72.png"}
%link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114",:href => @current_community.settings["apple-touch-icon-precomposed-114"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_114.png"}
%link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144",:href => @current_community.settings["apple-touch-icon-precomposed-144"] || "https://s3.amazonaws.com/sharetribe/assets/images/icon_144.png"}

= auto_discovery_link_tag(:atom, atom_feed_url )

-# load Facebook SDK for the whole page
= render :partial => "layouts/facebook_sdk"

- if @community_customization && @community_customization.custom_head_script
  = @community_customization.custom_head_script.html_safe
