:javascript
  $(document).ready(function() { $('#close_notification_link').click(function() { $('#notifications').slideUp('fast'); }); });

#notifications.container_24
  - [:notice, :warning, :error, :info_message].each do |announcement|
    - if flash[announcement]  
      %div{:class => announcement.to_s}
        .notification_text
          - if flash[announcement].is_a?(Array)
            - if flash[announcement][3]
              = t(".#{flash[announcement][0]}", flash[announcement][3][0] => flash[announcement][3][1].capitalize)
            - else
              = t(".#{flash[announcement][0]}")
            - link_text = flash[announcement][1].class.to_s.eql?("String") ? flash[announcement][1] : t(".#{flash[announcement][1]}")
            = link_to(link_text, flash[announcement][2]) 
          - else
            - if flash[announcement].is_a?(String) && flash[announcement].strip.include?(" ")
              / if the string looks like it's already translated (contains spaces) do not translate again
              = flash[announcement]
            -else
              = t(".#{flash[announcement]}")
        .close_notification_link  
          = link_to "X", "#", :id => "close_notification_link"
     