#profile_extras_person
  .float_left
    = small_avatar_thumb(@person)
  #profile_extras_person_description
    %h2= @person.name
    %a{:href => person_path(@person)}
      &larr;
      = t(".back_to_profile_of_person")

.inbox_container
  #inbox_tabs
    %div{:class => get_profile_extras_tab_class("testimonials")} 
      = link_to t('.testimonials'), person_testimonials_path(:person_id => @person.id)
    - if @person.badges_visible_to?(@current_user)
      %div{:class => get_profile_extras_tab_class("badges")}  
        = link_to t('.badges'), person_badges_path(:person_id => @person.id)
  #inbox_tab_spacer