!!!
%html{lang: I18n.locale}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %title= admin_title.html_safe
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1 shrink-to-fit=no', name: 'viewport'}
    %meta{content: admin_description.html_safe, name: 'description'}
    %link{rel: 'shortcut icon', href: @current_community.favicon}
    = csrf_meta_tags
    - path_font = APP_CONFIG[:font_circularstd_url]
    - if path_font.present?
      = render 'layouts/fonts_admin_v2', path_font: path_font
    = stylesheet_link_tag 'admin2/admin'
    = javascript_include_tag 'admin2/admin'
  %body
    = render partial: 'admin2/mobilemenu', locals: header_props
    #root
      = render partial: 'admin2/topnav', locals: header_props
      = flash_messages
      .layout-container
        = render 'admin2/sidebar'
        .content-card
          = yield
    .mobilemenu-overlay
    = javascript_include_tag 'popper.min.js'
    = javascript_include_tag 'bootstrap.min.js'
    = render 'layouts/intercom'
    = content_for :extra_javascript
