<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Kassi</title>

  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <%= stylesheet_link_tag 'basic' %>
  <%= stylesheet_link_tag 'layout' %>
  <%= stylesheet_link_tag 'epoch_styles.css' %>
  
  <%= javascript_include_tag :defaults %>
  <% if session[:locale].eql?('fi') %>
    <%= javascript_include_tag "epoch_classes" %>
  <% else %>
    <%= javascript_include_tag "epoch_classes_en" %>
  <% end %>  

</head>

<body>
  <div id="wrapper">
    <div id="main">
      <div id="centering">
        <div id="top_links">
          <div id="top_links_left">
            <%= link_to 'Suomi', params.merge!(:locale => "fi") %> | 
            <%= link_to 'English', params.merge!(:locale => "en-US") %> | 
            <%= link_to 'Svenska', params.merge!(:locale => "swe") %>
          </div>
          <div id="top_links_right">
            <%= render :partial => "layouts/login" %>
          </div>
        </div>
        <div id="logo_and_top_navi">
          <div id="logo">
            <%= link_to image_tag("/images/kassi_logo_smaller-trans.png", :border => 0, :alt => "Kassi"), root_path %> 
          </div>
          <div id="search_and_navi_container">
            <div id="searchbar">
              <% form_tag({ :controller => "search", :action => "index" }, :method => "get") do %>              
                <%= t(:search_kassi) %>&nbsp;
                <%= text_field_tag "qa", params[:qa], :size => 30 %>&nbsp;&nbsp;
                <%= submit_tag t(:search), :onclick => "this.disabled=true,this.form.submit();", :class => "button" %>
              <% end %>  
            </div>
            <%= render :partial => "layouts/top_navi" %>
          </div>
        </div>
        <div id="middle">
          <%= render :partial => "layouts/left_navi" %>
          <% if session[:left_navi] %>
            <div id="contents">
          <% else %>
            <div id="contents_full">
          <% end %>
          <%= yield %>
          <br /><br />
          </div>
        </div>
      </div>
    </div>
    <div id="push"></div>
  </div>    
  <div id="footer">
    <div id="footer_text">
      <div id="footer_text_left">
        <a href="#">Tietoa</a> | 
        <a href="#">Ohjeet</a> | 
        <a href="#">Kayttoehdot</a> | 
        <a href="#">Blogi</a> |
        <a href="#">Foorumi</a>
      </div>
      <div id="footer_text_right">
        <%= t(:kassi_is_one_of_otasizzle_services) %>
      </div>
    </div>
  </div>  
</body>

</html>
