<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Kassi &ndash; <%= t(:slogan) %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="icon" href="/images/kassi_logo.png" type="image/png" />
  <%= stylesheet_link_tag 'formatting' %>
  <%= stylesheet_link_tag 'layout' %>
  <%= stylesheet_link_tag 'epoch_styles.css' %>
  <%= stylesheet_link_tag "smerf", :cache => false  %>
  
  <%= javascript_include_tag :defaults %>
  <% if session[:locale].eql?('fi') %>
    <%= javascript_include_tag "epoch_classes" %>
  <% else %>
    <%= javascript_include_tag "epoch_classes_en" %>
  <% end %>
  
  <%= yield :head %>

</head>

<body>
  <div id="wrapper">
    <div id="main">
      <div id="centering">
        <div id="top_links">
          <div id="top_links_left">
            <%= link_to 'Suomi', params.merge!(:locale => "fi") %> | 
            <%= link_to 'English', params.merge!(:locale => "en") %>
          </div>
          <div id="top_links_right">
            <%= render :partial => "layouts/login" %>
          </div>
        </div>
        <div id="logo" class="no_hover">
          <%= link_to image_tag("/images/kassi_logo.png", :alt => "Kassi", :class => "no_hover"), root_path %> 
        </div>
        <div id="top_navi">
          <div id="search_and_navi_container">
            <div id="searchbar">
              <% form_tag({ :controller => "search", :action => "index" }, :method => "get") do %>              
                <b><%= t(:search_kassi) %></b>&nbsp;
                <%= text_field_tag "qa", params[:qa], :size => 30 %>&nbsp;&nbsp;
                <%= submit_tag t(:search), :class => "button" %>
              <% end %>  
            </div>
            <%= render :partial => "layouts/top_navi" %>
          </div>
        </div>
        <%= render :partial => "layouts/left_navi" %>
        <% if session[:left_navi] %>
          <div id="contents">
        <% else %>
          <div id="contents_full">
        <% end %>
        <%= render :partial => "layouts/announcements"%>
        <%= yield %>
        <br /><br />
        
        </div>
        
        <div id="feedback">
          <div id="feedback_spacer">&nbsp;</div>
          <div id="feedback_form">
          <% form_for :feedback, :url => admin_feedbacks_path do |f| %>
            <b><%= t(:leave_feedback) %></b><br /><br />
            <%= f.text_area :content, :size => "60x5" %>
            <br /><br />
            <% if @current_user %>
              <%= f.hidden_field :author_id, :value => @current_user.id %>
            <% else %>
              <%= f.hidden_field :author_id, :value => "Anonymous" %>
            <% end %>
            <%= f.hidden_field :url, :value => request.request_uri %>  
            <%= submit_tag t(:send_feedback), :onclick => "this.disabled=true,this.form.submit();" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="push"></div>
  </div>   
  <div id="footer">
    <div id="footer_text">
      <div id="footer_text_left">
		    <%= link_to('Kassikysely', smerf_form_url('kassikysely'))%> |
        <%= link_to t(:about), about_info_path %> |
        <%= link_to t(:help), help_info_path %> |
        <%= link_to t(:terms), terms_info_path %> |
        <%= link_to t(:forum), "http://kassi.sizl.org/forum" %>
      </div>

      <div id="footer_text_right">
        <%= t(:kassi_is_one_of_otasizzle_services) %>
      </div>
      <div id="footer_text_center">
        <%= t(:beta_version) %> <%= BETA_VERSION %>  -  <%= t(:updated)  %>: <%= BUILT_AT %>
      </div>
    </div>
  </div>  
</body>

</html>
