<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Kassi</title>

  <!-- compliance patch for microsoft browsers -->
  <!--[if lt IE 8]><script src="script/ie7/IE8.js" type="text/javascript"></script><![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <%= stylesheet_link_tag 'basic' %>
  <%= stylesheet_link_tag 'layout' %>
</head>

<body>
  <div id="wrapper">
    <div id="main">
      <div id="centering">
        <div id="top_links">
          <div id="top_links_left">
            <%= link_to 'Suomi', "?locale=fi" %> | 
            <%= link_to 'English', "?locale=en-US" %> | 
            <%= link_to 'Svenska', "?locale=swe" %>
          </div>
          <div id="top_links_right">
            <%= render :partial => "layouts/login" %>
          </div>
        </div>
        <div id="logo_and_top_navi">
          <div id="logo">
          </div>
          <div id="search_and_navi_container">
            <div id="searchbar">
              Hae Kassista: &nbsp;<input type="text" />&nbsp;&nbsp;<input type="button" value="Hae" />
            </div>
            <%= render :partial => "layouts/top_navi" %>
          </div>
        </div>
        <div id="middle">
          <%= render :partial => "layouts/left_navi" %>
          <% if session[:left_navi] %>
            <div id="contents">
          <% else %>
            <div id="contents_full">
          <% end %>         
          <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <div id="push"></div>
  </div>    
  <div id="footer">
    <div id="footer_text">
      <div id="footer_text_left">
        <a href="#">Tietoa</a> | 
        <a href="#">Ohjeet</a> | 
        <a href="#">Kayttoehdot</a> | 
        <a href="#">Blogi</a> |
        <a href="#">Foorumi</a>
      </div>
      <div id="footer_text_right">
        <%= t(:kassi_is_one_of_otasizzle_services) %>
      </div>
    </div>
  </div>  
</body>

</html>
