= render :partial => 'layouts/head'

%body

  = render :partial => "layouts/noscript"
  
  -# load Facebook SDK for the whole page
  = render :partial => "layouts/facebook_sdk"
 
  = render :partial => 'layouts/global-header'

  %section.marketplace-lander

    .coverimage
      %figure.marketplace-cover.fluidratio

    .wrapper
      .lander-content.marketplace-lander-content
        %h1= community_slogan
        %p= community_description
        .search-form
          = form_tag({ :action => :index, :controller => :homepage}, :method => "get", :id => "homepage-filters") do
            .search-form-input.search-form-text-field
              = text_field_tag "q", params[:q], :placeholder => t("homepage.index.what_do_you_need")
            .search-form-input
              %button.action-button{type: 'submit'}
                = icon_tag("search", ["icon-part"])
          
            
            
      

  %article.page-content
    .wrapper
      = render :partial => "layouts/notifications"         
      = yield

  = render :partial => "layouts/google_analytics_script"
  
  - if @analytics_event
    :javascript
      report_analytics_event(#{@analytics_event});


  /[if lt IE 9]
    - if APP_CONFIG.icon_pack == "ss-pika"
      = javascript_include_tag "ss-social"
      = javascript_include_tag "ss-pika"
  
