!!! 5
!!! xml
%html{html_attrs}
  %head
    %title Kassi
    = stylesheet_link_tag 'compiled/style.css'
    = javascript_include_tag 'jquery', 'jquery.uniform.min', 'jquery.lightbox_me', 'jquery.validate.min', 'jquery.pageless', 'jquery.autoresize.min', 'jquery.watermark.min', 'rails', 'kassi'
    = csrf_meta_tag
    
    :javascript
      $(document).ready(function() { initialize_defaults('#{t('header.search_kassi')}'); #{yield :javascript} });
      
  %body
  
    #header.container_24
      #logo.grid_6
        #logo_image.grid_3.alpha
          = link_to Kassi, root
        #logo_text.grid_3.omega
      #search.grid_8
        = form_tag({ :action => :show, :controller => :search }, :method => "get") do
          - one_line do              
            = text_field_tag("q", params[:q], :class => "search_field")
            = submit_tag("search", :class => "search_button")
      #right.grid_10
        = render :partial => "layouts/logged_in"
      .clear
      
    #top_navi.container_24
      .top_navi_link.grid_3
        = link_to t('header.mobile_version'), "#"
      .top_navi_form.grid_3
        = form_tag("/change_locale", :method => "get") do
          = hidden_field_tag :redirect_uri, @return_to
          = select_tag 'locale', options_for_select([["Finnish", "fi"], ["English", "en"]], params[:locale]), :onchange => 'this.form.submit()', :class => 'language_select'
      .tabs.grid_12.prefix_3
        .tab_selected.grid_3.alpha
          = link_to t('header.home'), root
        .tab_unselected.grid_3
          = link_to t('header.requests'), "#"
        .tab_unselected.grid_3
          = link_to t('header.offers'), "#"
        .tab_unselected.grid_3.omega
          = link_to t('header.community'), "#"
        .clear
      .top_navi_link.align_right.grid_3
        .navi_link_margin_right
          = link_to t('header.about'), "#"
      .clear
    
    #top_spacer
      &nbsp;
    
    #notification_container  
      = render :partial => "layouts/notifications"
          
    #main.container_24
      = content_for?(:content) ? yield(:content) : yield
      
    #bottom_spacer.container_24  
      %br/
      &nbsp;
      %br/
      &nbsp;
      %br/
      %br/