!!! 5
!!! xml
%html{html_attrs}
  %head
    %title Kassi
    = stylesheet_link_tag 'compiled/style.css'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.uniform.min.js'
    = javascript_include_tag 'custom.js'
    = javascript_include_tag 'rails'
        
    %script
      $(function(){ $("select").uniform(); });
  %body
  
    #header.container_24
      #logo.grid_6
        #logo_image.grid_3.alpha
          = link_to Kassi, root
        #logo_text.grid_3.omega
      #search.grid_8
        = form_tag({ :url => listings_path }, :method => "get") do
          - one_line do              
            = text_field_tag("q", params[:q], :class => "search_field")
            = submit_tag(nil, :class => "search_button")
      #right.grid_10
        .login_tab.float_right
          = link_to t(:sign_up), "#"
        .login_tab.float_right
          = link_to t(:login), "#"
      .clear
      
    #top_navi.container_24
      .top_navi_link.grid_3
        = link_to t(:mobile_version), "#"
      .top_navi_form.grid_3
        = form_tag("/change_locale", :method => "get") do
          = hidden_field_tag :redirect_uri, @return_to
          = select_tag 'locale', options_for_select([["Finnish", "fi"], ["English", "en"]], params[:locale]), :onchange => 'this.form.submit()'
      .tabs.grid_12.prefix_3
        .tab_selected.grid_3.alpha
          = link_to t(:home), root
        .tab_unselected.grid_3
          = link_to t(:items), "#"
        .tab_unselected.grid_3
          = link_to t(:favors), "#"
        .tab_unselected.grid_3.omega
          = link_to t(:community), "#"
        .clear
      .top_navi_link.align_right.grid_3
        .navi_link_margin_right
          = link_to t(:info_about_service), "#"
      .clear
      
    #main.container_24  
      = yield