= render :partial => 'layouts/head'

%body
 
  = render :partial => 'layouts/global-header'

  %header.tribe-header

    .coverimage
      %figure.tribe-cover.fluidratio

    .wrapper
      .tribe-logo
        %a{href: '/'}
          = image_tag @current_community.logo.url(:header)
      .tribe-intro.hidden
        .intro-wrapper
          %h1
            - if @current_community.slogan && !@current_community.slogan.blank?
              = @current_community.slogan
            - else
              = t("common.default_community_slogan")
          %p
            - if @current_community.description && !@current_community.description.blank?
              = truncate(@current_community.description, :length => 130, :omission => "...")
            - else
              = truncate(t("common.default_community_description"), :length => 130, :omission => "...")
            = link_to t(".read_more"), about_infos_path
      - if @current_user
        - if @current_community.allows_user_to_send_invitations?(@current_user)
          .join-action-buttons
            - if @current_user
              = link_to t(".invite_your_friends"), new_person_invitation_path(:person_id => @current_user.id), :class => "intro-button"
              %small
                = t(".invite_your_friends_description")
      - else
        .join-action-buttons
          %a.fb-connect{:href => person_omniauth_authorize_path(:facebook)}
            %i.ss-icon.ss-social.ss-facebook.fb-icon
            .fb-text#cover-photo-fb-button= t(".connect")
          = t(".join_without_facebook", :join_without_facebook_link => link_to(t(".join_without_facebook_link"), sign_up_path(:no_fb => true), :class => "regular-link")).html_safe
          

    .tribe-navigation

      .wrapper

        %nav.tribe-actions.actions-menu
          %a.first-child{:href => root, :title => t('header.home'), :class => (session[:selected_tab].eql?("home") ? "selected" : "")}
            %i.ss-home.icon-with-text
            .text-with-icon.hidden= t('header.home')
          %a{:href => new_listing_path + "?ref=tribe_navi", :title => t('header.new_listing'), :class => (session[:selected_tab].eql?("new_listing") ? "selected" : "")}
            %i.ss-addfile.icon-with-text
            .text-with-icon.hidden= t('header.new_listing')
          %a{:href => "#", :title => t('header.members'), :class => (session[:selected_tab].eql?("members") ? "selected" : "")}
            %i.ss-usergroup.icon-with-text
            .text-with-icon.hidden= t('header.members')
          %a{:href => about_infos_path, :title => t('header.about'), :class => (session[:selected_tab].eql?("about") ? "selected" : "")}
            %i.ss-help.icon-with-text
            .text-with-icon.hidden= t('header.about')
          - if logged_in? && @current_user.has_admin_rights_in?(@current_community)
            %a{:href => edit_details_admin_community_path(@current_community), :title => t("layouts.logged_in.admin"), :class => (session[:selected_tab].eql?("admin") ? "selected" : "")}
              %i.ss-wrench.icon-with-text
              .text-with-icon.hidden= t("layouts.logged_in.admin")
          .select-language.toggle{data: {toggle: '.language-menu'}}
            %i.icon-dropdown.ss-dropdown
            .current-language
              = get_full_locale_name(I18n.locale)

        .language-menu.toggle-menu.hidden
          = render :partial => "layouts/locale_select", :collection => available_locales, :as => :loc_array

    %article.page-content
      .wrapper
        = render :partial => "layouts/notifications"         
        = yield

    - if APP_CONFIG.use_google_analytics
      <script type="text/javascript">

      var _gaq = _gaq || [];
      = "_gaq.push(['_setAccount', '#{APP_CONFIG.google_analytics_key}']);"
      = "_gaq.push(['_setDomainName', '#{APP_CONFIG.google_analytics_domain}']);"
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      </script>

    /[if lt IE 9]
      = javascript_include_tag "ss-social"
      = javascript_include_tag "ss-pika"
  
