= render :partial => 'layouts/head'
   
= render :partial => 'layouts/global-header'

%header.tribe-header
  
  .coverimage
    %figure.tribe-cover.fluidratio
  
  .wrapper
    .tribe-logo
      %a{href: '/'}
        = image_tag '/assets/new-design/tribe-logo2.png'
    .tribe-intro.hidden
      .intro-wrapper
        %h1 Lauttasaari neighbor help service
        %p 
          Sharetribe is a place where the members of our community can share
          goods, services, rides, and spaces. In Sharetribe you can...
          %a{href: "#"}
            Read more
    - if @current_user && @current_user.member_of?(@current_community)
      .join-action-buttons
        - if @current_user
          = link_to t(".invite_your_friends"), "#", :class => "intro-button"
          = t(".invite_your_friends_description")
    - else
      - unless @current_user
        .join-action-buttons
          %a.fb-connect{:href => person_omniauth_authorize_path(:facebook)}
            %i.ss-icon.ss-social.ss-facebook.fb-icon
            .fb-text= t(".connect")
          = link_to(t(".or_join_without_facebook"), sign_up_path, :class => "regular-link")
      
.tribe-navigation

  .wrapper

    %nav.tribe-actions.actions-menu
      %a.first-child{:href => root, :title => t('header.home'), :class => (session[:selected_tab].eql?("home") ? "selected" : "")}
        %i.ss-home.icon-with-text
        .text-with-icon.hidden= t('header.home')
      %a{:href => "#", :title => "Members", :class => (session[:selected_tab].eql?("members") ? "selected" : "")}
        %i.ss-usergroup.icon-with-text
        .text-with-icon.hidden Members
      %a{:href => about_infos_path, :title => t('header.about'), :class => (session[:selected_tab].eql?("about") ? "selected" : "")}
        %i.ss-help.icon-with-text
        .text-with-icon.hidden= t('header.about')
      - if logged_in? && @current_user.has_admin_rights_in?(@current_community)
        %a{:href => edit_admin_community_path(:id => @current_community.id, :type => "tribe_info"), :title => t("layouts.logged_in.admin"), :class => (session[:selected_tab].eql?("admin") ? "selected" : "")}
          %i.ss-wrench.icon-with-text
          .text-with-icon.hidden= t("layouts.logged_in.admin")
      .select-language.toggle{data: {toggle: '.language-menu'}}
        %i.icon-dropdown.ss-dropdown
        .current-language
          English
    
    .language-menu.toggle-menu.hidden
      %a{href: change_locale_path(:locale => "en")} English
      %a{href: change_locale_path(:locale => "fi")} Finnish
      %a{href: '#'} French
    
%article.page-content
  .wrapper
    = yield

- if APP_CONFIG.use_google_analytics
  <script type="text/javascript">

  var _gaq = _gaq || [];
  = "_gaq.push(['_setAccount', '#{APP_CONFIG.google_analytics_key}']);"
  = "_gaq.push(['_setDomainName', '#{APP_CONFIG.google_analytics_domain}']);"
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
      

