= render :partial => 'layouts/head'
   
= render :partial => 'layouts/global-header'

%header.tribe-header
  
  .coverimage
    %figure.tribe-cover.fluidratio
  
  .wrapper
    .tribe-logo
      %a{href: '/'}
        = image_tag '/assets/new-design/tribe-logo2.png'
    .tribe-intro.hidden
      .intro-wrapper
        %h1 Lauttasaari neighbor help service
        %p 
          Sharetribe is a place where the members of our community can share
          goods, services, rides, and spaces. In Sharetribe you can...
          %a{href: "#"}
            Read more
    .join-action-buttons
      - if @no_fb_connect
        %a.intro-button
          Join this tribe
      - else
        %a.fb-connect{:href => person_omniauth_authorize_path(:facebook)}
          %i.ss-icon.ss-social.ss-facebook.fb-icon
          .fb-text Connect
      = link_to("...or join without Facebook", sign_up_path, :class => "regular-link")
      
.tribe-navigation

  .wrapper

    %nav.tribe-actions.actions-menu
      %a.selected.first-child{href: '#', title: 'Home'}
        %i.ss-home.icon-with-text
        .text-with-icon.hidden Home
      %a{href: '#', title: 'Members'}
        %i.ss-usergroup.icon-with-text
        .text-with-icon.hidden Members
      %a{href: '#', title: 'About'}
        %i.ss-help.icon-with-text
        .text-with-icon.hidden About
      %a{href: '#', title: 'Admin'}
        %i.ss-wrench.icon-with-text
        .text-with-icon.hidden Admin
      .select-language.toggle{data: {toggle: '.language-menu'}}
        %i.icon-dropdown.ss-dropdown
        .current-language
          English
    
    .language-menu.toggle-menu
      %a{href: change_locale_path(:locale => "en")} English
      %a{href: change_locale_path(:locale => "fi")} Finnish
      %a{href: '#'} French
    
%article.page-content
  .wrapper
    = yield

- if APP_CONFIG.use_google_analytics
  <script type="text/javascript">

  var _gaq = _gaq || [];
  = "_gaq.push(['_setAccount', '#{APP_CONFIG.google_analytics_key}']);"
  = "_gaq.push(['_setDomainName', '#{APP_CONFIG.google_analytics_domain}']);"
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
      

