!!! 5
!!! xml
%html{html_attrs(I18n.locale).merge({"xmlns:og"=>"http://ogp.me/ns#"})}
  %head
    = render :partial => "layouts/kissmetrics"
    %title 
      Kassi
      - if @listing && action_name.eql?("show")
        = "- #{t("listings.show.#{@listing.category}_#{@listing.listing_type}")}: #{@listing.title}"
      - else
        = "- #{@current_community.name}"
    - if @listing && action_name.eql?("show")
      - fb_image = @listing.listing_images.empty? ? "images/sharetribe_logo.png" : @listing.listing_images.first.image.url(:medium)
      %meta{ :property => "og:title", :content => "#{@listing.title} - Kassi - #{@current_community.name}"} 
      %meta{ :property => "og:type", :content =>"website"}
      %meta{ :property => "og:url", :content =>"http://#{@current_community.domain}.#{request.domain}/listings/#{@listing.id.to_s}"}   
      %meta{ :property => "og:image", :content =>"http://#{@current_community.domain}.#{request.domain}/#{fb_image}"}
      %meta{ :property => "og:site_name", :content =>"Kassi: "}
      %meta{ :property => "fb:admins", :content =>"Gnomet,juhomakkonen"}
      %meta{ :property => "og:description", :content => @listing.description}
    - else
      %meta{ :property => "og:title", :content => render(:file => community_file("fb_graph_title", false))} 
      %meta{ :property => "og:type", :content =>"website"}
      %meta{ :property => "og:url", :content =>"http://#{@current_community.domain}.#{request.domain}"} 
      %meta{ :property => "og:image", :content => "http://#{@current_community.domain}.#{request.domain}/images/sharetribe_logo.png"}
      %meta{ :property => "og:site_name", :content =>"Kassi"}
      %meta{ :property => "fb:admins", :content =>"Gnomet,juhomakkonen"}
      %meta{ :property => "og:description", :content => render(:file => community_file("fb_graph_description", true))}
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ :name => "keywords", :content => t(".keywords") }
    = yield :head

    = stylesheet_link_tag 'compiled/style.css'
    = javascript_include_tag 'jquery', 'jquery.uniform.min', 'jquery.lightbox_me', 'jquery.validate.min', 'jquery.pageless', 'jquery.autoresize.min', 'jquery.watermark.min', 'jquery.tabSlideOut.v1.3', 'rails', 'sharetribe_common', 'kassi', 'googlemaps'
    = yield(:extra_javascript)
    = csrf_meta_tag
    :javascript
      $(document).ready(function() { initialize_defaults("#{t('header.search_kassi')}","#{t('layouts.application.default_feedback')}", "#{I18n.locale}"); #{yield :javascript} });
    
    - unless I18n.locale.to_s.eql?("fi")
      - if I18n.locale.to_s.eql?("ru")
        %style{:type => "text/css"}
          a.handle { background-position: -160px 0; }
          a.handle:hover { background-position: -200px 0; }
      - else
        %style{:type => "text/css"}
          a.handle { background-position: -80px 0; }
          a.handle:hover { background-position: -120px 0; }  
    
    %link{:rel => "image_src", :href => "http://#{@current_community.domain}.#{request.domain}/images/dashboard/sharetribe_logo.png"}
    
  %body
  
    %noscript
      .js_enabled
        #no_javascript.container_24
          = render :partial => "layouts/no_javascript"
        
    .wrapper
    
      .feedback_div
        = link_to t(".feedback_handle"), "#", :class => "handle", :id => "Feedback"
        %h3= t(".give_feedback")
        #new_feedback_form
          = form_for :feedback, :url => admin_feedbacks_path, :remote => true, :html => { :id => "new_feedback" } do |form|
            - unless logged_in?
              = form.label :email, t(".your_email_address")
              = form.text_field :email, :class => "text_field"
            = form.label :title, "You should not see this field, if CSS is working.", :class => "unwanted_text_field" 
            = form.text_field :title, :class => "unwanted_text_field", :id => "error_feedback_unwanted_title"
            = form.label :content, t(".feedback")
            = form.text_area :content, :class => "feedback"
            = form.hidden_field :author_id, :value => (logged_in? ? @current_user.id : "Anonymous")
            = form.hidden_field :url, :value => request.fullpath
            = form.submit t(".send_feedback_to_admin"), :class => "send_button"
            %span
              = t(".or_check_our")
              = link_to t(".feedback_forum"), "http://kassi.uservoice.com"
              = t(".to_see_what_others_have_suggested")
    
      #header.container_24
        .grid_6
          #logo
            = render :file => community_file("logo", false)
            - if community_file?("logo_text", false)
              = render :file => community_file("logo_text", false)
            - elsif available_locales.count > 1
              .locale_select_padding
                = render :partial => "layouts/locale_select"
            - elsif @current_community.use_fb_like
              .fb_like_padding
                = "<iframe src=\"https://www.facebook.com/plugins/like.php?app_id=216154058406825&amp;href=#{@current_community.domain}.#{request.domain}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21\" scrolling=\"no\" frameborder=\"0\" style=\"border:none; overflow:hidden; width:450px; height:21px;\" allowTransparency=\"true\"></iframe>".html_safe 
        .grid_6
          #search
            = form_tag("/#{I18n.locale}/search", :method => "get") do
              - one_line do              
                = text_field_tag("q", params[:q], :class => "search_field")
                = submit_tag("s", :class => "search_button")
          - if community_file?("logo_text", false) && available_locales.count > 1
            .locale_select_padding_lower
              = render :partial => "layouts/locale_select"
        .grid_12
          = render :partial => "layouts/logged_in"
          .clear
          .tabs.grid_9.alpha
            .grid_3.alpha{:class => (controller_name.eql?("homepage") && action_name.eql?("index")) ? "tab_selected" : "tab_unselected"}
              = link_to t('header.home'), root
            .grid_3{:class => (params[:listing_type] && params[:listing_type].eql?("request")) ? "tab_selected" : "tab_unselected"}
              = link_to t('header.requests'), requests_path
            .grid_3.omega{:class => (params[:listing_type] && params[:listing_type].eql?("offer")) ? "tab_selected" : "tab_unselected"}
              = link_to t('header.offers'), offers_path
            .clear
          .top_navi_link.align_right.grid_3.omega
            .navi_link_margin_right
              = link_to t('header.about'), about_infos_path

      #notification_container 
        = render :partial => "layouts/notifications"

      #main.container_24
        = content_for?(:content) ? yield(:content) : yield

      #bottom_spacer.container_24  
        %br/
        &nbsp;
        %br/
        &nbsp;
        %br/
        %br/
      
      =# render :partial => "layouts/google_analytics_script"

      - if APP_CONFIG.use_google_analytics
        <script type="text/javascript">

        var _gaq = _gaq || [];
        = "_gaq.push(['_setAccount', '#{APP_CONFIG.google_analytics_key}']);"
        = "_gaq.push(['_setDomainName', '#{APP_CONFIG.google_analytics_domain}']);"
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>

