= content_for :content do
  .inbox_container
    %h1= t(".messages")
    #inbox_tabs
      %div{:class => get_inbox_tab_class("received")} 
        = link_to t('.received'), received_person_messages_path(:person_id => @current_user.id.to_s)
      %div{:class => get_inbox_tab_class("sent")} 
        = link_to t('.sent'), sent_person_messages_path(:person_id => @current_user.id.to_s)
      %div{:class => get_inbox_tab_class("notifications")} 
        = link_to t('.notifications'), notifications_person_messages_path(:person_id => @current_user.id.to_s)
    #inbox_tab_spacer

  = yield  

= render :file => 'layouts/application'