= render :partial => 'layouts/head'

%body
  
  %header.global-header-network
    .wrapper
      .left-side
        %img{:src => "https://s3.amazonaws.com/sharetribe/cover_photos/network/sharetribe_logo_red.png"}
      .right-side
        %ul.network-navi{:id => "nav"}
          %li= link_to "about", "#about", :class => "global-navi"
          %li= link_to "how it works", "#how-it-works", :class => "global-navi"
          %li= link_to "blog", "#", :class => "global-navi"
          %li= link_to "contact", "#", :class => "global-navi-right"
    
  = yield
  
  %footer
    .wrapper
      .left-side
        %ul.network-navi{:id => "nav_footer"}
          %li= link_to "about", "#about", :class => "footer-navi-left"
          %li= link_to "how it works", "#how-it-works", :class => "footer-navi"
          %li= link_to "blog", "#", :class => "footer-navi"
          %li= link_to "contact", "#", :class => "footer-navi"
      .right-side
        .company-name
          sharetribe ltd.
        %a.social-icon-circle{:href => "#"}
          .ss-facebook.ss-icon.ss-social
        %a.social-icon-circle{:href => "#"}
          .ss-twitter.ss-icon.ss-social
        %a.social-icon-circle{:href => "#"}
          .ss-googleplus.ss-icon.ss-social
        
        
        
        