= content_for :content do
  .grid_18.prefix_3.suffix_3
    %h1= t(".info_about_kassi")
    #inbox_tabs
      %div{:class => get_infos_tab_class("about")} 
        = link_to t('.about'), about_infos_path
      %div{:class => get_inbox_tab_class("how_to_use")} 
        = link_to t('.how_to_use'), how_to_use_infos_path
      %div{:class => get_inbox_tab_class("terms")} 
        = link_to t('.terms'), terms_infos_path
      %div{:class => get_inbox_tab_class("register_details")} 
        = link_to t('.register_details'), register_details_infos_path
    #settings_tab_spacer
    #infos_content
      = yield  

= render :file => 'layouts/application'