<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta content="en" http-equiv="content-language">
    <title><%= message[:title] %></title>
  </head>
<style>
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Gilroy-Medium", "Helvetica", "Arial", sans-serif;
}
.logo {
  text-align: center;
  margin: 100px auto;
}
.title {
  color: black;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 50px auto;
}

.description {
  text-align: center;
  width: 400px;
  font-size: 18px;
  margin: 50px auto;
  max-width: 95%;
}
.description.hold {
  width: 450px;
  max-width: 95%;
}
.cta-wrapper {
  margin-top: 100px;
  text-align: center;
}
.cta, .cta:link, .cta:visited {
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
  background: #ed4f2e;
  color: #FFF;
  padding: 16px 26px;
  border: 1px solid #ed4f2e;
  text-decoration: none;
}
.cta:hover, .cta:active {
  transition: all .2s ease-in-out;
  background: #2a3d4b;
  color: #FFF;
  border: 1px solid #2a3d4b;
}
</style>
<body>
  <div class="logo">
    <% if message[:use_marketplace_logo] %>
      <% if message[:logo].present? %>
        <%= image_tag message[:logo] %>
      <% end %>
    <% else %>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 65 73" enable-background="new 0 0 65 73" xml:space="preserve" width="150" height="150">
        <path fill="#ed4f2e" d="M62.5,16.7L34.1,0.3c-0.7-0.4-1.9-0.4-2.6,0c0,0-2.5,1.5-2.6,1.6c-3.2,1.8-4.6,5.6-0.3,7.9
          c5.1,2.7,13.5,7.3,13.5,7.3c4.7,2.2,4.1,4.7,4.1,9v1.1c0,0.9-0.9,1.4-1.7,1l-16-8.6c-1.2-0.7-2.2-0.1-2.2,1.3v4.3
          c0,1.4,1,3.1,2.2,3.8l7.2,4.1c3.7,2.1,10.4,4.6,10.4,8.8v23.6L63.7,56c0.7-0.4,1.3-1.4,1.3-2.3V21.1C65,19.5,63.9,17.5,62.5,16.7z"
          />
        <path fill="#ed4f2e" d="M2.5,56.3l28.4,16.4c0.7,0.4,1.9,0.4,2.6,0c0,0,2.5-1.5,2.6-1.6c3.2-1.8,4.6-5.6,0.3-7.9
          c-5.1-2.7-13.5-7.3-13.5-7.3c-4.7-2.2-4.1-4.7-4.1-9v-1.1c0-0.9,0.9-1.4,1.7-1l16,8.6c1.2,0.7,2.2,0.1,2.2-1.3v-4.3
          c0-1.4-1-3.1-2.2-3.8l-7.2-4.1c-3.7-2.1-10.4-4.6-10.4-8.8V7.4L1.3,17C0.6,17.4,0,18.4,0,19.2v32.7C0,53.5,1.1,55.5,2.5,56.3z"/>
      </svg>
    <% end %>
  </div>
  <div class="title"><%= message[:title] %></div>
  <div class="description <%= message[:reason] %>"><%= message[:description] %></div>
  <% if message[:cta].present? %>
    <div class="cta-wrapper">
      <a class="cta" href="<%= message[:cta_url] %>"><%= message[:cta] %></a>
    </div>
  <% end %>
</body>
