= render :partial => 'layouts/head'
   
= render :partial => 'layouts/global-header'

%header.tribe-header

  .coverimage
    %figure.tribe-cover.fluidratio
  
  .wrapper
    .no-tribe-title
      = t(".#{session[:no_tribe_title]}")
    
%article.page-content
  
  .wrapper
    .no-tribe-section
      - links = session[:no_tribe_title].eql?("inbox") ? inbox_links_for(@current_user) : settings_links_for(@current_user)       
      = render :partial => "layouts/left_hand_navigation", :locals => { :links => links }
      = yield