= render :partial => 'layouts/head'

%body
 
  = render :partial => 'layouts/global-header'

  %header.tribe-header

    .coverimage
      %figure.tribe-cover.fluidratio

    .wrapper
      .no-tribe-title
        = t(".#{@no_tribe_title}")

  %article.page-content

    .wrapper
      .no-tribe-section
        = render :partial => "layouts/notifications"
        
        = yield

  = render :partial => "layouts/google_analytics_script"
    