= render :partial => 'layouts/head'

%body
 
  = render :partial => 'layouts/global-header'

  %header.tribe-header

    .coverimage
      %figure.tribe-cover.fluidratio

    .wrapper
      .no-tribe-title
        = t(".#{@no_tribe_title}")

  %article.page-content

    .wrapper
      .no-tribe-section
        = render :partial => "layouts/notifications"
        - if @no_tribe_title.eql?("inbox")
          = render :partial => "layouts/left_hand_navigation", :locals => { :links => inbox_links_for(@current_user) }
        - elsif @no_tribe_title.eql?("settings")
          = render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user) }     
        
        = yield

  = render :partial => "layouts/google_analytics_script"
    