!!! 5
!!! xml
%html{html_attrs(I18n.locale).merge({"xmlns:og"=>"http://ogp.me/ns#"})}
  %head
    = render :partial => "layouts/kissmetrics"
    %title 
      #{service_name}
      - if @listing && action_name.eql?("show")
        = "- #{t("listings.show.#{@listing.category}_#{@listing.listing_type}")}: #{@listing.title}"
      - else
        = "- #{@current_community.name}"
    %meta{ :property => "og:type", :content =>"website"}
    %meta{ :property => "og:url", :content =>"http://#{@current_community.domain}.#{request.domain}"} 
    %meta{ :property => "og:image", :content => "http://#{@current_community.domain}.#{request.domain}/images/sharetribe_logo.png"}
    %meta{ :property => "og:site_name", :content =>"#{service_name}"}
    %meta{ :property => "fb:admins", :content =>"Gnomet,juhomakkonen"}
    %meta{ :property => "og:description", :content => render(:file => community_file("fb_graph_description", true))}
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ :name => "keywords", :content => t("layouts.application.keywords") }
    = stylesheet_link_tag "themes/kassi/jquery-ui-1.8.16.custom.css"
    = stylesheet_link_tag 'ui.selectmenu.css'
    = stylesheet_link_tag 'compiled/style_login_screen.css'
    = javascript_include_tag 'jquery-1.6.2.min', 'jquery-ui-1.8.16.custom.min.js', 'jquery.ui.selectmenu.js', 'jquery.form', 'jquery.uniform.min', 'jquery.lightbox_me', 'jquery.validate.min', 'jquery.pageless', 'jquery.autoresize.min', 'jquery.watermark.min', 'jquery.tabSlideOut.v1.3', 'rails', 'sharetribe_common', 'kassi', 'googlemaps'
    = yield(:extra_javascript)
    = csrf_meta_tag
    :javascript
      $(document).ready(function() { initialize_private_community_defaults("#{I18n.locale}","#{t('layouts.application.default_feedback')}"); #{yield :javascript} });
    
    - unless I18n.locale.to_s.eql?("fi")
      - if I18n.locale.to_s.eql?("ru")
        %style{:type => "text/css"}
          a.handle { background-position: -160px 0; }
          a.handle:hover { background-position: -200px 0; }
      - else
        %style{:type => "text/css"}
          a.handle { background-position: -80px 0; }
          a.handle:hover { background-position: -120px 0; }
    
  %body
  
    %noscript
      
      .js_enabled
        #no_javascript.container_12
          = render :partial => "layouts/no_javascript_private"
        
    .wrapper
    
      .feedback_div
        = link_to t("layouts.application.feedback_handle"), "#", :class => "handle", :id => "Feedback"
        %h3= t("layouts.application.give_feedback")
        #new_feedback_form
          = form_for :feedback, :url => admin_feedbacks_path, :html => { :id => "new_feedback" } do |form|
            = form.label :email, t("layouts.application.your_email_address")
            = form.text_field :email, :class => "text_field"
            = form.label :title, "You should not see this field, if CSS is working.", :class => "unwanted_text_field" 
            = form.text_field :title, :class => "unwanted_text_field", :id => "error_feedback_unwanted_title"
            = form.label :content, t("layouts.application.feedback")
            = form.text_area :content, :class => "feedback"
            = form.hidden_field :author_id, :value => "Anonymous"
            = form.hidden_field :url, :value => request.fullpath
            = form.submit t("layouts.application.send_feedback_to_admin"), :class => "send_button"
            %span
              = t("layouts.application.or_check_our")
              = link_to t("layouts.application.feedback_forum"), "http://kassi.uservoice.com"
              = t("layouts.application.to_see_what_others_have_suggested")
  
      #header.container_12
        .grid_2.alpha
          #logo
            = link_to image_tag("/images/dashboard/sharetribe_logo.png", :alt => "#{service_name}"), :controller => :homepage, :action => :sign_in
        .grid_10.omega
          - if available_locales.size > 1
            #language_switch
              #select_language_form
                - if APP_CONFIG.available_locales.count > 1
                  = form_tag("/change_locale", :method => "get") do
                    = hidden_field_tag :redirect_uri, @return_to
                    = select_tag 'locale', options_for_select(available_locales, (logged_in? ? @current_user.locale : params[:locale])), :onchange => 'this.form.submit()', :class => 'language_select'
              #language_label
                = t("dashboard.index.language")

      = yield

      - if APP_CONFIG.use_google_analytics
        <script type="text/javascript">

        var _gaq = _gaq || [];
        = "_gaq.push(['_setAccount', '#{APP_CONFIG.google_analytics_key}']);"
        = "_gaq.push(['_setDomainName', '#{APP_CONFIG.google_analytics_domain}']);"
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>
    
