= content_for :content do
  .grid_18.prefix_3.suffix_3
    %h1= t(".settings")
    #settings_tabs
      %div{:class => get_settings_tab_class("profile")} 
        = link_to t('.profile'), profile_person_settings_path(:person_id => @current_user.id.to_s)
      %div{:class => get_settings_tab_class("avatar")} 
        = link_to t('.avatar'), avatar_person_settings_path(:person_id => @current_user.id.to_s)  
      %div{:class => get_settings_tab_class("account")} 
        = link_to t('.account'), account_person_settings_path(:person_id => @current_user.id.to_s)  
      %div{:class => get_settings_tab_class("notifications")} 
        = link_to t('.notifications'), notifications_person_settings_path(:person_id => @current_user.id.to_s), :id => "notification_settings_link"   

    = yield  

= render :file => 'layouts/application'