<!DOCTYPE html>
<html>
<head>
  <title>Styleguide with Hot Module Replacement HMR</title>

  <%= env_stylesheet_link_tag( hot: 'styleguide') %>

  <%= env_stylesheet_link_tag(static: 'application',
                              hot: 'application_hot',
                              media: 'all') %>

  <!-- This is to load the hot assets. -->
  <% domain = APP_CONFIG.domain.split(':').first %>
  <%= env_javascript_include_tag(hot: ["http://#{domain}:3500/vendor-bundle.js",
                                       "http://#{domain}:3500/app-bundle.js"]) %>

  <%= env_javascript_include_tag(static: 'application') %>

  <%= csrf_meta_tags %>
</head>
<body>
<% icon_types = { :notice => "ss-check", :warning => "ss-info", :error => "ss-alert" } %>
<% flash.each do |key, value| %>
  <div class="flash-notifications">
    <div class="flash-notification <%= 'flash-'+ key.to_s %>">
      <div class="flash-icon <%= icon_types[key] %>"></div>
      <div class="flash-text"><%= value %></div>
    </div>
  </div>
<% end %>

<%= yield %>

</body>
</html>
