- content_for :extra_javascript do
  :javascript
    (function () {
      var data = {
        availableUnits: #{@listing.available_units},
        minimumRequiredUnits: #{@listing.minimum_required_units}
      }

      $(function () {
        $("#quantity").attr("max", data.availableUnits);
        $("#quantity").attr("min", data.minimumRequiredUnits);
        $("#quantity").val(data.minimumRequiredUnits);

        if (data.availableUnits === 0) {
          $('.enabled-book-button')
            .removeClass('enabled-book-button')
            .addClass('disabled-book-button')
            .attr('disabled', 'disabled');

          $('#quantity').attr('disabled', 'disabled');
        }
      })
    })()

- content_for :content_after_listing_price do
  %div.row
    %strong= "#{@listing.stock_custom_field&.name}:"
    %span= @listing.available_units
  %div.row
    %strong= "#{@listing.minimum_required_units_custom_field&.name}:"
    %span= @listing.minimum_required_units

= render template: 'listings/show'
