- content_for :extra_javascript do
  :javascript
    (function () {
      var data = {
        availableUnits: #{@listing.available_units},
        minimumRequiredUnits: #{@listing.minimum_required_units}
      }

      $(function () {
        $("#quantity").attr("max", data.availableUnits);
        $("#quantity").attr("min", data.minimumRequiredUnits);
        $("#quantity").val(data.minimumRequiredUnits);

        if (data.availableUnits === 0) {
          $('.enabled-book-button')
            .removeClass('enabled-book-button')
            .addClass('disabled-book-button')
            .attr('disabled', 'disabled');

          $('#quantity').attr('disabled', 'disabled');
        }
      })
    })()

- content_for :content_after_listing_price do
  %p
    -#TODO i18n
    = "#{@listing.available_units} unidades disponibles"

= render template: 'listings/show'
