- content_for :title_header do
  %h1= t("layouts.no_tribe.inbox")

.undo-mobile-wrapper-margin#conversations
  - if inbox_rows.present?

    = render :partial => "inbox_row", :collection => inbox_rows, :as => :conversation, locals: { payments_in_use: payments_in_use }

    = will_paginate(inbox_rows)
    = pageless(inbox_rows.total_pages, '#conversations', request.path, t('conversations.index.loading_more_messages'))

  - else
    #no_conversations
      = t("conversations.index.no_received_messages")
